<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnet konsept, datadeling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnet konsept, datadeling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0ef7b75f-f5f1-462b-9d8b-6cee2912f4fd.png" alt="Overordnet konsept, datadeling" usemap="#0ef7b75f-f5f1-462b-9d8b-6cee2912f4fdmap"/>
			   <map name="0ef7b75f-f5f1-462b-9d8b-6cee2912f4fdmap">
				  		<area shape="rect" coords="1054,370,1187,441" href="../elements/98bbf60d-748f-4d56-bcb7-eb613ae0fdec.html"  target="element">
				  		<area shape="rect" coords="406,466,539,537" href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html"  target="element">
				  		<area shape="rect" coords="982,250,1115,321" href="../elements/f088e0a9-b17e-45b3-ab33-cfdba20a2c11.html"  target="element">
				  		<area shape="rect" coords="1138,250,1271,321" href="../elements/240ea98e-1685-408d-8b09-e431eb105f3d.html"  target="element">
				  		<area shape="rect" coords="1054,466,1187,537" href="../elements/083e7980-eb54-4d32-913b-4fa5ab50a3c1.html"  target="element">
				  		<area shape="rect" coords="226,466,359,537" href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html"  target="element">
				  		<area shape="rect" coords="739,466,860,537" href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html"  target="element">
				  		<area shape="rect" coords="574,466,707,537" href="../elements/318e8b3a-9c18-46c0-b938-d01110e79e6f.html"  target="element">
				  		<area shape="rect" coords="670,574,791,645" href="../elements/a1ed1ab1-7a1e-4672-b2f8-271f271d939a.html"  target="element">
				  		<area shape="rect" coords="814,574,935,645" href="../elements/d756a60c-90f0-43cb-b626-53792f55a96c.html"  target="element">
				  		<area shape="rect" coords="226,816,359,887" href="../elements/b7392a4b-b569-45ea-ad87-3bfb869f7483.html"  target="element">
				  				<area shape="rect" coords="226,608,359,679" href="../elements/d54b19b3-460d-4993-a66b-32a13339f2c9.html"  target="element">
				  				<area shape="rect" coords="226,692,359,763" href="../elements/2f75d770-eaae-41c2-a18c-9c302bc8b7cb.html"  target="element">

				  		<area shape="rect" coords="214,572,371,777" href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html"  target="element">
				  				<area shape="rect" coords="1066,692,1199,763" href="../elements/b016faf5-b6f2-40d2-b817-560238cf9f84.html"  target="element">
				  				<area shape="rect" coords="1066,608,1199,679" href="../elements/b83fdada-cb6e-4a5e-98f4-75459b0c515d.html"  target="element">

				  		<area shape="rect" coords="1054,572,1211,777" href="../elements/e405d44e-e878-4f7a-9066-acf29e596869.html"  target="element">
				  		<area shape="rect" coords="1042,120,1175,191" href="../elements/dc7edc7f-d7ee-4255-8b75-677bc05e9346.html"  target="element">
				  				<area shape="rect" coords="418,608,551,679" href="../elements/44377862-e1e8-48f9-8168-8a654579cdb7.html"  target="element">
				  				<area shape="rect" coords="418,692,551,763" href="../elements/68f52b52-2706-4908-86be-a1487114dd05.html"  target="element">

				  		<area shape="rect" coords="406,572,563,777" href="../elements/98a8f9a6-0bd3-4fbe-91e1-40f97103fc44.html"  target="element">
				  		<area shape="rect" coords="442,334,575,405" href="../elements/ec722c69-eb47-47fe-a8a6-b718adc6d956.html"  target="element">
				  		<area shape="rect" coords="10,334,143,405" href="../elements/fe2f18ef-eb3b-46ef-a872-87777e041152.html"  target="element">
				  						<area shape="rect" coords="238,82,371,153" href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html"  target="element">

				  				<area shape="rect" coords="214,34,400,167" href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html"  target="element">

				  		<area shape="rect" coords="190,10,419,179" href="../elements/b85c9319-fad4-40e8-b3a3-440995f1386b.html"  target="element">
				  		<area shape="rect" coords="238,226,371,297" href="../elements/f8dcb005-3693-4e11-90aa-c0e11f3143c8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/98bbf60d-748f-4d56-bcb7-eb613ae0fdec.html" target="element"> Sluttbruker </a> </td>
											    <td> <a href="../elements/98bbf60d-748f-4d56-bcb7-eb613ae0fdec.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element"> Tjenestetilbyder </a> </td>
											    <td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f088e0a9-b17e-45b3-ab33-cfdba20a2c11.html" target="element"> Virksomhet </a> </td>
											    <td> <a href="../elements/f088e0a9-b17e-45b3-ab33-cfdba20a2c11.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/240ea98e-1685-408d-8b09-e431eb105f3d.html" target="element"> Innbygger </a> </td>
											    <td> <a href="../elements/240ea98e-1685-408d-8b09-e431eb105f3d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/083e7980-eb54-4d32-913b-4fa5ab50a3c1.html" target="element"> Tjenestekonsument </a> </td>
											    <td> <a href="../elements/083e7980-eb54-4d32-913b-4fa5ab50a3c1.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html" target="element"> Tjenesteprodusent </a> </td>
											    <td> <a href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html" target="element"> Leveransemodell </a> </td>
											    <td> <a href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/318e8b3a-9c18-46c0-b938-d01110e79e6f.html" target="element"> Forretningstjeneste </a> </td>
											    <td> <a href="../elements/318e8b3a-9c18-46c0-b938-d01110e79e6f.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a1ed1ab1-7a1e-4672-b2f8-271f271d939a.html" target="element"> Proaktiv tjenesteleveranse </a> </td>
											    <td> <a href="../elements/a1ed1ab1-7a1e-4672-b2f8-271f271d939a.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d756a60c-90f0-43cb-b626-53792f55a96c.html" target="element"> Reaktiv tjenesteleveranse </a> </td>
											    <td> <a href="../elements/d756a60c-90f0-43cb-b626-53792f55a96c.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b7392a4b-b569-45ea-ad87-3bfb869f7483.html" target="element"> Dataanalyse </a> </td>
											    <td> <a href="../elements/b7392a4b-b569-45ea-ad87-3bfb869f7483.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html" target="element"> Tjenesteproduksjon </a> </td>
											    <td> <a href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d54b19b3-460d-4993-a66b-32a13339f2c9.html" target="element"> Produsere proaktive tjenester </a> </td>
													    <td> <a href="../elements/d54b19b3-460d-4993-a66b-32a13339f2c9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2f75d770-eaae-41c2-a18c-9c302bc8b7cb.html" target="element"> Produsere s&#248;ml&#248;se tjenester </a> </td>
													    <td> <a href="../elements/2f75d770-eaae-41c2-a18c-9c302bc8b7cb.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e405d44e-e878-4f7a-9066-acf29e596869.html" target="element"> Tjenestekonsumering </a> </td>
											    <td> <a href="../elements/e405d44e-e878-4f7a-9066-acf29e596869.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b016faf5-b6f2-40d2-b817-560238cf9f84.html" target="element"> Motta tjenester </a> </td>
													    <td> <a href="../elements/b016faf5-b6f2-40d2-b817-560238cf9f84.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b83fdada-cb6e-4a5e-98f4-75459b0c515d.html" target="element"> S&#248;ke om tjenester </a> </td>
													    <td> <a href="../elements/b83fdada-cb6e-4a5e-98f4-75459b0c515d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/dc7edc7f-d7ee-4255-8b75-677bc05e9346.html" target="element"> Akt&#248;r </a> </td>
											    <td> <a href="../elements/dc7edc7f-d7ee-4255-8b75-677bc05e9346.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/98a8f9a6-0bd3-4fbe-91e1-40f97103fc44.html" target="element"> Tjenesteleveranse </a> </td>
											    <td> <a href="../elements/98a8f9a6-0bd3-4fbe-91e1-40f97103fc44.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/44377862-e1e8-48f9-8168-8a654579cdb7.html" target="element"> Tilby tjenester </a> </td>
													    <td> <a href="../elements/44377862-e1e8-48f9-8168-8a654579cdb7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/68f52b52-2706-4908-86be-a1487114dd05.html" target="element"> Levere tjenester </a> </td>
													    <td> <a href="../elements/68f52b52-2706-4908-86be-a1487114dd05.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ec722c69-eb47-47fe-a8a6-b718adc6d956.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/ec722c69-eb47-47fe-a8a6-b718adc6d956.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fe2f18ef-eb3b-46ef-a872-87777e041152.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/fe2f18ef-eb3b-46ef-a872-87777e041152.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b85c9319-fad4-40e8-b3a3-440995f1386b.html" target="element"> Dataforvaltning </a> </td>
											    <td> <a href="../elements/b85c9319-fad4-40e8-b3a3-440995f1386b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Data Integration and Interoperability </a> </td>
													    <td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element"> Data sharing between applications and across organizations </a> </td>
															    <td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/f8dcb005-3693-4e11-90aa-c0e11f3143c8.html" target="element"> Samarbeid om datadeling </a> </td>
											    <td> <a href="../elements/f8dcb005-3693-4e11-90aa-c0e11f3143c8.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f77faaca-3bab-4838-9390-ae38e1689d15.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/f77faaca-3bab-4838-9390-ae38e1689d15.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/98bbf60d-748f-4d56-bcb7-eb613ae0fdec.html" target="element"> Sluttbruker </a> </td>
																		<td> <a href="../elements/083e7980-eb54-4d32-913b-4fa5ab50a3c1.html" target="element"> Tjenestekonsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a379a05-775f-41d1-8b92-748c648fc8c6.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/6a379a05-775f-41d1-8b92-748c648fc8c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/318e8b3a-9c18-46c0-b938-d01110e79e6f.html" target="element"> Forretningstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7305c3b7-590c-4728-9cf5-442edc112534.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/7305c3b7-590c-4728-9cf5-442edc112534.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/98a8f9a6-0bd3-4fbe-91e1-40f97103fc44.html" target="element"> Tjenesteleveranse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fd4e0fe0-130a-4a28-b18e-ec30a145bb22.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/fd4e0fe0-130a-4a28-b18e-ec30a145bb22.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/f088e0a9-b17e-45b3-ab33-cfdba20a2c11.html" target="element"> Virksomhet </a> </td>
																		<td> <a href="../elements/dc7edc7f-d7ee-4255-8b75-677bc05e9346.html" target="element"> Akt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1f3c145e-9341-4f75-9db8-517e66b24ff3.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/1f3c145e-9341-4f75-9db8-517e66b24ff3.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f088e0a9-b17e-45b3-ab33-cfdba20a2c11.html" target="element"> Virksomhet </a> </td>
																		<td> <a href="../elements/98bbf60d-748f-4d56-bcb7-eb613ae0fdec.html" target="element"> Sluttbruker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/914d9fef-112e-45a6-bcc2-66d7675ed259.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/914d9fef-112e-45a6-bcc2-66d7675ed259.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/240ea98e-1685-408d-8b09-e431eb105f3d.html" target="element"> Innbygger </a> </td>
																		<td> <a href="../elements/dc7edc7f-d7ee-4255-8b75-677bc05e9346.html" target="element"> Akt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/140de568-c79f-4602-a2d0-04befadd3939.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/140de568-c79f-4602-a2d0-04befadd3939.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/240ea98e-1685-408d-8b09-e431eb105f3d.html" target="element"> Innbygger </a> </td>
																		<td> <a href="../elements/98bbf60d-748f-4d56-bcb7-eb613ae0fdec.html" target="element"> Sluttbruker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/84ff4d07-b814-4fd5-918e-ab8f8ca8f727.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/84ff4d07-b814-4fd5-918e-ab8f8ca8f727.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html" target="element"> Tjenesteprodusent </a> </td>
																		<td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element"> Tjenestetilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/592139d3-4efb-4d39-9dfd-8312024cde5e.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/592139d3-4efb-4d39-9dfd-8312024cde5e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html" target="element"> Tjenesteprodusent </a> </td>
																		<td> <a href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html" target="element"> Tjenesteproduksjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8adf02c8-7d7a-4237-a744-7475b68001f6.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/8adf02c8-7d7a-4237-a744-7475b68001f6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html" target="element"> Leveransemodell </a> </td>
																		<td> <a href="../elements/083e7980-eb54-4d32-913b-4fa5ab50a3c1.html" target="element"> Tjenestekonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60d7df12-43a9-469c-a8f9-d7e4aa85aa27.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/60d7df12-43a9-469c-a8f9-d7e4aa85aa27.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html" target="element"> Leveransemodell </a> </td>
																		<td> <a href="../elements/318e8b3a-9c18-46c0-b938-d01110e79e6f.html" target="element"> Forretningstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e7472ed2-96d8-4cc7-9af7-a9dc992b0884.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/e7472ed2-96d8-4cc7-9af7-a9dc992b0884.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/a1ed1ab1-7a1e-4672-b2f8-271f271d939a.html" target="element"> Proaktiv tjenesteleveranse </a> </td>
																		<td> <a href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html" target="element"> Leveransemodell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d3f8c22b-395b-455b-a572-40e7e7c94fae.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/d3f8c22b-395b-455b-a572-40e7e7c94fae.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/d756a60c-90f0-43cb-b626-53792f55a96c.html" target="element"> Reaktiv tjenesteleveranse </a> </td>
																		<td> <a href="../elements/eba94afd-fa23-4462-b859-d44fc1eabec0.html" target="element"> Leveransemodell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bd8d4514-f7a5-493f-af51-61feb42a91e5.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/bd8d4514-f7a5-493f-af51-61feb42a91e5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/b7392a4b-b569-45ea-ad87-3bfb869f7483.html" target="element"> Dataanalyse </a> </td>
																		<td> <a href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html" target="element"> Tjenesteproduksjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4f35b8b8-0500-4d80-bffa-692153172b1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f35b8b8-0500-4d80-bffa-692153172b1b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html" target="element"> Tjenesteproduksjon </a> </td>
																		<td> <a href="../elements/d54b19b3-460d-4993-a66b-32a13339f2c9.html" target="element"> Produsere proaktive tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ffb54355-2e48-4271-abcb-ce569bcac349.html" target="element">  </a> </td>
																		<td> <a href="../elements/ffb54355-2e48-4271-abcb-ce569bcac349.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/82c7683f-f503-4b56-b120-e878f0c79be9.html" target="element"> Tjenesteproduksjon </a> </td>
																		<td> <a href="../elements/2f75d770-eaae-41c2-a18c-9c302bc8b7cb.html" target="element"> Produsere s&#248;ml&#248;se tjenester </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/cc135555-475d-4a6a-8e07-b79587f99650.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc135555-475d-4a6a-8e07-b79587f99650.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e405d44e-e878-4f7a-9066-acf29e596869.html" target="element"> Tjenestekonsumering </a> </td>
																		<td> <a href="../elements/b016faf5-b6f2-40d2-b817-560238cf9f84.html" target="element"> Motta tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/551e071b-b29c-49d9-949d-c331a49e3ba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/551e071b-b29c-49d9-949d-c331a49e3ba6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e405d44e-e878-4f7a-9066-acf29e596869.html" target="element"> Tjenestekonsumering </a> </td>
																		<td> <a href="../elements/b83fdada-cb6e-4a5e-98f4-75459b0c515d.html" target="element"> S&#248;ke om tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c37e722-1ef8-4281-835d-14f6eadc6e47.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/0c37e722-1ef8-4281-835d-14f6eadc6e47.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e405d44e-e878-4f7a-9066-acf29e596869.html" target="element"> Tjenestekonsumering </a> </td>
																		<td> <a href="../elements/083e7980-eb54-4d32-913b-4fa5ab50a3c1.html" target="element"> Tjenestekonsument </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/7c9ba04b-a943-4c91-a704-32e4e107ecc6.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/7c9ba04b-a943-4c91-a704-32e4e107ecc6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dc7edc7f-d7ee-4255-8b75-677bc05e9346.html" target="element"> Akt&#248;r </a> </td>
																		<td> <a href="../elements/b85c9319-fad4-40e8-b3a3-440995f1386b.html" target="element"> Dataforvaltning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dfcdcd42-6835-4ade-b69b-bde0eec638d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfcdcd42-6835-4ade-b69b-bde0eec638d8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/98a8f9a6-0bd3-4fbe-91e1-40f97103fc44.html" target="element"> Tjenesteleveranse </a> </td>
																		<td> <a href="../elements/44377862-e1e8-48f9-8168-8a654579cdb7.html" target="element"> Tilby tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3770b36c-8d7c-470c-b2d2-c5e02355eee9.html" target="element">  </a> </td>
																		<td> <a href="../elements/3770b36c-8d7c-470c-b2d2-c5e02355eee9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/98a8f9a6-0bd3-4fbe-91e1-40f97103fc44.html" target="element"> Tjenesteleveranse </a> </td>
																		<td> <a href="../elements/68f52b52-2706-4908-86be-a1487114dd05.html" target="element"> Levere tjenester </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/089dd897-0b67-4261-868d-590239acd54c.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/089dd897-0b67-4261-868d-590239acd54c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/ec722c69-eb47-47fe-a8a6-b718adc6d956.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html" target="element"> Tjenesteprodusent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/33b507ba-9b17-43c0-a100-e349d0b8d0d8.html" target="element"> st&#248;tter </a> </td>
																		<td> <a href="../elements/33b507ba-9b17-43c0-a100-e349d0b8d0d8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/fe2f18ef-eb3b-46ef-a872-87777e041152.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/ec722c69-eb47-47fe-a8a6-b718adc6d956.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e56805a0-c320-4d80-aa15-c0f06c2ada1a.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/e56805a0-c320-4d80-aa15-c0f06c2ada1a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/fe2f18ef-eb3b-46ef-a872-87777e041152.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/194476c3-c8f9-4685-a803-55dd54c4fbbc.html" target="element"> Tjenesteprodusent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/67009e3c-13f8-4701-b15e-65185f62f2fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/67009e3c-13f8-4701-b15e-65185f62f2fe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b85c9319-fad4-40e8-b3a3-440995f1386b.html" target="element"> Dataforvaltning </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Data Integration and Interoperability </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/4adfac35-02a2-4a3d-85c0-b6410e60a68b.html" target="element">  </a> </td>
																				<td> <a href="../elements/4adfac35-02a2-4a3d-85c0-b6410e60a68b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Data Integration and Interoperability </a> </td>
																				<td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element"> Data sharing between applications and across organizations </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/fb1b406c-10d9-47e0-a578-f49604d8390f.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/fb1b406c-10d9-47e0-a578-f49604d8390f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f8dcb005-3693-4e11-90aa-c0e11f3143c8.html" target="element"> Samarbeid om datadeling </a> </td>
																		<td> <a href="../elements/ec722c69-eb47-47fe-a8a6-b718adc6d956.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1b24962-ded8-48e1-8db4-49fff072f930.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/e1b24962-ded8-48e1-8db4-49fff072f930.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f8dcb005-3693-4e11-90aa-c0e11f3143c8.html" target="element"> Samarbeid om datadeling </a> </td>
																		<td> <a href="../elements/fe2f18ef-eb3b-46ef-a872-87777e041152.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2d156f13-b6a8-40ca-951d-8b1eaac0ac77.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/2d156f13-b6a8-40ca-951d-8b1eaac0ac77.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f8dcb005-3693-4e11-90aa-c0e11f3143c8.html" target="element"> Samarbeid om datadeling </a> </td>
																		<td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element"> Data sharing between applications and across organizations </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>