<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Evner, Difi</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Evner, Difi</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/116a0bf5-ef74-48c1-8f4d-9a5cd9e61a84.png" alt="Evner, Difi" usemap="#116a0bf5-ef74-48c1-8f4d-9a5cd9e61a84map"/>
			   <map name="116a0bf5-ef74-48c1-8f4d-9a5cd9e61a84map">
				  				<area shape="rect" coords="46,70,176,130" href="../elements/01684d01-bbe2-42ed-be21-bca55b96e9cb.html"  target="element">
				  				<area shape="rect" coords="190,70,320,130" href="../elements/94027ad5-f719-4aec-af5f-656ceea97783.html"  target="element">
				  				<area shape="rect" coords="334,70,464,130" href="../elements/78561808-f15b-4fbb-86aa-fa10389bf46f.html"  target="element">
				  				<area shape="rect" coords="490,70,620,130" href="../elements/7309bae4-a28e-4db5-8392-19b9b1129d63.html"  target="element">

				  		<area shape="rect" coords="10,10,695,167" href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html"  target="element">
				  		<area shape="rect" coords="274,238,404,298" href="../elements/92449ebe-4867-4263-b39f-b961b9a8447f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Evner, Difi</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
											    <td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/01684d01-bbe2-42ed-be21-bca55b96e9cb.html" target="element"> Kunnskap om innovasjon </a> </td>
													    <td> <a href="../elements/01684d01-bbe2-42ed-be21-bca55b96e9cb.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/94027ad5-f719-4aec-af5f-656ceea97783.html" target="element"> Orientert om den internasjonale utviklingen </a> </td>
													    <td> <a href="../elements/94027ad5-f719-4aec-af5f-656ceea97783.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/78561808-f15b-4fbb-86aa-fa10389bf46f.html" target="element"> Kunnskap om anskaffelser </a> </td>
													    <td> <a href="../elements/78561808-f15b-4fbb-86aa-fa10389bf46f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7309bae4-a28e-4db5-8392-19b9b1129d63.html" target="element"> Kunnskap om digitalisering  </a> </td>
													    <td> <a href="../elements/7309bae4-a28e-4db5-8392-19b9b1129d63.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/92449ebe-4867-4263-b39f-b961b9a8447f.html" target="element"> Kunnskap om virksomhets-arkitektur </a> </td>
											    <td> <a href="../elements/92449ebe-4867-4263-b39f-b961b9a8447f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/62c17b2a-a05b-4ec9-9b7d-94f1dffde041.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/62c17b2a-a05b-4ec9-9b7d-94f1dffde041.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
																		<td> <a href="../elements/01684d01-bbe2-42ed-be21-bca55b96e9cb.html" target="element"> Kunnskap om innovasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f67be8cb-aa30-48d5-9853-81cfbf1ea656.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f67be8cb-aa30-48d5-9853-81cfbf1ea656.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
																		<td> <a href="../elements/94027ad5-f719-4aec-af5f-656ceea97783.html" target="element"> Orientert om den internasjonale utviklingen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/727cd635-e4a7-44c0-9866-e2424758fd2e.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/727cd635-e4a7-44c0-9866-e2424758fd2e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
																		<td> <a href="../elements/78561808-f15b-4fbb-86aa-fa10389bf46f.html" target="element"> Kunnskap om anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/757ba3b5-423c-4cf0-9440-b7d75372ac83.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/757ba3b5-423c-4cf0-9440-b7d75372ac83.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
																		<td> <a href="../elements/7309bae4-a28e-4db5-8392-19b9b1129d63.html" target="element"> Kunnskap om digitalisering  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/142c5880-fe9c-4cb0-afd0-c33089229bf6.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/142c5880-fe9c-4cb0-afd0-c33089229bf6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
																		<td> <a href="../elements/92449ebe-4867-4263-b39f-b961b9a8447f.html" target="element"> Kunnskap om virksomhets-arkitektur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/6777a04b-b4a3-45f5-89d7-767a3af43077.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/6777a04b-b4a3-45f5-89d7-767a3af43077.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/92449ebe-4867-4263-b39f-b961b9a8447f.html" target="element"> Kunnskap om virksomhets-arkitektur </a> </td>
																		<td> <a href="../elements/1a4d6697-da24-4c0a-bb20-db8beb028994.html" target="element"> Sentral kilde til kunnskap innen aktuelle omr&#229;der </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>