<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>EIRA 3.0 capabilities i arbeid (Erik)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>EIRA 3.0 capabilities i arbeid (Erik)</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/21eaea7d-c495-4cd4-ba44-45254201aae0.png" alt="EIRA 3.0 capabilities i arbeid (Erik)" usemap="#21eaea7d-c495-4cd4-ba44-45254201aae0map">
			<map name="21eaea7d-c495-4cd4-ba44-45254201aae0map">
						<area shape="rect" coords="430,286,560,346" href="../elements/033efa91-4b46-47e7-a709-04ea75eb2b93.html"  target="element">
						<area shape="rect" coords="658,106,788,166" href="../elements/a1f7d085-9bf8-4559-843b-73e0dbbc4e8d.html"  target="element">
						<area shape="rect" coords="649,22,779,82" href="../elements/b3c04d4c-f5a3-4985-b2dc-946d2b44e398.html"  target="element">
						<area shape="rect" coords="502,22,632,82" href="../elements/b0c03f73-7a8e-495d-9b9a-bcd6480af1b4.html"  target="element">
						<area shape="rect" coords="430,202,560,262" href="../elements/d0bf539e-2c42-4320-9909-4ec9c39d49a0.html"  target="element">
						<area shape="rect" coords="358,22,488,82" href="../elements/cf137b28-8e49-465f-b765-da6bf035787a.html"  target="element">
						<area shape="rect" coords="514,106,644,166" href="../elements/36ee816e-2d52-4db7-bb76-9a7bc5fa7d15.html"  target="element">
						<area shape="rect" coords="358,106,488,166" href="../elements/d91c2c2e-4a37-443f-bd03-ef4ddd57cf46.html"  target="element">
						<area shape="rect" coords="598,202,728,262" href="../elements/ba7bb761-f7a5-4791-96e0-10ab0b499338.html"  target="element">
						<area shape="rect" coords="598,286,728,346" href="../elements/439b664e-ba35-45fa-9d9c-d36abe50b92f.html"  target="element">
								<area shape="rect" coords="570,442,700,502" href="../elements/bb7bebfc-49c4-4d8d-89ee-e0ceb2740817.html"  target="element">
								<area shape="rect" coords="859,443,989,503" href="../elements/18f931fb-bb8f-49fd-bcab-c7d0a9b926b9.html"  target="element">
								<area shape="rect" coords="424,443,554,503" href="../elements/3d3cfc56-6998-447a-b330-5d2c8369959b.html"  target="element">
								<area shape="rect" coords="712,443,842,503" href="../elements/079776da-9b59-471e-8a66-f479f3760ac6.html"  target="element">

						<area shape="rect" coords="412,407,1015,515" href="../elements/5258eaf6-ac9d-40f1-918c-113c68109670.html"  target="element">
								<area shape="rect" coords="34,437,164,497" href="../elements/03177331-5c11-41f6-9be1-8490c620df06.html"  target="element">
								<area shape="rect" coords="214,352,344,412" href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html"  target="element">
								<area shape="rect" coords="130,250,260,310" href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html"  target="element">
								<area shape="rect" coords="34,352,164,412" href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html"  target="element">

						<area shape="rect" coords="10,214,383,515" href="../elements/2e328643-0b88-4994-a2a6-c36a881da430.html"  target="element">
								<area shape="rect" coords="46,46,176,106" href="../elements/eb66f807-01cb-49ac-81dd-54319da4f97d.html"  target="element">

						<area shape="rect" coords="10,10,323,150" href="../elements/45e9ad07-8d5a-4cce-af38-d42499cf866e.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/033efa91-4b46-47e7-a709-04ea75eb2b93.html" target="element"> Audit logging </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/a1f7d085-9bf8-4559-843b-73e0dbbc4e8d.html" target="element"> Datavalidering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/b3c04d4c-f5a3-4985-b2dc-946d2b44e398.html" target="element"> Finne tjeneste, runtime::Erik </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/b0c03f73-7a8e-495d-9b9a-bcd6480af1b4.html" target="element"> Finne tjeneste, designtime </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/d0bf539e-2c42-4320-9909-4ec9c39d49a0.html" target="element"> Automatisere prosesser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/cf137b28-8e49-465f-b765-da6bf035787a.html" target="element"> Publisere data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/36ee816e-2d52-4db7-bb76-9a7bc5fa7d15.html" target="element"> Transformere data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/d91c2c2e-4a37-443f-bd03-ef4ddd57cf46.html" target="element"> Metadata-forvaltning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/ba7bb761-f7a5-4791-96e0-10ab0b499338.html" target="element"> Langtidslaging </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/439b664e-ba35-45fa-9d9c-d36abe50b92f.html" target="element"> discovery of essential information about accredited service providers </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/5258eaf6-ac9d-40f1-918c-113c68109670.html" target="element"> Privacy </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/bb7bebfc-49c4-4d8d-89ee-e0ceb2740817.html" target="element"> Datakvalitet </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/18f931fb-bb8f-49fd-bcab-c7d0a9b926b9.html" target="element"> Avidentifisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/3d3cfc56-6998-447a-b330-5d2c8369959b.html" target="element"> Sikring av informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/079776da-9b59-471e-8a66-f479f3760ac6.html" target="element"> Slette data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/2e328643-0b88-4994-a2a6-c36a881da430.html" target="element"> Identitetsforvaltning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/03177331-5c11-41f6-9be1-8490c620df06.html" target="element"> Tilgangsstyring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentiserring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html" target="element"> Identitets-forvaltning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/45e9ad07-8d5a-4cce-af38-d42499cf866e.html" target="element"> Datautveksling </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/eb66f807-01cb-49ac-81dd-54319da4f97d.html" target="element"> Data exchange </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/3aadcccd-965f-4b58-b6ae-205f7bd16f79.html" target="element">  </a> </td>
																		<td> <a href="../elements/3aadcccd-965f-4b58-b6ae-205f7bd16f79.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5258eaf6-ac9d-40f1-918c-113c68109670.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/bb7bebfc-49c4-4d8d-89ee-e0ceb2740817.html" target="element"> Datakvalitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/df3d4f17-6f41-42e9-9b9e-542df8535cba.html" target="element">  </a> </td>
																		<td> <a href="../elements/df3d4f17-6f41-42e9-9b9e-542df8535cba.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5258eaf6-ac9d-40f1-918c-113c68109670.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/18f931fb-bb8f-49fd-bcab-c7d0a9b926b9.html" target="element"> Avidentifisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/641df9b3-2224-4e19-aa40-4164d97b69fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/641df9b3-2224-4e19-aa40-4164d97b69fb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5258eaf6-ac9d-40f1-918c-113c68109670.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/3d3cfc56-6998-447a-b330-5d2c8369959b.html" target="element"> Sikring av informasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f9573a4b-16e8-4e18-95e8-c435450f8790.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9573a4b-16e8-4e18-95e8-c435450f8790.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5258eaf6-ac9d-40f1-918c-113c68109670.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/079776da-9b59-471e-8a66-f479f3760ac6.html" target="element"> Slette data </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/e4a21a2d-a6ad-4ffa-8c0b-f5a08cb9fcac.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4a21a2d-a6ad-4ffa-8c0b-f5a08cb9fcac.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2e328643-0b88-4994-a2a6-c36a881da430.html" target="element"> Identitetsforvaltning </a> </td>
																		<td> <a href="../elements/03177331-5c11-41f6-9be1-8490c620df06.html" target="element"> Tilgangsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27ceda9e-ea7b-42e4-a976-e3c0f21dd70f.html" target="element">  </a> </td>
																		<td> <a href="../elements/27ceda9e-ea7b-42e4-a976-e3c0f21dd70f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2e328643-0b88-4994-a2a6-c36a881da430.html" target="element"> Identitetsforvaltning </a> </td>
																		<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentiserring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/028b9e46-d2f1-4755-8ded-cf0463f42f9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/028b9e46-d2f1-4755-8ded-cf0463f42f9c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2e328643-0b88-4994-a2a6-c36a881da430.html" target="element"> Identitetsforvaltning </a> </td>
																		<td> <a href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html" target="element"> Identitets-forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b53110ed-efa7-468e-a70a-423cf38c49b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b53110ed-efa7-468e-a70a-423cf38c49b9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2e328643-0b88-4994-a2a6-c36a881da430.html" target="element"> Identitetsforvaltning </a> </td>
																		<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5d21cd75-f55d-4980-bed1-484befa0f293.html" target="element">  </a> </td>
																				<td> <a href="../elements/5d21cd75-f55d-4980-bed1-484befa0f293.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/03177331-5c11-41f6-9be1-8490c620df06.html" target="element"> Tilgangsstyring </a> </td>
																				<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/853ce2f7-f18f-479b-b857-576fea43ede1.html" target="element">  </a> </td>
																				<td> <a href="../elements/853ce2f7-f18f-479b-b857-576fea43ede1.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentiserring </a> </td>
																				<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f851c62f-3503-4c29-a6be-f1f224f0262e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f851c62f-3503-4c29-a6be-f1f224f0262e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html" target="element"> Identitets-forvaltning </a> </td>
																				<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentiserring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/588f84d4-fc1d-462a-84b7-7d4f762bd9b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/588f84d4-fc1d-462a-84b7-7d4f762bd9b6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html" target="element"> Identitets-forvaltning </a> </td>
																				<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/db709901-5dd4-450e-bc98-ae3c183c366a.html" target="element">  </a> </td>
																		<td> <a href="../elements/db709901-5dd4-450e-bc98-ae3c183c366a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/45e9ad07-8d5a-4cce-af38-d42499cf866e.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/eb66f807-01cb-49ac-81dd-54319da4f97d.html" target="element"> Data exchange </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>