<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kladd (Erik): Rollebegreper, intent</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kladd (Erik): Rollebegreper, intent</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/23020811-b043-43b9-989a-897ecdca2e2f.png" alt="Kladd (Erik): Rollebegreper, intent" usemap="#23020811-b043-43b9-989a-897ecdca2e2fmap"/>
			   <map name="23020811-b043-43b9-989a-897ecdca2e2fmap">
				  		<area shape="rect" coords="358,1255,491,1322" href="../elements/4fb80c16-7ce0-4737-8cb4-c78bd85f71ee.html"  target="element">
				  		<area shape="rect" coords="190,1291,323,1358" href="../elements/828506da-1a71-40a1-95e6-b84d600ee4eb.html"  target="element">
				  		<area shape="rect" coords="10,1291,143,1358" href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html"  target="element">
				  		<area shape="rect" coords="340,1423,473,1490" href="../elements/12f302a9-9e67-4f66-8424-ebc499d050fe.html"  target="element">
				  		<area shape="rect" coords="100,1186,233,1253" href="../elements/dc2f8650-a487-4ce7-a247-d58857f4c17a.html"  target="element">
				  		<area shape="rect" coords="520,1340,653,1407" href="../elements/dd5a95aa-972c-448e-bf4f-1f6a30766f2d.html"  target="element">
				  		<area shape="rect" coords="295,178,428,245" href="../elements/9af22550-1798-42b2-8b97-4f68d2ca2660.html"  target="element">
				  		<area shape="rect" coords="499,10,632,77" href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html"  target="element">
				  		<area shape="rect" coords="295,10,428,77" href="../elements/30edfb19-461f-4a0b-806b-31eec4b8e307.html"  target="element">
				  		<area shape="rect" coords="715,178,848,245" href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html"  target="element">
				  		<area shape="rect" coords="715,502,848,569" href="../elements/e1d37f58-c087-4914-b47f-4aedfa1c07e6.html"  target="element">
				  		<area shape="rect" coords="715,394,848,461" href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html"  target="element">
				  		<area shape="rect" coords="715,274,848,341" href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html"  target="element">
				  		<area shape="rect" coords="280,274,413,341" href="../elements/a362d5ac-f5b7-452e-ba37-58fba69ba30c.html"  target="element">
				  		<area shape="rect" coords="511,274,644,341" href="../elements/fa5bfd9e-94a5-4036-924e-393762b90878.html"  target="element">
				  		<area shape="rect" coords="148,1472,281,1539" href="../elements/e0fc1b3f-8c67-4bae-b66b-0ff4c7174c22.html"  target="element">
				  		<area shape="rect" coords="43,502,176,569" href="../elements/dc47c290-b5f1-424e-940d-8beb680b7c65.html"  target="element">
				  		<area shape="rect" coords="43,178,176,245" href="../elements/2bcdd5ab-03b8-4c92-9a39-1dfaadc78471.html"  target="element">
				  		<area shape="rect" coords="43,274,176,341" href="../elements/06474932-4fb0-459d-a511-dcdd2c770804.html"  target="element">
				  		<area shape="rect" coords="43,394,176,461" href="../elements/c63e12fe-81e7-4d35-b656-86581ade3b52.html"  target="element">
				  		<area shape="rect" coords="511,178,644,245" href="../elements/1d6506e3-90d3-4ce9-b3f8-13f76585d54d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Rollebegreper, intent</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/4fb80c16-7ce0-4737-8cb4-c78bd85f71ee.html" target="element"> Konsumentgruppe (bransje) </a> </td>
											    <td> <a href="../elements/4fb80c16-7ce0-4737-8cb4-c78bd85f71ee.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/828506da-1a71-40a1-95e6-b84d600ee4eb.html" target="element"> Felles representant for konsumentgruppe </a> </td>
											    <td> <a href="../elements/828506da-1a71-40a1-95e6-b84d600ee4eb.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
											    <td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12f302a9-9e67-4f66-8424-ebc499d050fe.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/12f302a9-9e67-4f66-8424-ebc499d050fe.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc2f8650-a487-4ce7-a247-d58857f4c17a.html" target="element"> Avtale mellom tilbyder og felles representant </a> </td>
											    <td> <a href="../elements/dc2f8650-a487-4ce7-a247-d58857f4c17a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dd5a95aa-972c-448e-bf4f-1f6a30766f2d.html" target="element"> Avtaler mellom Bransjerepresentant og tilknyttede konsumenter  </a> </td>
											    <td> <a href="../elements/dd5a95aa-972c-448e-bf4f-1f6a30766f2d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9af22550-1798-42b2-8b97-4f68d2ca2660.html" target="element"> Produsent </a> </td>
											    <td> <a href="../elements/9af22550-1798-42b2-8b97-4f68d2ca2660.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html" target="element"> Underleverand&#248;r </a> </td>
											    <td> <a href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30edfb19-461f-4a0b-806b-31eec4b8e307.html" target="element"> Leverand&#248;r </a> </td>
											    <td> <a href="../elements/30edfb19-461f-4a0b-806b-31eec4b8e307.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
											    <td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e1d37f58-c087-4914-b47f-4aedfa1c07e6.html" target="element"> API-tilbyder </a> </td>
											    <td> <a href="../elements/e1d37f58-c087-4914-b47f-4aedfa1c07e6.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element"> Tjenestetilbyder </a> </td>
											    <td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a362d5ac-f5b7-452e-ba37-58fba69ba30c.html" target="element"> Dataprodusent </a> </td>
											    <td> <a href="../elements/a362d5ac-f5b7-452e-ba37-58fba69ba30c.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa5bfd9e-94a5-4036-924e-393762b90878.html" target="element"> Dataforvalter </a> </td>
											    <td> <a href="../elements/fa5bfd9e-94a5-4036-924e-393762b90878.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0fc1b3f-8c67-4bae-b66b-0ff4c7174c22.html" target="element"> Avtale direkte mellom tilbyder og konsument </a> </td>
											    <td> <a href="../elements/e0fc1b3f-8c67-4bae-b66b-0ff4c7174c22.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc47c290-b5f1-424e-940d-8beb680b7c65.html" target="element"> API-eier </a> </td>
											    <td> <a href="../elements/dc47c290-b5f1-424e-940d-8beb680b7c65.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2bcdd5ab-03b8-4c92-9a39-1dfaadc78471.html" target="element"> Eier </a> </td>
											    <td> <a href="../elements/2bcdd5ab-03b8-4c92-9a39-1dfaadc78471.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06474932-4fb0-459d-a511-dcdd2c770804.html" target="element"> Dataeier </a> </td>
											    <td> <a href="../elements/06474932-4fb0-459d-a511-dcdd2c770804.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c63e12fe-81e7-4d35-b656-86581ade3b52.html" target="element"> Tjenesteeier </a> </td>
											    <td> <a href="../elements/c63e12fe-81e7-4d35-b656-86581ade3b52.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1d6506e3-90d3-4ce9-b3f8-13f76585d54d.html" target="element"> Forvalter </a> </td>
											    <td> <a href="../elements/1d6506e3-90d3-4ce9-b3f8-13f76585d54d.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d0aef986-bda0-45b2-afd9-a6818e6e77ee.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/d0aef986-bda0-45b2-afd9-a6818e6e77ee.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4fb80c16-7ce0-4737-8cb4-c78bd85f71ee.html" target="element"> Konsumentgruppe (bransje) </a> </td>
																		<td> <a href="../elements/12f302a9-9e67-4f66-8424-ebc499d050fe.html" target="element"> Konsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c99ceb4-4956-4a51-8b5d-8f89060df19e.html" target="element"> access </a> </td>
																		<td> <a href="../elements/3c99ceb4-4956-4a51-8b5d-8f89060df19e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4fb80c16-7ce0-4737-8cb4-c78bd85f71ee.html" target="element"> Konsumentgruppe (bransje) </a> </td>
																		<td> <a href="../elements/dd5a95aa-972c-448e-bf4f-1f6a30766f2d.html" target="element"> Avtaler mellom Bransjerepresentant og tilknyttede konsumenter  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b946f7d3-0342-4c1a-b02a-7135fe62d72f.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/b946f7d3-0342-4c1a-b02a-7135fe62d72f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/828506da-1a71-40a1-95e6-b84d600ee4eb.html" target="element"> Felles representant for konsumentgruppe </a> </td>
																		<td> <a href="../elements/4fb80c16-7ce0-4737-8cb4-c78bd85f71ee.html" target="element"> Konsumentgruppe (bransje) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a78b354a-148c-4ede-b2ce-e47e785f0911.html" target="element"> access </a> </td>
																		<td> <a href="../elements/a78b354a-148c-4ede-b2ce-e47e785f0911.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/828506da-1a71-40a1-95e6-b84d600ee4eb.html" target="element"> Felles representant for konsumentgruppe </a> </td>
																		<td> <a href="../elements/dc2f8650-a487-4ce7-a247-d58857f4c17a.html" target="element"> Avtale mellom tilbyder og felles representant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f55ec9ed-c7f3-456d-aa1d-fa077cb0bbd1.html" target="element"> flow </a> </td>
																		<td> <a href="../elements/f55ec9ed-c7f3-456d-aa1d-fa077cb0bbd1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
																		<td> <a href="../elements/12f302a9-9e67-4f66-8424-ebc499d050fe.html" target="element"> Konsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/588d62c0-d990-4ee8-8a54-870f46d7c71c.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/588d62c0-d990-4ee8-8a54-870f46d7c71c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
																		<td> <a href="../elements/828506da-1a71-40a1-95e6-b84d600ee4eb.html" target="element"> Felles representant for konsumentgruppe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b4045f4-9997-4225-933a-672ab9f0bc54.html" target="element"> access </a> </td>
																		<td> <a href="../elements/6b4045f4-9997-4225-933a-672ab9f0bc54.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
																		<td> <a href="../elements/dc2f8650-a487-4ce7-a247-d58857f4c17a.html" target="element"> Avtale mellom tilbyder og felles representant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/33ca1174-ddb4-4bca-8e02-60d5d7ab0f39.html" target="element"> access </a> </td>
																		<td> <a href="../elements/33ca1174-ddb4-4bca-8e02-60d5d7ab0f39.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/12f302a9-9e67-4f66-8424-ebc499d050fe.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/dd5a95aa-972c-448e-bf4f-1f6a30766f2d.html" target="element"> Avtaler mellom Bransjerepresentant og tilknyttede konsumenter  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/30018092-f99d-4ac7-8e02-afd16e42b08c.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/30018092-f99d-4ac7-8e02-afd16e42b08c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/9af22550-1798-42b2-8b97-4f68d2ca2660.html" target="element"> Produsent </a> </td>
																		<td> <a href="../elements/2bcdd5ab-03b8-4c92-9a39-1dfaadc78471.html" target="element"> Eier </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f3522635-88bd-4f57-9b37-c0bdd2f3657f.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f3522635-88bd-4f57-9b37-c0bdd2f3657f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/30edfb19-461f-4a0b-806b-31eec4b8e307.html" target="element"> Leverand&#248;r </a> </td>
																		<td> <a href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html" target="element"> Underleverand&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6404db69-2ca5-4148-9f09-eeec215630f1.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/6404db69-2ca5-4148-9f09-eeec215630f1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/30edfb19-461f-4a0b-806b-31eec4b8e307.html" target="element"> Leverand&#248;r </a> </td>
																		<td> <a href="../elements/9af22550-1798-42b2-8b97-4f68d2ca2660.html" target="element"> Produsent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/550768c4-b97c-4ba5-8105-33c1a8c86609.html" target="element"> association </a> </td>
																		<td> <a href="../elements/550768c4-b97c-4ba5-8105-33c1a8c86609.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e1d37f58-c087-4914-b47f-4aedfa1c07e6.html" target="element"> API-tilbyder </a> </td>
																		<td> <a href="../elements/dc47c290-b5f1-424e-940d-8beb680b7c65.html" target="element"> API-eier </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9db7f631-e0ee-466e-bd38-46c7d766dfd9.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/9db7f631-e0ee-466e-bd38-46c7d766dfd9.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/e1d37f58-c087-4914-b47f-4aedfa1c07e6.html" target="element"> API-tilbyder </a> </td>
																		<td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b7c69a4d-ebf0-414c-a31f-4ad547d31a52.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/b7c69a4d-ebf0-414c-a31f-4ad547d31a52.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/31ddf888-2b24-4e7e-be7f-bbbb43a355de.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/55c83e3d-e8d7-49c7-9fa1-792cf3733a00.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/55c83e3d-e8d7-49c7-9fa1-792cf3733a00.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/4f1be894-9303-49f1-969c-9da2bd94301f.html" target="element"> Tilbyder[ns:erik] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/778d16a0-2daa-463c-9ef9-322e46d8f0fd.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/778d16a0-2daa-463c-9ef9-322e46d8f0fd.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/a362d5ac-f5b7-452e-ba37-58fba69ba30c.html" target="element"> Dataprodusent </a> </td>
																		<td> <a href="../elements/9af22550-1798-42b2-8b97-4f68d2ca2660.html" target="element"> Produsent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b6d1829-5f90-4733-9437-56051e1aa6e6.html" target="element"> flow </a> </td>
																		<td> <a href="../elements/4b6d1829-5f90-4733-9437-56051e1aa6e6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/a362d5ac-f5b7-452e-ba37-58fba69ba30c.html" target="element"> Dataprodusent </a> </td>
																		<td> <a href="../elements/fa5bfd9e-94a5-4036-924e-393762b90878.html" target="element"> Dataforvalter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74818fbf-cf87-4542-9d9d-9d9460f2901c.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/74818fbf-cf87-4542-9d9d-9d9460f2901c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/a362d5ac-f5b7-452e-ba37-58fba69ba30c.html" target="element"> Dataprodusent </a> </td>
																		<td> <a href="../elements/06474932-4fb0-459d-a511-dcdd2c770804.html" target="element"> Dataeier </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/505aee3c-a8f9-4ccd-af7d-967514b2324a.html" target="element"> flow </a> </td>
																		<td> <a href="../elements/505aee3c-a8f9-4ccd-af7d-967514b2324a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fa5bfd9e-94a5-4036-924e-393762b90878.html" target="element"> Dataforvalter </a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f0f8755b-799a-4123-b7ee-a7f5f2849a28.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/f0f8755b-799a-4123-b7ee-a7f5f2849a28.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/06474932-4fb0-459d-a511-dcdd2c770804.html" target="element"> Dataeier </a> </td>
																		<td> <a href="../elements/2bcdd5ab-03b8-4c92-9a39-1dfaadc78471.html" target="element"> Eier </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>