<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arkitekturlag</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arkitekturlag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/2b27bf2f-bce5-47a8-8e80-bdef43f9e734.png" alt="Arkitekturlag" usemap="#2b27bf2f-bce5-47a8-8e80-bdef43f9e734map"/>
			   <map name="2b27bf2f-bce5-47a8-8e80-bdef43f9e734map">
				  				<area shape="rect" coords="262,316,443,411" href="../elements/a6e71ec3-5c82-43f9-b308-88b756346d31.html"  target="element">
				  				<area shape="rect" coords="262,170,443,265" href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html"  target="element">
				  				<area shape="rect" coords="262,46,443,141" href="../elements/131072ef-75fa-457f-aa2e-19d9b5601990.html"  target="element">

				  		<area shape="rect" coords="238,10,467,430" href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html"  target="element">
				  		<area shape="rect" coords="10,57,143,382" href="../elements/de18d41c-54ce-4159-a820-be625189044f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html" target="element"> Arkitektur-og l&#248;sningsbyggeklosser </a> </td>
											    <td> <a href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a6e71ec3-5c82-43f9-b308-88b756346d31.html" target="element"> Teknologiarkitektur </a> </td>
													    <td> <a href="../elements/a6e71ec3-5c82-43f9-b308-88b756346d31.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element"> Applikasjonsarkitektur </a> </td>
													    <td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/131072ef-75fa-457f-aa2e-19d9b5601990.html" target="element"> Forretningsarkitektur </a> </td>
													    <td> <a href="../elements/131072ef-75fa-457f-aa2e-19d9b5601990.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/de18d41c-54ce-4159-a820-be625189044f.html" target="element"> Kapabiliteter (forretning og IT) </a> </td>
											    <td> <a href="../elements/de18d41c-54ce-4159-a820-be625189044f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/aa7fc72a-c6b1-4d85-84fc-d8d07413e839.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa7fc72a-c6b1-4d85-84fc-d8d07413e839.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html" target="element"> Arkitektur-og l&#248;sningsbyggeklosser </a> </td>
																		<td> <a href="../elements/a6e71ec3-5c82-43f9-b308-88b756346d31.html" target="element"> Teknologiarkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2900a326-27ae-451f-a4a7-0cbaffcbf7cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/2900a326-27ae-451f-a4a7-0cbaffcbf7cf.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html" target="element"> Arkitektur-og l&#248;sningsbyggeklosser </a> </td>
																		<td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element"> Applikasjonsarkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4cdb16c-a5a7-4ec5-8980-94866327b4ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4cdb16c-a5a7-4ec5-8980-94866327b4ed.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html" target="element"> Arkitektur-og l&#248;sningsbyggeklosser </a> </td>
																		<td> <a href="../elements/131072ef-75fa-457f-aa2e-19d9b5601990.html" target="element"> Forretningsarkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3daaa70-6486-45f9-853e-44f469d01237.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/c3daaa70-6486-45f9-853e-44f469d01237.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a4daa9b5-1a20-40b9-be9e-41e835e4edcc.html" target="element"> Arkitektur-og l&#248;sningsbyggeklosser </a> </td>
																		<td> <a href="../elements/de18d41c-54ce-4159-a820-be625189044f.html" target="element"> Kapabiliteter (forretning og IT) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/93adbfb2-da27-4b77-822f-b302931cdde8.html" target="element"> realiserer (automatiserer) </a> </td>
																				<td> <a href="../elements/93adbfb2-da27-4b77-822f-b302931cdde8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/a6e71ec3-5c82-43f9-b308-88b756346d31.html" target="element"> Teknologiarkitektur </a> </td>
																				<td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element"> Applikasjonsarkitektur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5c29edb1-c501-4a26-a69c-d5a43dd0d99b.html" target="element"> brukes av </a> </td>
																				<td> <a href="../elements/5c29edb1-c501-4a26-a69c-d5a43dd0d99b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/a6e71ec3-5c82-43f9-b308-88b756346d31.html" target="element"> Teknologiarkitektur </a> </td>
																				<td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element"> Applikasjonsarkitektur </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ffbefd70-113f-44fe-adc4-904d73a78018.html" target="element"> brukes av </a> </td>
																				<td> <a href="../elements/ffbefd70-113f-44fe-adc4-904d73a78018.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element"> Applikasjonsarkitektur </a> </td>
																				<td> <a href="../elements/131072ef-75fa-457f-aa2e-19d9b5601990.html" target="element"> Forretningsarkitektur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/df986ae2-bad5-41ff-9dda-05f496d9e726.html" target="element"> realiserer (automatiserer) </a> </td>
																				<td> <a href="../elements/df986ae2-bad5-41ff-9dda-05f496d9e726.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6f408638-df68-4c35-8f93-cdc78e617324.html" target="element"> Applikasjonsarkitektur </a> </td>
																				<td> <a href="../elements/131072ef-75fa-457f-aa2e-19d9b5601990.html" target="element"> Forretningsarkitektur </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>