<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prioriterte aktiviteter for Difi i 2019</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prioriterte aktiviteter for Difi i 2019</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/2fd28389-e15b-411b-b822-55da775d4c55.png" alt="Prioriterte aktiviteter for Difi i 2019" usemap="#2fd28389-e15b-411b-b822-55da775d4c55map"/>
			   <map name="2fd28389-e15b-411b-b822-55da775d4c55map">
				  				<area shape="rect" coords="274,58,404,118" href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html"  target="element">
				  				<area shape="rect" coords="274,142,404,202" href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html"  target="element">
				  				<area shape="rect" coords="274,310,404,370" href="../elements/9d990755-69a2-4282-b491-c9155c867b2e.html"  target="element">
				  				<area shape="rect" coords="274,226,404,286" href="../elements/060a90b9-b624-423f-86da-e03855ba9fba.html"  target="element">
				  				<area shape="rect" coords="274,394,404,454" href="../elements/be2faec0-b76b-4442-969c-bcb1d2a02128.html"  target="element">
				  				<area shape="rect" coords="274,478,404,538" href="../elements/f11acc6b-1a34-4806-8986-5eb25413dbca.html"  target="element">
				  				<area shape="rect" coords="274,562,404,622" href="../elements/4223382b-c8a6-4fba-ac81-8cf6fd85902c.html"  target="element">

				  		<area shape="rect" coords="238,10,431,682" href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html"  target="element">
				  				<area shape="rect" coords="34,562,164,622" href="../elements/f400c07a-c7ec-43e1-926e-92afc75ea2f4.html"  target="element">
				  				<area shape="rect" coords="34,58,164,118" href="../elements/b01469e8-8230-44ad-9239-f6bb05caa7cb.html"  target="element">
				  				<area shape="rect" coords="34,298,164,358" href="../elements/265d702b-8cee-40c0-9c6a-968797fd9a7d.html"  target="element">

				  		<area shape="rect" coords="10,10,202,682" href="../elements/c060ae7a-c49b-4367-823c-9e2cb7934243.html"  target="element">
				  				<area shape="rect" coords="490,142,620,202" href="../elements/8747d20e-63b5-477e-b1e9-fe4177513dcd.html"  target="element">
				  				<area shape="rect" coords="502,478,632,538" href="../elements/ae71985a-594a-49e6-a323-2d3fb486d68d.html"  target="element">

				  		<area shape="rect" coords="466,10,658,682" href="../elements/05673041-1cfb-4ef9-b70a-e7dfa992ece8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
											    <td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html" target="element"> Oppf&#248;lging av NFDs melding om offentlige anskaffelser </a> </td>
													    <td> <a href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html" target="element"> Bist&#229; KMD i arbeidet med stortingsmelding om innovasjon </a> </td>
													    <td> <a href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9d990755-69a2-4282-b491-c9155c867b2e.html" target="element"> Fokus p&#229; informasjons-forvaltning </a> </td>
													    <td> <a href="../elements/9d990755-69a2-4282-b491-c9155c867b2e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/060a90b9-b624-423f-86da-e03855ba9fba.html" target="element"> Forberede markedsplass for skytjenester </a> </td>
													    <td> <a href="../elements/060a90b9-b624-423f-86da-e03855ba9fba.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/be2faec0-b76b-4442-969c-bcb1d2a02128.html" target="element"> Fokus p&#229; gjenbruk og viderebruk av data  </a> </td>
													    <td> <a href="../elements/be2faec0-b76b-4442-969c-bcb1d2a02128.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f11acc6b-1a34-4806-8986-5eb25413dbca.html" target="element"> Videreutvikling av arbeidsgiverst&#248;tten </a> </td>
													    <td> <a href="../elements/f11acc6b-1a34-4806-8986-5eb25413dbca.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4223382b-c8a6-4fba-ac81-8cf6fd85902c.html" target="element"> St&#248;tte virksomhetene i regjeringens inkluderingsdugnad </a> </td>
													    <td> <a href="../elements/4223382b-c8a6-4fba-ac81-8cf6fd85902c.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c060ae7a-c49b-4367-823c-9e2cb7934243.html" target="element"> Ressurser </a> </td>
											    <td> <a href="../elements/c060ae7a-c49b-4367-823c-9e2cb7934243.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f400c07a-c7ec-43e1-926e-92afc75ea2f4.html" target="element"> Regjeringens inkluderings-dugnad </a> </td>
													    <td> <a href="../elements/f400c07a-c7ec-43e1-926e-92afc75ea2f4.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b01469e8-8230-44ad-9239-f6bb05caa7cb.html" target="element"> NFDs melding om offentlige anskaffelser </a> </td>
													    <td> <a href="../elements/b01469e8-8230-44ad-9239-f6bb05caa7cb.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/265d702b-8cee-40c0-9c6a-968797fd9a7d.html" target="element"> Regjeringens strategi for EU-samarbeid </a> </td>
													    <td> <a href="../elements/265d702b-8cee-40c0-9c6a-968797fd9a7d.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/05673041-1cfb-4ef9-b70a-e7dfa992ece8.html" target="element"> Leveranser </a> </td>
											    <td> <a href="../elements/05673041-1cfb-4ef9-b70a-e7dfa992ece8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8747d20e-63b5-477e-b1e9-fe4177513dcd.html" target="element"> Stortingsmelding om innovasjon i offentlig sektor </a> </td>
													    <td> <a href="../elements/8747d20e-63b5-477e-b1e9-fe4177513dcd.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ae71985a-594a-49e6-a323-2d3fb486d68d.html" target="element"> R&#229;dgivning om arbeidsrettslige omstillinger </a> </td>
													    <td> <a href="../elements/ae71985a-594a-49e6-a323-2d3fb486d68d.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9c9854ca-196a-4c99-9199-523f1a0962ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c9854ca-196a-4c99-9199-523f1a0962ec.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html" target="element"> Oppf&#248;lging av NFDs melding om offentlige anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0c7c355-463a-4737-9a8e-25ba7fe2d555.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0c7c355-463a-4737-9a8e-25ba7fe2d555.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html" target="element"> Bist&#229; KMD i arbeidet med stortingsmelding om innovasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3a20a2d-d03b-4c19-b975-a3945e0b3f86.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3a20a2d-d03b-4c19-b975-a3945e0b3f86.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/9d990755-69a2-4282-b491-c9155c867b2e.html" target="element"> Fokus p&#229; informasjons-forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea4c2f11-ae9e-4143-b9fa-8465fed73c13.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea4c2f11-ae9e-4143-b9fa-8465fed73c13.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/060a90b9-b624-423f-86da-e03855ba9fba.html" target="element"> Forberede markedsplass for skytjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/65aaeb4d-007f-4561-80fb-45e605fa7de2.html" target="element">  </a> </td>
																		<td> <a href="../elements/65aaeb4d-007f-4561-80fb-45e605fa7de2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/be2faec0-b76b-4442-969c-bcb1d2a02128.html" target="element"> Fokus p&#229; gjenbruk og viderebruk av data  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/041932df-f5ef-463a-8032-5a8c0ec76b20.html" target="element">  </a> </td>
																		<td> <a href="../elements/041932df-f5ef-463a-8032-5a8c0ec76b20.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/f11acc6b-1a34-4806-8986-5eb25413dbca.html" target="element"> Videreutvikling av arbeidsgiverst&#248;tten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bae219f2-3008-4468-8e6d-128c554f7495.html" target="element">  </a> </td>
																		<td> <a href="../elements/bae219f2-3008-4468-8e6d-128c554f7495.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d1952a8f-ff86-45de-a267-1ebb7734b229.html" target="element"> Prioriterte aktiviteter for Difi i 2019 </a> </td>
																		<td> <a href="../elements/4223382b-c8a6-4fba-ac81-8cf6fd85902c.html" target="element"> St&#248;tte virksomhetene i regjeringens inkluderingsdugnad </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/35b32dfb-1d2d-4d1d-ab71-d28af94d9fb3.html" target="element">  </a> </td>
																				<td> <a href="../elements/35b32dfb-1d2d-4d1d-ab71-d28af94d9fb3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html" target="element"> Oppf&#248;lging av NFDs melding om offentlige anskaffelser </a> </td>
																				<td> <a href="../elements/b01469e8-8230-44ad-9239-f6bb05caa7cb.html" target="element"> NFDs melding om offentlige anskaffelser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a7e17ed7-3ce5-4cf3-a792-e9ebf89d8277.html" target="element">  </a> </td>
																				<td> <a href="../elements/a7e17ed7-3ce5-4cf3-a792-e9ebf89d8277.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html" target="element"> Bist&#229; KMD i arbeidet med stortingsmelding om innovasjon </a> </td>
																				<td> <a href="../elements/8747d20e-63b5-477e-b1e9-fe4177513dcd.html" target="element"> Stortingsmelding om innovasjon i offentlig sektor </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a9e9c372-9a6f-4fde-99cc-72f44a1d890e.html" target="element">  </a> </td>
																				<td> <a href="../elements/a9e9c372-9a6f-4fde-99cc-72f44a1d890e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f11acc6b-1a34-4806-8986-5eb25413dbca.html" target="element"> Videreutvikling av arbeidsgiverst&#248;tten </a> </td>
																				<td> <a href="../elements/ae71985a-594a-49e6-a323-2d3fb486d68d.html" target="element"> R&#229;dgivning om arbeidsrettslige omstillinger </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a1b63ad1-eb73-4b5d-868d-0b8e4d0b09ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/a1b63ad1-eb73-4b5d-868d-0b8e4d0b09ec.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4223382b-c8a6-4fba-ac81-8cf6fd85902c.html" target="element"> St&#248;tte virksomhetene i regjeringens inkluderingsdugnad </a> </td>
																				<td> <a href="../elements/f400c07a-c7ec-43e1-926e-92afc75ea2f4.html" target="element"> Regjeringens inkluderings-dugnad </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5a8b1d2d-7ba1-49bd-997b-b46404e02b75.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a8b1d2d-7ba1-49bd-997b-b46404e02b75.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c060ae7a-c49b-4367-823c-9e2cb7934243.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/f400c07a-c7ec-43e1-926e-92afc75ea2f4.html" target="element"> Regjeringens inkluderings-dugnad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6cda32e4-d2dd-42ca-be78-84912582165f.html" target="element">  </a> </td>
																		<td> <a href="../elements/6cda32e4-d2dd-42ca-be78-84912582165f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c060ae7a-c49b-4367-823c-9e2cb7934243.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/b01469e8-8230-44ad-9239-f6bb05caa7cb.html" target="element"> NFDs melding om offentlige anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d133b637-756c-447e-9765-cf0d7182a13a.html" target="element">  </a> </td>
																		<td> <a href="../elements/d133b637-756c-447e-9765-cf0d7182a13a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c060ae7a-c49b-4367-823c-9e2cb7934243.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/265d702b-8cee-40c0-9c6a-968797fd9a7d.html" target="element"> Regjeringens strategi for EU-samarbeid </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/293a0886-c0c6-47ad-922a-eb8849501852.html" target="element">  </a> </td>
																		<td> <a href="../elements/293a0886-c0c6-47ad-922a-eb8849501852.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/05673041-1cfb-4ef9-b70a-e7dfa992ece8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/8747d20e-63b5-477e-b1e9-fe4177513dcd.html" target="element"> Stortingsmelding om innovasjon i offentlig sektor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c032b60-1d3f-4904-94d6-97f7668646e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c032b60-1d3f-4904-94d6-97f7668646e2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/05673041-1cfb-4ef9-b70a-e7dfa992ece8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/ae71985a-594a-49e6-a323-2d3fb486d68d.html" target="element"> R&#229;dgivning om arbeidsrettslige omstillinger </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>