<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Få tilgang til API - løsningsmønster</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>F&#229; tilgang til API - l&#248;sningsm&#248;nster</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/32191953-d527-4b27-8a58-b8ec5fd93660.png" alt="Få tilgang til API - løsningsmønster" usemap="#32191953-d527-4b27-8a58-b8ec5fd93660map"/>
			   <map name="32191953-d527-4b27-8a58-b8ec5fd93660map">
				  		<area shape="rect" coords="10,36,143,106" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">
				  		<area shape="rect" coords="574,262,707,332" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  		<area shape="rect" coords="574,166,707,236" href="../elements/7e04dd29-d1b6-420b-96cb-d26eaf784083.html"  target="element">
				  				<area shape="rect" coords="574,46,707,116" href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html"  target="element">
				  				<area shape="rect" coords="202,46,335,116" href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html"  target="element">
				  				<area shape="rect" coords="394,46,527,116" href="../elements/50847a53-cf38-4f78-a767-123f2bb511fe.html"  target="element">

				  		<area shape="rect" coords="178,10,731,131" href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html"  target="element">
				  		<area shape="rect" coords="202,166,335,236" href="../elements/e5f1a013-b7de-4d9d-8d6d-108bd6323663.html"  target="element">
				  		<area shape="rect" coords="202,262,335,332" href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Tjeneste for &#229; registrere og vedlikeholde API-definisjoner og scopes i Maskinporten.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
											    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e04dd29-d1b6-420b-96cb-d26eaf784083.html" target="element"> Selvbetjeningstjeneste for administrasjon av integrasjoner og API-er </a> </td>
											    <td> <a href="../elements/7e04dd29-d1b6-420b-96cb-d26eaf784083.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td>
											    <td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
													    <td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td>
													    <td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/50847a53-cf38-4f78-a767-123f2bb511fe.html" target="element"> Inng&#229; avtale om tilgang til data  med tilbyder </a> </td>
													    <td> <a href="../elements/50847a53-cf38-4f78-a767-123f2bb511fe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e5f1a013-b7de-4d9d-8d6d-108bd6323663.html" target="element"> S&#248;k i API-katalogen </a> </td>
											    <td> <a href="../elements/e5f1a013-b7de-4d9d-8d6d-108bd6323663.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element"> Felles API-katalog </a> </td>
											    <td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ab360343-69c4-4003-a6e4-1e76182018da.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab360343-69c4-4003-a6e4-1e76182018da.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																		<td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1d273cf-2eb4-4a25-b5fb-13fc48a0a83a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1d273cf-2eb4-4a25-b5fb-13fc48a0a83a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																		<td> <a href="../elements/7e04dd29-d1b6-420b-96cb-d26eaf784083.html" target="element"> Selvbetjeningstjeneste for administrasjon av integrasjoner og API-er </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4ccf1511-3c19-4c82-abb5-61bc667da976.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ccf1511-3c19-4c82-abb5-61bc667da976.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/7e04dd29-d1b6-420b-96cb-d26eaf784083.html" target="element"> Selvbetjeningstjeneste for administrasjon av integrasjoner og API-er </a> </td>
																		<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0249e114-c144-4f6b-8c93-3f65f9368da5.html" target="element">  </a> </td>
																				<td> <a href="../elements/0249e114-c144-4f6b-8c93-3f65f9368da5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td>
																				<td> <a href="../elements/50847a53-cf38-4f78-a767-123f2bb511fe.html" target="element"> Inng&#229; avtale om tilgang til data  med tilbyder </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/957d4b48-4135-484e-aef3-c0e26150b85f.html" target="element">  </a> </td>
																				<td> <a href="../elements/957d4b48-4135-484e-aef3-c0e26150b85f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/50847a53-cf38-4f78-a767-123f2bb511fe.html" target="element"> Inng&#229; avtale om tilgang til data  med tilbyder </a> </td>
																				<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c507b78d-ba94-4842-8e11-53a4fc8c5189.html" target="element">  </a> </td>
																		<td> <a href="../elements/c507b78d-ba94-4842-8e11-53a4fc8c5189.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e5f1a013-b7de-4d9d-8d6d-108bd6323663.html" target="element"> S&#248;k i API-katalogen </a> </td>
																		<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b2014379-69f9-42f3-8eed-bd4f5810af5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2014379-69f9-42f3-8eed-bd4f5810af5a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element"> Felles API-katalog </a> </td>
																		<td> <a href="../elements/e5f1a013-b7de-4d9d-8d6d-108bd6323663.html" target="element"> S&#248;k i API-katalogen </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>