<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Inngangsport - eOppslag</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Inngangsport - eOppslag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/32438653-d7e7-4fd7-afce-f8bca8ea39c1.png" alt="Inngangsport - eOppslag" usemap="#32438653-d7e7-4fd7-afce-f8bca8ea39c1map"/>
			   <map name="32438653-d7e7-4fd7-afce-f8bca8ea39c1map">
				  		<area shape="rect" coords="802,142,935,212" href="../views/65254811-97bc-4c11-b5c2-2fda4c4dc3fe.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="802,286,935,356" href="../views/6a46c6d0-64eb-43d4-97f3-2a94516c2211.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="178,142,311,212" href="../views/6c5a004d-da35-4fce-b38d-4b09d1167201.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,142,167,212" href="../views/0134474e-0b53-4b7c-b4e2-cf2f2e957616.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="466,142,599,212" href="../views/4742dd13-f1fe-4e78-80a8-80929a62efb9.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="322,142,455,212" href="../views/7ad70658-c174-4da3-95e1-b0628688bcc1.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="610,142,743,212" href="../views/c993199e-3879-4f72-967d-4339159f6641.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="10,106,767,227" href="../elements/25baef67-561f-4f62-ac0a-4f5e01bfa31d.html"  target="element">
				  				<area shape="rect" coords="34,286,167,356" href="../views/80c1baa6-55d8-4434-ab14-55e2d0afa827.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="178,286,311,356" href="../views/32191953-d527-4b27-8a58-b8ec5fd93660.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="322,286,455,356" href="../views/3d9dcb59-8e6e-4f2d-aee7-c729dea4f53f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="466,286,599,356" href="../views/8d72be4b-7e31-438d-9990-c2c3f38f551e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="610,286,743,356" href="../views/5a43e372-cf45-491f-a5e9-514d83e1e259.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="10,250,767,371" href="../elements/5952cad8-f5fa-42ca-82c1-dd326ee7d186.html"  target="element">
				  		<area shape="rect" coords="34,10,167,80" href="../views/7f73ac9d-7f72-4fa6-be95-d4099ea6d915.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/65254811-97bc-4c11-b5c2-2fda4c4dc3fe.html" target="view"> Mal for modelller, eOppslag arkitekturmønstre </a> </td>
											    <td> <a href="../views/65254811-97bc-4c11-b5c2-2fda4c4dc3fe.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/6a46c6d0-64eb-43d4-97f3-2a94516c2211.html" target="view"> Mal for modeller, eOppslag løsningsmønstre </a> </td>
											    <td> <a href="../views/6a46c6d0-64eb-43d4-97f3-2a94516c2211.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/25baef67-561f-4f62-ac0a-4f5e01bfa31d.html" target="element"> eOppslag arkitekturm&#248;nstre </a> </td>
											    <td> <a href="../elements/25baef67-561f-4f62-ac0a-4f5e01bfa31d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/6c5a004d-da35-4fce-b38d-4b09d1167201.html" target="view"> Få tilgang til API - arkitekturmønster </a> </td>
													    <td> <a href="../views/6c5a004d-da35-4fce-b38d-4b09d1167201.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/0134474e-0b53-4b7c-b4e2-cf2f2e957616.html" target="view"> Tilgjengeliggjøre API - arkitekturmønster </a> </td>
													    <td> <a href="../views/0134474e-0b53-4b7c-b4e2-cf2f2e957616.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/4742dd13-f1fe-4e78-80a8-80929a62efb9.html" target="view"> Slå opp data gjennom et API - arkitekturmønster </a> </td>
													    <td> <a href="../views/4742dd13-f1fe-4e78-80a8-80929a62efb9.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/7ad70658-c174-4da3-95e1-b0628688bcc1.html" target="view"> Delegere rettigheter til databehandler - arkitekturmønster </a> </td>
													    <td> <a href="../views/7ad70658-c174-4da3-95e1-b0628688bcc1.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/c993199e-3879-4f72-967d-4339159f6641.html" target="view"> Avgi forespurte data gjennom API - arkitekturmønster </a> </td>
													    <td> <a href="../views/c993199e-3879-4f72-967d-4339159f6641.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/5952cad8-f5fa-42ca-82c1-dd326ee7d186.html" target="element"> eOppslag l&#248;sningsm&#248;nstre </a> </td>
											    <td> <a href="../elements/5952cad8-f5fa-42ca-82c1-dd326ee7d186.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/80c1baa6-55d8-4434-ab14-55e2d0afa827.html" target="view"> Tilgjengeliggjøre API - løsningsmønster </a> </td>
													    <td> <a href="../views/80c1baa6-55d8-4434-ab14-55e2d0afa827.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/32191953-d527-4b27-8a58-b8ec5fd93660.html" target="view"> Få tilgang til API - løsningsmønster </a> </td>
													    <td> <a href="../views/32191953-d527-4b27-8a58-b8ec5fd93660.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/3d9dcb59-8e6e-4f2d-aee7-c729dea4f53f.html" target="view"> Delegere rettigheter til databehandler - løsningsmønster </a> </td>
													    <td> <a href="../views/3d9dcb59-8e6e-4f2d-aee7-c729dea4f53f.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/8d72be4b-7e31-438d-9990-c2c3f38f551e.html" target="view"> Slå opp data gjennom et API - løsningsmønster </a> </td>
													    <td> <a href="../views/8d72be4b-7e31-438d-9990-c2c3f38f551e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/5a43e372-cf45-491f-a5e9-514d83e1e259.html" target="view"> Avgi forespurte data gjennom API - løsningsmønster </a> </td>
													    <td> <a href="../views/5a43e372-cf45-491f-a5e9-514d83e1e259.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../views/7f73ac9d-7f72-4fa6-be95-d4099ea6d915.html" target="view"> eOppslag - relevante kapabiliteter </a> </td>
											    <td> <a href="../views/7f73ac9d-7f72-4fa6-be95-d4099ea6d915.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>