<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Område deling på forespørsel sammenheng</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Omr&#229;de deling p&#229; foresp&#248;rsel sammenheng</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/38e8b64f-221a-4e89-b40e-1006a04b1fad.png" alt="Område deling på forespørsel sammenheng" usemap="#38e8b64f-221a-4e89-b40e-1006a04b1fadmap"/>
			   <map name="38e8b64f-221a-4e89-b40e-1006a04b1fadmap">
				  		<area shape="rect" coords="442,346,572,406" href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html"  target="element">
				  				<area shape="rect" coords="226,142,359,209" href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html"  target="element">
				  				<area shape="rect" coords="226,238,359,305" href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html"  target="element">
				  				<area shape="rect" coords="226,334,359,401" href="../elements/ed3ff89b-dc61-44a3-b2c4-caf41a7902fd.html"  target="element">
				  				<area shape="rect" coords="226,46,359,113" href="../elements/3be19d46-fd81-44bd-9b31-6b754cfd2428.html"  target="element">

				  		<area shape="rect" coords="202,10,383,418" href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html"  target="element">
				  				<area shape="rect" coords="646,46,779,113" href="../elements/940cfde5-ee6b-4011-80cb-1f2df1a011f7.html"  target="element">
				  				<area shape="rect" coords="646,142,779,209" href="../elements/75907321-192e-4ce8-bae6-618949eec4e1.html"  target="element">
				  				<area shape="rect" coords="646,238,779,305" href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html"  target="element">
				  				<area shape="rect" coords="646,334,779,401" href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html"  target="element">

				  		<area shape="rect" coords="622,10,803,418" href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html"  target="element">
				  		<area shape="rect" coords="440,450,573,517" href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html"  target="element">
				  		<area shape="rect" coords="10,335,140,395" href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html"  target="element">
				  		<area shape="rect" coords="874,335,1004,395" href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html"  target="element">
				  		<area shape="rect" coords="226,450,359,517" href="../elements/fc42fbab-a713-498e-ad21-63ab086472db.html"  target="element">
				  		<area shape="rect" coords="440,238,573,305" href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html"  target="element">
				  		<area shape="rect" coords="658,453,779,514" href="../elements/1267d06c-e08e-4e7e-99e0-137fa1feaecd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
											    <td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
											    <td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data                   </a> </td>
													    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html" target="element"> Avgi forespurte data umiddelbart </a> </td>
													    <td> <a href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ed3ff89b-dc61-44a3-b2c4-caf41a7902fd.html" target="element"> Avgi data synkront via API </a> </td>
													    <td> <a href="../elements/ed3ff89b-dc61-44a3-b2c4-caf41a7902fd.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3be19d46-fd81-44bd-9b31-6b754cfd2428.html" target="element"> Avgi data </a> </td>
													    <td> <a href="../elements/3be19d46-fd81-44bd-9b31-6b754cfd2428.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
											    <td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/940cfde5-ee6b-4011-80cb-1f2df1a011f7.html" target="element"> Framskaffe data </a> </td>
													    <td> <a href="../elements/940cfde5-ee6b-4011-80cb-1f2df1a011f7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/75907321-192e-4ce8-bae6-618949eec4e1.html" target="element"> Framskaffe data umiddelbart </a> </td>
													    <td> <a href="../elements/75907321-192e-4ce8-bae6-618949eec4e1.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html" target="element"> Foresp&#248;rre data med krav til umiddelbar respons </a> </td>
													    <td> <a href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element"> Sl&#229; opp data gjennom synkront API-kall </a> </td>
													    <td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
											    <td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fc42fbab-a713-498e-ad21-63ab086472db.html" target="element"> Kvalitetsegenskaper </a> </td>
											    <td> <a href="../elements/fc42fbab-a713-498e-ad21-63ab086472db.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
											    <td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1267d06c-e08e-4e7e-99e0-137fa1feaecd.html" target="element"> Kvalitetskrav </a> </td>
											    <td> <a href="../elements/1267d06c-e08e-4e7e-99e0-137fa1feaecd.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9d43c80f-59d4-419e-85b7-d2cf48810699.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d43c80f-59d4-419e-85b7-d2cf48810699.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
																		<td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element"> Sl&#229; opp data gjennom synkront API-kall </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/641c6ac6-4b41-43a5-843c-5afaeb636b6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/641c6ac6-4b41-43a5-843c-5afaeb636b6a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
																		<td> <a href="../elements/ed3ff89b-dc61-44a3-b2c4-caf41a7902fd.html" target="element"> Avgi data synkront via API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7118a94e-ba86-4301-880e-66d71c8427bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/7118a94e-ba86-4301-880e-66d71c8427bc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
																		<td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81a904c7-0692-4927-95be-e236a1048522.html" target="element">  </a> </td>
																		<td> <a href="../elements/81a904c7-0692-4927-95be-e236a1048522.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
																		<td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/df041cf1-5f31-460c-92e4-e03067c268e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/df041cf1-5f31-460c-92e4-e03067c268e9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
																		<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data                   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e16cb77-b44c-47fb-a186-07110c3ff3f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e16cb77-b44c-47fb-a186-07110c3ff3f9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
																		<td> <a href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html" target="element"> Avgi forespurte data umiddelbart </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4689ce83-b557-4094-86bb-9e2014c95d33.html" target="element">  </a> </td>
																		<td> <a href="../elements/4689ce83-b557-4094-86bb-9e2014c95d33.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
																		<td> <a href="../elements/ed3ff89b-dc61-44a3-b2c4-caf41a7902fd.html" target="element"> Avgi data synkront via API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b32e0caf-9d61-4956-9a03-d7ae71858147.html" target="element">  </a> </td>
																		<td> <a href="../elements/b32e0caf-9d61-4956-9a03-d7ae71858147.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
																		<td> <a href="../elements/3be19d46-fd81-44bd-9b31-6b754cfd2428.html" target="element"> Avgi data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/394703a4-357d-4cb4-989d-6f9eed4bca7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/394703a4-357d-4cb4-989d-6f9eed4bca7f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data                   </a> </td>
																				<td> <a href="../elements/3be19d46-fd81-44bd-9b31-6b754cfd2428.html" target="element"> Avgi data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/29b7f5d4-7ba4-46b6-8f6f-95d4174d1a0d.html" target="element">  </a> </td>
																				<td> <a href="../elements/29b7f5d4-7ba4-46b6-8f6f-95d4174d1a0d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html" target="element"> Avgi forespurte data umiddelbart </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data                   </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/24c66fbf-5ccb-4348-b95f-09bb015c590b.html" target="element">  </a> </td>
																				<td> <a href="../elements/24c66fbf-5ccb-4348-b95f-09bb015c590b.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/ed3ff89b-dc61-44a3-b2c4-caf41a7902fd.html" target="element"> Avgi data synkront via API </a> </td>
																				<td> <a href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html" target="element"> Avgi forespurte data umiddelbart </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/90ea8003-bc0a-4380-9d14-39840898e44b.html" target="element">  </a> </td>
																		<td> <a href="../elements/90ea8003-bc0a-4380-9d14-39840898e44b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
																		<td> <a href="../elements/75907321-192e-4ce8-bae6-618949eec4e1.html" target="element"> Framskaffe data umiddelbart </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c1a2ae44-dd29-4016-94ae-f642d3c2a214.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1a2ae44-dd29-4016-94ae-f642d3c2a214.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
																		<td> <a href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html" target="element"> Foresp&#248;rre data med krav til umiddelbar respons </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/58acae64-13a2-435c-895d-0801e2eeda4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/58acae64-13a2-435c-895d-0801e2eeda4c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
																		<td> <a href="../elements/940cfde5-ee6b-4011-80cb-1f2df1a011f7.html" target="element"> Framskaffe data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eeaf7ef8-bf52-4576-ad67-25e306a9d081.html" target="element">  </a> </td>
																		<td> <a href="../elements/eeaf7ef8-bf52-4576-ad67-25e306a9d081.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
																		<td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element"> Sl&#229; opp data gjennom synkront API-kall </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b946f44c-7fda-41ac-8174-3091ed77f24d.html" target="element">  </a> </td>
																				<td> <a href="../elements/b946f44c-7fda-41ac-8174-3091ed77f24d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/75907321-192e-4ce8-bae6-618949eec4e1.html" target="element"> Framskaffe data umiddelbart </a> </td>
																				<td> <a href="../elements/940cfde5-ee6b-4011-80cb-1f2df1a011f7.html" target="element"> Framskaffe data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/37015d6d-749b-4585-8d6d-e7c037a4a361.html" target="element">  </a> </td>
																				<td> <a href="../elements/37015d6d-749b-4585-8d6d-e7c037a4a361.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html" target="element"> Foresp&#248;rre data med krav til umiddelbar respons </a> </td>
																				<td> <a href="../elements/75907321-192e-4ce8-bae6-618949eec4e1.html" target="element"> Framskaffe data umiddelbart </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4c068d0f-8422-4031-96f8-3e9e63ed5118.html" target="element">  </a> </td>
																				<td> <a href="../elements/4c068d0f-8422-4031-96f8-3e9e63ed5118.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element"> Sl&#229; opp data gjennom synkront API-kall </a> </td>
																				<td> <a href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html" target="element"> Foresp&#248;rre data med krav til umiddelbar respons </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/57606062-54e2-45a5-ae95-28b94e434507.html" target="element">  </a> </td>
																		<td> <a href="../elements/57606062-54e2-45a5-ae95-28b94e434507.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7e6e9be8-28de-4d8e-b4ee-15c34d91a807.html" target="element">  </a> </td>
																		<td> <a href="../elements/7e6e9be8-28de-4d8e-b4ee-15c34d91a807.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a2b7167-dadb-4a44-ae99-ae16e4d7062d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a2b7167-dadb-4a44-ae99-ae16e4d7062d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fc42fbab-a713-498e-ad21-63ab086472db.html" target="element"> Kvalitetsegenskaper </a> </td>
																		<td> <a href="../elements/c888638e-c9e8-4b75-9c61-b9104c7bef55.html" target="element"> Avgi data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/731c19e0-fc89-4f71-8000-0fc88e058a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/731c19e0-fc89-4f71-8000-0fc88e058a9e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fc42fbab-a713-498e-ad21-63ab086472db.html" target="element"> Kvalitetsegenskaper </a> </td>
																		<td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9591ae22-ab35-4fee-b002-3df76098f534.html" target="element">  </a> </td>
																		<td> <a href="../elements/9591ae22-ab35-4fee-b002-3df76098f534.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																		<td> <a href="../elements/a1343c91-8ca6-469e-8eb9-0d2481945cd6.html" target="element"> Avgi forespurte data umiddelbart </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1133dcd2-1983-486e-a1d3-e0f61aad672b.html" target="element">  </a> </td>
																		<td> <a href="../elements/1133dcd2-1983-486e-a1d3-e0f61aad672b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																		<td> <a href="../elements/8c80559f-8cee-475e-b3c9-7c02eceadbeb.html" target="element"> Foresp&#248;rre data med krav til umiddelbar respons </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28e487bf-c248-4cd6-9608-0911fe42c470.html" target="element">  </a> </td>
																		<td> <a href="../elements/28e487bf-c248-4cd6-9608-0911fe42c470.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1267d06c-e08e-4e7e-99e0-137fa1feaecd.html" target="element"> Kvalitetskrav </a> </td>
																		<td> <a href="../elements/ee009e28-443e-4a5d-b593-996d5765adc4.html" target="element"> Framskaffe data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2026f5fa-3965-4a67-8c88-288899b90c9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/2026f5fa-3965-4a67-8c88-288899b90c9b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1267d06c-e08e-4e7e-99e0-137fa1feaecd.html" target="element"> Kvalitetskrav </a> </td>
																		<td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>