<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Inngangsport - kapabilitetskart</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Inngangsport - kapabilitetskart</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/451e75e5-4044-4a94-933f-d681c6124661.png" alt="Inngangsport - kapabilitetskart" usemap="#451e75e5-4044-4a94-933f-d681c6124661map"/>
			   <map name="451e75e5-4044-4a94-933f-d681c6124661map">
				  		<area shape="rect" coords="166,80,299,151" href="../views/64a33b8c-e813-456c-ab40-ff412c0b41b9.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,143,81" href="../views/af4f3ec7-18d1-4b65-b624-8014a9241521.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="970,440,1103,511" href="../views/4b722aae-1323-46b0-bcac-e730d418b190.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="802,596,935,667" href="../views/7f3e609c-c161-4c92-a35f-c2aa46cbbb64.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="802,392,935,463" href="../views/343a5bff-aa2d-44ad-bde1-a693abc0c597.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="802,500,935,571" href="../views/32ed6ad4-a9aa-4685-8ef1-6b7e6a4b0ccf.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="682,284,815,355" href="../views/3a09ea27-abd6-4651-8146-443c8a58c2d3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,214,479,285" href="../views/82cf2520-5d0f-4b6a-8f6f-8730d4ae9185.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="166,176,299,247" href="../views/f76132f1-7845-4248-9c00-9040a63eabb1.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Inngangsport - kapabilitetskart</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/f76132f1-7845-4248-9c00-9040a63eabb1.html" target="view"> Prioriterte temaer innen datadeling (2019) </a> </td>
											    <td> <a href="../views/f76132f1-7845-4248-9c00-9040a63eabb1.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/82cf2520-5d0f-4b6a-8f6f-8730d4ae9185.html" target="view"> Kapabilitetsområder, datadeling, gammel </a> </td>
											    <td> <a href="../views/82cf2520-5d0f-4b6a-8f6f-8730d4ae9185.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/3a09ea27-abd6-4651-8146-443c8a58c2d3.html" target="view"> Kapabiliteter datautveksling, overordnet </a> </td>
											    <td> <a href="../views/3a09ea27-abd6-4651-8146-443c8a58c2d3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/32ed6ad4-a9aa-4685-8ef1-6b7e6a4b0ccf.html" target="view"> Kapabiliteter, datautveksling, forsendelse </a> </td>
											    <td> <a href="../views/32ed6ad4-a9aa-4685-8ef1-6b7e6a4b0ccf.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/343a5bff-aa2d-44ad-bde1-a693abc0c597.html" target="view"> Kapabiliteter, datautveksling, forespørsel, overordnet </a> </td>
											    <td> <a href="../views/343a5bff-aa2d-44ad-bde1-a693abc0c597.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/7f3e609c-c161-4c92-a35f-c2aa46cbbb64.html" target="view"> Kapabiliteter, datautveksling, publisering </a> </td>
											    <td> <a href="../views/7f3e609c-c161-4c92-a35f-c2aa46cbbb64.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/4b722aae-1323-46b0-bcac-e730d418b190.html" target="view"> Kapabiliteter, datautveksling, forespørsel, detaljert </a> </td>
											    <td> <a href="../views/4b722aae-1323-46b0-bcac-e730d418b190.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/af4f3ec7-18d1-4b65-b624-8014a9241521.html" target="view"> Kapabilitetskart for offentlig sektor, nivå 1 </a> </td>
											    <td> <a href="../views/af4f3ec7-18d1-4b65-b624-8014a9241521.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/64a33b8c-e813-456c-ab40-ff412c0b41b9.html" target="view"> Fokusområder innen nasjonal arkitektur (overordnet) </a> </td>
											    <td> <a href="../views/64a33b8c-e813-456c-ab40-ff412c0b41b9.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>