<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kapabiliteter, datautveksling, forespørsel, detaljert</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kapabiliteter, datautveksling, foresp&#248;rsel, detaljert</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4b722aae-1323-46b0-bcac-e730d418b190.png" alt="Kapabiliteter, datautveksling, forespørsel, detaljert" usemap="#4b722aae-1323-46b0-bcac-e730d418b190map"/>
			   <map name="4b722aae-1323-46b0-bcac-e730d418b190map">
				  		<area shape="rect" coords="646,144,779,214" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">
				  		<area shape="rect" coords="10,144,143,214" href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html"  target="element">
				  						<area shape="rect" coords="214,82,347,152" href="../elements/eecb9abf-d38f-48b3-92fc-2e91c1f73274.html"  target="element">
				  						<area shape="rect" coords="214,166,347,236" href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html"  target="element">

				  				<area shape="rect" coords="190,46,371,251" href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html"  target="element">
				  						<area shape="rect" coords="440,166,573,236" href="../elements/7348153c-efca-49c8-9618-d294acc73880.html"  target="element">
				  						<area shape="rect" coords="440,82,573,152" href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html"  target="element">
				  						<area shape="rect" coords="440,250,573,320" href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html"  target="element">

				  				<area shape="rect" coords="406,46,596,335" href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html"  target="element">

				  		<area shape="rect" coords="166,10,623,347" href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Akt&#248;r som sender en melding</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
											    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
											    <td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
													    <td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/eecb9abf-d38f-48b3-92fc-2e91c1f73274.html" target="element"> Tilgjengeliggj&#248;re API </a> </td>
															    <td> <a href="../elements/eecb9abf-d38f-48b3-92fc-2e91c1f73274.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data                   </a> </td>
															    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
													    <td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7348153c-efca-49c8-9618-d294acc73880.html" target="element"> Delegere rettigheter til databehandler (leverand&#248;r) </a> </td>
															    <td> <a href="../elements/7348153c-efca-49c8-9618-d294acc73880.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td>
															    <td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element"> Sl&#229; opp data gjennom synkront API-kall </a> </td>
															    <td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6fc50660-b421-4ceb-abd3-ca123e25af80.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fc50660-b421-4ceb-abd3-ca123e25af80.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																		<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d6382399-0bdb-4178-b7d5-d00853ddc2d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6382399-0bdb-4178-b7d5-d00853ddc2d5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e850bbca-9cce-4934-9fdd-4b4e9c17cab9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e850bbca-9cce-4934-9fdd-4b4e9c17cab9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
																		<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/968e3e6d-7ae6-467c-9c2c-6552c2999e26.html" target="element">  </a> </td>
																		<td> <a href="../elements/968e3e6d-7ae6-467c-9c2c-6552c2999e26.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
																		<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b7ef5c12-f6a4-429d-beae-0b6925b43c8e.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7ef5c12-f6a4-429d-beae-0b6925b43c8e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data                   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/810fa757-d331-4f6f-8ef5-d201f98d4936.html" target="element">  </a> </td>
																				<td> <a href="../elements/810fa757-d331-4f6f-8ef5-d201f98d4936.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
																				<td> <a href="../elements/eecb9abf-d38f-48b3-92fc-2e91c1f73274.html" target="element"> Tilgjengeliggj&#248;re API </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/07f45ed8-bc65-445d-a692-a706922235a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/07f45ed8-bc65-445d-a692-a706922235a3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
																				<td> <a href="../elements/cad8530f-3ec1-403f-ba65-0d0dc808c123.html" target="element"> Sl&#229; opp data gjennom synkront API-kall </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d36a64cb-c414-46c4-9872-031f4cb8e1c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/d36a64cb-c414-46c4-9872-031f4cb8e1c1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
																				<td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e6b35a49-231c-4362-aafa-bfe3825577e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/e6b35a49-231c-4362-aafa-bfe3825577e4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
																				<td> <a href="../elements/7348153c-efca-49c8-9618-d294acc73880.html" target="element"> Delegere rettigheter til databehandler (leverand&#248;r) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5382b67a-b7e1-441b-998f-0d30480b7983.html" target="element">  </a> </td>
																				<td> <a href="../elements/5382b67a-b7e1-441b-998f-0d30480b7983.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
																				<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>