<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Beslutningstre - samhandlingsmønster dataforsendelse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Beslutningstre - samhandlingsm&#248;nster dataforsendelse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4bae7b08-c470-452f-b8cc-b94a22e3d382.png" alt="Beslutningstre - samhandlingsmønster dataforsendelse" usemap="#4bae7b08-c470-452f-b8cc-b94a22e3d382map"/>
			   <map name="4bae7b08-c470-452f-b8cc-b94a22e3d382map">
				  		<area shape="rect" coords="149,14,279,74" href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html"  target="element">
				  		<area shape="rect" coords="555,14,685,74" href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html"  target="element">
				  		<area shape="rect" coords="351,10,484,77" href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html"  target="element">
				  		<area shape="rect" coords="553,111,686,178" href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html"  target="element">
				  		<area shape="rect" coords="147,111,280,178" href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html"  target="element">
				  		<area shape="rect" coords="351,111,484,178" href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html"  target="element">
				  		<area shape="rect" coords="649,215,782,282" href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html"  target="element">
				  		<area shape="rect" coords="39,215,172,282" href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html"  target="element">
				  		<area shape="rect" coords="351,213,484,280" href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html"  target="element">
				  		<area shape="rect" coords="351,531,484,598" href="../elements/693f5f7c-e03c-4c74-a286-750faa75ec4b.html"  target="element">
				  				<area shape="rect" coords="51,384,184,451" href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html"  target="element">
				  				<area shape="rect" coords="303,363,520,472" href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html"  target="element">
				  				<area shape="rect" coords="639,375,772,442" href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html"  target="element">

				  		<area shape="rect" coords="39,327,796,484" href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html"  target="element">
				  		<area shape="rect" coords="351,639,484,706" href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Beslutningstre - samhandlingsmønster dataforsendelse</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
											    <td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
											    <td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
											    <td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
											    <td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element"> Mottak av data </a> </td>
											    <td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sending av data </a> </td>
											    <td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
											    <td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/693f5f7c-e03c-4c74-a286-750faa75ec4b.html" target="element"> Asynkron melding mellom to parter </a> </td>
											    <td> <a href="../elements/693f5f7c-e03c-4c74-a286-750faa75ec4b.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
											    <td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html" target="element"> Sende data til en kjent mottaker </a> </td>
													    <td> <a href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
													    <td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html" target="element"> Motta adresserte data </a> </td>
													    <td> <a href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td>
											    <td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/464a4a3f-7e4e-4fb8-b786-e4ea0514ecb7.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/464a4a3f-7e4e-4fb8-b786-e4ea0514ecb7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7b2f834a-8187-44d2-8b8d-f28d7c2b344b.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/7b2f834a-8187-44d2-8b8d-f28d7c2b344b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1cd51512-0df1-42e5-a28f-4f3ee00f60ae.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/1cd51512-0df1-42e5-a28f-4f3ee00f60ae.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5d853d3-10c7-458c-84bb-60bb6213fe76.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/e5d853d3-10c7-458c-84bb-60bb6213fe76.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
																		<td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Konsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/38c38cb4-958f-497f-898a-9f2487455bc6.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/38c38cb4-958f-497f-898a-9f2487455bc6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d377f024-0e12-405c-ab41-8f4d7c4f833e.html" target="element"> composition </a> </td>
																		<td> <a href="../elements/d377f024-0e12-405c-ab41-8f4d7c4f833e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
																		<td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element"> Mottak av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a56ad18-2b42-40ba-beef-0b20c802d645.html" target="element"> composition </a> </td>
																		<td> <a href="../elements/6a56ad18-2b42-40ba-beef-0b20c802d645.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
																		<td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sending av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/29f0b103-997a-4dfe-9d3f-f85c408c5436.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/29f0b103-997a-4dfe-9d3f-f85c408c5436.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																		<td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4be1610d-f735-4c00-9f2f-6f1040500725.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/4be1610d-f735-4c00-9f2f-6f1040500725.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																		<td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/53a897ab-dfd5-4c87-8718-0e55f510acf5.html" target="element"> composition </a> </td>
																		<td> <a href="../elements/53a897ab-dfd5-4c87-8718-0e55f510acf5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element"> Mottak av data </a> </td>
																		<td> <a href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html" target="element"> Motta adresserte data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f1a85c3f-b636-4b2b-a74d-e3c5d4018095.html" target="element"> composition </a> </td>
																		<td> <a href="../elements/f1a85c3f-b636-4b2b-a74d-e3c5d4018095.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sending av data </a> </td>
																		<td> <a href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html" target="element"> Sende data til en kjent mottaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f9c5bd37-5444-4ddb-876b-1f0ee350df7e.html" target="element"> specialization </a> </td>
																		<td> <a href="../elements/f9c5bd37-5444-4ddb-876b-1f0ee350df7e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a10e34b-c9e3-4a2d-8144-8ef88d125225.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/3a10e34b-c9e3-4a2d-8144-8ef88d125225.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																		<td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element"> Mottak av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1561cfa6-f364-4b88-a2a6-b5e0ea683172.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/1561cfa6-f364-4b88-a2a6-b5e0ea683172.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																		<td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sending av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f7d272de-b2ac-4794-a907-03d0b5743e08.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/f7d272de-b2ac-4794-a907-03d0b5743e08.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/693f5f7c-e03c-4c74-a286-750faa75ec4b.html" target="element"> Asynkron melding mellom to parter </a> </td>
																		<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22d4275d-8cd2-4f4f-8abe-48e6466ee3ed.html" target="element"> association </a> </td>
																		<td> <a href="../elements/22d4275d-8cd2-4f4f-8abe-48e6466ee3ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
																		<td> <a href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html" target="element"> Sende data til en kjent mottaker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0a5c5441-f9c3-47e2-bb0a-90102d7d015f.html" target="element"> association </a> </td>
																		<td> <a href="../elements/0a5c5441-f9c3-47e2-bb0a-90102d7d015f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
																		<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/31764e0c-6dab-4a9a-884d-8740e9d9bffa.html" target="element"> association </a> </td>
																		<td> <a href="../elements/31764e0c-6dab-4a9a-884d-8740e9d9bffa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
																		<td> <a href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html" target="element"> Motta adresserte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3571775-38b5-4169-a569-ec91eff7213e.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/b3571775-38b5-4169-a569-ec91eff7213e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
																		<td> <a href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html" target="element"> Sende data til en kjent mottaker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e670bb73-2e5b-48d5-b406-cb0a60f640a0.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/e670bb73-2e5b-48d5-b406-cb0a60f640a0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
																		<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/926f747b-6b88-4f46-aa94-f1ddca78a02a.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/926f747b-6b88-4f46-aa94-f1ddca78a02a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/0fd99c84-a6b5-4417-a253-57d14d3171a6.html" target="element"> Kvalitetskrav m&#248;nster 1 </a> </td>
																		<td> <a href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html" target="element"> Motta adresserte data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6338f9e4-9b0a-44fc-bef6-f3cabd337a5a.html" target="element"> realization </a> </td>
																				<td> <a href="../elements/6338f9e4-9b0a-44fc-bef6-f3cabd337a5a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																				<td> <a href="../elements/b5e91436-f0fc-4906-bfee-a4b3846693a2.html" target="element"> Motta adresserte data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9c304c4c-f36e-47a9-911d-dd82b549730f.html" target="element"> realization </a> </td>
																				<td> <a href="../elements/9c304c4c-f36e-47a9-911d-dd82b549730f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																				<td> <a href="../elements/811179cd-061b-4644-9f28-878a35d7f094.html" target="element"> Sende data til en kjent mottaker </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2f457701-f6ef-455f-8a7a-f9ab3cc8e7aa.html" target="element"> specialization </a> </td>
																				<td> <a href="../elements/2f457701-f6ef-455f-8a7a-f9ab3cc8e7aa.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																				<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/a3660f7c-65e3-4b68-af6b-cf053115cb90.html" target="element"> Anbefalt l&#248;sningsm&#248;nster </a> </td>
																		<td> <a href="../elements/a3660f7c-65e3-4b68-af6b-cf053115cb90.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td>
																		<td> <a href="../elements/693f5f7c-e03c-4c74-a286-750faa75ec4b.html" target="element"> Asynkron melding mellom to parter </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>