<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kapabiliteter</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Kapabiliteter</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/4c125177-e244-4076-a5f5-11ba28b50fd4.png" alt="Kapabiliteter" usemap="#4c125177-e244-4076-a5f5-11ba28b50fd4map">
			<map name="4c125177-e244-4076-a5f5-11ba28b50fd4map">
						<area shape="rect" coords="10,10,130,65" href="../elements/55a7814a-6bc3-49b2-9e97-0dce1b24f6d9.html"  target="element">
						<area shape="rect" coords="10,87,130,142" href="../elements/34e9770e-f774-4766-b472-c3a4ffcc2b9e.html"  target="element">
						<area shape="rect" coords="10,159,130,214" href="../elements/21207707-1e58-4d6c-aae0-2e897c5e4b5d.html"  target="element">
						<area shape="rect" coords="10,231,130,310" href="../elements/df8c9c6d-00f9-4084-9695-6d364fd7889c.html"  target="element">
						<area shape="rect" coords="250,10,370,65" href="../elements/3806b1fd-0745-46d1-9498-0ca641c97726.html"  target="element">
						<area shape="rect" coords="250,94,370,149" href="../elements/6547f59a-203a-475a-a98f-1609455a1aeb.html"  target="element">
						<area shape="rect" coords="250,177,370,232" href="../elements/ae4955e7-5e5a-4e78-9b18-0c816a0d3b0c.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/55a7814a-6bc3-49b2-9e97-0dce1b24f6d9.html" target="element"> Identifisere ansatte </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/34e9770e-f774-4766-b472-c3a4ffcc2b9e.html" target="element"> Identifisere privatpersoner </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/21207707-1e58-4d6c-aae0-2e897c5e4b5d.html" target="element"> Identifisere virksomheter </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/df8c9c6d-00f9-4084-9695-6d364fd7889c.html" target="element"> Identifisere spesifikke enheter (maskiner) </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/3806b1fd-0745-46d1-9498-0ca641c97726.html" target="element"> Evne til &#229; dele data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/6547f59a-203a-475a-a98f-1609455a1aeb.html" target="element"> Sende digtial melding </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/ae4955e7-5e5a-4e78-9b18-0c816a0d3b0c.html" target="element"> Tilby data til eksterne brukere </a> </td><td class="i18n-elementtype-Capability"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>