<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Avgi forespurte data jennom API - løsningsmønster</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Avgi forespurte data jennom API - l&#248;sningsm&#248;nster</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5a43e372-cf45-491f-a5e9-514d83e1e259.png" alt="Avgi forespurte data jennom API - løsningsmønster" usemap="#5a43e372-cf45-491f-a5e9-514d83e1e259map"/>
			   <map name="5a43e372-cf45-491f-a5e9-514d83e1e259map">
				  		<area shape="rect" coords="10,36,143,106" href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html"  target="element">
				  		<area shape="rect" coords="370,262,503,332" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  		<area shape="rect" coords="370,154,503,224" href="../elements/6d908f89-0a8f-4ba1-aeb4-b3e9f27e75e6.html"  target="element">
				  				<area shape="rect" coords="538,46,671,116" href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html"  target="element">
				  				<area shape="rect" coords="370,46,503,116" href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html"  target="element">
				  				<area shape="rect" coords="202,46,335,116" href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html"  target="element">

				  		<area shape="rect" coords="178,10,695,131" href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Tjeneste som benyttes av tilbyder for &#229; validere og kontrollere autentisiteten til et OAUTH2 token fra Maskinporten.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d908f89-0a8f-4ba1-aeb4-b3e9f27e75e6.html" target="element"> Tokenvalideringstjeneste </a> </td>
											    <td> <a href="../elements/6d908f89-0a8f-4ba1-aeb4-b3e9f27e75e6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
											    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element"> Avgi data </a> </td>
													    <td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
													    <td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element"> Motta foresp&#248;rsel om oppslag </a> </td>
													    <td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b2cf4599-631a-4ea2-b105-40eddb92140b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2cf4599-631a-4ea2-b105-40eddb92140b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d76b1315-6ba9-474e-bb92-dda9819cd179.html" target="element">  </a> </td>
																		<td> <a href="../elements/d76b1315-6ba9-474e-bb92-dda9819cd179.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																		<td> <a href="../elements/6d908f89-0a8f-4ba1-aeb4-b3e9f27e75e6.html" target="element"> Tokenvalideringstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f1d60f51-7cb2-4d78-a781-bde416e0ff93.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1d60f51-7cb2-4d78-a781-bde416e0ff93.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6d908f89-0a8f-4ba1-aeb4-b3e9f27e75e6.html" target="element"> Tokenvalideringstjeneste </a> </td>
																		<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dca03c85-a47c-4ef7-97de-d5e8d938b6b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/dca03c85-a47c-4ef7-97de-d5e8d938b6b4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element"> Avgi data </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/69f88719-9710-4653-932c-cb4cf7ea3105.html" target="element">  </a> </td>
																				<td> <a href="../elements/69f88719-9710-4653-932c-cb4cf7ea3105.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/211cafda-0146-4b55-8b92-ce19c9d3b120.html" target="element">  </a> </td>
																				<td> <a href="../elements/211cafda-0146-4b55-8b92-ce19c9d3b120.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																				<td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element"> Avgi data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/98e41f7f-5e71-4339-ad33-bf8f334a825f.html" target="element">  </a> </td>
																				<td> <a href="../elements/98e41f7f-5e71-4339-ad33-bf8f334a825f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element"> Motta foresp&#248;rsel om oppslag </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ebf8d316-ae76-4f48-9978-cc101633c8d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/ebf8d316-ae76-4f48-9978-cc101633c8d9.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element"> Motta foresp&#248;rsel om oppslag </a> </td>
																				<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>