<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>samhandlingsmønstre-hierarki</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>samhandlingsm&#248;nstre-hierarki</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6405545c-28d7-4b77-ac6c-affe7092df1c.png" alt="samhandlingsmønstre-hierarki" usemap="#6405545c-28d7-4b77-ac6c-affe7092df1cmap"/>
			   <map name="6405545c-28d7-4b77-ac6c-affe7092df1cmap">
				  		<area shape="rect" coords="490,226,623,293" href="../elements/aaf28789-443e-45b2-a98d-4165c6367be1.html"  target="element">
				  		<area shape="rect" coords="82,224,215,291" href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html"  target="element">
				  		<area shape="rect" coords="862,226,995,293" href="../elements/d7422487-86ad-46fb-a7e4-45d247d0f84f.html"  target="element">
				  		<area shape="rect" coords="406,318,539,385" href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html"  target="element">
				  		<area shape="rect" coords="802,322,935,389" href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html"  target="element">
				  		<area shape="rect" coords="946,322,1079,389" href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html"  target="element">
				  		<area shape="rect" coords="574,318,707,385" href="../elements/9f1a8d83-950b-4c73-86d5-f349f79d9752.html"  target="element">
				  		<area shape="rect" coords="262,14,395,81" href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html"  target="element">
				  		<area shape="rect" coords="721,14,854,81" href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html"  target="element">
				  		<area shape="rect" coords="490,10,623,77" href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html"  target="element">
				  		<area shape="rect" coords="718,111,851,178" href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html"  target="element">
				  		<area shape="rect" coords="260,106,393,173" href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html"  target="element">
				  		<area shape="rect" coords="490,111,623,178" href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html"  target="element">
				  		<area shape="rect" coords="178,322,311,389" href="../elements/cf03136e-9eeb-4824-a6a6-fa9bacfa702c.html"  target="element">
				  		<area shape="rect" coords="10,322,143,389" href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html"  target="element">
				  		<area shape="rect" coords="1126,290,1259,357" href="../elements/f7e34799-2999-4803-b9b5-05eb8b50dc31.html"  target="element">
				  		<area shape="rect" coords="1126,370,1259,437" href="../elements/26bc875e-1e61-40be-9557-331172e55273.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/aaf28789-443e-45b2-a98d-4165c6367be1.html" target="element"> Samhandlingsm&#248;nster dataoppslag </a> </td>
											    <td> <a href="../elements/aaf28789-443e-45b2-a98d-4165c6367be1.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
											    <td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7422487-86ad-46fb-a7e4-45d247d0f84f.html" target="element"> Samhandlingsm&#248;nster varsling </a> </td>
											    <td> <a href="../elements/d7422487-86ad-46fb-a7e4-45d247d0f84f.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
											    <td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element"> 5. Notifikasjon til identifisert part (trigger prosess p&#229; tidspunkt mottaker velger)  </a> </td>
											    <td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
											    <td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9f1a8d83-950b-4c73-86d5-f349f79d9752.html" target="element"> 7. Foresp&#248;rsel om informasjon mellom to parter med ikke &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
											    <td> <a href="../elements/9f1a8d83-950b-4c73-86d5-f349f79d9752.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
											    <td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
											    <td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
											    <td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
											    <td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf03136e-9eeb-4824-a6a6-fa9bacfa702c.html" target="element"> Fire &amp; forget </a> </td>
											    <td> <a href="../elements/cf03136e-9eeb-4824-a6a6-fa9bacfa702c.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
											    <td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f7e34799-2999-4803-b9b5-05eb8b50dc31.html" target="element"> 6a. Notifikasjon til mange ukjente parter </a> </td>
											    <td> <a href="../elements/f7e34799-2999-4803-b9b5-05eb8b50dc31.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/26bc875e-1e61-40be-9557-331172e55273.html" target="element"> 6b. Notifikasjon til mange  kjenter parter </a> </td>
											    <td> <a href="../elements/26bc875e-1e61-40be-9557-331172e55273.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/92079824-cc87-4008-ba47-27ae78069903.html" target="element">  </a> </td>
																		<td> <a href="../elements/92079824-cc87-4008-ba47-27ae78069903.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/aaf28789-443e-45b2-a98d-4165c6367be1.html" target="element"> Samhandlingsm&#248;nster dataoppslag </a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f9c5bd37-5444-4ddb-876b-1f0ee350df7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9c5bd37-5444-4ddb-876b-1f0ee350df7e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e66c578a-d2a1-4ee2-950a-2ad3d650bec6.html" target="element">  </a> </td>
																		<td> <a href="../elements/e66c578a-d2a1-4ee2-950a-2ad3d650bec6.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/d7422487-86ad-46fb-a7e4-45d247d0f84f.html" target="element"> Samhandlingsm&#248;nster varsling </a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/849de9c3-78d8-4b4f-8680-20b55636cb68.html" target="element">  </a> </td>
																		<td> <a href="../elements/849de9c3-78d8-4b4f-8680-20b55636cb68.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																		<td> <a href="../elements/aaf28789-443e-45b2-a98d-4165c6367be1.html" target="element"> Samhandlingsm&#248;nster dataoppslag </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ffb20d76-e523-4aaa-b6d4-1b495ac01a4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/ffb20d76-e523-4aaa-b6d4-1b495ac01a4b.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element"> 5. Notifikasjon til identifisert part (trigger prosess p&#229; tidspunkt mottaker velger)  </a> </td>
																		<td> <a href="../elements/d7422487-86ad-46fb-a7e4-45d247d0f84f.html" target="element"> Samhandlingsm&#248;nster varsling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/601f9e54-3839-47da-a3dd-7ef4ebef8cac.html" target="element">  </a> </td>
																		<td> <a href="../elements/601f9e54-3839-47da-a3dd-7ef4ebef8cac.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
																		<td> <a href="../elements/d7422487-86ad-46fb-a7e4-45d247d0f84f.html" target="element"> Samhandlingsm&#248;nster varsling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/871f86ee-fd72-4f20-abbc-c161c48d3e2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/871f86ee-fd72-4f20-abbc-c161c48d3e2f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/9f1a8d83-950b-4c73-86d5-f349f79d9752.html" target="element"> 7. Foresp&#248;rsel om informasjon mellom to parter med ikke &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																		<td> <a href="../elements/aaf28789-443e-45b2-a98d-4165c6367be1.html" target="element"> Samhandlingsm&#248;nster dataoppslag </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/464a4a3f-7e4e-4fb8-b786-e4ea0514ecb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/464a4a3f-7e4e-4fb8-b786-e4ea0514ecb7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7b2f834a-8187-44d2-8b8d-f28d7c2b344b.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b2f834a-8187-44d2-8b8d-f28d7c2b344b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1cd51512-0df1-42e5-a28f-4f3ee00f60ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/1cd51512-0df1-42e5-a28f-4f3ee00f60ae.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
																		<td> <a href="../elements/3be95a86-53ea-4535-8256-af95e20171e2.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/38c38cb4-958f-497f-898a-9f2487455bc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/38c38cb4-958f-497f-898a-9f2487455bc6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5d853d3-10c7-458c-84bb-60bb6213fe76.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5d853d3-10c7-458c-84bb-60bb6213fe76.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2346484f-ea14-4383-8167-c179954cc08c.html" target="element"> Business Collaboration </a> </td>
																		<td> <a href="../elements/72cb513d-41ce-4910-b19a-df732d6687a3.html" target="element"> Datakonsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4be1610d-f735-4c00-9f2f-6f1040500725.html" target="element">  </a> </td>
																		<td> <a href="../elements/4be1610d-f735-4c00-9f2f-6f1040500725.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																		<td> <a href="../elements/ce408571-f5c5-4c0c-b08a-ae0ae4ce4653.html" target="element"> Evne til &#229; framskaffe data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/29f0b103-997a-4dfe-9d3f-f85c408c5436.html" target="element">  </a> </td>
																		<td> <a href="../elements/29f0b103-997a-4dfe-9d3f-f85c408c5436.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e06bbfd-0bbe-4008-8620-95c83a8db940.html" target="element"> Samhandlingsm&#248;nster, datautveksling </a> </td>
																		<td> <a href="../elements/3ecab0ef-c836-4d81-91f9-7effd3303225.html" target="element"> Evne til &#229; avgi data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3c6f78fd-912e-4f87-93a3-ea98fa9a8f3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c6f78fd-912e-4f87-93a3-ea98fa9a8f3d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/cf03136e-9eeb-4824-a6a6-fa9bacfa702c.html" target="element"> Fire &amp; forget </a> </td>
																		<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2f457701-f6ef-455f-8a7a-f9ab3cc8e7aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/2f457701-f6ef-455f-8a7a-f9ab3cc8e7aa.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 1. Garantert leveranse av informasjon til annen kjent part. Avsender skal v&#230;re trygg p&#229; at mottager f&#229;r informasjonen. Mottager beh&#248;ver ikke informasjonen umiddelbart.  </a> </td>
																		<td> <a href="../elements/8ae5f5aa-df92-4fe6-9a12-1836aeadd85a.html" target="element"> Samhandlingsm&#248;nster dataforsendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c6f61cfc-a417-4c25-a811-208a05ebd94f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6f61cfc-a417-4c25-a811-208a05ebd94f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/f7e34799-2999-4803-b9b5-05eb8b50dc31.html" target="element"> 6a. Notifikasjon til mange ukjente parter </a> </td>
																		<td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f9e58c26-3bb7-4b2c-967c-6cfc39bfe4c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9e58c26-3bb7-4b2c-967c-6cfc39bfe4c3.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/26bc875e-1e61-40be-9557-331172e55273.html" target="element"> 6b. Notifikasjon til mange  kjenter parter </a> </td>
																		<td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>