<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Forklaring av modeller, eOppslag - løsningsmønster</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Forklaring av modeller, eOppslag - l&#248;sningsm&#248;nster</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6a46c6d0-64eb-43d4-97f3-2a94516c2211.png" alt="Forklaring av modeller, eOppslag - løsningsmønster" usemap="#6a46c6d0-64eb-43d4-97f3-2a94516c2211map"/>
			   <map name="6a46c6d0-64eb-43d4-97f3-2a94516c2211map">
				  		<area shape="rect" coords="10,36,143,106" href="../elements/49b0b5a9-4f7d-4325-92e9-6eddf285ae09.html"  target="element">
				  		<area shape="rect" coords="298,286,431,356" href="../elements/4d9e5050-ecaf-4365-a8c3-3e45ade4518d.html"  target="element">
				  		<area shape="rect" coords="298,165,431,235" href="../elements/d6c7667f-18b9-463e-adfb-2baf9b5cb94b.html"  target="element">
				  		<area shape="rect" coords="70,165,203,235" href="../elements/9fcfd917-9e27-4447-a5fc-dc7517d21dc6.html"  target="element">
				  				<area shape="rect" coords="298,46,431,116" href="../elements/e13e1fcc-f913-4614-afe7-97e9f1c0d8da.html"  target="element">

				  		<area shape="rect" coords="214,10,503,131" href="../elements/0724cc02-3852-41aa-870b-ce334e099f2a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/49b0b5a9-4f7d-4325-92e9-6eddf285ae09.html" target="element"> Rolle som skal inneha kapabilitet </a> </td>
											    <td> <a href="../elements/49b0b5a9-4f7d-4325-92e9-6eddf285ae09.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d9e5050-ecaf-4365-a8c3-3e45ade4518d.html" target="element"> L&#248;snings-komponent </a> </td>
											    <td> <a href="../elements/4d9e5050-ecaf-4365-a8c3-3e45ade4518d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6c7667f-18b9-463e-adfb-2baf9b5cb94b.html" target="element"> Applikasjonstjeneste som betjener prosess </a> </td>
											    <td> <a href="../elements/d6c7667f-18b9-463e-adfb-2baf9b5cb94b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9fcfd917-9e27-4447-a5fc-dc7517d21dc6.html" target="element"> Sentrale data som inng&#229;r i bruk av tjenesten </a> </td>
											    <td> <a href="../elements/9fcfd917-9e27-4447-a5fc-dc7517d21dc6.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0724cc02-3852-41aa-870b-ce334e099f2a.html" target="element"> Kapabilitet som inng&#229;r i overordnet kapabilitet </a> </td>
											    <td> <a href="../elements/0724cc02-3852-41aa-870b-ce334e099f2a.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e13e1fcc-f913-4614-afe7-97e9f1c0d8da.html" target="element"> Prosess som realiserer kapabilitet </a> </td>
													    <td> <a href="../elements/e13e1fcc-f913-4614-afe7-97e9f1c0d8da.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/074b3f21-3642-4a66-84c5-690cb2fd2d32.html" target="element"> innehar </a> </td>
																		<td> <a href="../elements/074b3f21-3642-4a66-84c5-690cb2fd2d32.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/49b0b5a9-4f7d-4325-92e9-6eddf285ae09.html" target="element"> Rolle som skal inneha kapabilitet </a> </td>
																		<td> <a href="../elements/0724cc02-3852-41aa-870b-ce334e099f2a.html" target="element"> Kapabilitet som inng&#229;r i overordnet kapabilitet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8344e385-3a54-4eb3-a472-232294ea6c8a.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/8344e385-3a54-4eb3-a472-232294ea6c8a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4d9e5050-ecaf-4365-a8c3-3e45ade4518d.html" target="element"> L&#248;snings-komponent </a> </td>
																		<td> <a href="../elements/d6c7667f-18b9-463e-adfb-2baf9b5cb94b.html" target="element"> Applikasjonstjeneste som betjener prosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/24db9b00-ff3f-4774-9032-b56111a2056b.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/24db9b00-ff3f-4774-9032-b56111a2056b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d9e5050-ecaf-4365-a8c3-3e45ade4518d.html" target="element"> L&#248;snings-komponent </a> </td>
																		<td> <a href="../elements/9fcfd917-9e27-4447-a5fc-dc7517d21dc6.html" target="element"> Sentrale data som inng&#229;r i bruk av tjenesten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f421504b-895c-4116-a919-9f0c22a3709e.html" target="element"> leser/skriver </a> </td>
																		<td> <a href="../elements/f421504b-895c-4116-a919-9f0c22a3709e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d6c7667f-18b9-463e-adfb-2baf9b5cb94b.html" target="element"> Applikasjonstjeneste som betjener prosess </a> </td>
																		<td> <a href="../elements/9fcfd917-9e27-4447-a5fc-dc7517d21dc6.html" target="element"> Sentrale data som inng&#229;r i bruk av tjenesten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c9e8ba9-9a59-4600-b91e-11fd13d6e8f7.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/9c9e8ba9-9a59-4600-b91e-11fd13d6e8f7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/d6c7667f-18b9-463e-adfb-2baf9b5cb94b.html" target="element"> Applikasjonstjeneste som betjener prosess </a> </td>
																		<td> <a href="../elements/e13e1fcc-f913-4614-afe7-97e9f1c0d8da.html" target="element"> Prosess som realiserer kapabilitet </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/06edcb5f-3597-4873-a019-461931e6ef46.html" target="element">  </a> </td>
																				<td> <a href="../elements/06edcb5f-3597-4873-a019-461931e6ef46.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e13e1fcc-f913-4614-afe7-97e9f1c0d8da.html" target="element"> Prosess som realiserer kapabilitet </a> </td>
																				<td> <a href="../elements/0724cc02-3852-41aa-870b-ce334e099f2a.html" target="element"> Kapabilitet som inng&#229;r i overordnet kapabilitet </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>