<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Map mønstre mot kapabiliteter</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Map m&#248;nstre mot kapabiliteter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6c2d33e6-5ac8-4c4b-943f-7b3819525116.png" alt="Map mønstre mot kapabiliteter" usemap="#6c2d33e6-5ac8-4c4b-943f-7b3819525116map"/>
			   <map name="6c2d33e6-5ac8-4c4b-943f-7b3819525116map">
				  				<area shape="rect" coords="34,837,203,910" href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html"  target="element">
				  				<area shape="rect" coords="34,921,203,994" href="../elements/0c01a689-9dc3-498a-b7dc-791180f22af4.html"  target="element">
				  				<area shape="rect" coords="34,669,203,742" href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html"  target="element">
				  				<area shape="rect" coords="34,754,203,827" href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html"  target="element">

				  		<area shape="rect" coords="10,633,227,1030" href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html"  target="element">
				  				<area shape="rect" coords="274,681,443,754" href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html"  target="element">

				  		<area shape="rect" coords="250,633,467,773" href="../elements/2016cef9-87db-49f9-9b27-bebb7a5412c2.html"  target="element">
				  				<area shape="rect" coords="550,741,719,814" href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html"  target="element">
				  				<area shape="rect" coords="550,657,719,730" href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html"  target="element">

				  		<area shape="rect" coords="526,621,743,838" href="../elements/af6b12be-602a-4aba-981d-7fa95cf8aabc.html"  target="element">
				  				<area shape="rect" coords="814,789,983,873" href="../elements/4edf3a1d-fc5a-4495-896a-1b683a908d53.html"  target="element">
				  				<area shape="rect" coords="814,669,983,766" href="../elements/ba8e691d-7d39-40d7-9fc5-3dbca6058097.html"  target="element">
				  				<area shape="rect" coords="826,897,956,957" href="../elements/af0ce386-c04b-404e-ac21-2daef6b1eed3.html"  target="element">

				  		<area shape="rect" coords="790,633,1019,983" href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html"  target="element">
				  		<area shape="rect" coords="54,513,184,573" href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html"  target="element">
				  		<area shape="rect" coords="271,513,401,573" href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html"  target="element">
				  		<area shape="rect" coords="550,513,680,573" href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html"  target="element">
				  		<area shape="rect" coords="799,513,929,573" href="../elements/6f8386e6-1c37-460f-99f7-a7ca5f84fa19.html"  target="element">
				  		<area shape="rect" coords="271,303,401,363" href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html"  target="element">
				  		<area shape="rect" coords="121,164,251,224" href="../elements/b31ff1b5-60f9-423c-95da-33b8b168c8b0.html"  target="element">
				  		<area shape="rect" coords="54,358,184,418" href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html"  target="element">
				  		<area shape="rect" coords="784,10,914,70" href="../elements/e86f73f7-9317-4113-a875-e3c299255acd.html"  target="element">
				  		<area shape="rect" coords="628,10,758,70" href="../elements/aba9549c-9cd1-4fde-a7e5-bfca1ba1ef4c.html"  target="element">
				  		<area shape="rect" coords="271,135,401,195" href="../elements/9f8da00b-106e-466b-9ab7-b7017d4ab356.html"  target="element">
				  		<area shape="rect" coords="439,135,569,195" href="../elements/06325b61-d634-49d7-8df6-ca027a708405.html"  target="element">
				  		<area shape="rect" coords="735,194,865,254" href="../elements/22f5724e-2118-4739-871b-ff4d330d1736.html"  target="element">
				  		<area shape="rect" coords="735,266,865,326" href="../elements/818b5059-c38a-4f59-aa7f-6937b0442376.html"  target="element">
				  		<area shape="rect" coords="887,266,1017,326" href="../elements/f6af0e33-c8f9-402a-afc3-becd0e6ff497.html"  target="element">
				  		<area shape="rect" coords="888,193,1018,253" href="../elements/bc8e648e-8f14-4744-ab98-d156239304d1.html"  target="element">
				  		<area shape="rect" coords="798,105,928,165" href="../elements/45fe5191-b17f-43a6-a034-11462f9143c1.html"  target="element">
				  		<area shape="rect" coords="448,238,578,298" href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html"  target="element">
				  		<area shape="rect" coords="797,386,927,446" href="../elements/2dcbc600-73b0-4956-bd15-1c29bf2df1bc.html"  target="element">
				  		<area shape="rect" coords="550,303,680,363" href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html"  target="element">
				  		<area shape="rect" coords="64,253,194,313" href="../elements/1dc50c39-a4dc-4cfb-8169-630b56b1ce3d.html"  target="element">
				  		<area shape="rect" coords="628,386,758,446" href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element"> eMelding </a> </td>
											    <td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html" target="element"> 3. Oversende informasjon mellom to parter (uavhengige prosesser)  </a> </td>
													    <td> <a href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0c01a689-9dc3-498a-b7dc-791180f22af4.html" target="element"> 7. Foresp&#248;rsel om informasjon mellom to parter med ikke &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
													    <td> <a href="../elements/0c01a689-9dc3-498a-b7dc-791180f22af4.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html" target="element"> 1. Forretnings-transaksjon mellom to parter (som del av tverrg&#229;ende prosess)  </a> </td>
													    <td> <a href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html" target="element"> 2. Oversende informasjons-endring til informasjonseier  </a> </td>
													    <td> <a href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2016cef9-87db-49f9-9b27-bebb7a5412c2.html" target="element"> eOppslag </a> </td>
											    <td> <a href="../elements/2016cef9-87db-49f9-9b27-bebb7a5412c2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
													    <td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/af6b12be-602a-4aba-981d-7fa95cf8aabc.html" target="element"> eNotifikasjon </a> </td>
											    <td> <a href="../elements/af6b12be-602a-4aba-981d-7fa95cf8aabc.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
													    <td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element"> 5. Notifikasjon til identifisert part (trigger prosess p&#229; tidspunkt mottaker velger)  </a> </td>
													    <td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html" target="element"> eOppdatering </a> </td>
											    <td> <a href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4edf3a1d-fc5a-4495-896a-1b683a908d53.html" target="element"> 9. Oversende informasjonsendring til informasjonseier med &#171;umiddelbar&#187; respons  </a> </td>
													    <td> <a href="../elements/4edf3a1d-fc5a-4495-896a-1b683a908d53.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ba8e691d-7d39-40d7-9fc5-3dbca6058097.html" target="element"> 8. Forretningstransaksjon mellom to parter med &#171;umiddelbar&#187; respons (som del av tverrg&#229;ende prosess)  </a> </td>
													    <td> <a href="../elements/ba8e691d-7d39-40d7-9fc5-3dbca6058097.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/af0ce386-c04b-404e-ac21-2daef6b1eed3.html" target="element"> 10. Tilbakemelding om datakvalitet </a> </td>
													    <td> <a href="../elements/af0ce386-c04b-404e-ac21-2daef6b1eed3.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element"> Asynkron melding  med leveringsbekeftelse </a> </td>
											    <td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
											    <td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> Notifikasjon  til kjent part </a> </td>
											    <td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f8386e6-1c37-460f-99f7-a7ca5f84fa19.html" target="element"> eOppdatering </a> </td>
											    <td> <a href="../elements/6f8386e6-1c37-460f-99f7-a7ca5f84fa19.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhente data </a> </td>
											    <td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b31ff1b5-60f9-423c-95da-33b8b168c8b0.html" target="element"> Videreformidle data </a> </td>
											    <td> <a href="../elements/b31ff1b5-60f9-423c-95da-33b8b168c8b0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sende data </a> </td>
											    <td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e86f73f7-9317-4113-a875-e3c299255acd.html" target="element"> F&#229; utf&#248;rt transaksjon </a> </td>
											    <td> <a href="../elements/e86f73f7-9317-4113-a875-e3c299255acd.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aba9549c-9cd1-4fde-a7e5-bfca1ba1ef4c.html" target="element"> Igangsette transaksjon </a> </td>
											    <td> <a href="../elements/aba9549c-9cd1-4fde-a7e5-bfca1ba1ef4c.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9f8da00b-106e-466b-9ab7-b7017d4ab356.html" target="element"> Skrive data </a> </td>
											    <td> <a href="../elements/9f8da00b-106e-466b-9ab7-b7017d4ab356.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06325b61-d634-49d7-8df6-ca027a708405.html" target="element"> Lese data </a> </td>
											    <td> <a href="../elements/06325b61-d634-49d7-8df6-ca027a708405.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22f5724e-2118-4739-871b-ff4d330d1736.html" target="element"> Tolkning av data </a> </td>
											    <td> <a href="../elements/22f5724e-2118-4739-871b-ff4d330d1736.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/818b5059-c38a-4f59-aa7f-6937b0442376.html" target="element"> Sikring av data </a> </td>
											    <td> <a href="../elements/818b5059-c38a-4f59-aa7f-6937b0442376.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f6af0e33-c8f9-402a-afc3-becd0e6ff497.html" target="element"> Transformere data </a> </td>
											    <td> <a href="../elements/f6af0e33-c8f9-402a-afc3-becd0e6ff497.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc8e648e-8f14-4744-ab98-d156239304d1.html" target="element"> Lagring av data </a> </td>
											    <td> <a href="../elements/bc8e648e-8f14-4744-ab98-d156239304d1.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/45fe5191-b17f-43a6-a034-11462f9143c1.html" target="element"> Analysere data (copy) </a> </td>
											    <td> <a href="../elements/45fe5191-b17f-43a6-a034-11462f9143c1.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element"> Tilbakemelding p&#229; data </a> </td>
											    <td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2dcbc600-73b0-4956-bd15-1c29bf2df1bc.html" target="element"> Oppdatere data </a> </td>
											    <td> <a href="../elements/2dcbc600-73b0-4956-bd15-1c29bf2df1bc.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element"> Publisere data </a> </td>
											    <td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1dc50c39-a4dc-4cfb-8169-630b56b1ce3d.html" target="element"> Publisere data med tilgangsstyring </a> </td>
											    <td> <a href="../elements/1dc50c39-a4dc-4cfb-8169-630b56b1ce3d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent </a> </td>
											    <td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e4d13ec6-8525-4782-a99e-7c62c4dcd09d.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4d13ec6-8525-4782-a99e-7c62c4dcd09d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element"> eMelding </a> </td>
																		<td> <a href="../elements/0c01a689-9dc3-498a-b7dc-791180f22af4.html" target="element"> 7. Foresp&#248;rsel om informasjon mellom to parter med ikke &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8879e34e-2965-47d7-a1b4-b25867936ca0.html" target="element">  </a> </td>
																		<td> <a href="../elements/8879e34e-2965-47d7-a1b4-b25867936ca0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element"> eMelding </a> </td>
																		<td> <a href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html" target="element"> 1. Forretnings-transaksjon mellom to parter (som del av tverrg&#229;ende prosess)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0d6453bb-5c2c-4183-9b04-ff2ec18658b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d6453bb-5c2c-4183-9b04-ff2ec18658b7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element"> eMelding </a> </td>
																		<td> <a href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html" target="element"> 2. Oversende informasjons-endring til informasjonseier  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/24ab6875-1b10-44b4-a803-ce2354adccb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/24ab6875-1b10-44b4-a803-ce2354adccb9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element"> eMelding </a> </td>
																		<td> <a href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html" target="element"> 3. Oversende informasjon mellom to parter (uavhengige prosesser)  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/3c056e03-fee6-4ef6-b28a-3f5ecd0676b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c056e03-fee6-4ef6-b28a-3f5ecd0676b0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2016cef9-87db-49f9-9b27-bebb7a5412c2.html" target="element"> eOppslag </a> </td>
																		<td> <a href="../elements/57fa2c20-c7cb-4a72-98a6-cbb5bfb671a2.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4848a533-001a-45b9-9a9c-f9de2e28660b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4848a533-001a-45b9-9a9c-f9de2e28660b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/2016cef9-87db-49f9-9b27-bebb7a5412c2.html" target="element"> eOppslag </a> </td>
																		<td> <a href="../elements/b70ddc7c-d642-4b0b-a1a7-b2be2ab8b9b2.html" target="element"> Synkront API-kall </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/aa5c00fb-2919-4a32-9ff4-0d4b7b8879b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa5c00fb-2919-4a32-9ff4-0d4b7b8879b3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/af6b12be-602a-4aba-981d-7fa95cf8aabc.html" target="element"> eNotifikasjon </a> </td>
																		<td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element"> 5. Notifikasjon til identifisert part (trigger prosess p&#229; tidspunkt mottaker velger)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8639e059-1e72-4fc9-9f05-09279ef4e562.html" target="element">  </a> </td>
																		<td> <a href="../elements/8639e059-1e72-4fc9-9f05-09279ef4e562.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/af6b12be-602a-4aba-981d-7fa95cf8aabc.html" target="element"> eNotifikasjon </a> </td>
																		<td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a7d7cb48-46ac-4e7d-bb63-49ae806163ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7d7cb48-46ac-4e7d-bb63-49ae806163ce.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/af6b12be-602a-4aba-981d-7fa95cf8aabc.html" target="element"> eNotifikasjon </a> </td>
																		<td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> Notifikasjon  til kjent part </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/39573808-f725-479d-ae50-5d4660e18fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/39573808-f725-479d-ae50-5d4660e18fe7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html" target="element"> eOppdatering </a> </td>
																		<td> <a href="../elements/4edf3a1d-fc5a-4495-896a-1b683a908d53.html" target="element"> 9. Oversende informasjonsendring til informasjonseier med &#171;umiddelbar&#187; respons  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/45c1db4b-8ca1-4b35-b131-31daa4bcc7bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/45c1db4b-8ca1-4b35-b131-31daa4bcc7bc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html" target="element"> eOppdatering </a> </td>
																		<td> <a href="../elements/ba8e691d-7d39-40d7-9fc5-3dbca6058097.html" target="element"> 8. Forretningstransaksjon mellom to parter med &#171;umiddelbar&#187; respons (som del av tverrg&#229;ende prosess)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c54badcc-da01-473d-ba76-fc10ff9352ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/c54badcc-da01-473d-ba76-fc10ff9352ec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html" target="element"> eOppdatering </a> </td>
																		<td> <a href="../elements/6f8386e6-1c37-460f-99f7-a7ca5f84fa19.html" target="element"> eOppdatering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/611fa776-df89-4261-9d6f-5007462a5e15.html" target="element">  </a> </td>
																		<td> <a href="../elements/611fa776-df89-4261-9d6f-5007462a5e15.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5e203d88-12ea-4210-b64b-0aeb7feba6c5.html" target="element"> eOppdatering </a> </td>
																		<td> <a href="../elements/af0ce386-c04b-404e-ac21-2daef6b1eed3.html" target="element"> 10. Tilbakemelding om datakvalitet </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/30feffec-c489-4468-9105-c73c573a4021.html" target="element">  </a> </td>
																		<td> <a href="../elements/30feffec-c489-4468-9105-c73c573a4021.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element"> Asynkron melding  med leveringsbekeftelse </a> </td>
																		<td> <a href="../elements/f7289b7c-b93f-4266-9f90-ebd51ec48bfe.html" target="element"> eMelding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/70f4ef81-c876-4227-9602-8d1245ba290f.html" target="element">  </a> </td>
																		<td> <a href="../elements/70f4ef81-c876-4227-9602-8d1245ba290f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element"> Asynkron melding  med leveringsbekeftelse </a> </td>
																		<td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sende data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8c6b3a56-9c52-4b93-9e94-48e6f39d8187.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c6b3a56-9c52-4b93-9e94-48e6f39d8187.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element"> Asynkron melding  med leveringsbekeftelse </a> </td>
																		<td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4d52a1b1-077b-4e13-ae50-4dad5cde490b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d52a1b1-077b-4e13-ae50-4dad5cde490b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> Notifikasjon  til kjent part </a> </td>
																		<td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sende data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/675e5436-1b33-4111-9fe9-cc201c79b26f.html" target="element">  </a> </td>
																		<td> <a href="../elements/675e5436-1b33-4111-9fe9-cc201c79b26f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> Notifikasjon  til kjent part </a> </td>
																		<td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element"> Publisere data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/41d91873-c0d3-4254-8e61-b467e91fbf34.html" target="element">  </a> </td>
																		<td> <a href="../elements/41d91873-c0d3-4254-8e61-b467e91fbf34.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> Notifikasjon  til kjent part </a> </td>
																		<td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f77db9c4-f430-445e-82f4-368256ae8913.html" target="element">  </a> </td>
																		<td> <a href="../elements/f77db9c4-f430-445e-82f4-368256ae8913.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6f8386e6-1c37-460f-99f7-a7ca5f84fa19.html" target="element"> eOppdatering </a> </td>
																		<td> <a href="../elements/2dcbc600-73b0-4956-bd15-1c29bf2df1bc.html" target="element"> Oppdatere data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5f6bec59-8716-4f8b-aa83-c1c8b104d61e.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f6bec59-8716-4f8b-aa83-c1c8b104d61e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element"> Publisere data </a> </td>
																		<td> <a href="../elements/1dc50c39-a4dc-4cfb-8169-630b56b1ce3d.html" target="element"> Publisere data med tilgangsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/18865dd6-7fe1-4eb8-bbf1-309948339f46.html" target="element">  </a> </td>
																		<td> <a href="../elements/18865dd6-7fe1-4eb8-bbf1-309948339f46.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element"> Publisere data </a> </td>
																		<td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>