<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Få tilgang til API</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>F&#229; tilgang til API</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/6c5a004d-da35-4fce-b38d-4b09d1167201.png" alt="Få tilgang til API" usemap="#6c5a004d-da35-4fce-b38d-4b09d1167201map">
			<map name="6c5a004d-da35-4fce-b38d-4b09d1167201map">
						<area shape="rect" coords="214,106,334,161" href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html"  target="element">
						<area shape="rect" coords="406,106,526,161" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">
						<area shape="rect" coords="214,10,334,65" href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html"  target="element">
						<area shape="rect" coords="46,430,166,485" href="../elements/2a2f2857-487a-4a90-84cd-0e5a1763701f.html"  target="element">
						<area shape="rect" coords="670,430,790,485" href="../elements/fc953ff5-a48f-4d30-9d20-1aa603bf3dfc.html"  target="element">
						<area shape="rect" coords="412,430,532,485" href="../elements/bc5ee8eb-134f-4a8e-bd84-2c7fcbe75cd4.html"  target="element">
						<area shape="rect" coords="46,10,166,65" href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html"  target="element">
								<area shape="rect" coords="662,214,800,269" href="../elements/a98b96ec-c82e-4e34-9582-27981ebf54fa.html"  target="element">
								<area shape="rect" coords="850,253,970,326" href="../elements/56e5cbb1-d4ef-400f-895b-405ce375caeb.html"  target="element">
								<area shape="rect" coords="658,298,803,354" href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html"  target="element">
								<area shape="rect" coords="394,262,551,317" href="../elements/a25831b4-2237-4ba1-99bf-fc52dd84172b.html"  target="element">
								<area shape="rect" coords="586,282,601,297" href="../elements/2a6893de-d675-4026-aaeb-e2104e931c79.html"  target="element">
								<area shape="rect" coords="214,262,334,317" href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html"  target="element">
								<area shape="rect" coords="46,262,166,317" href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html"  target="element">

						<area shape="rect" coords="10,202,1019,383" href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td><td class="i18n-elementtype-Contract"></td></tr>
											<tr><td> <a href="../elements/2a2f2857-487a-4a90-84cd-0e5a1763701f.html" target="element"> API-s&#248;k </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/fc953ff5-a48f-4d30-9d20-1aa603bf3dfc.html" target="element"> Registreringstjeneste for API-brukere </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/bc5ee8eb-134f-4a8e-bd84-2c7fcbe75cd4.html" target="element"> Avtaletjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhenting av data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/a98b96ec-c82e-4e34-9582-27981ebf54fa.html" target="element"> Delegere tilgang til leverand&#248;r </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/56e5cbb1-d4ef-400f-895b-405ce375caeb.html" target="element"> Leverand&#248;r registrerer klient med tildelt tilgang </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/a25831b4-2237-4ba1-99bf-fc52dd84172b.html" target="element"> Inng&#229; bruksavtale med leverand&#248;r av tokentjeneste </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/2a6893de-d675-4026-aaeb-e2104e931c79.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
													<tr><td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ac86e1cb-c2b4-4441-89b4-da727a27f4c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac86e1cb-c2b4-4441-89b4-da727a27f4c1.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ab360343-69c4-4003-a6e4-1e76182018da.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab360343-69c4-4003-a6e4-1e76182018da.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																		<td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/57a968d1-b006-4f2b-b3ed-9a4eb5ed320b.html" target="element">  </a> </td>
																		<td> <a href="../elements/57a968d1-b006-4f2b-b3ed-9a4eb5ed320b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb2e3bc0-30b0-4e31-9fc6-2403c80917c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb2e3bc0-30b0-4e31-9fc6-2403c80917c4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/963e22ae-cc1c-4f3b-8159-e613825de836.html" target="element">  </a> </td>
																		<td> <a href="../elements/963e22ae-cc1c-4f3b-8159-e613825de836.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/2a2f2857-487a-4a90-84cd-0e5a1763701f.html" target="element"> API-s&#248;k </a> </td>
																		<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/761552aa-eff0-4c26-be1c-d4df112fb378.html" target="element">  </a> </td>
																		<td> <a href="../elements/761552aa-eff0-4c26-be1c-d4df112fb378.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/fc953ff5-a48f-4d30-9d20-1aa603bf3dfc.html" target="element"> Registreringstjeneste for API-brukere </a> </td>
																		<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9bca740-81b2-459b-a530-7922d2c844ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9bca740-81b2-459b-a530-7922d2c844ec.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/fc953ff5-a48f-4d30-9d20-1aa603bf3dfc.html" target="element"> Registreringstjeneste for API-brukere </a> </td>
																		<td> <a href="../elements/56e5cbb1-d4ef-400f-895b-405ce375caeb.html" target="element"> Leverand&#248;r registrerer klient med tildelt tilgang </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/79c067bf-46e9-4752-b1cf-f5bc39bd5b77.html" target="element">  </a> </td>
																		<td> <a href="../elements/79c067bf-46e9-4752-b1cf-f5bc39bd5b77.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/bc5ee8eb-134f-4a8e-bd84-2c7fcbe75cd4.html" target="element"> Avtaletjeneste </a> </td>
																		<td> <a href="../elements/a25831b4-2237-4ba1-99bf-fc52dd84172b.html" target="element"> Inng&#229; bruksavtale med leverand&#248;r av tokentjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d36a64cb-c414-46c4-9872-031f4cb8e1c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d36a64cb-c414-46c4-9872-031f4cb8e1c1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhenting av data </a> </td>
																		<td> <a href="../elements/fa1cd10f-51f3-464d-a145-3680ea912fec.html" target="element"> F&#229; tilgang til API </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/cb1ad37e-87ff-4151-bd98-e31799b085d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb1ad37e-87ff-4151-bd98-e31799b085d5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a98b96ec-c82e-4e34-9582-27981ebf54fa.html" target="element"> Delegere tilgang til leverand&#248;r </a> </td>
																				<td> <a href="../elements/56e5cbb1-d4ef-400f-895b-405ce375caeb.html" target="element"> Leverand&#248;r registrerer klient med tildelt tilgang </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9ca14434-228b-4ac2-af21-d7cc64b8bdc4.html" target="element">  </a> </td>
																				<td> <a href="../elements/9ca14434-228b-4ac2-af21-d7cc64b8bdc4.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/a25831b4-2237-4ba1-99bf-fc52dd84172b.html" target="element"> Inng&#229; bruksavtale med leverand&#248;r av tokentjeneste </a> </td>
																				<td> <a href="../elements/2a6893de-d675-4026-aaeb-e2104e931c79.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cce28a31-4b12-48a4-acd6-168571a420cc.html" target="element">  </a> </td>
																				<td> <a href="../elements/cce28a31-4b12-48a4-acd6-168571a420cc.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/2a6893de-d675-4026-aaeb-e2104e931c79.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ff199fdb-5e4f-4c34-a4ed-7fbc8fd15855.html" target="element">  </a> </td>
																				<td> <a href="../elements/ff199fdb-5e4f-4c34-a4ed-7fbc8fd15855.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/2a6893de-d675-4026-aaeb-e2104e931c79.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a98b96ec-c82e-4e34-9582-27981ebf54fa.html" target="element"> Delegere tilgang til leverand&#248;r </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c811d7c3-3e62-4b72-aeb7-b1f1a6996620.html" target="element">  </a> </td>
																				<td> <a href="../elements/c811d7c3-3e62-4b72-aeb7-b1f1a6996620.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																				<td> <a href="../elements/a25831b4-2237-4ba1-99bf-fc52dd84172b.html" target="element"> Inng&#229; bruksavtale med leverand&#248;r av tokentjeneste </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f774e1f2-3fff-4e33-ab96-75a5af68600c.html" target="element">  </a> </td>
																				<td> <a href="../elements/f774e1f2-3fff-4e33-ab96-75a5af68600c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td>
																				<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>