<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.1 Oppdrag</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.1 Oppdrag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6f35fdc4-688c-4fbe-97ed-fecc31a72575.png" alt="3.1 Oppdrag" usemap="#6f35fdc4-688c-4fbe-97ed-fecc31a72575map"/>
			   <map name="6f35fdc4-688c-4fbe-97ed-fecc31a72575map">
				  		<area shape="rect" coords="36,11,166,71" href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html"  target="element">
				  		<area shape="rect" coords="204,10,334,70" href="../elements/15d3da74-24f8-44e1-acfa-f14bff9a5d5a.html"  target="element">
				  				<area shape="rect" coords="192,539,322,599" href="../elements/91f2db2b-d65f-4fe6-a69c-6242af037bc6.html"  target="element">
				  				<area shape="rect" coords="192,707,322,767" href="../elements/a13447c2-8e05-45e2-8ced-9b294811f140.html"  target="element">
				  				<area shape="rect" coords="408,203,538,263" href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html"  target="element">
				  				<area shape="rect" coords="192,371,322,431" href="../elements/6b5a2f0a-7a4c-4c3d-bf1f-124445bbeb76.html"  target="element">
				  				<area shape="rect" coords="191,891,321,951" href="../elements/519a4a7d-04b2-4faf-b379-f278b0db1689.html"  target="element">
				  				<area shape="rect" coords="191,807,321,867" href="../elements/7e49f037-463a-4ac6-b984-97e1472777d3.html"  target="element">
				  				<area shape="rect" coords="192,623,322,683" href="../elements/3b7acb0b-9971-43be-bfd0-70198cc1ab15.html"  target="element">
				  				<area shape="rect" coords="192,203,322,263" href="../elements/c4937e74-b93a-404f-9cf2-65baafbccdf3.html"  target="element">
				  				<area shape="rect" coords="192,287,322,347" href="../elements/c1b96b04-6519-401f-9c32-2cb950d1e48c.html"  target="element">
				  				<area shape="rect" coords="192,455,322,515" href="../elements/a5e76544-8193-4e2a-8c18-e02ba9909698.html"  target="element">

				  		<area shape="rect" coords="144,155,565,966" href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html"  target="element">
				  		<area shape="rect" coords="360,10,490,70" href="../elements/3f91b0b3-2dd4-4e52-b87b-5c78c479e701.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">3.1 Oppdrag</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element"> Offentlig sektor omstiller seg og innoverer </a> </td>
											    <td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/15d3da74-24f8-44e1-acfa-f14bff9a5d5a.html" target="element"> Oversikt over felles l&#248;sninger og komponeter </a> </td>
											    <td> <a href="../elements/15d3da74-24f8-44e1-acfa-f14bff9a5d5a.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
											    <td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/91f2db2b-d65f-4fe6-a69c-6242af037bc6.html" target="element"> Rapport om anonyme s&#248;knader i staten </a> </td>
													    <td> <a href="../elements/91f2db2b-d65f-4fe6-a69c-6242af037bc6.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a13447c2-8e05-45e2-8ced-9b294811f140.html" target="element"> Plan for kategorisering av statlige oppaver og funksjoner </a> </td>
													    <td> <a href="../elements/a13447c2-8e05-45e2-8ced-9b294811f140.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element"> KMD </a> </td>
													    <td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b5a2f0a-7a4c-4c3d-bf1f-124445bbeb76.html" target="element"> Samarbeidsavtaler </a> </td>
													    <td> <a href="../elements/6b5a2f0a-7a4c-4c3d-bf1f-124445bbeb76.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/519a4a7d-04b2-4faf-b379-f278b0db1689.html" target="element"> Om endringer i geografisk plassering av oppgaver </a> </td>
													    <td> <a href="../elements/519a4a7d-04b2-4faf-b379-f278b0db1689.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7e49f037-463a-4ac6-b984-97e1472777d3.html" target="element"> Grunnlag for dr&#248;fting av "inkluderingsdugnaden" </a> </td>
													    <td> <a href="../elements/7e49f037-463a-4ac6-b984-97e1472777d3.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b7acb0b-9971-43be-bfd0-70198cc1ab15.html" target="element"> Plan for utvikling av strategisk digital lederkompetanse </a> </td>
													    <td> <a href="../elements/3b7acb0b-9971-43be-bfd0-70198cc1ab15.html" target="element" class="i18n-elementtype-ImplementationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c4937e74-b93a-404f-9cf2-65baafbccdf3.html" target="element"> Utviklingstrekk for statlig tilsyn med kommunesektoren </a> </td>
													    <td> <a href="../elements/c4937e74-b93a-404f-9cf2-65baafbccdf3.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1b96b04-6519-401f-9c32-2cb950d1e48c.html" target="element"> Utviklingen i antall ansatte og &#229;rsverk i staten,  </a> </td>
													    <td> <a href="../elements/c1b96b04-6519-401f-9c32-2cb950d1e48c.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a5e76544-8193-4e2a-8c18-e02ba9909698.html" target="element"> Pilot for frivillig mobilitet i statlig sektor </a> </td>
													    <td> <a href="../elements/a5e76544-8193-4e2a-8c18-e02ba9909698.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3f91b0b3-2dd4-4e52-b87b-5c78c479e701.html" target="element"> R&#229;d tli KMD om portef&#248;ljestyring </a> </td>
											    <td> <a href="../elements/3f91b0b3-2dd4-4e52-b87b-5c78c479e701.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/39b2273b-63ee-4ff6-8758-f5f48bb2f6c7.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/39b2273b-63ee-4ff6-8758-f5f48bb2f6c7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/91f2db2b-d65f-4fe6-a69c-6242af037bc6.html" target="element"> Rapport om anonyme s&#248;knader i staten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c5993a95-c93a-4202-92ac-afb610af06d0.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/c5993a95-c93a-4202-92ac-afb610af06d0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/a13447c2-8e05-45e2-8ced-9b294811f140.html" target="element"> Plan for kategorisering av statlige oppaver og funksjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/451b7ab7-f26c-4fe8-af93-c49d777b62d3.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/451b7ab7-f26c-4fe8-af93-c49d777b62d3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element"> KMD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/041bdf9a-82b5-4a38-b032-a984daf1ab84.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/041bdf9a-82b5-4a38-b032-a984daf1ab84.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/6b5a2f0a-7a4c-4c3d-bf1f-124445bbeb76.html" target="element"> Samarbeidsavtaler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97a12551-c78d-4a41-ba97-13fe50a08070.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/97a12551-c78d-4a41-ba97-13fe50a08070.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/519a4a7d-04b2-4faf-b379-f278b0db1689.html" target="element"> Om endringer i geografisk plassering av oppgaver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3e01b49-dee3-4c37-bf46-c2dbe5030b68.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/e3e01b49-dee3-4c37-bf46-c2dbe5030b68.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/7e49f037-463a-4ac6-b984-97e1472777d3.html" target="element"> Grunnlag for dr&#248;fting av "inkluderingsdugnaden" </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/388ad1b6-74e9-42ed-a8e5-dabeb5913135.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/388ad1b6-74e9-42ed-a8e5-dabeb5913135.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/3b7acb0b-9971-43be-bfd0-70198cc1ab15.html" target="element"> Plan for utvikling av strategisk digital lederkompetanse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b28a533-1185-4175-9fa8-5ddbb3614081.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/7b28a533-1185-4175-9fa8-5ddbb3614081.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/c4937e74-b93a-404f-9cf2-65baafbccdf3.html" target="element"> Utviklingstrekk for statlig tilsyn med kommunesektoren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b933e39a-b7cf-4d3d-a9cc-eb32e79151e0.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/b933e39a-b7cf-4d3d-a9cc-eb32e79151e0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/c1b96b04-6519-401f-9c32-2cb950d1e48c.html" target="element"> Utviklingen i antall ansatte og &#229;rsverk i staten,  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ef51cce-0aad-4909-92d8-d25ff5f9bcd4.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/4ef51cce-0aad-4909-92d8-d25ff5f9bcd4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/a5e76544-8193-4e2a-8c18-e02ba9909698.html" target="element"> Pilot for frivillig mobilitet i statlig sektor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0df3a42c-8d3d-438c-8e73-596e72e121b0.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/0df3a42c-8d3d-438c-8e73-596e72e121b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4cd28241-97d6-425d-9050-3c3f2ad97bac.html" target="element"> 3.1 Relevante "oppdrag" </a> </td>
																		<td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element"> Offentlig sektor omstiller seg og innoverer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3a3201e4-f221-411e-a284-dcfc3441f95a.html" target="element"> realization </a> </td>
																				<td> <a href="../elements/3a3201e4-f221-411e-a284-dcfc3441f95a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c4937e74-b93a-404f-9cf2-65baafbccdf3.html" target="element"> Utviklingstrekk for statlig tilsyn med kommunesektoren </a> </td>
																				<td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element"> KMD </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>