<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>WS1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>WS1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/71e1012a-42ca-45ac-8978-000f5248ef68.png" alt="WS1" usemap="#71e1012a-42ca-45ac-8978-000f5248ef68map"/>
			   <map name="71e1012a-42ca-45ac-8978-000f5248ef68map">
				  		<area shape="rect" coords="10,10,210,90" href="../elements/ec95b262-1e77-4e52-bdb0-380f4637e03d.html"  target="element">
				  		<area shape="rect" coords="10,94,210,174" href="../elements/610f4b75-6235-4507-a07d-f9a336996908.html"  target="element">
				  		<area shape="rect" coords="214,94,414,174" href="../elements/ae0e1bae-0bf5-43a0-a93a-a235b1b049b2.html"  target="element">
				  		<area shape="rect" coords="214,178,414,258" href="../elements/1e28801c-056d-42ba-88b1-bcfdc3adda5e.html"  target="element">
				  		<area shape="rect" coords="214,10,414,90" href="../elements/4807812c-a0a0-46ff-a360-9dea376bc51f.html"  target="element">
				  		<area shape="rect" coords="10,178,210,258" href="../elements/842aa2f2-3775-45b0-b400-7f4e89114e3c.html"  target="element">
				  		<area shape="rect" coords="418,178,618,258" href="../elements/33f06865-9157-496d-9121-e8ceec3ed2fa.html"  target="element">
				  		<area shape="rect" coords="418,10,618,90" href="../elements/547e3858-bb02-4843-86fe-344b904bb68b.html"  target="element">
				  		<area shape="rect" coords="418,94,618,174" href="../elements/1e4bc3db-5bf0-4a8e-820c-4e910bf44abf.html"  target="element">
				  		<area shape="rect" coords="622,10,822,90" href="../elements/093af846-a099-4a8f-8462-8982623f3f52.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">WS1</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ec95b262-1e77-4e52-bdb0-380f4637e03d.html" target="element"> &lt;&lt;Public Policy Implementation Approach&gt;&gt; Felles kj&#248;reregler </a> </td>
											    <td> <a href="../elements/ec95b262-1e77-4e52-bdb0-380f4637e03d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/610f4b75-6235-4507-a07d-f9a336996908.html" target="element"> &lt;&lt;Public Policy Implementation Approach&gt;&gt; Felles prinsipper for felleskomponentforvaltere i Digital agenda </a> </td>
											    <td> <a href="../elements/610f4b75-6235-4507-a07d-f9a336996908.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ae0e1bae-0bf5-43a0-a93a-a235b1b049b2.html" target="element"> &lt;&lt;Financial Resource&gt;&gt; Medfinansieringsordningen </a> </td>
											    <td> <a href="../elements/ae0e1bae-0bf5-43a0-a93a-a235b1b049b2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e28801c-056d-42ba-88b1-bcfdc3adda5e.html" target="element"> &lt;&lt;Financial Resource&gt;&gt; Rammefinansiering </a> </td>
											    <td> <a href="../elements/1e28801c-056d-42ba-88b1-bcfdc3adda5e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4807812c-a0a0-46ff-a360-9dea376bc51f.html" target="element"> &lt;&lt;Financial Resource&gt;&gt; Satsingsforslag </a> </td>
											    <td> <a href="../elements/4807812c-a0a0-46ff-a360-9dea376bc51f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/842aa2f2-3775-45b0-b400-7f4e89114e3c.html" target="element"> &lt;&lt;Implementing Guideline&gt;&gt; Felles IKT-arkitekturprinsipper </a> </td>
											    <td> <a href="../elements/842aa2f2-3775-45b0-b400-7f4e89114e3c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/33f06865-9157-496d-9121-e8ceec3ed2fa.html" target="element"> &lt;&lt;Public Policy Implementation Mandate&gt;&gt; NIF </a> </td>
											    <td> <a href="../elements/33f06865-9157-496d-9121-e8ceec3ed2fa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/547e3858-bb02-4843-86fe-344b904bb68b.html" target="element"> &lt;&lt;Public Policy&gt;&gt; Digital agenda </a> </td>
											    <td> <a href="../elements/547e3858-bb02-4843-86fe-344b904bb68b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e4bc3db-5bf0-4a8e-820c-4e910bf44abf.html" target="element"> &lt;&lt;Public Policy&gt;&gt; ABE-reformen </a> </td>
											    <td> <a href="../elements/1e4bc3db-5bf0-4a8e-820c-4e910bf44abf.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/093af846-a099-4a8f-8462-8982623f3f52.html" target="element"> &lt;&lt;Interoperability Strategy&gt;&gt; Difis tverrg&#229;ende digitaliseringsstrategi </a> </td>
											    <td> <a href="../elements/093af846-a099-4a8f-8462-8982623f3f52.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>