<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fellesfunksjoner</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fellesfunksjoner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/73aff7ac-cf5a-47de-a53e-091b0907e0f8.png" alt="Fellesfunksjoner" usemap="#73aff7ac-cf5a-47de-a53e-091b0907e0f8map"/>
			   <map name="73aff7ac-cf5a-47de-a53e-091b0907e0f8map">
				          <area shape="rect" coords="1226,355,1443,689" href="../objects/87d3b5ae-cf63-4306-a08f-61e598b8daf9.html" target="element" >
				  				<area shape="rect" coords="365,46,485,101" href="../elements/41a013ca-b438-4b46-b655-254e1a2d26de.html"  target="element">
				  				<area shape="rect" coords="496,46,616,101" href="../elements/e6a9c5cb-b27c-4fa2-8a57-db1cfa97cc9d.html"  target="element">
				  				<area shape="rect" coords="629,46,749,101" href="../elements/c44fd87f-f51c-4974-ae0a-39f609f3dfed.html"  target="element">
				  				<area shape="rect" coords="568,130,688,185" href="../elements/6bbbe9ca-b888-4ac1-b63e-3f15947c1f14.html"  target="element">
				  				<area shape="rect" coords="424,130,544,185" href="../elements/e8c5c13b-4a48-4e88-9270-21abb34ba050.html"  target="element">
				  				<area shape="rect" coords="820,46,940,101" href="../elements/d3c0cb04-f546-4ba3-9fa4-4de3e9610482.html"  target="element">
				  				<area shape="rect" coords="820,130,940,185" href="../elements/4a65e090-faff-4e5a-a074-34882647a0cb.html"  target="element">

				          <area shape="rect" coords="352,10,976,335" href="../objects/09dc16c0-4b70-45aa-b257-7b9a358ce65e.html" target="element" >
				  		<area shape="rect" coords="364,250,484,305" href="../elements/440f5760-2f9a-4f5c-94a8-0f57739788e5.html"  target="element">
				  		<area shape="rect" coords="508,250,628,305" href="../elements/f5e69459-7f1e-4521-b6d3-04d8e051f530.html"  target="element">
				  		<area shape="rect" coords="652,250,772,305" href="../elements/51fd6fe6-b0dd-4003-b5b3-b3cfc88aab5e.html"  target="element">
				          <area shape="rect" coords="1042,204,1227,284" href="../objects/f6a492db-1c5e-4ed1-abf6-f78c0ab3619c.html" target="element" >
				  		<area shape="rect" coords="483,492,619,547" href="../elements/b9ab66b0-0565-4ec6-b948-320b298d8982.html"  target="element">
				  		<area shape="rect" coords="482,578,620,633" href="../elements/a4f70a28-4121-484e-a882-ce14b35f2a54.html"  target="element">
				  		<area shape="rect" coords="778,494,898,549" href="../elements/01f5bd7a-7ec2-4e24-82df-41ed6dbd4a94.html"  target="element">
				  		<area shape="rect" coords="778,580,898,635" href="../elements/33093638-cb8d-489e-ada7-9f2de612e33d.html"  target="element">
				  		<area shape="rect" coords="922,494,1042,549" href="../elements/2054d73b-6abf-49a7-8422-fb9ac8517234.html"  target="element">
				  		<area shape="rect" coords="202,400,322,455" href="../elements/0cac73c3-82a6-4966-a78d-5df26e2cd48f.html"  target="element">
				  		<area shape="rect" coords="202,492,322,547" href="../elements/4dfb3a14-19d5-4a65-b17c-40c80242846f.html"  target="element">
				  		<area shape="rect" coords="483,398,619,453" href="../elements/516aca26-ccab-43ed-a853-c1b7ae339c99.html"  target="element">
				  		<area shape="rect" coords="310,674,430,729" href="../elements/b70eae41-d210-4a5f-9b87-8f9f99846530.html"  target="element">
				  		<area shape="rect" coords="491,674,611,729" href="../elements/1e943119-c68f-42d0-8c3e-0d4919ab8931.html"  target="element">
				  		<area shape="rect" coords="634,674,754,729" href="../elements/8772eccc-e66f-4dcf-b255-2a9220a1b2e4.html"  target="element">
				  		<area shape="rect" coords="491,758,611,813" href="../elements/173d980d-3717-4e7d-9b1f-6c846a460fad.html"  target="element">
				  		<area shape="rect" coords="634,758,754,813" href="../elements/ca2ec236-d351-4cd7-a9ea-66ea32b1bede.html"  target="element">
				  		<area shape="rect" coords="1274,403,1394,458" href="../elements/feed1440-d997-4af6-a221-5b46774600a7.html"  target="element">
				  		<area shape="rect" coords="1274,495,1394,550" href="../elements/9682ecc3-e0f8-495d-aa15-b3cf1d878f9b.html"  target="element">
				  		<area shape="rect" coords="1274,583,1394,638" href="../elements/3845783a-4303-4fb7-bf91-6b97402271da.html"  target="element">
				  		<area shape="rect" coords="922,578,1042,633" href="../elements/fbefed75-210a-416d-9620-9e763287ecf7.html"  target="element">
				  		<area shape="rect" coords="10,669,130,724" href="../elements/f30486d1-f172-4d18-8a7c-4d598af7908e.html"  target="element">
				  		<area shape="rect" coords="10,744,130,799" href="../elements/9607b20a-5c14-4b00-8120-9ce1ce37b62c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/87d3b5ae-cf63-4306-a08f-61e598b8daf9.html" target="element"> J&#248;rgen </a> </td>
									           <td> <a href="../objects/87d3b5ae-cf63-4306-a08f-61e598b8daf9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/09dc16c0-4b70-45aa-b257-7b9a358ce65e.html" target="element"> Tverrg&#229;ende funksjoner og tjenester </a> </td>
									           <td> <a href="../objects/09dc16c0-4b70-45aa-b257-7b9a358ce65e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/41a013ca-b438-4b46-b655-254e1a2d26de.html" target="element"> Konfidensialitetssikring </a> </td>
													    <td> <a href="../elements/41a013ca-b438-4b46-b655-254e1a2d26de.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e6a9c5cb-b27c-4fa2-8a57-db1cfa97cc9d.html" target="element"> Integritetssikring </a> </td>
													    <td> <a href="../elements/e6a9c5cb-b27c-4fa2-8a57-db1cfa97cc9d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c44fd87f-f51c-4974-ae0a-39f609f3dfed.html" target="element"> Tilgjengelighet </a> </td>
													    <td> <a href="../elements/c44fd87f-f51c-4974-ae0a-39f609f3dfed.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6bbbe9ca-b888-4ac1-b63e-3f15947c1f14.html" target="element"> Autorisere akt&#248;r </a> </td>
													    <td> <a href="../elements/6bbbe9ca-b888-4ac1-b63e-3f15947c1f14.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e8c5c13b-4a48-4e88-9270-21abb34ba050.html" target="element"> Autentisere akt&#248;r </a> </td>
													    <td> <a href="../elements/e8c5c13b-4a48-4e88-9270-21abb34ba050.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d3c0cb04-f546-4ba3-9fa4-4de3e9610482.html" target="element"> Sporing </a> </td>
													    <td> <a href="../elements/d3c0cb04-f546-4ba3-9fa4-4de3e9610482.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4a65e090-faff-4e5a-a074-34882647a0cb.html" target="element"> Innsyn </a> </td>
													    <td> <a href="../elements/4a65e090-faff-4e5a-a074-34882647a0cb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/440f5760-2f9a-4f5c-94a8-0f57739788e5.html" target="element"> Styring av datatyper </a> </td>
											    <td> <a href="../elements/440f5760-2f9a-4f5c-94a8-0f57739788e5.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f5e69459-7f1e-4521-b6d3-04d8e051f530.html" target="element"> Addressering </a> </td>
											    <td> <a href="../elements/f5e69459-7f1e-4521-b6d3-04d8e051f530.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/51fd6fe6-b0dd-4003-b5b3-b3cfc88aab5e.html" target="element">  </a> </td>
											    <td> <a href="../elements/51fd6fe6-b0dd-4003-b5b3-b3cfc88aab5e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/f6a492db-1c5e-4ed1-abf6-f78c0ab3619c.html" target="element">  </a> </td>
									           <td> <a href="../objects/f6a492db-1c5e-4ed1-abf6-f78c0ab3619c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b9ab66b0-0565-4ec6-b948-320b298d8982.html" target="element"> Datakatalog </a> </td>
											    <td> <a href="../elements/b9ab66b0-0565-4ec6-b948-320b298d8982.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a4f70a28-4121-484e-a882-ce14b35f2a54.html" target="element"> Tjenestekatalog </a> </td>
											    <td> <a href="../elements/a4f70a28-4121-484e-a882-ce14b35f2a54.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01f5bd7a-7ec2-4e24-82df-41ed6dbd4a94.html" target="element"> Kapabilitets-oppslag </a> </td>
											    <td> <a href="../elements/01f5bd7a-7ec2-4e24-82df-41ed6dbd4a94.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/33093638-cb8d-489e-ada7-9f2de612e33d.html" target="element"> Sertifikat-tjeneste </a> </td>
											    <td> <a href="../elements/33093638-cb8d-489e-ada7-9f2de612e33d.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2054d73b-6abf-49a7-8422-fb9ac8517234.html" target="element"> Utstedelse av sikkerhetsbillett </a> </td>
											    <td> <a href="../elements/2054d73b-6abf-49a7-8422-fb9ac8517234.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0cac73c3-82a6-4966-a78d-5df26e2cd48f.html" target="element"> Tjenestegrensesnitt </a> </td>
											    <td> <a href="../elements/0cac73c3-82a6-4966-a78d-5df26e2cd48f.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4dfb3a14-19d5-4a65-b17c-40c80242846f.html" target="element"> Forsendelsegrensesnitt </a> </td>
											    <td> <a href="../elements/4dfb3a14-19d5-4a65-b17c-40c80242846f.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/516aca26-ccab-43ed-a853-c1b7ae339c99.html" target="element"> Adressetjeneste </a> </td>
											    <td> <a href="../elements/516aca26-ccab-43ed-a853-c1b7ae339c99.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b70eae41-d210-4a5f-9b87-8f9f99846530.html" target="element"> Service discovery tjeneste </a> </td>
											    <td> <a href="../elements/b70eae41-d210-4a5f-9b87-8f9f99846530.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e943119-c68f-42d0-8c3e-0d4919ab8931.html" target="element"> Loggtjeneste </a> </td>
											    <td> <a href="../elements/1e943119-c68f-42d0-8c3e-0d4919ab8931.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8772eccc-e66f-4dcf-b255-2a9220a1b2e4.html" target="element"> Testtjeneste </a> </td>
											    <td> <a href="../elements/8772eccc-e66f-4dcf-b255-2a9220a1b2e4.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/173d980d-3717-4e7d-9b1f-6c846a460fad.html" target="element"> Tilgangsstyring/access management </a> </td>
											    <td> <a href="../elements/173d980d-3717-4e7d-9b1f-6c846a460fad.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ca2ec236-d351-4cd7-a9ea-66ea32b1bede.html" target="element"> Revisjonstjeneste/ Audit service </a> </td>
											    <td> <a href="../elements/ca2ec236-d351-4cd7-a9ea-66ea32b1bede.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/feed1440-d997-4af6-a221-5b46774600a7.html" target="element"> Administrasjon av API-beskrivelser </a> </td>
											    <td> <a href="../elements/feed1440-d997-4af6-a221-5b46774600a7.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9682ecc3-e0f8-495d-aa15-b3cf1d878f9b.html" target="element"> Angi grovkornet tilgang </a> </td>
											    <td> <a href="../elements/9682ecc3-e0f8-495d-aa15-b3cf1d878f9b.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3845783a-4303-4fb7-bf91-6b97402271da.html" target="element"> F&#229; tilgang </a> </td>
											    <td> <a href="../elements/3845783a-4303-4fb7-bf91-6b97402271da.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbefed75-210a-416d-9620-9e763287ecf7.html" target="element"> Delegeringskilde </a> </td>
											    <td> <a href="../elements/fbefed75-210a-416d-9620-9e763287ecf7.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f30486d1-f172-4d18-8a7c-4d598af7908e.html" target="element"> Orkestreringstjeneste </a> </td>
											    <td> <a href="../elements/f30486d1-f172-4d18-8a7c-4d598af7908e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9607b20a-5c14-4b00-8120-9ce1ce37b62c.html" target="element"> Koreografitjeneste </a> </td>
											    <td> <a href="../elements/9607b20a-5c14-4b00-8120-9ce1ce37b62c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>