<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Eriks nye IF-kapabiliteter</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Eriks nye IF-kapabiliteter</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/75e418f9-9365-4978-a5f9-64a136b31076.png" alt="Eriks nye IF-kapabiliteter" usemap="#75e418f9-9365-4978-a5f9-64a136b31076map">
			<map name="75e418f9-9365-4978-a5f9-64a136b31076map">
								<area shape="rect" coords="878,579,1008,639" href="../elements/ea771c15-0971-4ad8-90a1-3613d5b6835a.html"  target="element">
								<area shape="rect" coords="738,579,868,639" href="../elements/499303c6-88cb-468f-888f-3c74c4d178ca.html"  target="element">
								<area shape="rect" coords="598,578,728,638" href="../elements/d6f258e3-5cc2-413d-a637-6d69dbc538c7.html"  target="element">
								<area shape="rect" coords="458,578,588,638" href="../elements/9b26f89c-821b-42af-bc01-06dc8c0362a0.html"  target="element">
								<area shape="rect" coords="318,578,448,638" href="../elements/c4799a1e-0e63-46d4-a88c-56f3304c894e.html"  target="element">
								<area shape="rect" coords="1018,579,1148,639" href="../elements/f00894c8-82d9-458b-89be-ea692dc203d8.html"  target="element">

						<area shape="rect" coords="298,543,1311,647" href="../elements/e87d177a-7f31-4f2e-9dfd-966173f3c7a4.html"  target="element">
								<area shape="rect" coords="738,917,868,977" href="../elements/39f433a8-a951-4a91-84bf-ab1e7bead853.html"  target="element">
								<area shape="rect" coords="598,917,728,977" href="../elements/01302f5d-4c5d-449d-b77e-28a0b7789a11.html"  target="element">
								<area shape="rect" coords="458,917,588,977" href="../elements/74465c86-bc74-49e7-87ad-389fb79ba6ef.html"  target="element">
								<area shape="rect" coords="318,917,448,977" href="../elements/978e8e1e-1dc0-40d7-a639-872c98043e78.html"  target="element">
								<area shape="rect" coords="878,918,1008,978" href="../elements/00fde2a8-fcf7-4a67-9bb7-2f151a83647f.html"  target="element">
								<area shape="rect" coords="1018,915,1148,975" href="../elements/66123e1d-9064-4bcb-bd51-7f50c8b5e36c.html"  target="element">
								<area shape="rect" coords="1158,915,1288,975" href="../elements/3b96205a-5441-4e2d-b395-a6633a10c8ce.html"  target="element">

						<area shape="rect" coords="298,883,1311,983" href="../elements/9bfb1745-db7c-46fd-96f0-a283639ee137.html"  target="element">
								<area shape="rect" coords="458,1331,588,1391" href="../elements/c5c4445d-15ec-4100-a142-94e7e4cf2d99.html"  target="element">
								<area shape="rect" coords="1158,1257,1288,1317" href="../elements/f772cec8-98d4-4660-bda3-b1a4c49d0982.html"  target="element">
								<area shape="rect" coords="318,1331,448,1391" href="../elements/71ab9243-f613-421f-82e5-5129a0c6fe8a.html"  target="element">
								<area shape="rect" coords="1018,1257,1148,1317" href="../elements/00a4586c-f2c1-4c95-99e6-f35d1a85e180.html"  target="element">
								<area shape="rect" coords="878,1257,1008,1317" href="../elements/fab7de6e-4460-4092-83c1-b9219c6acbda.html"  target="element">
								<area shape="rect" coords="738,1257,868,1317" href="../elements/bef83f08-bb96-44f2-9280-9b0cf33ec71a.html"  target="element">
								<area shape="rect" coords="598,1257,728,1317" href="../elements/9be723b4-88ea-4446-8e6c-f6113a0914d2.html"  target="element">
								<area shape="rect" coords="598,1331,728,1391" href="../elements/1d0bd77b-090a-46fd-a023-af5982e94eec.html"  target="element">
								<area shape="rect" coords="458,1257,588,1317" href="../elements/4284ebfc-63d9-4741-8f39-bf9c3186947a.html"  target="element">
								<area shape="rect" coords="318,1257,448,1317" href="../elements/886a1e50-9fa0-434e-af12-740c8f4bf5e5.html"  target="element">
								<area shape="rect" coords="738,1331,868,1391" href="../elements/f26a1843-0347-4629-8cc7-86f4a60cea27.html"  target="element">
								<area shape="rect" coords="878,1331,1008,1391" href="../elements/d95ea14c-3614-42e2-b2df-1956394583c2.html"  target="element">

						<area shape="rect" coords="298,1223,1311,1403" href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html"  target="element">
								<area shape="rect" coords="1018,1144,1148,1204" href="../elements/1aa7ceb9-ebcb-40ac-bfab-463db2ec032f.html"  target="element">
								<area shape="rect" coords="878,1144,1008,1204" href="../elements/29d15127-3e61-4cd3-8095-a10756620259.html"  target="element">
								<area shape="rect" coords="738,1144,868,1204" href="../elements/b78b6e5e-db59-415b-a6e6-24d15b8bb12a.html"  target="element">
								<area shape="rect" coords="598,1144,728,1204" href="../elements/f5ba6220-d064-41ff-ace9-96779477fdac.html"  target="element">
								<area shape="rect" coords="458,1144,588,1204" href="../elements/5e47285a-9830-430b-a331-63cac2092422.html"  target="element">
								<area shape="rect" coords="318,1144,448,1204" href="../elements/96e3a9a5-9285-438a-b8de-fa4c88a9793d.html"  target="element">

						<area shape="rect" coords="298,1110,1311,1210" href="../elements/f5b05edd-faa6-420d-9468-2181345190eb.html"  target="element">
								<area shape="rect" coords="598,1448,728,1508" href="../elements/81f93e42-b73f-4a00-88b7-95cfd339842b.html"  target="element">
								<area shape="rect" coords="458,1447,588,1507" href="../elements/7a052630-189b-46e3-a705-e0422f542942.html"  target="element">
								<area shape="rect" coords="318,1447,448,1507" href="../elements/59d5280b-4880-47ce-a5cc-197e7b729e80.html"  target="element">
								<area shape="rect" coords="738,1447,868,1507" href="../elements/25b7cb33-d0f8-414a-9a08-02d79b503dcc.html"  target="element">
								<area shape="rect" coords="878,1447,1008,1507" href="../elements/7fa0dbf3-5d1e-41d8-9b7e-608f38d786d6.html"  target="element">
								<area shape="rect" coords="1018,1447,1148,1507" href="../elements/9bdb9505-f206-45b4-a2cc-d4d0b2fbb5c8.html"  target="element">
								<area shape="rect" coords="1158,1447,1288,1507" href="../elements/259431cd-9b07-4054-a2ce-d69d9023dea3.html"  target="element">

						<area shape="rect" coords="298,1414,1311,1514" href="../elements/6cea5550-f077-4290-8ac8-08e99576e4c9.html"  target="element">
								<area shape="rect" coords="598,463,728,523" href="../elements/bb15df3f-abd5-45a2-abbc-453241e2e25c.html"  target="element">
								<area shape="rect" coords="458,463,588,523" href="../elements/26c24663-d664-471c-89cf-b5b94682e7e9.html"  target="element">
								<area shape="rect" coords="318,463,448,523" href="../elements/87964e07-f78c-47cc-96c0-539595c79f02.html"  target="element">
								<area shape="rect" coords="878,463,1008,523" href="../elements/6761874f-4b1a-4823-9da8-fad2a378585e.html"  target="element">

						<area shape="rect" coords="298,430,1311,530" href="../elements/cba21dc7-8eff-4d59-93b9-e706ebec2065.html"  target="element">
								<area shape="rect" coords="1018,1674,1148,1734" href="../elements/f88947ee-063d-44c7-9259-cc4efbb3ac5b.html"  target="element">
								<area shape="rect" coords="878,1674,1008,1734" href="../elements/09ca9bf2-f8cf-4ff6-8762-d43a38c5c02f.html"  target="element">
								<area shape="rect" coords="738,1674,868,1734" href="../elements/35e35de5-4174-4cc7-9e25-01140cc9a27c.html"  target="element">
								<area shape="rect" coords="598,1674,728,1734" href="../elements/f60aee41-9c22-4a14-9bee-b695413a0a1b.html"  target="element">
								<area shape="rect" coords="458,1674,588,1734" href="../elements/0d2e9f01-be1a-4d15-a600-e918770f0799.html"  target="element">
								<area shape="rect" coords="318,1673,448,1733" href="../elements/e9263a4d-bce9-40b3-889d-212743d3ef99.html"  target="element">
								<area shape="rect" coords="1162,1673,1292,1733" href="../elements/b5fc2e8c-9a4c-4c5a-b4d1-622191b5ccaf.html"  target="element">

						<area shape="rect" coords="298,1641,1311,1741" href="../elements/8c02f4ee-ecd3-4c64-a5eb-8df73516e15b.html"  target="element">
								<area shape="rect" coords="878,689,1008,749" href="../elements/56ffa2bf-526e-46ba-a0d9-08660d91762c.html"  target="element">
								<area shape="rect" coords="738,689,868,749" href="../elements/e13e57a6-79d3-4c00-8c0a-a0afa70369dd.html"  target="element">
								<area shape="rect" coords="1018,690,1148,750" href="../elements/86935246-01b3-4978-9d19-37291b3b7646.html"  target="element">
								<area shape="rect" coords="1158,690,1288,750" href="../elements/13d3d0b1-f758-42ab-851f-9ac4d5f8daf2.html"  target="element">
								<area shape="rect" coords="318,689,448,749" href="../elements/8d971042-091c-4466-8871-f2bc11ddffab.html"  target="element">
								<area shape="rect" coords="458,689,588,749" href="../elements/95b0a996-3d0c-4272-8098-09c39ef3fb7f.html"  target="element">
								<area shape="rect" coords="598,691,728,751" href="../elements/5f227471-3a23-4a04-9b73-7de5892d9470.html"  target="element">

						<area shape="rect" coords="298,657,1311,757" href="../elements/497eec8d-ef2d-41a7-ae4f-1a34a01dbb1c.html"  target="element">
								<area shape="rect" coords="878,1031,1008,1091" href="../elements/1eb4cbf1-04e6-475e-9f53-d521356c28cf.html"  target="element">
								<area shape="rect" coords="738,1031,868,1091" href="../elements/24a2ebf6-2032-423b-98a0-f2b550e1ed46.html"  target="element">
								<area shape="rect" coords="598,1031,728,1091" href="../elements/0b7e691f-bf90-47d9-b186-6b541de16794.html"  target="element">
								<area shape="rect" coords="318,1030,448,1090" href="../elements/f64ceaf8-a0e9-4d1e-8188-61c6c526f5ac.html"  target="element">
								<area shape="rect" coords="1018,1029,1148,1089" href="../elements/4e8b05d7-2c9a-4522-bae3-77252dd8b951.html"  target="element">
								<area shape="rect" coords="1158,1029,1288,1089" href="../elements/669c21ef-930d-4259-9219-c111a4200e44.html"  target="element">
								<area shape="rect" coords="458,1028,588,1088" href="../elements/8ba1d381-e918-4445-8f05-203bf387456f.html"  target="element">

						<area shape="rect" coords="298,997,1311,1097" href="../elements/80a66734-540a-46d8-9bbf-916662b11f96.html"  target="element">
								<area shape="rect" coords="1158,1560,1288,1620" href="../elements/ce35b004-0145-4d7b-af97-b1822e304c6b.html"  target="element">
								<area shape="rect" coords="598,1560,728,1620" href="../elements/b1cc6fde-092d-4bdf-af2a-5a9dfe2c720b.html"  target="element">
								<area shape="rect" coords="738,1556,868,1616" href="../elements/0e3f8c33-62c1-4762-8181-67b4edcb4520.html"  target="element">
								<area shape="rect" coords="318,1560,448,1620" href="../elements/92f93835-903d-41a3-ac75-e1b433a5383a.html"  target="element">
								<area shape="rect" coords="458,1559,588,1619" href="../elements/779d64bf-985d-4e20-a961-c7130775784c.html"  target="element">
								<area shape="rect" coords="878,1558,1008,1618" href="../elements/4bf8c9a9-9de1-4709-b57f-e7ed8d03ea18.html"  target="element">
								<area shape="rect" coords="1018,1556,1148,1616" href="../elements/05e94b73-6641-4c29-9f73-2d2736fccdbc.html"  target="element">

						<area shape="rect" coords="298,1527,1311,1627" href="../elements/6e4d31af-c2a6-4abd-b4c0-e62160c1fefb.html"  target="element">
								<area shape="rect" coords="322,806,452,866" href="../elements/d846147f-231a-4ab5-b72c-6f96494c822f.html"  target="element">
								<area shape="rect" coords="1022,807,1152,867" href="../elements/f2d59fd3-b2d3-4d4d-8068-208707e88521.html"  target="element">
								<area shape="rect" coords="882,806,1012,866" href="../elements/6d9c2539-f257-42b5-ad4a-5797b7c410f5.html"  target="element">
								<area shape="rect" coords="462,805,592,865" href="../elements/721b2ef1-549d-46cc-b3a0-afa5d2ceada1.html"  target="element">
								<area shape="rect" coords="602,805,732,865" href="../elements/041d921a-57da-4e60-bac4-e0c9f426350f.html"  target="element">
								<area shape="rect" coords="1162,808,1292,868" href="../elements/3f18219d-c140-468e-814c-fff3820707f3.html"  target="element">
								<area shape="rect" coords="742,808,872,868" href="../elements/b0cefe46-de6b-425d-b3a6-6c8f655b8df0.html"  target="element">

						<area shape="rect" coords="298,770,1311,870" href="../elements/34ecf94e-c0da-4a6b-aea3-cd029c90893a.html"  target="element">
						<area shape="rect" coords="178,226,318,296" href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html"  target="element">
						<area shape="rect" coords="718,10,858,80" href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html"  target="element">
						<area shape="rect" coords="82,310,222,380" href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html"  target="element">
						<area shape="rect" coords="75,79,215,149" href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html"  target="element">
						<area shape="rect" coords="10,175,150,245" href="../elements/3b5509cd-9794-4611-8019-50a59790a0a1.html"  target="element">
						<area shape="rect" coords="322,148,462,218" href="../elements/f6bd0a68-3583-4de6-a8fa-b3299134a50f.html"  target="element">
						<area shape="rect" coords="286,310,426,380" href="../elements/5e9c8bbc-d057-4811-ba22-6329ab9869c8.html"  target="element">
						<area shape="rect" coords="742,310,882,380" href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html"  target="element">
						<area shape="rect" coords="778,118,918,188" href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html"  target="element">
						<area shape="rect" coords="298,10,438,80" href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html"  target="element">
						<area shape="rect" coords="490,241,630,311" href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html"  target="element">
						<area shape="rect" coords="958,106,1098,176" href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html"  target="element">
						<area shape="rect" coords="1100,292,1220,347" href="../elements/ad111325-001c-4782-934d-84606a5b5110.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/e87d177a-7f31-4f2e-9dfd-966173f3c7a4.html" target="element"> Informasjonsfangst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/ea771c15-0971-4ad8-90a1-3613d5b6835a.html" target="element"> Periodisk infofangst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/499303c6-88cb-468f-888f-3c74c4d178ca.html" target="element"> Avviksbasert infofangst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/d6f258e3-5cc2-413d-a637-6d69dbc538c7.html" target="element"> L&#248;pende infofangst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/9b26f89c-821b-42af-bc01-06dc8c0362a0.html" target="element"> S&#230;rskilt infofangst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/c4799a1e-0e63-46d4-a88c-56f3304c894e.html" target="element"> Eksperimentell infofangst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f00894c8-82d9-458b-89be-ea692dc203d8.html" target="element"> Overf&#248;ring av eksterne data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/9bfb1745-db7c-46fd-96f0-a283639ee137.html" target="element"> Lagring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/39f433a8-a951-4a91-84bf-ab1e7bead853.html" target="element"> Duplikat-prevensjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/01302f5d-4c5d-449d-b77e-28a0b7789a11.html" target="element"> Versjonssikker lagring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/74465c86-bc74-49e7-87ad-389fb79ba6ef.html" target="element"> Lagring av store datamengder </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/978e8e1e-1dc0-40d7-a639-872c98043e78.html" target="element"> Lagring av vilk&#229;rlige formater </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/00fde2a8-fcf7-4a67-9bb7-2f151a83647f.html" target="element"> Standardbasert lagring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/66123e1d-9064-4bcb-bd51-7f50c8b5e36c.html" target="element"> Egen lagring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/3b96205a-5441-4e2d-b395-a6633a10c8ce.html" target="element"> Lagring hos tredjepart </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/c5c4445d-15ec-4100-a142-94e7e4cf2d99.html" target="element"> Sikker backup </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f772cec8-98d4-4660-bda3-b1a4c49d0982.html" target="element"> Rettighets-forvaltning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/71ab9243-f613-421f-82e5-5129a0c6fe8a.html" target="element"> Identitets- og rolleforvaltning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/00a4586c-f2c1-4c95-99e6-f35d1a85e180.html" target="element"> Ende til ende sikring av overf&#248;ringer </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/fab7de6e-4460-4092-83c1-b9219c6acbda.html" target="element"> Sikker lagring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/bef83f08-bb96-44f2-9280-9b0cf33ec71a.html" target="element"> Skallsikring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/9be723b4-88ea-4446-8e6c-f6113a0914d2.html" target="element"> Tilgangsstyring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/1d0bd77b-090a-46fd-a023-af5982e94eec.html" target="element"> Pseudonymisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/4284ebfc-63d9-4741-8f39-bf9c3186947a.html" target="element"> Logging av brukeraksess </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/886a1e50-9fa0-434e-af12-740c8f4bf5e5.html" target="element"> Sikkerhets-klassifisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f26a1843-0347-4629-8cc7-86f4a60cea27.html" target="element"> Anonymisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/d95ea14c-3614-42e2-b2df-1956394583c2.html" target="element"> Maskering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/f5b05edd-faa6-420d-9468-2181345190eb.html" target="element"> Forskriftsmessig sak&amp;arkiv </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/1aa7ceb9-ebcb-40ac-bfab-463db2ec032f.html" target="element"> Kassasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/29d15127-3e61-4cd3-8095-a10756620259.html" target="element"> Journalf&#248;ring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/b78b6e5e-db59-415b-a6e6-24d15b8bb12a.html" target="element"> Deponering til riksarkivet </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f5ba6220-d064-41ff-ace9-96779477fdac.html" target="element"> Arkivavgrensing </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/5e47285a-9830-430b-a331-63cac2092422.html" target="element"> Intern arkivering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/96e3a9a5-9285-438a-b8de-fa4c88a9793d.html" target="element"> Etterlevelse av NOARK-standarden </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/6cea5550-f077-4290-8ac8-08e99576e4c9.html" target="element"> Kvalitetssikring av informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/81f93e42-b73f-4a00-88b7-95cfd339842b.html" target="element"> Intern oppl&#230;ring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/7a052630-189b-46e3-a705-e0422f542942.html" target="element"> Retningslinjer og definerte prosesser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/59d5280b-4880-47ce-a5cc-197e7b729e80.html" target="element"> Prosesser for h&#248;ring og godkjenning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/25b7cb33-d0f8-414a-9a08-02d79b503dcc.html" target="element"> St&#248;ttefunksjoner for strukturering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/7fa0dbf3-5d1e-41d8-9b7e-608f38d786d6.html" target="element"> Automatisert strukturering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/9bdb9505-f206-45b4-a2cc-d4d0b2fbb5c8.html" target="element"> Definert eierskap til informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/259431cd-9b07-4054-a2ce-d69d9023dea3.html" target="element"> Definert produktansvar </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/cba21dc7-8eff-4d59-93b9-e706ebec2065.html" target="element"> Informasjonsoppdagelse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/bb15df3f-abd5-45a2-abbc-453241e2e25c.html" target="element"> M&#248;nstergjenkjenning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/26c24663-d664-471c-89cf-b5b94682e7e9.html" target="element"> Adgang og tilgang til informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/87964e07-f78c-47cc-96c0-539595c79f02.html" target="element"> Kjennskap til datakilder </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/6761874f-4b1a-4823-9da8-fad2a378585e.html" target="element"> Eksplorative s&#248;k eksternt og internt </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/8c02f4ee-ecd3-4c64-a5eb-8df73516e15b.html" target="element"> Gjenbruk og automatisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f88947ee-063d-44c7-9259-cc4efbb3ac5b.html" target="element"> Avviksvarsling </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/09ca9bf2-f8cf-4ff6-8762-d43a38c5c02f.html" target="element"> Innsikt i prosesstatus </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/35e35de5-4174-4cc7-9e25-01140cc9a27c.html" target="element"> Adaptiv saksbehandling </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f60aee41-9c22-4a14-9bee-b695413a0a1b.html" target="element"> Arbeidsflytst&#248;tte </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/0d2e9f01-be1a-4d15-a600-e918770f0799.html" target="element"> Automatisering av prosesser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/e9263a4d-bce9-40b3-889d-212743d3ef99.html" target="element"> Gjenbruk av informasjon og l&#248;sninger </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/b5fc2e8c-9a4c-4c5a-b4d1-622191b5ccaf.html" target="element"> Historisk prosessanalyse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/497eec8d-ef2d-41a7-ae4f-1a34a01dbb1c.html" target="element"> Strukturering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/56ffa2bf-526e-46ba-a0d9-08660d91762c.html" target="element"> Frie metadata-vokabularer </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/e13e57a6-79d3-4c00-8c0a-a0afa70369dd.html" target="element"> Kontrollerte metadata-vokabularer </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/86935246-01b3-4978-9d19-37291b3b7646.html" target="element"> Semantisk lenking </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/13d3d0b1-f758-42ab-851f-9ac4d5f8daf2.html" target="element"> Datamodellering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/8d971042-091c-4466-8871-f2bc11ddffab.html" target="element"> Oppsplitting og sammenstilling </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/95b0a996-3d0c-4272-8098-09c39ef3fb7f.html" target="element"> Registrering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/5f227471-3a23-4a04-9b73-7de5892d9470.html" target="element"> Merking med metadata </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/80a66734-540a-46d8-9bbf-916662b11f96.html" target="element"> Livssyklusadministrasjon og sporing </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/1eb4cbf1-04e6-475e-9f53-d521356c28cf.html" target="element"> Duplikatrydding </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/24a2ebf6-2032-423b-98a0-f2b550e1ed46.html" target="element"> Sletting av irrelevant informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/0b7e691f-bf90-47d9-b186-6b541de16794.html" target="element"> Lovp&#229;lagt sletting av sensitive data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f64ceaf8-a0e9-4d1e-8188-61c6c526f5ac.html" target="element"> Sporing av kilder og endringer </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/4e8b05d7-2c9a-4522-bae3-77252dd8b951.html" target="element"> Oppbevaring av bevis </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/669c21ef-930d-4259-9219-c111a4200e44.html" target="element"> Sanntidsoppdatering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/8ba1d381-e918-4445-8f05-203bf387456f.html" target="element"> Konfigurasjons-styring </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/6e4d31af-c2a6-4abd-b4c0-e62160c1fefb.html" target="element"> Analyse, produksjon og publisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/ce35b004-0145-4d7b-af97-b1822e304c6b.html" target="element"> Kanaltilpasset publisering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/b1cc6fde-092d-4bdf-af2a-5a9dfe2c720b.html" target="element"> Fleksibel rapport-generering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/0e3f8c33-62c1-4762-8181-67b4edcb4520.html" target="element"> Strukturert innholds-produksjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/92f93835-903d-41a3-ac75-e1b433a5383a.html" target="element"> Datapreparering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/779d64bf-985d-4e20-a961-c7130775784c.html" target="element"> Analyse av data og dokumenter </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/4bf8c9a9-9de1-4709-b57f-e7ed8d03ea18.html" target="element"> Kildereferering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/05e94b73-6641-4c29-9f73-2d2736fccdbc.html" target="element"> Kontinuerlig revisjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/34ecf94e-c0da-4a6b-aea3-cd029c90893a.html" target="element"> Oversikt og gjenfinning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/d846147f-231a-4ab5-b72c-6f96494c822f.html" target="element"> Oversikt over begreper </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f2d59fd3-b2d3-4d4d-8068-208707e88521.html" target="element"> Oversikt over eksterne datakilder </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/6d9c2539-f257-42b5-ad4a-5797b7c410f5.html" target="element"> Oversikt over interne datakilder </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/721b2ef1-549d-46cc-b3a0-afa5d2ceada1.html" target="element"> Oversikt over innhentet informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/041d921a-57da-4e60-bac4-e0c9f426350f.html" target="element"> Oversikt over sensitive data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/3f18219d-c140-468e-814c-fff3820707f3.html" target="element"> Gjenfinning av informasjon </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/b0cefe46-de6b-425d-b3a6-6c8f655b8df0.html" target="element"> Oversikt over persondata </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											
											<tr><td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element"> Mottak av data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html" target="element"> "Lifecycle management/API administrasjon" </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;ring av data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/3b5509cd-9794-4611-8019-50a59790a0a1.html" target="element"> Tilrettelegge data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/f6bd0a68-3583-4de6-a8fa-b3299134a50f.html" target="element"> Varsling av hendelse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/5e9c8bbc-d057-4811-ba22-6329ab9869c8.html" target="element"> Oppdatering av data (sending til dataforvalter) </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element"> Tilbakemelding p&#229; data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhenting av data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sende data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html" target="element"> Analyse av data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/ad111325-001c-4782-934d-84606a5b5110.html" target="element"> "Orden i eget hus" </a> </td><td class="i18n-elementtype-Capability"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/fb483794-f8eb-4554-a5de-af78a47ab6e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb483794-f8eb-4554-a5de-af78a47ab6e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9bfb1745-db7c-46fd-96f0-a283639ee137.html" target="element"> Lagring </a> </td>
																		<td> <a href="../elements/00fde2a8-fcf7-4a67-9bb7-2f151a83647f.html" target="element"> Standardbasert lagring </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/4568987c-8570-486e-8d59-86f234559f4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/4568987c-8570-486e-8d59-86f234559f4c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/00a4586c-f2c1-4c95-99e6-f35d1a85e180.html" target="element"> Ende til ende sikring av overf&#248;ringer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f7a742b6-0e27-4a2a-abe0-dc3c43e469a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/f7a742b6-0e27-4a2a-abe0-dc3c43e469a2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/f26a1843-0347-4629-8cc7-86f4a60cea27.html" target="element"> Anonymisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/392999e4-3012-430f-b4c6-af954c97b888.html" target="element">  </a> </td>
																		<td> <a href="../elements/392999e4-3012-430f-b4c6-af954c97b888.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/d95ea14c-3614-42e2-b2df-1956394583c2.html" target="element"> Maskering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c513f2c2-b2b6-43bd-80bc-d00633c34cf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/c513f2c2-b2b6-43bd-80bc-d00633c34cf8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/bef83f08-bb96-44f2-9280-9b0cf33ec71a.html" target="element"> Skallsikring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a73c4a0a-92f9-4e5d-8832-110894e030d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/a73c4a0a-92f9-4e5d-8832-110894e030d8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/886a1e50-9fa0-434e-af12-740c8f4bf5e5.html" target="element"> Sikkerhets-klassifisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8eafc2bb-bc36-42e5-a068-36e61f9d9647.html" target="element">  </a> </td>
																		<td> <a href="../elements/8eafc2bb-bc36-42e5-a068-36e61f9d9647.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/fab7de6e-4460-4092-83c1-b9219c6acbda.html" target="element"> Sikker lagring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/284b5120-4b1e-4b51-a688-2db1773610b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/284b5120-4b1e-4b51-a688-2db1773610b2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/4284ebfc-63d9-4741-8f39-bf9c3186947a.html" target="element"> Logging av brukeraksess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3117a498-950a-4f6f-a435-55a3d491e360.html" target="element">  </a> </td>
																		<td> <a href="../elements/3117a498-950a-4f6f-a435-55a3d491e360.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fbe92f53-382e-49ce-9564-a6559f026396.html" target="element"> Sikring av informasjon </a> </td>
																		<td> <a href="../elements/1d0bd77b-090a-46fd-a023-af5982e94eec.html" target="element"> Pseudonymisering </a> </td>
																	</tr>

											
											
																	<tr>
																		<td> <a href="../elements/0f1196f4-c0a2-4d7e-b02b-bffc65b95829.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f1196f4-c0a2-4d7e-b02b-bffc65b95829.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6cea5550-f077-4290-8ac8-08e99576e4c9.html" target="element"> Kvalitetssikring av informasjon </a> </td>
																		<td> <a href="../elements/7fa0dbf3-5d1e-41d8-9b7e-608f38d786d6.html" target="element"> Automatisert strukturering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a404ea4-140c-4fbe-ada3-c9cd7e28105a.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a404ea4-140c-4fbe-ada3-c9cd7e28105a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6cea5550-f077-4290-8ac8-08e99576e4c9.html" target="element"> Kvalitetssikring av informasjon </a> </td>
																		<td> <a href="../elements/9bdb9505-f206-45b4-a2cc-d4d0b2fbb5c8.html" target="element"> Definert eierskap til informasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54486427-09e4-4327-972c-6368fa0777cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/54486427-09e4-4327-972c-6368fa0777cb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6cea5550-f077-4290-8ac8-08e99576e4c9.html" target="element"> Kvalitetssikring av informasjon </a> </td>
																		<td> <a href="../elements/25b7cb33-d0f8-414a-9a08-02d79b503dcc.html" target="element"> St&#248;ttefunksjoner for strukturering </a> </td>
																	</tr>

											
											
											
											
											
											
																	<tr>
																		<td> <a href="../elements/e6cc8316-5a8c-4f30-95f9-fd92236f5d4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e6cc8316-5a8c-4f30-95f9-fd92236f5d4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ecf94e-c0da-4a6b-aea3-cd029c90893a.html" target="element"> Oversikt og gjenfinning </a> </td>
																		<td> <a href="../elements/d846147f-231a-4ab5-b72c-6f96494c822f.html" target="element"> Oversikt over begreper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0849c0f-a15c-4794-8cb4-8824ae695361.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0849c0f-a15c-4794-8cb4-8824ae695361.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ecf94e-c0da-4a6b-aea3-cd029c90893a.html" target="element"> Oversikt og gjenfinning </a> </td>
																		<td> <a href="../elements/f2d59fd3-b2d3-4d4d-8068-208707e88521.html" target="element"> Oversikt over eksterne datakilder </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/a083cfae-ded1-4b35-ad5a-591bf1e94e0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a083cfae-ded1-4b35-ad5a-591bf1e94e0f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;ring av data </a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3739edb-709e-4a51-bb64-a9d6a8caba34.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3739edb-709e-4a51-bb64-a9d6a8caba34.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;ring av data </a> </td>
																		<td> <a href="../elements/3b5509cd-9794-4611-8019-50a59790a0a1.html" target="element"> Tilrettelegge data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4487d0d2-bc1e-4628-80a8-10a4af2357c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/4487d0d2-bc1e-4628-80a8-10a4af2357c4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b2629945-0e02-4008-8db4-d6cc7f8d34a3.html" target="element"> Tilgjengeliggj&#248;ring av data </a> </td>
																		<td> <a href="../elements/7ce4c7ef-5baf-4026-a343-6b79729a6306.html" target="element"> Innhenting av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3d07e05b-31f5-430e-9522-c0ca42f980fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d07e05b-31f5-430e-9522-c0ca42f980fb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sende data </a> </td>
																		<td> <a href="../elements/260f44ee-7dc5-4874-8dbf-cc5ae9690877.html" target="element"> Mottak av data </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>