<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Avgi forespurte data (copy)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Avgi forespurte data (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7e1fc02d-1d63-4486-9b99-fa9aab945c21.png" alt="Avgi forespurte data (copy)" usemap="#7e1fc02d-1d63-4486-9b99-fa9aab945c21map"/>
			   <map name="7e1fc02d-1d63-4486-9b99-fa9aab945c21map">
				  		<area shape="rect" coords="370,10,490,65" href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html"  target="element">
				  		<area shape="rect" coords="209,274,329,329" href="../elements/e192d6a2-e2d9-4d82-a305-6241ee241518.html"  target="element">
				  		<area shape="rect" coords="190,10,310,65" href="../elements/f22a6c6b-db56-4bf5-81d4-53e55a9b2c92.html"  target="element">
				  				<area shape="rect" coords="382,154,502,209" href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html"  target="element">
				  				<area shape="rect" coords="202,154,335,209" href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html"  target="element">
				  				<area shape="rect" coords="34,154,154,209" href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html"  target="element">

				  		<area shape="rect" coords="10,106,527,239" href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html"  target="element">
				  		<area shape="rect" coords="34,10,154,65" href="../elements/2af682a3-bead-4c64-abf8-c2f42acdd63b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Avgi forespurte data (copy)</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e192d6a2-e2d9-4d82-a305-6241ee241518.html" target="element"> Valideringstjeneste </a> </td>
											    <td> <a href="../elements/e192d6a2-e2d9-4d82-a305-6241ee241518.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f22a6c6b-db56-4bf5-81d4-53e55a9b2c92.html" target="element"> Intern tilgangskontroll </a> </td>
											    <td> <a href="../elements/f22a6c6b-db56-4bf5-81d4-53e55a9b2c92.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
											    <td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element"> Avgi data </a> </td>
													    <td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
													    <td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element"> Motta  foresp&#248;rsel om oppslag </a> </td>
													    <td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2af682a3-bead-4c64-abf8-c2f42acdd63b.html" target="element"> Tilgjengeliggj&#248;re data </a> </td>
											    <td> <a href="../elements/2af682a3-bead-4c64-abf8-c2f42acdd63b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/437949dd-9e82-415a-8fcf-c6574332cfaf.html" target="element"> assignment </a> </td>
																		<td> <a href="../elements/437949dd-9e82-415a-8fcf-c6574332cfaf.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/f22a6c6b-db56-4bf5-81d4-53e55a9b2c92.html" target="element"> Intern tilgangskontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2cf4599-631a-4ea2-b105-40eddb92140b.html" target="element"> association </a> </td>
																		<td> <a href="../elements/b2cf4599-631a-4ea2-b105-40eddb92140b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/02fdbadb-08aa-4207-a3d7-510bac8bfed9.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/02fdbadb-08aa-4207-a3d7-510bac8bfed9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e192d6a2-e2d9-4d82-a305-6241ee241518.html" target="element"> Valideringstjeneste </a> </td>
																		<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17df711c-0eae-4677-a9e3-d31a1a86c036.html" target="element"> serving </a> </td>
																		<td> <a href="../elements/17df711c-0eae-4677-a9e3-d31a1a86c036.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/f22a6c6b-db56-4bf5-81d4-53e55a9b2c92.html" target="element"> Intern tilgangskontroll </a> </td>
																		<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dca03c85-a47c-4ef7-97de-d5e8d938b6b4.html" target="element"> realization </a> </td>
																				<td> <a href="../elements/dca03c85-a47c-4ef7-97de-d5e8d938b6b4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element"> Avgi data </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/211cafda-0146-4b55-8b92-ce19c9d3b120.html" target="element"> triggering </a> </td>
																				<td> <a href="../elements/211cafda-0146-4b55-8b92-ce19c9d3b120.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																				<td> <a href="../elements/71a4a1e2-d637-48bb-b847-5bb23cbbbef9.html" target="element"> Avgi data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/69f88719-9710-4653-932c-cb4cf7ea3105.html" target="element"> realization </a> </td>
																				<td> <a href="../elements/69f88719-9710-4653-932c-cb4cf7ea3105.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																				<td> <a href="../elements/f469884e-d708-4a8c-ae89-023ab65ce4d8.html" target="element"> Avgi forespurte data gjennom API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ebf8d316-ae76-4f48-9978-cc101633c8d9.html" target="element"> triggering </a> </td>
																				<td> <a href="../elements/ebf8d316-ae76-4f48-9978-cc101633c8d9.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/83e31a03-97cf-478c-b05f-5eeb3fbe8f79.html" target="element"> Motta  foresp&#248;rsel om oppslag </a> </td>
																				<td> <a href="../elements/6b298315-cf49-4dea-b154-79ae4a79fd7e.html" target="element"> Kontroller tilgang </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>