<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kapabiliteter - gammelt</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kapabiliteter - gammelt</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/82233b8f-2403-4588-a1b3-cf9ff8fb756c.png" alt="Kapabiliteter - gammelt" usemap="#82233b8f-2403-4588-a1b3-cf9ff8fb756cmap"/>
			   <map name="82233b8f-2403-4588-a1b3-cf9ff8fb756cmap">
				  				<area shape="rect" coords="754,394,874,449" href="../elements/a649a710-7b7b-4940-a67c-b39d4e8dabae.html"  target="element">
				  				<area shape="rect" coords="754,466,874,521" href="../elements/542f588f-54fa-4ada-8d85-618bc4ab1396.html"  target="element">
				  				<area shape="rect" coords="754,322,874,377" href="../elements/5bf90c32-d7c6-469c-bc27-ea4ef428fb09.html"  target="element">
				  				<area shape="rect" coords="754,142,874,197" href="../elements/e1e4e3d8-e3c0-4efa-9b83-81fd8cbe024b.html"  target="element">
				  				<area shape="rect" coords="754,202,874,257" href="../elements/a095240d-fc9b-4bc8-918a-9746ade88963.html"  target="element">
				  				<area shape="rect" coords="754,262,874,317" href="../elements/6229f674-47e9-4642-a2e2-ffca0fec07d0.html"  target="element">

				  		<area shape="rect" coords="730,94,898,550" href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html"  target="element">
				  				<area shape="rect" coords="322,46,442,101" href="../elements/28370d6f-c9cb-4341-af92-17f3841d37af.html"  target="element">
				  				<area shape="rect" coords="178,46,298,101" href="../elements/d7f63f5a-7726-4972-9224-b4e6e3e27eea.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/68e99d6d-0d2f-45c6-a7b8-b08c3a51ffd4.html"  target="element">

				  		<area shape="rect" coords="10,10,491,119" href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html"  target="element">
				          <area shape="rect" coords="1623,125,1808,205" href="../objects/9f1852ba-9944-446e-a800-f2161ae1fa0f.html" target="element" >
				  				<area shape="rect" coords="333,508,453,563" href="../elements/e20cb6b0-79e5-4661-9587-4086f5f99f52.html"  target="element">
				  				<area shape="rect" coords="478,508,598,563" href="../elements/97ab3a5e-0b9b-4674-8644-03a7785d2062.html"  target="element">
				  						<area shape="rect" coords="357,322,477,377" href="../elements/61b3cb5c-bbc9-410f-b3fb-702916afdb13.html"  target="element">
				  						<area shape="rect" coords="357,394,477,449" href="../elements/3b7c16e7-a868-4ddc-b1f6-532a77f0e627.html"  target="element">

				  				<area shape="rect" coords="333,286,491,466" href="../elements/18c728a5-77a6-48df-aa09-b45428202e89.html"  target="element">
				  				<area shape="rect" coords="202,508,322,563" href="../elements/94d2b8b9-6226-47bc-b509-714d42b5813e.html"  target="element">
				  						<area shape="rect" coords="526,394,656,454" href="../elements/0d1727c1-4cd8-41af-80e2-98b934f3a4d1.html"  target="element">
				  						<area shape="rect" coords="526,322,656,382" href="../elements/79cdde68-a6ef-4aa6-83ce-2dadf8a35f81.html"  target="element">

				  				<area shape="rect" coords="502,286,682,466" href="../elements/aa8aed53-8392-45e1-bb20-cde1699c327a.html"  target="element">
				  				<area shape="rect" coords="70,394,190,449" href="../elements/397ca08a-25d1-4ed3-bc4f-94d58c478bf7.html"  target="element">
				  				<area shape="rect" coords="214,430,334,485" href="../elements/c1a37607-7a51-4746-ade0-888530aba9e2.html"  target="element">
				  				<area shape="rect" coords="70,454,190,509" href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html"  target="element">
				  				<area shape="rect" coords="70,286,190,341" href="../elements/6680e434-967e-4884-81a2-d2b1d03a8238.html"  target="element">

				  		<area shape="rect" coords="22,250,707,577" href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html"  target="element">
				  				<area shape="rect" coords="327,790,447,845" href="../elements/bcc05839-06ed-40ab-9fe9-8f6f5b90deb1.html"  target="element">
				  				<area shape="rect" coords="322,706,452,767" href="../elements/541dc39d-8dbc-46ad-8d5f-1d97073c559a.html"  target="element">

				  		<area shape="rect" coords="286,658,503,860" href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html"  target="element">
				  				<area shape="rect" coords="762,763,892,823" href="../elements/dbf635f1-a2f6-4f43-8df8-af431d199cd1.html"  target="element">
				  				<area shape="rect" coords="618,763,748,823" href="../elements/bff4b68a-a81e-4924-be79-b324726606fa.html"  target="element">

				  		<area shape="rect" coords="594,727,931,848" href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html"  target="element">
				  				<area shape="rect" coords="34,682,164,742" href="../elements/62fb991a-1bee-48fa-aff1-87ad3d01784b.html"  target="element">

				  		<area shape="rect" coords="10,646,227,848" href="../elements/5e9c8bbc-d057-4811-ba22-6329ab9869c8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Kapabiliteter - utkast til komplett bilde</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5e9c8bbc-d057-4811-ba22-6329ab9869c8.html" target="element"> Oppdatering av data (sending til dataforvalter) </a> </td>
											    <td> <a href="../elements/5e9c8bbc-d057-4811-ba22-6329ab9869c8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/62fb991a-1bee-48fa-aff1-87ad3d01784b.html" target="element"> Oppdatere masterdata </a> </td>
													    <td> <a href="../elements/62fb991a-1bee-48fa-aff1-87ad3d01784b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html" target="element"> Analysere data </a> </td>
											    <td> <a href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bff4b68a-a81e-4924-be79-b324726606fa.html" target="element"> Analysere lokale data </a> </td>
													    <td> <a href="../elements/bff4b68a-a81e-4924-be79-b324726606fa.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dbf635f1-a2f6-4f43-8df8-af431d199cd1.html" target="element"> Analysere fjerntliggende data </a> </td>
													    <td> <a href="../elements/dbf635f1-a2f6-4f43-8df8-af431d199cd1.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element"> Tilbakemelding p&#229; data </a> </td>
											    <td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/541dc39d-8dbc-46ad-8d5f-1d97073c559a.html" target="element"> Korrigering av data </a> </td>
													    <td> <a href="../elements/541dc39d-8dbc-46ad-8d5f-1d97073c559a.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bcc05839-06ed-40ab-9fe9-8f6f5b90deb1.html" target="element"> "Vurdering av kvalitet" </a> </td>
													    <td> <a href="../elements/bcc05839-06ed-40ab-9fe9-8f6f5b90deb1.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
											    <td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6680e434-967e-4884-81a2-d2b1d03a8238.html" target="element"> Innsyn </a> </td>
													    <td> <a href="../elements/6680e434-967e-4884-81a2-d2b1d03a8238.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere samhandlingsakt&#248;r </a> </td>
													    <td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1a37607-7a51-4746-ade0-888530aba9e2.html" target="element"> Autorisere </a> </td>
													    <td> <a href="../elements/c1a37607-7a51-4746-ade0-888530aba9e2.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/397ca08a-25d1-4ed3-bc4f-94d58c478bf7.html" target="element"> Identifisere </a> </td>
													    <td> <a href="../elements/397ca08a-25d1-4ed3-bc4f-94d58c478bf7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa8aed53-8392-45e1-bb20-cde1699c327a.html" target="element"> Sporing </a> </td>
													    <td> <a href="../elements/aa8aed53-8392-45e1-bb20-cde1699c327a.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/79cdde68-a6ef-4aa6-83ce-2dadf8a35f81.html" target="element"> Spore datautlevring </a> </td>
															    <td> <a href="../elements/79cdde68-a6ef-4aa6-83ce-2dadf8a35f81.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0d1727c1-4cd8-41af-80e2-98b934f3a4d1.html" target="element"> Spore tilgang </a> </td>
															    <td> <a href="../elements/0d1727c1-4cd8-41af-80e2-98b934f3a4d1.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/94d2b8b9-6226-47bc-b509-714d42b5813e.html" target="element"> Sikring av tilgjengelighet </a> </td>
													    <td> <a href="../elements/94d2b8b9-6226-47bc-b509-714d42b5813e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18c728a5-77a6-48df-aa09-b45428202e89.html" target="element"> Dokumentere behandlingsgrunnlag for personopplysninger </a> </td>
													    <td> <a href="../elements/18c728a5-77a6-48df-aa09-b45428202e89.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3b7c16e7-a868-4ddc-b1f6-532a77f0e627.html" target="element"> Samtykke </a> </td>
															    <td> <a href="../elements/3b7c16e7-a868-4ddc-b1f6-532a77f0e627.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/61b3cb5c-bbc9-410f-b3fb-702916afdb13.html" target="element"> "Hjemmel" </a> </td>
															    <td> <a href="../elements/61b3cb5c-bbc9-410f-b3fb-702916afdb13.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/97ab3a5e-0b9b-4674-8644-03a7785d2062.html" target="element"> Integritetssikring </a> </td>
													    <td> <a href="../elements/97ab3a5e-0b9b-4674-8644-03a7785d2062.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e20cb6b0-79e5-4661-9587-4086f5f99f52.html" target="element"> Konfidensialitetssikring </a> </td>
													    <td> <a href="../elements/e20cb6b0-79e5-4661-9587-4086f5f99f52.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/9f1852ba-9944-446e-a800-f2161ae1fa0f.html" target="element">  </a> </td>
									           <td> <a href="../objects/9f1852ba-9944-446e-a800-f2161ae1fa0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html" target="element"> "Lifecycle management/API administrasjon" </a> </td>
											    <td> <a href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/68e99d6d-0d2f-45c6-a7b8-b08c3a51ffd4.html" target="element"> Utvikling </a> </td>
													    <td> <a href="../elements/68e99d6d-0d2f-45c6-a7b8-b08c3a51ffd4.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d7f63f5a-7726-4972-9224-b4e6e3e27eea.html" target="element"> Beredskap </a> </td>
													    <td> <a href="../elements/d7f63f5a-7726-4972-9224-b4e6e3e27eea.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/28370d6f-c9cb-4341-af92-17f3841d37af.html" target="element"> Hendelses-h&#229;ndtering </a> </td>
													    <td> <a href="../elements/28370d6f-c9cb-4341-af92-17f3841d37af.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
											    <td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6229f674-47e9-4642-a2e2-ffca0fec07d0.html" target="element"> Dokumentere APIer </a> </td>
													    <td> <a href="../elements/6229f674-47e9-4642-a2e2-ffca0fec07d0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a095240d-fc9b-4bc8-918a-9746ade88963.html" target="element"> Dokumentere begreper </a> </td>
													    <td> <a href="../elements/a095240d-fc9b-4bc8-918a-9746ade88963.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e1e4e3d8-e3c0-4efa-9b83-81fd8cbe024b.html" target="element"> Dokumentere datasett </a> </td>
													    <td> <a href="../elements/e1e4e3d8-e3c0-4efa-9b83-81fd8cbe024b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5bf90c32-d7c6-469c-bc27-ea4ef428fb09.html" target="element"> Dokumentere informasjonsmodeller </a> </td>
													    <td> <a href="../elements/5bf90c32-d7c6-469c-bc27-ea4ef428fb09.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/542f588f-54fa-4ada-8d85-618bc4ab1396.html" target="element"> Verifisere behandlingsgrunnlag </a> </td>
													    <td> <a href="../elements/542f588f-54fa-4ada-8d85-618bc4ab1396.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a649a710-7b7b-4940-a67c-b39d4e8dabae.html" target="element"> Dokumentere behandlingsgrunnlag </a> </td>
													    <td> <a href="../elements/a649a710-7b7b-4940-a67c-b39d4e8dabae.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1fb013cd-47bf-4983-a9ad-09262260dafe.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/1fb013cd-47bf-4983-a9ad-09262260dafe.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5e9c8bbc-d057-4811-ba22-6329ab9869c8.html" target="element"> Oppdatering av data (sending til dataforvalter) </a> </td>
																		<td> <a href="../elements/62fb991a-1bee-48fa-aff1-87ad3d01784b.html" target="element"> Oppdatere masterdata </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/35624818-33f4-41d7-a371-6f6028a05cd7.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/35624818-33f4-41d7-a371-6f6028a05cd7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html" target="element"> Analysere data </a> </td>
																		<td> <a href="../elements/bff4b68a-a81e-4924-be79-b324726606fa.html" target="element"> Analysere lokale data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc54eef5-4eef-4305-83b3-908ae2020823.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/cc54eef5-4eef-4305-83b3-908ae2020823.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/85e451fe-3b0f-4056-aa77-fd6983ed173c.html" target="element"> Analysere data </a> </td>
																		<td> <a href="../elements/dbf635f1-a2f6-4f43-8df8-af431d199cd1.html" target="element"> Analysere fjerntliggende data </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/e8ea461a-13c2-49a1-b133-9ac956bd9707.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/e8ea461a-13c2-49a1-b133-9ac956bd9707.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element"> Tilbakemelding p&#229; data </a> </td>
																		<td> <a href="../elements/541dc39d-8dbc-46ad-8d5f-1d97073c559a.html" target="element"> Korrigering av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3ca1bec-35ae-49c3-a3fc-d1f495f58a96.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/d3ca1bec-35ae-49c3-a3fc-d1f495f58a96.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2f41c718-529b-47c8-802e-d56f6afb3e8f.html" target="element"> Tilbakemelding p&#229; data </a> </td>
																		<td> <a href="../elements/bcc05839-06ed-40ab-9fe9-8f6f5b90deb1.html" target="element"> "Vurdering av kvalitet" </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/50973d1c-dbe2-4bc9-b475-cecd27480ef1.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/50973d1c-dbe2-4bc9-b475-cecd27480ef1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/6680e434-967e-4884-81a2-d2b1d03a8238.html" target="element"> Innsyn </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4e576ec1-4dce-4a95-becd-fecb2a559bf1.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/4e576ec1-4dce-4a95-becd-fecb2a559bf1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere samhandlingsakt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3affb566-6935-49c2-be25-797b50eebd6a.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/3affb566-6935-49c2-be25-797b50eebd6a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/c1a37607-7a51-4746-ade0-888530aba9e2.html" target="element"> Autorisere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f073540a-b3b6-4d07-9991-11f2158587ef.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f073540a-b3b6-4d07-9991-11f2158587ef.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/397ca08a-25d1-4ed3-bc4f-94d58c478bf7.html" target="element"> Identifisere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/029f0ac1-8d08-4f17-8a27-baa1db811f3c.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/029f0ac1-8d08-4f17-8a27-baa1db811f3c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/aa8aed53-8392-45e1-bb20-cde1699c327a.html" target="element"> Sporing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c89be92-96be-483d-92a0-10bf648e7090.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/6c89be92-96be-483d-92a0-10bf648e7090.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/94d2b8b9-6226-47bc-b509-714d42b5813e.html" target="element"> Sikring av tilgjengelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc353d69-254c-4693-84d7-b30f3b974c5d.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/fc353d69-254c-4693-84d7-b30f3b974c5d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fc578911-3597-4f43-9d87-a7443f54a26e.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/18c728a5-77a6-48df-aa09-b45428202e89.html" target="element"> Dokumentere behandlingsgrunnlag for personopplysninger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ea8eec9e-5176-459c-9368-3db933e84547.html" target="element"> aggregation </a> </td>
																				<td> <a href="../elements/ea8eec9e-5176-459c-9368-3db933e84547.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/aa8aed53-8392-45e1-bb20-cde1699c327a.html" target="element"> Sporing </a> </td>
																				<td> <a href="../elements/79cdde68-a6ef-4aa6-83ce-2dadf8a35f81.html" target="element"> Spore datautlevring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0b3dad9e-c0f4-4ca5-b4fb-5677fc925528.html" target="element"> aggregation </a> </td>
																				<td> <a href="../elements/0b3dad9e-c0f4-4ca5-b4fb-5677fc925528.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/aa8aed53-8392-45e1-bb20-cde1699c327a.html" target="element"> Sporing </a> </td>
																				<td> <a href="../elements/0d1727c1-4cd8-41af-80e2-98b934f3a4d1.html" target="element"> Spore tilgang </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/61220b55-137d-488e-bb6a-2dc84e02bfce.html" target="element">  </a> </td>
																				<td> <a href="../elements/61220b55-137d-488e-bb6a-2dc84e02bfce.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/18c728a5-77a6-48df-aa09-b45428202e89.html" target="element"> Dokumentere behandlingsgrunnlag for personopplysninger </a> </td>
																				<td> <a href="../elements/3b7c16e7-a868-4ddc-b1f6-532a77f0e627.html" target="element"> Samtykke </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b44c3f82-4453-4643-bdff-f7a1fe2467d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/b44c3f82-4453-4643-bdff-f7a1fe2467d8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/18c728a5-77a6-48df-aa09-b45428202e89.html" target="element"> Dokumentere behandlingsgrunnlag for personopplysninger </a> </td>
																				<td> <a href="../elements/61b3cb5c-bbc9-410f-b3fb-702916afdb13.html" target="element"> "Hjemmel" </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/40642833-220d-402f-a0ac-0b4ce8cd457c.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/40642833-220d-402f-a0ac-0b4ce8cd457c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html" target="element"> "Lifecycle management/API administrasjon" </a> </td>
																		<td> <a href="../elements/68e99d6d-0d2f-45c6-a7b8-b08c3a51ffd4.html" target="element"> Utvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ce6e7d3c-3512-478e-afd2-f35b2f6a50cd.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/ce6e7d3c-3512-478e-afd2-f35b2f6a50cd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html" target="element"> "Lifecycle management/API administrasjon" </a> </td>
																		<td> <a href="../elements/d7f63f5a-7726-4972-9224-b4e6e3e27eea.html" target="element"> Beredskap </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/191a4d7e-24f1-491f-b914-9a86fefb122e.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/191a4d7e-24f1-491f-b914-9a86fefb122e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7bea0f0b-c1be-4448-be4c-bb429fd63a07.html" target="element"> "Lifecycle management/API administrasjon" </a> </td>
																		<td> <a href="../elements/28370d6f-c9cb-4341-af92-17f3841d37af.html" target="element"> Hendelses-h&#229;ndtering </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/b7e6c231-3cf8-4d6c-ba95-fefc85433099.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/b7e6c231-3cf8-4d6c-ba95-fefc85433099.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																		<td> <a href="../elements/e1e4e3d8-e3c0-4efa-9b83-81fd8cbe024b.html" target="element"> Dokumentere datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fdb7248e-f02d-4677-a2d3-bef9b721642d.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/fdb7248e-f02d-4677-a2d3-bef9b721642d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																		<td> <a href="../elements/a095240d-fc9b-4bc8-918a-9746ade88963.html" target="element"> Dokumentere begreper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f37be2bb-cdd8-4c07-8b56-a52fd326c362.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f37be2bb-cdd8-4c07-8b56-a52fd326c362.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																		<td> <a href="../elements/6229f674-47e9-4642-a2e2-ffca0fec07d0.html" target="element"> Dokumentere APIer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4c56544-2d36-47df-b492-ff652d51d43e.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f4c56544-2d36-47df-b492-ff652d51d43e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																		<td> <a href="../elements/5bf90c32-d7c6-469c-bc27-ea4ef428fb09.html" target="element"> Dokumentere informasjonsmodeller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf6fe21c-cb15-42cb-b5fa-a752852557c3.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/bf6fe21c-cb15-42cb-b5fa-a752852557c3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																		<td> <a href="../elements/542f588f-54fa-4ada-8d85-618bc4ab1396.html" target="element"> Verifisere behandlingsgrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d414289e-95e2-49a5-a9a3-3a3741a638f3.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/d414289e-95e2-49a5-a9a3-3a3741a638f3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cf166850-1e1f-4a69-9593-7929db1c4446.html" target="element"> Dokumentere data </a> </td>
																		<td> <a href="../elements/a649a710-7b7b-4940-a67c-b39d4e8dabae.html" target="element"> Dokumentere behandlingsgrunnlag </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>