<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Aktuelle referansearkitekturer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Aktuelle referansearkitekturer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/884f0b97-0d45-4548-845f-14ca56770c80.png" alt="Aktuelle referansearkitekturer" usemap="#884f0b97-0d45-4548-845f-14ca56770c80map"/>
			   <map name="884f0b97-0d45-4548-845f-14ca56770c80map">
				  				<area shape="rect" coords="34,46,167,113" href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html"  target="element">
				  				<area shape="rect" coords="178,46,311,113" href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html"  target="element">
				  				<area shape="rect" coords="322,46,455,113" href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html"  target="element">

				  		<area shape="rect" coords="10,10,479,131" href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html"  target="element">
				  				<area shape="rect" coords="526,46,659,113" href="../elements/a095a826-998e-426c-b37f-2138ff6277ae.html"  target="element">

				  		<area shape="rect" coords="502,10,683,131" href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html"  target="element">
				  		<area shape="rect" coords="418,168,599,289" href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html"  target="element">
				  		<area shape="rect" coords="10,168,191,289" href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html"  target="element">
				  		<area shape="rect" coords="214,168,395,289" href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html"  target="element">
				  				<area shape="rect" coords="730,46,863,113" href="../elements/4c4eb887-cb9f-436a-b0c7-e9c696820030.html"  target="element">

				  		<area shape="rect" coords="706,10,887,131" href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
											    <td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td>
													    <td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
													    <td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html" target="element"> eNotifikasjon referansearkitektur </a> </td>
													    <td> <a href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html" target="element"> Informasjonssikkerhet </a> </td>
											    <td> <a href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a095a826-998e-426c-b37f-2138ff6277ae.html" target="element"> Identitetsforvaltning og tilgangsstyring referansearkitektur </a> </td>
													    <td> <a href="../elements/a095a826-998e-426c-b37f-2138ff6277ae.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html" target="element"> Informasjonsforvaltning </a> </td>
											    <td> <a href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html" target="element"> Sammenhengende tjenester </a> </td>
											    <td> <a href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html" target="element"> Dataanalyse </a> </td>
											    <td> <a href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html" target="element"> Datalagring </a> </td>
											    <td> <a href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4c4eb887-cb9f-436a-b0c7-e9c696820030.html" target="element"> Langtidslagring referansearkitektur </a> </td>
													    <td> <a href="../elements/4c4eb887-cb9f-436a-b0c7-e9c696820030.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/65b7945d-2a50-4553-8b33-1a31e269c0e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/65b7945d-2a50-4553-8b33-1a31e269c0e4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3b946887-f77f-491b-bcb2-e3ac4f18dd1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3b946887-f77f-491b-bcb2-e3ac4f18dd1d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19648ecf-2dba-4187-bd5c-e91253996ddc.html" target="element">  </a> </td>
																		<td> <a href="../elements/19648ecf-2dba-4187-bd5c-e91253996ddc.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html" target="element"> eNotifikasjon referansearkitektur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/2034382d-0413-4fec-b6d2-64050dbc6f7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2034382d-0413-4fec-b6d2-64050dbc6f7e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html" target="element"> Informasjonssikkerhet </a> </td>
																		<td> <a href="../elements/a095a826-998e-426c-b37f-2138ff6277ae.html" target="element"> Identitetsforvaltning og tilgangsstyring referansearkitektur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/56fbfe2a-dc2e-4991-b555-02d176155cb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/56fbfe2a-dc2e-4991-b555-02d176155cb3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html" target="element"> Datalagring </a> </td>
																		<td> <a href="../elements/4c4eb887-cb9f-436a-b0c7-e9c696820030.html" target="element"> Langtidslagring referansearkitektur </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>