<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kladd, Tor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kladd, Tor</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8ebfd258-0abd-4109-9ffd-ee30a073ecee.png" alt="Kladd, Tor" usemap="#8ebfd258-0abd-4109-9ffd-ee30a073eceemap"/>
			   <map name="8ebfd258-0abd-4109-9ffd-ee30a073eceemap">
				  		<area shape="rect" coords="730,381,797,562" href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html"  target="element">
				  				<area shape="rect" coords="1032,58,1201,323" href="../elements/3c59c267-a57c-4173-93db-c53fbd006b83.html"  target="element">
				  				<area shape="rect" coords="874,118,1007,185" href="../elements/eda630dd-a436-4613-a635-eaab9707fbbf.html"  target="element">

				  		<area shape="rect" coords="850,10,1211,664" href="../elements/70eb3f8b-9c1f-4351-90c3-a53d9dd5180d.html"  target="element">
				  				<area shape="rect" coords="22,142,155,209" href="../elements/b09baf87-8b76-4d32-92df-d69016958a6a.html"  target="element">
				  				<area shape="rect" coords="34,250,167,317" href="../elements/7fa64ead-0c67-4940-a5d1-518890a193e2.html"  target="element">

				  		<area shape="rect" coords="10,34,179,706" href="../elements/32461096-1373-4260-828b-d7eedff563e9.html"  target="element">
				  		<area shape="rect" coords="223,345,356,412" href="../elements/888f94f0-3564-4a3f-b977-cca916e4a2f9.html"  target="element">
				  		<area shape="rect" coords="574,477,707,544" href="../elements/ad7c19cf-d105-4ad2-8f98-a14089a7de72.html"  target="element">
				  		<area shape="rect" coords="394,489,527,556" href="../elements/61e4a282-d5be-4063-8de0-b734872f25af.html"  target="element">
				  		<area shape="rect" coords="394,573,527,640" href="../elements/3b49d4c6-f6c1-453e-99e5-baf5fecfd70b.html"  target="element">
				  		<area shape="rect" coords="223,462,356,529" href="../elements/96e225de-e3e6-4109-991d-5eaa9e6bfe45.html"  target="element">
				  		<area shape="rect" coords="394,645,527,712" href="../elements/b45b9732-61ce-4fc9-866c-d83e5ddf6b5f.html"  target="element">
				  		<area shape="rect" coords="243,568,376,635" href="../elements/23ccb4be-b2d2-4d0f-9013-03f70484e774.html"  target="element">
				  		<area shape="rect" coords="223,255,356,322" href="../elements/ad7c19cf-d105-4ad2-8f98-a14089a7de72.html"  target="element">
				  		<area shape="rect" coords="223,177,356,244" href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html"  target="element">
				  		<area shape="rect" coords="694,189,827,256" href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html"  target="element">
				  		<area shape="rect" coords="460,190,593,257" href="../elements/38405e57-fa26-46e1-a724-b4e2653075b5.html"  target="element">
				  		<area shape="rect" coords="485,51,618,118" href="../elements/061c1be1-143a-4ba2-8e02-5247f686a7b3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element"> API </a> </td>
											    <td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70eb3f8b-9c1f-4351-90c3-a53d9dd5180d.html" target="element"> Org B </a> </td>
											    <td> <a href="../elements/70eb3f8b-9c1f-4351-90c3-a53d9dd5180d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3c59c267-a57c-4173-93db-c53fbd006b83.html" target="element"> App B </a> </td>
													    <td> <a href="../elements/3c59c267-a57c-4173-93db-c53fbd006b83.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/eda630dd-a436-4613-a635-eaab9707fbbf.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/eda630dd-a436-4613-a635-eaab9707fbbf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/32461096-1373-4260-828b-d7eedff563e9.html" target="element"> Org A </a> </td>
											    <td> <a href="../elements/32461096-1373-4260-828b-d7eedff563e9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b09baf87-8b76-4d32-92df-d69016958a6a.html" target="element"> App A </a> </td>
													    <td> <a href="../elements/b09baf87-8b76-4d32-92df-d69016958a6a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7fa64ead-0c67-4940-a5d1-518890a193e2.html" target="element"> Device </a> </td>
													    <td> <a href="../elements/7fa64ead-0c67-4940-a5d1-518890a193e2.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/888f94f0-3564-4a3f-b977-cca916e4a2f9.html" target="element"> Sp&#248;rre om data </a> </td>
											    <td> <a href="../elements/888f94f0-3564-4a3f-b977-cca916e4a2f9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ad7c19cf-d105-4ad2-8f98-a14089a7de72.html" target="element"> Bevise riktig identiter </a> </td>
											    <td> <a href="../elements/ad7c19cf-d105-4ad2-8f98-a14089a7de72.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/61e4a282-d5be-4063-8de0-b734872f25af.html" target="element"> Konfoidensialitet </a> </td>
											    <td> <a href="../elements/61e4a282-d5be-4063-8de0-b734872f25af.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b49d4c6-f6c1-453e-99e5-baf5fecfd70b.html" target="element"> Integritet </a> </td>
											    <td> <a href="../elements/3b49d4c6-f6c1-453e-99e5-baf5fecfd70b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96e225de-e3e6-4109-991d-5eaa9e6bfe45.html" target="element"> Bevise rettigheter </a> </td>
											    <td> <a href="../elements/96e225de-e3e6-4109-991d-5eaa9e6bfe45.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b45b9732-61ce-4fc9-866c-d83e5ddf6b5f.html" target="element"> Uavviselighet </a> </td>
											    <td> <a href="../elements/b45b9732-61ce-4fc9-866c-d83e5ddf6b5f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/23ccb4be-b2d2-4d0f-9013-03f70484e774.html" target="element"> Leverand&#248;r </a> </td>
											    <td> <a href="../elements/23ccb4be-b2d2-4d0f-9013-03f70484e774.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ad7c19cf-d105-4ad2-8f98-a14089a7de72.html" target="element"> Bevise riktig identiter </a> </td>
											    <td> <a href="../elements/ad7c19cf-d105-4ad2-8f98-a14089a7de72.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html" target="element"> Tilgangstoken </a> </td>
											    <td> <a href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html" target="element"> Tilgangstoken </a> </td>
											    <td> <a href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/38405e57-fa26-46e1-a724-b4e2653075b5.html" target="element"> Tokenutsteder </a> </td>
											    <td> <a href="../elements/38405e57-fa26-46e1-a724-b4e2653075b5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/061c1be1-143a-4ba2-8e02-5247f686a7b3.html" target="element"> Ansvar og rettigheter </a> </td>
											    <td> <a href="../elements/061c1be1-143a-4ba2-8e02-5247f686a7b3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e35934b6-aec2-40c8-ba43-3ae5be96ae00.html" target="element">  </a> </td>
																		<td> <a href="../elements/e35934b6-aec2-40c8-ba43-3ae5be96ae00.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70eb3f8b-9c1f-4351-90c3-a53d9dd5180d.html" target="element"> Org B </a> </td>
																		<td> <a href="../elements/061c1be1-143a-4ba2-8e02-5247f686a7b3.html" target="element"> Ansvar og rettigheter </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/b0652fd2-87f9-48ae-88fc-e130f8600c19.html" target="element"> eier </a> </td>
																		<td> <a href="../elements/b0652fd2-87f9-48ae-88fc-e130f8600c19.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/32461096-1373-4260-828b-d7eedff563e9.html" target="element"> Org A </a> </td>
																		<td> <a href="../elements/b09baf87-8b76-4d32-92df-d69016958a6a.html" target="element"> App A </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c2ab80e-f368-4939-9468-e3b81e62ffc6.html" target="element"> A sp&#248;r B om .. </a> </td>
																		<td> <a href="../elements/6c2ab80e-f368-4939-9468-e3b81e62ffc6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/32461096-1373-4260-828b-d7eedff563e9.html" target="element"> Org A </a> </td>
																		<td> <a href="../elements/70eb3f8b-9c1f-4351-90c3-a53d9dd5180d.html" target="element"> Org B </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/43360952-c848-4e6b-b8ae-e9d1ffea9b1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/43360952-c848-4e6b-b8ae-e9d1ffea9b1c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/32461096-1373-4260-828b-d7eedff563e9.html" target="element"> Org A </a> </td>
																		<td> <a href="../elements/061c1be1-143a-4ba2-8e02-5247f686a7b3.html" target="element"> Ansvar og rettigheter </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7c1eebd5-832b-4199-8e5d-e87f94e868be.html" target="element">  </a> </td>
																				<td> <a href="../elements/7c1eebd5-832b-4199-8e5d-e87f94e868be.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b09baf87-8b76-4d32-92df-d69016958a6a.html" target="element"> App A </a> </td>
																				<td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element"> API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3f0b2b76-8ab9-4738-8627-56301f16bc9a.html" target="element">  </a> </td>
																				<td> <a href="../elements/3f0b2b76-8ab9-4738-8627-56301f16bc9a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/7fa64ead-0c67-4940-a5d1-518890a193e2.html" target="element"> Device </a> </td>
																				<td> <a href="../elements/b09baf87-8b76-4d32-92df-d69016958a6a.html" target="element"> App A </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>