<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Teknologier ref. NAVs omverdensanalyse 2019</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Teknologier ref. NAVs omverdensanalyse 2019</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8f923bb5-78ca-4a22-86e1-38753009da3a.png" alt="Teknologier ref. NAVs omverdensanalyse 2019" usemap="#8f923bb5-78ca-4a22-86e1-38753009da3amap"/>
			   <map name="8f923bb5-78ca-4a22-86e1-38753009da3amap">
				  				<area shape="rect" coords="37,128,177,198" href="../elements/047329d6-b8db-4e07-beb1-44bde785f573.html"  target="element">
				  				<area shape="rect" coords="193,128,333,198" href="../elements/b9a7ea11-bb1d-46f2-b259-68fe1887bd16.html"  target="element">
				  				<area shape="rect" coords="37,46,177,116" href="../elements/7e534021-44ee-49da-9468-05969e03981a.html"  target="element">
				  				<area shape="rect" coords="193,46,333,116" href="../elements/b92191ab-e097-4b82-8d1a-01340f16733e.html"  target="element">

				  		<area shape="rect" coords="13,10,359,225" href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html"  target="element">
				  				<area shape="rect" coords="421,49,561,119" href="../elements/d259a63d-f140-40ae-9bb8-354a556378b8.html"  target="element">
				  				<area shape="rect" coords="577,49,717,119" href="../elements/a4dc360e-8f7f-4e4e-a743-99e827a212e7.html"  target="element">
				  				<area shape="rect" coords="421,133,561,203" href="../elements/08fbbcc8-70e2-456c-abff-c3df4677e01d.html"  target="element">
				  				<area shape="rect" coords="577,133,717,203" href="../elements/e0141d1a-fdc7-40d0-8842-f2d82871e3ae.html"  target="element">

				  		<area shape="rect" coords="397,13,734,225" href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html"  target="element">
				  				<area shape="rect" coords="34,274,174,344" href="../elements/dd84b813-3557-42dc-84a1-abca5d6cd6e5.html"  target="element">
				  				<area shape="rect" coords="190,274,330,344" href="../elements/5f00b046-6a30-4d61-9e13-034f2de487dc.html"  target="element">
				  				<area shape="rect" coords="34,358,174,428" href="../elements/b45ee7b6-eab8-4d28-a85c-8dfd068acbff.html"  target="element">

				  		<area shape="rect" coords="10,238,359,453" href="../elements/d88768cd-1454-43c2-bcc5-8758ff5df2a5.html"  target="element">
				  				<area shape="rect" coords="422,282,562,352" href="../elements/adfc773d-bc7b-4637-9f07-e8055f91b83f.html"  target="element">
				  				<area shape="rect" coords="578,282,718,352" href="../elements/f8dff8e0-1166-4db2-8af3-56ce557c79ac.html"  target="element">

				  		<area shape="rect" coords="398,246,734,445" href="../elements/3004af5f-94d4-453d-af14-667cbfeeaf5c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">https://www.nav.no/no/NAV+og+samfunn/Kunnskap/Analyser+fra+NAV/Analyser/navs-omverdensanalyse-2019</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Teknologier ref. NAVs omverdensanalyse 2019</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">https://www.nav.no/no/NAV+og+samfunn/Kunnskap/Analyser+fra+NAV/Analyser/navs-omverdensanalyse-2019</xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html" target="element"> Innsiktsteknologier </a> </td>
											    <td> <a href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/047329d6-b8db-4e07-beb1-44bde785f573.html" target="element"> Maskinl&#230;ring </a> </td>
													    <td> <a href="../elements/047329d6-b8db-4e07-beb1-44bde785f573.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b9a7ea11-bb1d-46f2-b259-68fe1887bd16.html" target="element"> Tale til tekst, tekst til tale og automatisk oversettelse </a> </td>
													    <td> <a href="../elements/b9a7ea11-bb1d-46f2-b259-68fe1887bd16.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7e534021-44ee-49da-9468-05969e03981a.html" target="element"> Kunstig intelligens </a> </td>
													    <td> <a href="../elements/7e534021-44ee-49da-9468-05969e03981a.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b92191ab-e097-4b82-8d1a-01340f16733e.html" target="element"> Datadrevet beslutningsst&#248;tte </a> </td>
													    <td> <a href="../elements/b92191ab-e097-4b82-8d1a-01340f16733e.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html" target="element"> Digital infrastruktur </a> </td>
											    <td> <a href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d259a63d-f140-40ae-9bb8-354a556378b8.html" target="element"> Skytjenester </a> </td>
													    <td> <a href="../elements/d259a63d-f140-40ae-9bb8-354a556378b8.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a4dc360e-8f7f-4e4e-a743-99e827a212e7.html" target="element"> Digitale plattformer </a> </td>
													    <td> <a href="../elements/a4dc360e-8f7f-4e4e-a743-99e827a212e7.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08fbbcc8-70e2-456c-abff-c3df4677e01d.html" target="element"> Mobilt h&#248;yhastighetsnett (5G) </a> </td>
													    <td> <a href="../elements/08fbbcc8-70e2-456c-abff-c3df4677e01d.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e0141d1a-fdc7-40d0-8842-f2d82871e3ae.html" target="element"> Blokkjeder </a> </td>
													    <td> <a href="../elements/e0141d1a-fdc7-40d0-8842-f2d82871e3ae.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d88768cd-1454-43c2-bcc5-8758ff5df2a5.html" target="element"> Visualisering av store datamengder </a> </td>
											    <td> <a href="../elements/d88768cd-1454-43c2-bcc5-8758ff5df2a5.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/dd84b813-3557-42dc-84a1-abca5d6cd6e5.html" target="element"> Hybrid virkelighet </a> </td>
													    <td> <a href="../elements/dd84b813-3557-42dc-84a1-abca5d6cd6e5.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5f00b046-6a30-4d61-9e13-034f2de487dc.html" target="element"> Digital tvilling </a> </td>
													    <td> <a href="../elements/5f00b046-6a30-4d61-9e13-034f2de487dc.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b45ee7b6-eab8-4d28-a85c-8dfd068acbff.html" target="element"> 3D-printing </a> </td>
													    <td> <a href="../elements/b45ee7b6-eab8-4d28-a85c-8dfd068acbff.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3004af5f-94d4-453d-af14-667cbfeeaf5c.html" target="element"> Smarte gjenstander </a> </td>
											    <td> <a href="../elements/3004af5f-94d4-453d-af14-667cbfeeaf5c.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/adfc773d-bc7b-4637-9f07-e8055f91b83f.html" target="element"> Tingenes internett </a> </td>
													    <td> <a href="../elements/adfc773d-bc7b-4637-9f07-e8055f91b83f.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8dff8e0-1166-4db2-8af3-56ce557c79ac.html" target="element"> Autonome gjenstander </a> </td>
													    <td> <a href="../elements/f8dff8e0-1166-4db2-8af3-56ce557c79ac.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0c9e96a9-4f1e-4516-8102-b697735e88e9.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/0c9e96a9-4f1e-4516-8102-b697735e88e9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html" target="element"> Innsiktsteknologier </a> </td>
																		<td> <a href="../elements/047329d6-b8db-4e07-beb1-44bde785f573.html" target="element"> Maskinl&#230;ring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ed9c68b-35e3-4970-ac07-77a99150ac8f.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/9ed9c68b-35e3-4970-ac07-77a99150ac8f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html" target="element"> Innsiktsteknologier </a> </td>
																		<td> <a href="../elements/b9a7ea11-bb1d-46f2-b259-68fe1887bd16.html" target="element"> Tale til tekst, tekst til tale og automatisk oversettelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b96b71b8-cf1a-4d45-8d41-95ea3646efc4.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/b96b71b8-cf1a-4d45-8d41-95ea3646efc4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html" target="element"> Innsiktsteknologier </a> </td>
																		<td> <a href="../elements/7e534021-44ee-49da-9468-05969e03981a.html" target="element"> Kunstig intelligens </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a70fff2e-4d6a-4cbd-8e2f-409e854ebd13.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/a70fff2e-4d6a-4cbd-8e2f-409e854ebd13.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e61495bf-cbbc-459c-a086-e65e352cba38.html" target="element"> Innsiktsteknologier </a> </td>
																		<td> <a href="../elements/b92191ab-e097-4b82-8d1a-01340f16733e.html" target="element"> Datadrevet beslutningsst&#248;tte </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/0f5ff0a2-db4d-4099-b062-226a0aed30c6.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/0f5ff0a2-db4d-4099-b062-226a0aed30c6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html" target="element"> Digital infrastruktur </a> </td>
																		<td> <a href="../elements/d259a63d-f140-40ae-9bb8-354a556378b8.html" target="element"> Skytjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1240b2c-1770-4390-a918-011b4e4ee8de.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/d1240b2c-1770-4390-a918-011b4e4ee8de.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html" target="element"> Digital infrastruktur </a> </td>
																		<td> <a href="../elements/a4dc360e-8f7f-4e4e-a743-99e827a212e7.html" target="element"> Digitale plattformer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39305703-d6ef-4fbe-9962-c06188a92faa.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/39305703-d6ef-4fbe-9962-c06188a92faa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html" target="element"> Digital infrastruktur </a> </td>
																		<td> <a href="../elements/08fbbcc8-70e2-456c-abff-c3df4677e01d.html" target="element"> Mobilt h&#248;yhastighetsnett (5G) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/372f20a3-4ca5-4017-be4d-2233a9058254.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/372f20a3-4ca5-4017-be4d-2233a9058254.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f73308f2-7eb0-4b95-9070-6bca4f4aba79.html" target="element"> Digital infrastruktur </a> </td>
																		<td> <a href="../elements/e0141d1a-fdc7-40d0-8842-f2d82871e3ae.html" target="element"> Blokkjeder </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/ddeb8475-d47f-418c-9a1a-41dced08ebaf.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/ddeb8475-d47f-418c-9a1a-41dced08ebaf.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d88768cd-1454-43c2-bcc5-8758ff5df2a5.html" target="element"> Visualisering av store datamengder </a> </td>
																		<td> <a href="../elements/dd84b813-3557-42dc-84a1-abca5d6cd6e5.html" target="element"> Hybrid virkelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c5a1b27-9276-49d8-be27-18f9651d83e0.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/2c5a1b27-9276-49d8-be27-18f9651d83e0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d88768cd-1454-43c2-bcc5-8758ff5df2a5.html" target="element"> Visualisering av store datamengder </a> </td>
																		<td> <a href="../elements/5f00b046-6a30-4d61-9e13-034f2de487dc.html" target="element"> Digital tvilling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/757d433a-cbe3-4990-9655-11ff674b4f3f.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/757d433a-cbe3-4990-9655-11ff674b4f3f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d88768cd-1454-43c2-bcc5-8758ff5df2a5.html" target="element"> Visualisering av store datamengder </a> </td>
																		<td> <a href="../elements/b45ee7b6-eab8-4d28-a85c-8dfd068acbff.html" target="element"> 3D-printing </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/bad57397-7676-4648-acf8-0991159ee38d.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/bad57397-7676-4648-acf8-0991159ee38d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3004af5f-94d4-453d-af14-667cbfeeaf5c.html" target="element"> Smarte gjenstander </a> </td>
																		<td> <a href="../elements/adfc773d-bc7b-4637-9f07-e8055f91b83f.html" target="element"> Tingenes internett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/799d251d-8af7-4ccf-a72b-b7d0f40cb448.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/799d251d-8af7-4ccf-a72b-b7d0f40cb448.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3004af5f-94d4-453d-af14-667cbfeeaf5c.html" target="element"> Smarte gjenstander </a> </td>
																		<td> <a href="../elements/f8dff8e0-1166-4db2-8af3-56ce557c79ac.html" target="element"> Autonome gjenstander </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>