<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Valg av RA for datautveksling basert på kapabilitetsområde og kvalitetskrav</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Valg av RA for datautveksling basert p&#229; kapabilitetsomr&#229;de og kvalitetskrav</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/93204267-af3b-4480-99f7-e451b3bdd42c.png" alt="Valg av RA for datautveksling basert på kapabilitetsområde og kvalitetskrav" usemap="#93204267-af3b-4480-99f7-e451b3bdd42cmap">
			<map name="93204267-af3b-4480-99f7-e451b3bdd42cmap">
								<area shape="rect" coords="46,250,179,317" href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html"  target="element">
								<area shape="rect" coords="46,370,179,437" href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html"  target="element">
								<area shape="rect" coords="46,490,179,557" href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html"  target="element">

						<area shape="rect" coords="10,178,215,587" href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html"  target="element">
								<area shape="rect" coords="34,46,167,113" href="../elements/7758774d-562a-4724-a09e-5c14ea0d69c7.html"  target="element">
								<area shape="rect" coords="370,46,503,113" href="../elements/4d015296-39b1-4f39-ad93-9669ba4f5d90.html"  target="element">
								<area shape="rect" coords="778,58,911,125" href="../elements/3b8d7389-1301-4fff-af3a-cb25a4dc3685.html"  target="element">

						<area shape="rect" coords="10,10,947,143" href="../elements/914c8167-d412-4291-8123-27ded91bf96c.html"  target="element">
								<area shape="rect" coords="790,250,923,317" href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html"  target="element">
								<area shape="rect" coords="790,370,923,437" href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html"  target="element">
								<area shape="rect" coords="790,490,923,557" href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html"  target="element">

						<area shape="rect" coords="766,178,947,587" href="../elements/2b6d9ca5-9730-41e9-8448-44e3268515b1.html"  target="element">
										<area shape="rect" coords="296,250,417,311" href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html"  target="element">
										<area shape="rect" coords="428,250,549,311" href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html"  target="element">

								<area shape="rect" coords="272,214,693,323" href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html"  target="element">
										<area shape="rect" coords="281,370,402,431" href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html"  target="element">
										<area shape="rect" coords="413,370,534,431" href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html"  target="element">
										<area shape="rect" coords="545,370,666,431" href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html"  target="element">

								<area shape="rect" coords="269,334,696,443" href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html"  target="element">
										<area shape="rect" coords="416,490,537,551" href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html"  target="element">
										<area shape="rect" coords="284,490,405,551" href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html"  target="element">
										<area shape="rect" coords="548,490,669,551" href="../elements/a9a5f106-9114-4a50-bb07-48514205c9c6.html"  target="element">

								<area shape="rect" coords="272,454,699,563" href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html"  target="element">

						<area shape="rect" coords="245,178,713,586" href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html" target="element"> Hendelsesdrevet deling av data </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
											
											<tr><td> <a href="../elements/914c8167-d412-4291-8123-27ded91bf96c.html" target="element"> Samarbeidende akt&#248;rer </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
													<tr><td> <a href="../elements/7758774d-562a-4724-a09e-5c14ea0d69c7.html" target="element"> Behov for datautveksling </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
													<tr><td> <a href="../elements/4d015296-39b1-4f39-ad93-9669ba4f5d90.html" target="element"> Valg av referansearkitektur for datautveksling </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/3b8d7389-1301-4fff-af3a-cb25a4dc3685.html" target="element"> Valgt referansearkitekur </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
											
											<tr><td> <a href="../elements/2b6d9ca5-9730-41e9-8448-44e3268515b1.html" target="element"> Referansearkitekturer </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td><td class="i18n-elementtype-Resource"></td></tr>
													<tr><td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td><td class="i18n-elementtype-Resource"></td></tr>
													<tr><td> <a href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html" target="element"> eNotifikasjon referansearkitektur </a> </td><td class="i18n-elementtype-Resource"></td></tr>
											
											<tr><td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html" target="element"> Kvalitetskrav, eOppslag </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html" target="element"> Umiddelbar respons </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
															<tr><td> <a href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html" target="element"> En kjent part </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
													
													<tr><td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html" target="element"> Absolutt leveringsgaranti </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
															<tr><td> <a href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html" target="element"> En kjent part </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
															<tr><td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element"> Rask respons </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
													
													<tr><td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html" target="element"> En kjent part </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
															<tr><td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element"> Rask respons </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
															<tr><td> <a href="../elements/a9a5f106-9114-4a50-bb07-48514205c9c6.html" target="element"> Ukjente mottakere </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6292fc6e-b686-4232-8392-41ae0149ef7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6292fc6e-b686-4232-8392-41ae0149ef7d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/53bc9943-1ce8-4cf3-9129-ab5d6a547664.html" target="element">  </a> </td>
																		<td> <a href="../elements/53bc9943-1ce8-4cf3-9129-ab5d6a547664.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/039d5b99-7641-4d96-9032-c0cebaa4451e.html" target="element">  </a> </td>
																		<td> <a href="../elements/039d5b99-7641-4d96-9032-c0cebaa4451e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																		<td> <a href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html" target="element"> Hendelsesdrevet deling av data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d265d5ae-3ecd-437b-91e6-e15754445a68.html" target="element">  </a> </td>
																				<td> <a href="../elements/d265d5ae-3ecd-437b-91e6-e15754445a68.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
																				<td> <a href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html" target="element"> Kvalitetskrav, eOppslag </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c182860f-50e6-4314-bc3f-ea7600aeeb0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/c182860f-50e6-4314-bc3f-ea7600aeeb0e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
																				<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c945dd04-6e68-4ff0-9c2a-3157e02ce444.html" target="element">  </a> </td>
																				<td> <a href="../elements/c945dd04-6e68-4ff0-9c2a-3157e02ce444.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td>
																				<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cb7858ab-787f-4db3-949e-b2e335a184c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb7858ab-787f-4db3-949e-b2e335a184c1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html" target="element"> Hendelsesdrevet deling av data </a> </td>
																				<td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/cf370266-bb74-4949-9778-2286fd43da20.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf370266-bb74-4949-9778-2286fd43da20.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/914c8167-d412-4291-8123-27ded91bf96c.html" target="element"> Samarbeidende akt&#248;rer </a> </td>
																		<td> <a href="../elements/4d015296-39b1-4f39-ad93-9669ba4f5d90.html" target="element"> Valg av referansearkitektur for datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e6c8f49-9e0e-4be7-b0c0-6c5ad11baad5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e6c8f49-9e0e-4be7-b0c0-6c5ad11baad5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/914c8167-d412-4291-8123-27ded91bf96c.html" target="element"> Samarbeidende akt&#248;rer </a> </td>
																		<td> <a href="../elements/7758774d-562a-4724-a09e-5c14ea0d69c7.html" target="element"> Behov for datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/851d49ca-7091-4a83-9cd0-b9bf559347ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/851d49ca-7091-4a83-9cd0-b9bf559347ed.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/914c8167-d412-4291-8123-27ded91bf96c.html" target="element"> Samarbeidende akt&#248;rer </a> </td>
																		<td> <a href="../elements/3b8d7389-1301-4fff-af3a-cb25a4dc3685.html" target="element"> Valgt referansearkitekur </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/70ef5065-441d-41ff-8c95-707392a1115d.html" target="element">  </a> </td>
																				<td> <a href="../elements/70ef5065-441d-41ff-8c95-707392a1115d.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/7758774d-562a-4724-a09e-5c14ea0d69c7.html" target="element"> Behov for datautveksling </a> </td>
																				<td> <a href="../elements/4d015296-39b1-4f39-ad93-9669ba4f5d90.html" target="element"> Valg av referansearkitektur for datautveksling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8c459c01-d551-409a-a29b-c9e4cea61ee7.html" target="element">  </a> </td>
																				<td> <a href="../elements/8c459c01-d551-409a-a29b-c9e4cea61ee7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/7758774d-562a-4724-a09e-5c14ea0d69c7.html" target="element"> Behov for datautveksling </a> </td>
																				<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Datautveksling </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e20a0d9c-0e98-4236-8791-39cd0dcc4bbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/e20a0d9c-0e98-4236-8791-39cd0dcc4bbd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/4d015296-39b1-4f39-ad93-9669ba4f5d90.html" target="element"> Valg av referansearkitektur for datautveksling </a> </td>
																				<td> <a href="../elements/3b8d7389-1301-4fff-af3a-cb25a4dc3685.html" target="element"> Valgt referansearkitekur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6585b2f9-a7d9-4f96-89c6-e10621e21b5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/6585b2f9-a7d9-4f96-89c6-e10621e21b5a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/4d015296-39b1-4f39-ad93-9669ba4f5d90.html" target="element"> Valg av referansearkitektur for datautveksling </a> </td>
																				<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5a21fbcd-4f5e-4768-b4a0-3b4c01661d21.html" target="element">  </a> </td>
																				<td> <a href="../elements/5a21fbcd-4f5e-4768-b4a0-3b4c01661d21.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3b8d7389-1301-4fff-af3a-cb25a4dc3685.html" target="element"> Valgt referansearkitekur </a> </td>
																				<td> <a href="../elements/2b6d9ca5-9730-41e9-8448-44e3268515b1.html" target="element"> Referansearkitekturer </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1b47ef59-34b3-417e-b8de-88f13e2d7a6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b47ef59-34b3-417e-b8de-88f13e2d7a6b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2b6d9ca5-9730-41e9-8448-44e3268515b1.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27282fc4-8057-49d6-8033-a4fecf51d30a.html" target="element">  </a> </td>
																		<td> <a href="../elements/27282fc4-8057-49d6-8033-a4fecf51d30a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2b6d9ca5-9730-41e9-8448-44e3268515b1.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a92814c-b993-4f85-b85c-848ece500d5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a92814c-b993-4f85-b85c-848ece500d5c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2b6d9ca5-9730-41e9-8448-44e3268515b1.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html" target="element"> eNotifikasjon referansearkitektur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/f75f6475-1cec-44ed-beac-eab05b1e0eb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/f75f6475-1cec-44ed-beac-eab05b1e0eb0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html" target="element"> Kvalitetskrav, eOppslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3ba79dba-1c1f-4068-9735-ae3c73378cdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ba79dba-1c1f-4068-9735-ae3c73378cdb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4747df1-f51a-4ab8-a794-ba00a986fb5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4747df1-f51a-4ab8-a794-ba00a986fb5b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/90316166-e444-4833-bf54-8f8d9d7ff5a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/90316166-e444-4833-bf54-8f8d9d7ff5a0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html" target="element"> Kvalitetskrav, eOppslag </a> </td>
																				<td> <a href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html" target="element"> Umiddelbar respons </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d30c4aa1-76df-45f3-a45b-030d6733099e.html" target="element">  </a> </td>
																				<td> <a href="../elements/d30c4aa1-76df-45f3-a45b-030d6733099e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html" target="element"> Kvalitetskrav, eOppslag </a> </td>
																				<td> <a href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html" target="element"> En kjent part </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/92a17d70-5af0-4315-9750-0217728b3e29.html" target="element">  </a> </td>
																				<td> <a href="../elements/92a17d70-5af0-4315-9750-0217728b3e29.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/486a8ff2-e64e-4ec9-a5d1-b49dad87bd46.html" target="element"> Kvalitetskrav, eOppslag </a> </td>
																				<td> <a href="../elements/291e0ae4-c146-48aa-bf1a-94fb71b1fa4d.html" target="element"> eOppslag referansearkitektur </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/b1c6ce87-58b9-42af-8175-18de6a3de7d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/b1c6ce87-58b9-42af-8175-18de6a3de7d9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																				<td> <a href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html" target="element"> Absolutt leveringsgaranti </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3832fca8-018a-4705-9892-76ee4d989d33.html" target="element">  </a> </td>
																				<td> <a href="../elements/3832fca8-018a-4705-9892-76ee4d989d33.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																				<td> <a href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html" target="element"> En kjent part </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/063cf76a-647a-414d-8969-398e37650870.html" target="element">  </a> </td>
																				<td> <a href="../elements/063cf76a-647a-414d-8969-398e37650870.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																				<td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element"> Rask respons </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b5de8cce-e7c2-4943-a3a5-09cc64de860a.html" target="element">  </a> </td>
																				<td> <a href="../elements/b5de8cce-e7c2-4943-a3a5-09cc64de860a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/58237a64-c7b7-4f9e-b32c-caab2f89058d.html" target="element"> Kvalitetskrav eMelding </a> </td>
																				<td> <a href="../elements/7024aa8a-1a19-4dc5-b018-84c822bc92b3.html" target="element"> eMelding referansearkitektur </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/337c1299-3301-44ba-9cbb-4619ae6885c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/337c1299-3301-44ba-9cbb-4619ae6885c6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td>
																				<td> <a href="../elements/b48c0d65-5884-47ca-846b-1d0e3a81076d.html" target="element"> En kjent part </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/49afa6a8-9f73-404f-9876-803b17b763df.html" target="element">  </a> </td>
																				<td> <a href="../elements/49afa6a8-9f73-404f-9876-803b17b763df.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td>
																				<td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element"> Rask respons </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5e57f256-1a2a-4a18-b5bf-71b4d77fd477.html" target="element">  </a> </td>
																				<td> <a href="../elements/5e57f256-1a2a-4a18-b5bf-71b4d77fd477.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td>
																				<td> <a href="../elements/a9a5f106-9114-4a50-bb07-48514205c9c6.html" target="element"> Ukjente mottakere </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/478aeac5-cd42-4e19-9806-f63fed648ded.html" target="element">  </a> </td>
																				<td> <a href="../elements/478aeac5-cd42-4e19-9806-f63fed648ded.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/79e38ce9-23d7-4a05-a2f0-81f567f960b7.html" target="element"> Kvalitetskrav, hendelsesdeling </a> </td>
																				<td> <a href="../elements/c7591ed3-b257-4059-9711-905d41deedb1.html" target="element"> eNotifikasjon referansearkitektur </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>