<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Actor Coooperation View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Actor Coooperation View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9caf51e3-5f4c-4e45-88d5-f61c5db44a85.png" alt="Actor Coooperation View" usemap="#9caf51e3-5f4c-4e45-88d5-f61c5db44a85map"/>
			   <map name="9caf51e3-5f4c-4e45-88d5-f61c5db44a85map">
				  		<area shape="rect" coords="250,10,383,81" href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html"  target="element">
				  		<area shape="rect" coords="10,185,143,255" href="../elements/4efd0a2f-98aa-4e7c-b1f8-070d1ccb4d81.html"  target="element">
				  				<area shape="rect" coords="718,56,851,126" href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html"  target="element">
				  				<area shape="rect" coords="526,56,659,126" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">

				  		<area shape="rect" coords="490,20,875,156" href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html"  target="element">
				  		<area shape="rect" coords="250,236,383,306" href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html"  target="element">
				  		<area shape="rect" coords="634,236,767,306" href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html"  target="element">
				  		<area shape="rect" coords="250,104,383,174" href="../elements/229d279f-c031-4584-911a-0bda9d1ca9ef.html"  target="element">
				  		<area shape="rect" coords="22,53,155,123" href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Actor Coooperation View</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
											    <td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/229d279f-c031-4584-911a-0bda9d1ca9ef.html" target="element"> Avgitte data </a> </td>
											    <td> <a href="../elements/229d279f-c031-4584-911a-0bda9d1ca9ef.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Tjenesteavtale </a> </td>
											    <td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
											    <td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html" target="element"> "Forsp&#248;rrer" </a> </td>
											    <td> <a href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
													    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
													    <td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/4efd0a2f-98aa-4e7c-b1f8-070d1ccb4d81.html" target="element"> Tilbyders data </a> </td>
											    <td> <a href="../elements/4efd0a2f-98aa-4e7c-b1f8-070d1ccb4d81.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element"> Foresp&#248;rsel om data </a> </td>
											    <td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/aaa6beae-9194-40d0-85f6-8087353e52b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/aaa6beae-9194-40d0-85f6-8087353e52b0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/229d279f-c031-4584-911a-0bda9d1ca9ef.html" target="element"> Avgitte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16854fd7-0565-4208-967e-8c7b7afeb1a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/16854fd7-0565-4208-967e-8c7b7afeb1a3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2062aaf4-a05a-42ed-b9d2-7814d802221d.html" target="element">  </a> </td>
																		<td> <a href="../elements/2062aaf4-a05a-42ed-b9d2-7814d802221d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/4efd0a2f-98aa-4e7c-b1f8-070d1ccb4d81.html" target="element"> Tilbyders data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/476d7270-7994-442f-b84b-08622db2ff1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/476d7270-7994-442f-b84b-08622db2ff1f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element"> Foresp&#248;rsel om data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0980b734-350d-41b3-a10e-e05c4e2751d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/0980b734-350d-41b3-a10e-e05c4e2751d9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html" target="element"> "Forsp&#248;rrer" </a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f4eba32-1712-4b48-8183-635b5e7dbccc.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f4eba32-1712-4b48-8183-635b5e7dbccc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html" target="element"> "Forsp&#248;rrer" </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/737243d2-6f6b-4dc7-9f22-4d69ac1c29fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/737243d2-6f6b-4dc7-9f22-4d69ac1c29fb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html" target="element"> "Forsp&#248;rrer" </a> </td>
																		<td> <a href="../elements/229d279f-c031-4584-911a-0bda9d1ca9ef.html" target="element"> Avgitte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6851761b-b398-4a94-badf-45c1145b75a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/6851761b-b398-4a94-badf-45c1145b75a5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5a51c463-ce6b-4a9b-9d51-2c7737b40a59.html" target="element"> "Forsp&#248;rrer" </a> </td>
																		<td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element"> Foresp&#248;rsel om data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3c162383-1dc7-4a94-9b04-b8d2afe43048.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c162383-1dc7-4a94-9b04-b8d2afe43048.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																				<td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Tjenesteavtale </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/04d4986f-a0ad-401b-a259-868e38dd9d93.html" target="element">  </a> </td>
																				<td> <a href="../elements/04d4986f-a0ad-401b-a259-868e38dd9d93.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																				<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/93d31445-1b29-4d6e-8440-b072747c0034.html" target="element">  </a> </td>
																				<td> <a href="../elements/93d31445-1b29-4d6e-8440-b072747c0034.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																				<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ddc14b8-6a74-4b20-bbd6-c6e797be6250.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ddc14b8-6a74-4b20-bbd6-c6e797be6250.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																				<td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Tjenesteavtale </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>