<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Brukstilfeller for datautveksling (Håkon)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Brukstilfeller for datautveksling (H&#229;kon)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9dca0b9f-e0a5-41c2-9fa0-ba80c563b84e.png" alt="Brukstilfeller for datautveksling (Håkon)" usemap="#9dca0b9f-e0a5-41c2-9fa0-ba80c563b84emap"/>
			   <map name="9dca0b9f-e0a5-41c2-9fa0-ba80c563b84emap">
				  				<area shape="rect" coords="454,46,587,117" href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html"  target="element">
				  				<area shape="rect" coords="454,142,587,213" href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html"  target="element">

				  		<area shape="rect" coords="430,10,614,335" href="../elements/dd78abdd-9616-4f62-88fc-a39bcd1d08e3.html"  target="element">
				  				<area shape="rect" coords="34,226,167,297" href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html"  target="element">
				  				<area shape="rect" coords="34,46,167,117" href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html"  target="element">
				  				<area shape="rect" coords="34,130,167,201" href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html"  target="element">

				  		<area shape="rect" coords="10,10,204,335" href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html"  target="element">
				  				<area shape="rect" coords="250,51,383,122" href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html"  target="element">

				  		<area shape="rect" coords="226,15,410,335" href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Figuren nedenfor viser en forel&#248;pig oversikt over brukstilfeller. </textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Brukstilfeller</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td> <xmp class="no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
											    <td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
													    <td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td>
											    <td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html" target="element"> 3. Oversende informasjon mellom to parter (uavhengige prosesser)  </a> </td>
													    <td> <a href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html" target="element"> 1. Forretnings-transaksjon mellom to parter (som del av tverrg&#229;ende prosess)  </a> </td>
													    <td> <a href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html" target="element"> 2. Oversende informasjons-endring til informasjonseier  </a> </td>
													    <td> <a href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/dd78abdd-9616-4f62-88fc-a39bcd1d08e3.html" target="element"> Notifikasjon </a> </td>
											    <td> <a href="../elements/dd78abdd-9616-4f62-88fc-a39bcd1d08e3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
													    <td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element"> 5. Notifikasjon til identifisert part (trigger prosess p&#229; tidspunkt mottaker velger)  </a> </td>
													    <td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b42a7115-7774-49af-a5d8-59a214944bbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/b42a7115-7774-49af-a5d8-59a214944bbe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Deling av data p&#229; foresp&#248;rsel </a> </td>
																		<td> <a href="../elements/ac917656-7b4e-4185-91cf-c2eb28c29f5d.html" target="element"> 4. Foresp&#248;rsel om informasjon mellom to parter med &#171;umiddelbar&#187; respons (prosess hos en part er avhengig av informasjon fra annen part for &#229; fortsette)   </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/ea689594-f53a-46ba-9ed3-00e39a11dfa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea689594-f53a-46ba-9ed3-00e39a11dfa4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td>
																		<td> <a href="../elements/7676040d-7de4-4192-8678-a4f6c73ddef1.html" target="element"> 3. Oversende informasjon mellom to parter (uavhengige prosesser)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5c202d9-abeb-4fa0-8488-9e5c197abb1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5c202d9-abeb-4fa0-8488-9e5c197abb1a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td>
																		<td> <a href="../elements/06e6a77e-3627-4b60-bea2-ac882e3a060e.html" target="element"> 1. Forretnings-transaksjon mellom to parter (som del av tverrg&#229;ende prosess)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2f123d8-2c60-4899-9acf-3fac22b935e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2f123d8-2c60-4899-9acf-3fac22b935e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Deling av data ved forsendelse </a> </td>
																		<td> <a href="../elements/37f42d29-426e-4e10-ac6c-f414eb731ed4.html" target="element"> 2. Oversende informasjons-endring til informasjonseier  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/cf66d446-682a-45f9-9f30-305f554d0e84.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf66d446-682a-45f9-9f30-305f554d0e84.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/dd78abdd-9616-4f62-88fc-a39bcd1d08e3.html" target="element"> Notifikasjon </a> </td>
																		<td> <a href="../elements/9df40034-f843-4d2f-93ed-23ed2099b856.html" target="element"> 6. Notifikasjon til mange  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/af1c39af-fe24-4aaf-8069-357604be1d32.html" target="element">  </a> </td>
																		<td> <a href="../elements/af1c39af-fe24-4aaf-8069-357604be1d32.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/dd78abdd-9616-4f62-88fc-a39bcd1d08e3.html" target="element"> Notifikasjon </a> </td>
																		<td> <a href="../elements/3c4f3a8b-5261-4261-830a-56cc1436b25a.html" target="element"> 5. Notifikasjon til identifisert part (trigger prosess p&#229; tidspunkt mottaker velger)  </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>