<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Eriks poenger</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Eriks poenger</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a334b5b5-4cce-452c-bdbe-0771df225ba5.png" alt="Eriks poenger" usemap="#a334b5b5-4cce-452c-bdbe-0771df225ba5map"/>
			   <map name="a334b5b5-4cce-452c-bdbe-0771df225ba5map">
				  		<area shape="rect" coords="139,34,269,94" href="../elements/6e73fa54-317b-468f-ba2b-2257f3e5df07.html"  target="element">
				  		<area shape="rect" coords="319,34,449,94" href="../elements/5c7797a9-2982-4457-bf99-258e3339723f.html"  target="element">
				  		<area shape="rect" coords="391,107,521,167" href="../elements/529c65bf-458b-4762-9567-4c79a29f4f8f.html"  target="element">
				  		<area shape="rect" coords="571,238,701,298" href="../elements/8fc1e29e-36e2-4b67-9cbf-248e5bf591ae.html"  target="element">
				  		<area shape="rect" coords="571,166,701,226" href="../elements/398ff82c-65c1-4880-b61c-845747d337d0.html"  target="element">
				  		<area shape="rect" coords="319,262,449,322" href="../elements/e4906d3c-9cfe-41f2-9f20-8993342e823c.html"  target="element">
				  		<area shape="rect" coords="10,119,140,179" href="../elements/96793e93-04c2-4c23-b1d8-6b8f8dc00935.html"  target="element">
				  		<area shape="rect" coords="127,203,257,263" href="../elements/96e151c7-b0e3-410f-9c29-195c65757f05.html"  target="element">
				  		<area shape="rect" coords="127,286,257,346" href="../elements/af2a8352-4231-42ac-960e-9ebc2e9758be.html"  target="element">
				  		<area shape="rect" coords="319,190,449,250" href="../elements/254fab24-091a-462f-a6fc-a7561cefe932.html"  target="element">
				  		<area shape="rect" coords="745,227,875,287" href="../elements/6dc00b07-5bfe-4604-a5f3-0be6c75c2ae3.html"  target="element">
				  		<area shape="rect" coords="79,382,209,442" href="../elements/1b541191-0e1d-4876-98b9-c0c2aecdba80.html"  target="element">
				  		<area shape="rect" coords="235,381,365,441" href="../elements/45ab379f-c198-4c9f-9ec4-72c1cda6dd13.html"  target="element">
				  		<area shape="rect" coords="835,34,965,94" href="../elements/2b9de32a-e537-49db-b614-bd822e4d6932.html"  target="element">
				  		<area shape="rect" coords="715,154,845,214" href="../elements/5458bbf1-a088-4525-b2a1-94916b5c7099.html"  target="element">
				  		<area shape="rect" coords="571,10,701,70" href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6e73fa54-317b-468f-ba2b-2257f3e5df07.html" target="element"> Torget </a> </td>
											    <td> <a href="../elements/6e73fa54-317b-468f-ba2b-2257f3e5df07.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5c7797a9-2982-4457-bf99-258e3339723f.html" target="element"> Overordnet l&#248;smngslandskap </a> </td>
											    <td> <a href="../elements/5c7797a9-2982-4457-bf99-258e3339723f.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/529c65bf-458b-4762-9567-4c79a29f4f8f.html" target="element"> Detaljert l&#248;sningsrlandskap </a> </td>
											    <td> <a href="../elements/529c65bf-458b-4762-9567-4c79a29f4f8f.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8fc1e29e-36e2-4b67-9cbf-248e5bf591ae.html" target="element"> Oversikt over prosjekter og behov </a> </td>
											    <td> <a href="../elements/8fc1e29e-36e2-4b67-9cbf-248e5bf591ae.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/398ff82c-65c1-4880-b61c-845747d337d0.html" target="element"> Tjenestekatalog </a> </td>
											    <td> <a href="../elements/398ff82c-65c1-4880-b61c-845747d337d0.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4906d3c-9cfe-41f2-9f20-8993342e823c.html" target="element"> Generisk utviklingsmetodikk </a> </td>
											    <td> <a href="../elements/e4906d3c-9cfe-41f2-9f20-8993342e823c.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96793e93-04c2-4c23-b1d8-6b8f8dc00935.html" target="element"> Linjeaktiviteter </a> </td>
											    <td> <a href="../elements/96793e93-04c2-4c23-b1d8-6b8f8dc00935.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96e151c7-b0e3-410f-9c29-195c65757f05.html" target="element"> EIRA </a> </td>
											    <td> <a href="../elements/96e151c7-b0e3-410f-9c29-195c65757f05.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af2a8352-4231-42ac-960e-9ebc2e9758be.html" target="element"> Nasjonatl arkitrektur - rammeverk, ABB-er </a> </td>
											    <td> <a href="../elements/af2a8352-4231-42ac-960e-9ebc2e9758be.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/254fab24-091a-462f-a6fc-a7561cefe932.html" target="element"> Oversikt over behov iform av kapabilitetskart </a> </td>
											    <td> <a href="../elements/254fab24-091a-462f-a6fc-a7561cefe932.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6dc00b07-5bfe-4604-a5f3-0be6c75c2ae3.html" target="element"> Taksonimi for IT-l&#248;sninger </a> </td>
											    <td> <a href="../elements/6dc00b07-5bfe-4604-a5f3-0be6c75c2ae3.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1b541191-0e1d-4876-98b9-c0c2aecdba80.html" target="element"> Forholdet tli informasjons-forvaltning </a> </td>
											    <td> <a href="../elements/1b541191-0e1d-4876-98b9-c0c2aecdba80.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/45ab379f-c198-4c9f-9ec4-72c1cda6dd13.html" target="element"> Forholdet tli ANS </a> </td>
											    <td> <a href="../elements/45ab379f-c198-4c9f-9ec4-72c1cda6dd13.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b9de32a-e537-49db-b614-bd822e4d6932.html" target="element"> Norges arkitektkontor </a> </td>
											    <td> <a href="../elements/2b9de32a-e537-49db-b614-bd822e4d6932.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5458bbf1-a088-4525-b2a1-94916b5c7099.html" target="element"> Tjenestekatalog </a> </td>
											    <td> <a href="../elements/5458bbf1-a088-4525-b2a1-94916b5c7099.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element"> KMD </a> </td>
											    <td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d7d35b12-1330-4f62-afea-664e39bccdb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/d7d35b12-1330-4f62-afea-664e39bccdb5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5c7797a9-2982-4457-bf99-258e3339723f.html" target="element"> Overordnet l&#248;smngslandskap </a> </td>
																		<td> <a href="../elements/186d4e20-e21a-405e-ac95-40fd71dde86f.html" target="element"> KMD </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>