<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ansvarlige aktører</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ansvarlige akt&#248;rer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a6ca779a-a3a5-4254-87fb-e4d0c0ad9438.png" alt="Ansvarlige aktører" usemap="#a6ca779a-a3a5-4254-87fb-e4d0c0ad9438map"/>
			   <map name="a6ca779a-a3a5-4254-87fb-e4d0c0ad9438map">
				  		<area shape="rect" coords="10,10,444,81" href="../elements/ecf9ec81-9d7a-48d6-b14d-489f67c74301.html"  target="element">
				  		<area shape="rect" coords="10,118,143,189" href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html"  target="element">
				  		<area shape="rect" coords="311,118,444,189" href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html"  target="element">
				  		<area shape="rect" coords="160,118,293,189" href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Samhandlingsaktører</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td> <xmp class="no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_roller</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element"> Databehandler </a> </td>
											    <td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html" target="element"> Representant </a> </td>
											    <td> <a href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element"> Behandlingsansvarlig </a> </td>
											    <td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ecf9ec81-9d7a-48d6-b14d-489f67c74301.html" target="element"> Ansvarlig akt&#248;r </a> </td>
											    <td> <a href="../elements/ecf9ec81-9d7a-48d6-b14d-489f67c74301.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a567b1e3-4b11-4001-86c4-3ff7eda88d37.html" target="element">  </a> </td>
																		<td> <a href="../elements/a567b1e3-4b11-4001-86c4-3ff7eda88d37.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element"> Databehandler </a> </td>
																		<td> <a href="../elements/ecf9ec81-9d7a-48d6-b14d-489f67c74301.html" target="element"> Ansvarlig akt&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cffb8a77-9631-4472-be85-93b25c21e0f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/cffb8a77-9631-4472-be85-93b25c21e0f2.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html" target="element"> Representant </a> </td>
																		<td> <a href="../elements/ecf9ec81-9d7a-48d6-b14d-489f67c74301.html" target="element"> Ansvarlig akt&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/da371043-4ee9-465b-bc33-4885509a502c.html" target="element">  </a> </td>
																		<td> <a href="../elements/da371043-4ee9-465b-bc33-4885509a502c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element"> Behandlingsansvarlig </a> </td>
																		<td> <a href="../elements/ecf9ec81-9d7a-48d6-b14d-489f67c74301.html" target="element"> Ansvarlig akt&#248;r </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>