<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Masterdata</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Masterdata</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a7aad606-5987-44f1-b9a9-94511eb86f51.png" alt="Masterdata" usemap="#a7aad606-5987-44f1-b9a9-94511eb86f51map"/>
			   <map name="a7aad606-5987-44f1-b9a9-94511eb86f51map">
				  		<area shape="rect" coords="550,10,739,59" href="../elements/002d8e98-1b52-415d-9538-f86dcac027d9.html"  target="element">
				  		<area shape="rect" coords="814,94,1003,143" href="../elements/1cc31656-061b-4d80-9c4b-792214b09416.html"  target="element">
				  		<area shape="rect" coords="154,106,343,155" href="../elements/90b629a4-7fcf-4cb4-82b3-280f71ed2638.html"  target="element">
				  		<area shape="rect" coords="862,340,982,395" href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html"  target="element">
				  		<area shape="rect" coords="70,466,190,521" href="../elements/d55b7ee8-a42f-4299-bcb6-fcfefb234e18.html"  target="element">
				  		<area shape="rect" coords="129,538,249,593" href="../elements/2a106738-6c6b-48c6-bff9-bffb9e83ada4.html"  target="element">
				  		<area shape="rect" coords="202,598,322,653" href="../elements/cc5438d0-6a98-4baf-bd70-f87502e8c88d.html"  target="element">
				  		<area shape="rect" coords="958,490,1078,545" href="../elements/c78e317d-41c0-46b2-8bdc-207bbac7cea4.html"  target="element">
				  		<area shape="rect" coords="10,394,130,449" href="../elements/9986f19e-33fd-49af-8541-ed6dbabf9b73.html"  target="element">
				  		<area shape="rect" coords="981,415,1101,470" href="../elements/d551f558-41d2-4d55-a7b3-e955d2ae72e6.html"  target="element">
				  		<area shape="rect" coords="814,520,934,575" href="../elements/d13d5601-ca30-4a6e-8116-7e0a2447e26b.html"  target="element">
				  		<area shape="rect" coords="189,298,309,353" href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html"  target="element">
				  		<area shape="rect" coords="526,142,646,197" href="../elements/e0cc24c1-ad5f-4cce-8359-52ea39c37074.html"  target="element">
				  		<area shape="rect" coords="418,298,538,353" href="../elements/91a0b9cb-ba4e-46bd-8db9-2ab034f10055.html"  target="element">
				  		<area shape="rect" coords="634,340,754,395" href="../elements/077cabf1-0f4f-42b0-bb40-24c2e70cbc2d.html"  target="element">
				  		<area shape="rect" coords="321,520,441,575" href="../elements/950e27d7-aa81-470b-842c-af8311d40638.html"  target="element">
				  		<area shape="rect" coords="321,400,455,449" href="../elements/1a68eee6-e290-4466-bc15-2121ca7922a4.html"  target="element">
				  		<area shape="rect" coords="585,682,705,737" href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html"  target="element">
				  		<area shape="rect" coords="490,511,610,584" href="../elements/29c18479-e152-4540-aaf0-781761b78a47.html"  target="element">
				  		<area shape="rect" coords="658,511,778,584" href="../elements/d6e8d733-37d5-49cb-ac05-09aaa9da02e4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Eksemplene er ikke utt&#248;mmende</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/002d8e98-1b52-415d-9538-f86dcac027d9.html" target="element"> Master Data (eira:MasterData) </a> </td>
											    <td> <a href="../elements/002d8e98-1b52-415d-9538-f86dcac027d9.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1cc31656-061b-4d80-9c4b-792214b09416.html" target="element"> Reference Data (eira:ReferenceData) </a> </td>
											    <td> <a href="../elements/1cc31656-061b-4d80-9c4b-792214b09416.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90b629a4-7fcf-4cb4-82b3-280f71ed2638.html" target="element"> Base Registry Data (eira:BaseRegistry) </a> </td>
											    <td> <a href="../elements/90b629a4-7fcf-4cb4-82b3-280f71ed2638.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element"> Kodeliste </a> </td>
											    <td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d55b7ee8-a42f-4299-bcb6-fcfefb234e18.html" target="element"> Det sentrale folkeregiteret </a> </td>
											    <td> <a href="../elements/d55b7ee8-a42f-4299-bcb6-fcfefb234e18.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a106738-6c6b-48c6-bff9-bffb9e83ada4.html" target="element"> Enhetsregisteret </a> </td>
											    <td> <a href="../elements/2a106738-6c6b-48c6-bff9-bffb9e83ada4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc5438d0-6a98-4baf-bd70-f87502e8c88d.html" target="element"> Matrikkel </a> </td>
											    <td> <a href="../elements/cc5438d0-6a98-4baf-bd70-f87502e8c88d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c78e317d-41c0-46b2-8bdc-207bbac7cea4.html" target="element"> Kommunenummer </a> </td>
											    <td> <a href="../elements/c78e317d-41c0-46b2-8bdc-207bbac7cea4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9986f19e-33fd-49af-8541-ed6dbabf9b73.html" target="element"> Kontakt- og reservasjonsregisteret </a> </td>
											    <td> <a href="../elements/9986f19e-33fd-49af-8541-ed6dbabf9b73.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d551f558-41d2-4d55-a7b3-e955d2ae72e6.html" target="element"> Standard for sivilstand </a> </td>
											    <td> <a href="../elements/d551f558-41d2-4d55-a7b3-e955d2ae72e6.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d13d5601-ca30-4a6e-8116-7e0a2447e26b.html" target="element"> Tilgjengeliggj&#248;re kodelister </a> </td>
											    <td> <a href="../elements/d13d5601-ca30-4a6e-8116-7e0a2447e26b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
											    <td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0cc24c1-ad5f-4cce-8359-52ea39c37074.html" target="element"> Felles datakatalog </a> </td>
											    <td> <a href="../elements/e0cc24c1-ad5f-4cce-8359-52ea39c37074.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91a0b9cb-ba4e-46bd-8db9-2ab034f10055.html" target="element"> Datakatalog </a> </td>
											    <td> <a href="../elements/91a0b9cb-ba4e-46bd-8db9-2ab034f10055.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/077cabf1-0f4f-42b0-bb40-24c2e70cbc2d.html" target="element"> Kodelistekatalog </a> </td>
											    <td> <a href="../elements/077cabf1-0f4f-42b0-bb40-24c2e70cbc2d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/950e27d7-aa81-470b-842c-af8311d40638.html" target="element"> Tilgjengeliggj&#248;re datasett </a> </td>
											    <td> <a href="../elements/950e27d7-aa81-470b-842c-af8311d40638.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a68eee6-e290-4466-bc15-2121ca7922a4.html" target="element"> Data Set (eira:DataSet) </a> </td>
											    <td> <a href="../elements/1a68eee6-e290-4466-bc15-2121ca7922a4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html" target="element"> Tilbyder av masterdata </a> </td>
											    <td> <a href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/29c18479-e152-4540-aaf0-781761b78a47.html" target="element"> Tilgjengeliggj&#248;re oversikt og beskrivelser av datasett </a> </td>
											    <td> <a href="../elements/29c18479-e152-4540-aaf0-781761b78a47.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6e8d733-37d5-49cb-ac05-09aaa9da02e4.html" target="element"> Tilgjengeliggj&#248;re oversikt og besskrilveser av kodelister </a> </td>
											    <td> <a href="../elements/d6e8d733-37d5-49cb-ac05-09aaa9da02e4.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/bc918535-bfd8-4740-b86d-45887c9f4e5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc918535-bfd8-4740-b86d-45887c9f4e5b.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/1cc31656-061b-4d80-9c4b-792214b09416.html" target="element"> Reference Data (eira:ReferenceData) </a> </td>
																		<td> <a href="../elements/002d8e98-1b52-415d-9538-f86dcac027d9.html" target="element"> Master Data (eira:MasterData) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/31c5ef44-3879-4ec1-96a8-87a54e98c9a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/31c5ef44-3879-4ec1-96a8-87a54e98c9a1.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/90b629a4-7fcf-4cb4-82b3-280f71ed2638.html" target="element"> Base Registry Data (eira:BaseRegistry) </a> </td>
																		<td> <a href="../elements/002d8e98-1b52-415d-9538-f86dcac027d9.html" target="element"> Master Data (eira:MasterData) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/71502438-e0be-4058-ac0c-897347f022d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/71502438-e0be-4058-ac0c-897347f022d2.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element"> Kodeliste </a> </td>
																		<td> <a href="../elements/1cc31656-061b-4d80-9c4b-792214b09416.html" target="element"> Reference Data (eira:ReferenceData) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4f70adc-7407-42fb-8d97-4a42139ef4f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4f70adc-7407-42fb-8d97-4a42139ef4f1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element"> Kodeliste </a> </td>
																		<td> <a href="../elements/d13d5601-ca30-4a6e-8116-7e0a2447e26b.html" target="element"> Tilgjengeliggj&#248;re kodelister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/50159254-971b-4ba6-aadf-8a17c7b7a328.html" target="element">  </a> </td>
																		<td> <a href="../elements/50159254-971b-4ba6-aadf-8a17c7b7a328.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/d55b7ee8-a42f-4299-bcb6-fcfefb234e18.html" target="element"> Det sentrale folkeregiteret </a> </td>
																		<td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/db38ffaa-c182-41cd-a62b-a78c6eddcc20.html" target="element">  </a> </td>
																		<td> <a href="../elements/db38ffaa-c182-41cd-a62b-a78c6eddcc20.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/2a106738-6c6b-48c6-bff9-bffb9e83ada4.html" target="element"> Enhetsregisteret </a> </td>
																		<td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e522eafa-a19c-4bd7-9c88-6876f60927ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/e522eafa-a19c-4bd7-9c88-6876f60927ed.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/cc5438d0-6a98-4baf-bd70-f87502e8c88d.html" target="element"> Matrikkel </a> </td>
																		<td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c47040aa-cb7a-4555-89bf-068c646acd3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c47040aa-cb7a-4555-89bf-068c646acd3a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/c78e317d-41c0-46b2-8bdc-207bbac7cea4.html" target="element"> Kommunenummer </a> </td>
																		<td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element"> Kodeliste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/df7f52d4-a650-4368-aef3-aa3f3d92a89b.html" target="element">  </a> </td>
																		<td> <a href="../elements/df7f52d4-a650-4368-aef3-aa3f3d92a89b.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/9986f19e-33fd-49af-8541-ed6dbabf9b73.html" target="element"> Kontakt- og reservasjonsregisteret </a> </td>
																		<td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/06c675f6-0e2d-40d5-9360-2863e6af362e.html" target="element">  </a> </td>
																		<td> <a href="../elements/06c675f6-0e2d-40d5-9360-2863e6af362e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/d551f558-41d2-4d55-a7b3-e955d2ae72e6.html" target="element"> Standard for sivilstand </a> </td>
																		<td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element"> Kodeliste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6fe96956-beb2-491f-bc30-5d3914f03a01.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fe96956-beb2-491f-bc30-5d3914f03a01.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
																		<td> <a href="../elements/90b629a4-7fcf-4cb4-82b3-280f71ed2638.html" target="element"> Base Registry Data (eira:BaseRegistry) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5983b198-ab86-4048-88cc-41cd0012fd02.html" target="element">  </a> </td>
																		<td> <a href="../elements/5983b198-ab86-4048-88cc-41cd0012fd02.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/095da7e2-af02-4c3a-888e-007be65365d6.html" target="element"> Grunndataregister </a> </td>
																		<td> <a href="../elements/1a68eee6-e290-4466-bc15-2121ca7922a4.html" target="element"> Data Set (eira:DataSet) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5843972c-b7d7-44c3-a2a3-1a0f15d56ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/5843972c-b7d7-44c3-a2a3-1a0f15d56ec4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e0cc24c1-ad5f-4cce-8359-52ea39c37074.html" target="element"> Felles datakatalog </a> </td>
																		<td> <a href="../elements/91a0b9cb-ba4e-46bd-8db9-2ab034f10055.html" target="element"> Datakatalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/35cc2d28-4fee-495c-a964-8ffeada3d1b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/35cc2d28-4fee-495c-a964-8ffeada3d1b8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e0cc24c1-ad5f-4cce-8359-52ea39c37074.html" target="element"> Felles datakatalog </a> </td>
																		<td> <a href="../elements/077cabf1-0f4f-42b0-bb40-24c2e70cbc2d.html" target="element"> Kodelistekatalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/98bb460b-e350-482a-b668-c165546857d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/98bb460b-e350-482a-b668-c165546857d0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91a0b9cb-ba4e-46bd-8db9-2ab034f10055.html" target="element"> Datakatalog </a> </td>
																		<td> <a href="../elements/1a68eee6-e290-4466-bc15-2121ca7922a4.html" target="element"> Data Set (eira:DataSet) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0d90813d-1dd0-4fd3-8e54-f361c1f5acca.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d90813d-1dd0-4fd3-8e54-f361c1f5acca.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/91a0b9cb-ba4e-46bd-8db9-2ab034f10055.html" target="element"> Datakatalog </a> </td>
																		<td> <a href="../elements/29c18479-e152-4540-aaf0-781761b78a47.html" target="element"> Tilgjengeliggj&#248;re oversikt og beskrivelser av datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7fcc4787-686d-432c-ab6a-3467e7929ded.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fcc4787-686d-432c-ab6a-3467e7929ded.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/077cabf1-0f4f-42b0-bb40-24c2e70cbc2d.html" target="element"> Kodelistekatalog </a> </td>
																		<td> <a href="../elements/e31b53ed-4de0-45f6-bf20-c763e54f787b.html" target="element"> Kodeliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2cd1588c-d9b8-489e-ab1c-a96e899ea4e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/2cd1588c-d9b8-489e-ab1c-a96e899ea4e4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/077cabf1-0f4f-42b0-bb40-24c2e70cbc2d.html" target="element"> Kodelistekatalog </a> </td>
																		<td> <a href="../elements/d6e8d733-37d5-49cb-ac05-09aaa9da02e4.html" target="element"> Tilgjengeliggj&#248;re oversikt og besskrilveser av kodelister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7ee25cc8-a35d-4ebe-b62e-17f67e1c0b68.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ee25cc8-a35d-4ebe-b62e-17f67e1c0b68.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1a68eee6-e290-4466-bc15-2121ca7922a4.html" target="element"> Data Set (eira:DataSet) </a> </td>
																		<td> <a href="../elements/950e27d7-aa81-470b-842c-af8311d40638.html" target="element"> Tilgjengeliggj&#248;re datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c81091a2-2ef5-45e3-8a6e-b87c03b10900.html" target="element">  </a> </td>
																		<td> <a href="../elements/c81091a2-2ef5-45e3-8a6e-b87c03b10900.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html" target="element"> Tilbyder av masterdata </a> </td>
																		<td> <a href="../elements/d13d5601-ca30-4a6e-8116-7e0a2447e26b.html" target="element"> Tilgjengeliggj&#248;re kodelister </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7dd7747f-0610-4b2d-a629-4291734d3c57.html" target="element">  </a> </td>
																		<td> <a href="../elements/7dd7747f-0610-4b2d-a629-4291734d3c57.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html" target="element"> Tilbyder av masterdata </a> </td>
																		<td> <a href="../elements/950e27d7-aa81-470b-842c-af8311d40638.html" target="element"> Tilgjengeliggj&#248;re datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/61f96f03-be74-44d3-84d6-6cb9fcdd0af0.html" target="element">  </a> </td>
																		<td> <a href="../elements/61f96f03-be74-44d3-84d6-6cb9fcdd0af0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/29c18479-e152-4540-aaf0-781761b78a47.html" target="element"> Tilgjengeliggj&#248;re oversikt og beskrivelser av datasett </a> </td>
																		<td> <a href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html" target="element"> Tilbyder av masterdata </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d6dd5560-39cc-4f91-a7cc-4b21882fa59a.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6dd5560-39cc-4f91-a7cc-4b21882fa59a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d6e8d733-37d5-49cb-ac05-09aaa9da02e4.html" target="element"> Tilgjengeliggj&#248;re oversikt og besskrilveser av kodelister </a> </td>
																		<td> <a href="../elements/a5f2dc95-e111-4fde-87ae-63ddbd15ef41.html" target="element"> Tilbyder av masterdata </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>