<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hvor kom denne fra?</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Hvor kom denne fra?</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/bb2c6f45-5b8e-459e-9dba-1dcdb93f9c2f.png" alt="Hvor kom denne fra?" usemap="#bb2c6f45-5b8e-459e-9dba-1dcdb93f9c2fmap">
			<map name="bb2c6f45-5b8e-459e-9dba-1dcdb93f9c2fmap">
								<area shape="rect" coords="646,739,803,794" href="../elements/4257d422-476a-43a7-a8cc-d38c477964bc.html"  target="element">
								<area shape="rect" coords="442,652,606,713" href="../elements/23a64344-5985-4599-ae24-328aa977361d.html"  target="element">
								<area shape="rect" coords="622,655,706,710" href="../elements/b17324e0-594f-474b-b9c7-f849648005dd.html"  target="element">

								<area shape="rect" coords="874,406,1042,461" href="../elements/77f28c6e-65b0-47c5-a67a-d6043fbd45f6.html"  target="element">
								<area shape="rect" coords="874,334,1042,389" href="../elements/192db43f-4b39-4b0a-bd87-831c8c7aff79.html"  target="element">

								<area shape="rect" coords="141,407,323,462" href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html"  target="element">
								<area shape="rect" coords="141,323,323,378" href="../elements/98f5ea2c-a679-4e47-8d81-af843fe23488.html"  target="element">

								<area shape="rect" coords="511,467,662,522" href="../elements/8a633720-1dbc-4b58-879b-f4d9e8a23d76.html"  target="element">
								<area shape="rect" coords="514,539,659,594" href="../elements/83c9b94a-5251-4530-8658-dae64424fa9d.html"  target="element">
								<area shape="rect" coords="530,383,650,438" href="../elements/03984e14-33e8-4b2c-afc7-610199d34fa5.html"  target="element">
								<area shape="rect" coords="669,467,827,522" href="../elements/0a68817e-3c6f-4cbd-95e3-3796c6acb4a2.html"  target="element">
								<area shape="rect" coords="382,467,502,522" href="../elements/9a5a0303-cd55-4abc-9de9-9d1951d650b0.html"  target="element">
								<area shape="rect" coords="370,539,490,594" href="../elements/5379b0d9-dbfb-41c7-b9db-00ac75e2a783.html"  target="element">

						<area shape="rect" coords="533,214,653,269" href="../elements/9564ed75-5e4e-4114-bd65-04f2a2632a6b.html"  target="element">
								<area shape="rect" coords="862,184,982,239" href="../elements/4eff3f6a-c17c-4b24-b052-d0730fe35b46.html"  target="element">
								<area shape="rect" coords="1018,184,1138,239" href="../elements/b96228d9-abd3-4638-a566-7f0b54daa805.html"  target="element">

								<area shape="rect" coords="178,178,298,233" href="../elements/33b2e9e7-4ece-4333-b6b7-bd736754da14.html"  target="element">
								<area shape="rect" coords="22,178,142,233" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">


			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<tr><td> <a href="../elements/4257d422-476a-43a7-a8cc-d38c477964bc.html" target="element"> Meldingformidling </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
													<tr><td> <a href="../elements/23a64344-5985-4599-ae24-328aa977361d.html" target="element"> Tjeneste discovery/ELMA (Service Metadata Publisher) </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
													<tr><td> <a href="../elements/b17324e0-594f-474b-b9c7-f849648005dd.html" target="element"> Service Metadata </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<tr><td> <a href="../elements/77f28c6e-65b0-47c5-a67a-d6043fbd45f6.html" target="element"> Integrasjonspunkt </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/192db43f-4b39-4b0a-bd87-831c8c7aff79.html" target="element"> Fagsystem </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<tr><td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/98f5ea2c-a679-4e47-8d81-af843fe23488.html" target="element"> Fagsystem </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<tr><td> <a href="../elements/8a633720-1dbc-4b58-879b-f4d9e8a23d76.html" target="element"> Addresseringstjeneste </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/83c9b94a-5251-4530-8658-dae64424fa9d.html" target="element"> ELMA SMP </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/03984e14-33e8-4b2c-afc7-610199d34fa5.html" target="element"> Meldingsdata </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/0a68817e-3c6f-4cbd-95e3-3796c6acb4a2.html" target="element"> Formidlingstjeneste </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/9a5a0303-cd55-4abc-9de9-9d1951d650b0.html" target="element"> Business Certificate Publisher  </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/5379b0d9-dbfb-41c7-b9db-00ac75e2a783.html" target="element"> API-katalog </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<tr><td> <a href="../elements/9564ed75-5e4e-4114-bd65-04f2a2632a6b.html" target="element"> Melding </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<tr><td> <a href="../elements/4eff3f6a-c17c-4b24-b052-d0730fe35b46.html" target="element"> Mottak av melding fra sender </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/b96228d9-abd3-4638-a566-7f0b54daa805.html" target="element"> Mottaker </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<tr><td> <a href="../elements/33b2e9e7-4ece-4333-b6b7-bd736754da14.html" target="element"> Behov for informasjon </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/fadb28fc-55cb-4dfb-ba9e-e40d4a87e275.html" target="element">  </a> </td>
																				<td> <a href="../elements/fadb28fc-55cb-4dfb-ba9e-e40d4a87e275.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4257d422-476a-43a7-a8cc-d38c477964bc.html" target="element"> Meldingformidling </a> </td>
																				<td> <a href="../elements/0a68817e-3c6f-4cbd-95e3-3796c6acb4a2.html" target="element"> Formidlingstjeneste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/589c0760-af6d-4157-9245-51aaa5fc4f2b.html" target="element">  </a> </td>
																				<td> <a href="../elements/589c0760-af6d-4157-9245-51aaa5fc4f2b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4257d422-476a-43a7-a8cc-d38c477964bc.html" target="element"> Meldingformidling </a> </td>
																				<td> <a href="../elements/77f28c6e-65b0-47c5-a67a-d6043fbd45f6.html" target="element"> Integrasjonspunkt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b090bf21-44c9-44d9-a5e4-32a8162a187b.html" target="element">  </a> </td>
																				<td> <a href="../elements/b090bf21-44c9-44d9-a5e4-32a8162a187b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4257d422-476a-43a7-a8cc-d38c477964bc.html" target="element"> Meldingformidling </a> </td>
																				<td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f34133e8-0eeb-4b7a-8b29-f6125fda2b08.html" target="element">  </a> </td>
																				<td> <a href="../elements/f34133e8-0eeb-4b7a-8b29-f6125fda2b08.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/23a64344-5985-4599-ae24-328aa977361d.html" target="element"> Tjeneste discovery/ELMA (Service Metadata Publisher) </a> </td>
																				<td> <a href="../elements/b17324e0-594f-474b-b9c7-f849648005dd.html" target="element"> Service Metadata </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0530fe74-883a-463f-a40b-481910636514.html" target="element">  </a> </td>
																				<td> <a href="../elements/0530fe74-883a-463f-a40b-481910636514.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/23a64344-5985-4599-ae24-328aa977361d.html" target="element"> Tjeneste discovery/ELMA (Service Metadata Publisher) </a> </td>
																				<td> <a href="../elements/83c9b94a-5251-4530-8658-dae64424fa9d.html" target="element"> ELMA SMP </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/586c9fa6-96a0-4942-b5db-1742ffcfdbbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/586c9fa6-96a0-4942-b5db-1742ffcfdbbd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/23a64344-5985-4599-ae24-328aa977361d.html" target="element"> Tjeneste discovery/ELMA (Service Metadata Publisher) </a> </td>
																				<td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/961be52c-5a0b-4104-8c13-2ba059778016.html" target="element">  </a> </td>
																				<td> <a href="../elements/961be52c-5a0b-4104-8c13-2ba059778016.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/77f28c6e-65b0-47c5-a67a-d6043fbd45f6.html" target="element"> Integrasjonspunkt </a> </td>
																				<td> <a href="../elements/192db43f-4b39-4b0a-bd87-831c8c7aff79.html" target="element"> Fagsystem </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e2c3e6dc-894a-449f-bfe2-1b2d300a28a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/e2c3e6dc-894a-449f-bfe2-1b2d300a28a9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/77f28c6e-65b0-47c5-a67a-d6043fbd45f6.html" target="element"> Integrasjonspunkt </a> </td>
																				<td> <a href="../elements/03984e14-33e8-4b2c-afc7-610199d34fa5.html" target="element"> Meldingsdata </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ac087548-c13c-46de-80bd-7bc298c3dc42.html" target="element">  </a> </td>
																				<td> <a href="../elements/ac087548-c13c-46de-80bd-7bc298c3dc42.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/192db43f-4b39-4b0a-bd87-831c8c7aff79.html" target="element"> Fagsystem </a> </td>
																				<td> <a href="../elements/4eff3f6a-c17c-4b24-b052-d0730fe35b46.html" target="element"> Mottak av melding fra sender </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a598c768-caf2-4c85-bf6f-0908d2fa0aa3.html" target="element">  </a> </td>
																				<td> <a href="../elements/a598c768-caf2-4c85-bf6f-0908d2fa0aa3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td>
																				<td> <a href="../elements/98f5ea2c-a679-4e47-8d81-af843fe23488.html" target="element"> Fagsystem </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b6ace8fd-6ce6-4821-9abd-fcf4ea72ef1b.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6ace8fd-6ce6-4821-9abd-fcf4ea72ef1b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td>
																				<td> <a href="../elements/03984e14-33e8-4b2c-afc7-610199d34fa5.html" target="element"> Meldingsdata </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7ccf577d-ade8-4b02-81b1-99cb1e73ff2e.html" target="element"> AS4 </a> </td>
																				<td> <a href="../elements/7ccf577d-ade8-4b02-81b1-99cb1e73ff2e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td>
																				<td> <a href="../elements/4257d422-476a-43a7-a8cc-d38c477964bc.html" target="element"> Meldingformidling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/34341083-d918-4c68-aa9f-70d3148c5b9f.html" target="element">  </a> </td>
																				<td> <a href="../elements/34341083-d918-4c68-aa9f-70d3148c5b9f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/12f6cdf3-2841-4abf-8e64-1e62b065135b.html" target="element"> Integrasjonspunkt </a> </td>
																				<td> <a href="../elements/23a64344-5985-4599-ae24-328aa977361d.html" target="element"> Tjeneste discovery/ELMA (Service Metadata Publisher) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/78bd0e7b-dd50-4ae1-a751-19addf780bd3.html" target="element">  </a> </td>
																				<td> <a href="../elements/78bd0e7b-dd50-4ae1-a751-19addf780bd3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/98f5ea2c-a679-4e47-8d81-af843fe23488.html" target="element"> Fagsystem </a> </td>
																				<td> <a href="../elements/33b2e9e7-4ece-4333-b6b7-bd736754da14.html" target="element"> Behov for informasjon </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/8d2b6412-dd71-455b-aa7a-87cbf3998472.html" target="element">  </a> </td>
																				<td> <a href="../elements/8d2b6412-dd71-455b-aa7a-87cbf3998472.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/83c9b94a-5251-4530-8658-dae64424fa9d.html" target="element"> ELMA SMP </a> </td>
																				<td> <a href="../elements/8a633720-1dbc-4b58-879b-f4d9e8a23d76.html" target="element"> Addresseringstjeneste </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/301aa379-2ee3-4d5d-aaf0-231b7e1bb84d.html" target="element">  </a> </td>
																				<td> <a href="../elements/301aa379-2ee3-4d5d-aaf0-231b7e1bb84d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/03984e14-33e8-4b2c-afc7-610199d34fa5.html" target="element"> Meldingsdata </a> </td>
																				<td> <a href="../elements/9564ed75-5e4e-4114-bd65-04f2a2632a6b.html" target="element"> Melding </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ce461126-9363-4dfa-b889-35c561f54ff1.html" target="element">  </a> </td>
																				<td> <a href="../elements/ce461126-9363-4dfa-b889-35c561f54ff1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/0a68817e-3c6f-4cbd-95e3-3796c6acb4a2.html" target="element"> Formidlingstjeneste </a> </td>
																				<td> <a href="../elements/03984e14-33e8-4b2c-afc7-610199d34fa5.html" target="element"> Meldingsdata </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b31c49ad-c4e4-479e-a4ce-a4c0bf8dc214.html" target="element">  </a> </td>
																				<td> <a href="../elements/b31c49ad-c4e4-479e-a4ce-a4c0bf8dc214.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/5379b0d9-dbfb-41c7-b9db-00ac75e2a783.html" target="element"> API-katalog </a> </td>
																				<td> <a href="../elements/83c9b94a-5251-4530-8658-dae64424fa9d.html" target="element"> ELMA SMP </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/d1727f97-8525-4d75-9abb-9367ddbfe712.html" target="element">  </a> </td>
																				<td> <a href="../elements/d1727f97-8525-4d75-9abb-9367ddbfe712.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/4eff3f6a-c17c-4b24-b052-d0730fe35b46.html" target="element"> Mottak av melding fra sender </a> </td>
																				<td> <a href="../elements/9564ed75-5e4e-4114-bd65-04f2a2632a6b.html" target="element"> Melding </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/45927c74-0b61-496e-97ed-e54e64da4e37.html" target="element">  </a> </td>
																				<td> <a href="../elements/45927c74-0b61-496e-97ed-e54e64da4e37.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/b96228d9-abd3-4638-a566-7f0b54daa805.html" target="element"> Mottaker </a> </td>
																				<td> <a href="../elements/4eff3f6a-c17c-4b24-b052-d0730fe35b46.html" target="element"> Mottak av melding fra sender </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/5eda620b-a576-41ed-b3c7-cee18ff8845a.html" target="element">  </a> </td>
																				<td> <a href="../elements/5eda620b-a576-41ed-b3c7-cee18ff8845a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/33b2e9e7-4ece-4333-b6b7-bd736754da14.html" target="element"> Behov for informasjon </a> </td>
																				<td> <a href="../elements/9564ed75-5e4e-4114-bd65-04f2a2632a6b.html" target="element"> Melding </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0e9f0742-3e7b-4295-a1c5-de94461b1233.html" target="element"> synkront oppslag </a> </td>
																				<td> <a href="../elements/0e9f0742-3e7b-4295-a1c5-de94461b1233.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/33b2e9e7-4ece-4333-b6b7-bd736754da14.html" target="element"> Behov for informasjon </a> </td>
																				<td> <a href="../elements/4eff3f6a-c17c-4b24-b052-d0730fe35b46.html" target="element"> Mottak av melding fra sender </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f97d9a4c-a0cc-4b4f-a5ad-fa81cb416159.html" target="element">  </a> </td>
																				<td> <a href="../elements/f97d9a4c-a0cc-4b4f-a5ad-fa81cb416159.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																				<td> <a href="../elements/33b2e9e7-4ece-4333-b6b7-bd736754da14.html" target="element"> Behov for informasjon </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>