<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Utvalgte poenger fra tildelingsbrevet 2019</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Utvalgte poenger fra tildelingsbrevet 2019</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/c3d757e6-c47f-48f4-b958-9b8451640b62.png" alt="Utvalgte poenger fra tildelingsbrevet 2019" usemap="#c3d757e6-c47f-48f4-b958-9b8451640b62map">
			<map name="c3d757e6-c47f-48f4-b958-9b8451640b62map">
						<area shape="rect" coords="298,10,428,70" href="../elements/a13447c2-8e05-45e2-8ced-9b294811f140.html"  target="element">
						<area shape="rect" coords="298,130,428,190" href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html"  target="element">
						<area shape="rect" coords="298,214,428,274" href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html"  target="element">
						<area shape="rect" coords="298,382,428,442" href="../elements/9d990755-69a2-4282-b491-c9155c867b2e.html"  target="element">
						<area shape="rect" coords="298,298,428,358" href="../elements/060a90b9-b624-423f-86da-e03855ba9fba.html"  target="element">
						<area shape="rect" coords="298,466,428,526" href="../elements/be2faec0-b76b-4442-969c-bcb1d2a02128.html"  target="element">
								<area shape="rect" coords="46,459,176,519" href="../elements/ef717275-4588-4fdb-ad84-5a9cbf74f6ee.html"  target="element">
								<area shape="rect" coords="46,387,176,447" href="../elements/bbdd3e64-1fcd-4363-abb8-ae3e752f5a10.html"  target="element">
								<area shape="rect" coords="46,243,176,303" href="../elements/32c43ecb-fdf4-43b2-ab5c-7dd3ae8df7e7.html"  target="element">
								<area shape="rect" coords="46,171,176,231" href="../elements/3416a3d8-6c78-4561-b89e-3cf090628e3d.html"  target="element">
								<area shape="rect" coords="46,87,176,147" href="../elements/96755a38-f21c-4fe0-a145-d627c98c8629.html"  target="element">
								<area shape="rect" coords="46,543,176,603" href="../elements/6fffef34-e573-430b-9022-528f8547047c.html"  target="element">
								<area shape="rect" coords="46,315,176,375" href="../elements/ec2df433-94ab-4894-9950-9d4843bb26c4.html"  target="element">
								<area shape="rect" coords="46,627,176,687" href="../elements/698cbb3e-a52b-45fe-96b7-e6d7f2620a4a.html"  target="element">

						<area shape="rect" coords="10,39,227,712" href="../elements/4905c3f9-c24d-4a73-a7cb-b391cfc91cc1.html"  target="element">
								<area shape="rect" coords="526,166,656,226" href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html"  target="element">
								<area shape="rect" coords="526,238,656,298" href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html"  target="element">
								<area shape="rect" coords="526,310,656,370" href="../elements/11333465-602a-4569-a449-d56c3abff52d.html"  target="element">
								<area shape="rect" coords="526,382,656,442" href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html"  target="element">

						<area shape="rect" coords="514,130,695,455" href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html"  target="element">
						<area shape="rect" coords="802,22,953,335" href="../elements/29a4b954-1196-4910-8d96-c266f9984ee8.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/a13447c2-8e05-45e2-8ced-9b294811f140.html" target="element"> Plan for kategorisering av statlige oppaver og funksjoner </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
											<tr><td> <a href="../elements/9f4596c0-66c9-4ed3-9030-940730eb7de4.html" target="element"> Oppf&#248;lging av NFDs melding om offentlige anskaffelser </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
											<tr><td> <a href="../elements/a524573f-1c7f-47b8-a104-471eda480c22.html" target="element"> Bist&#229; KMD i arbeidet med stortingsmelding om innovasjon </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
											<tr><td> <a href="../elements/9d990755-69a2-4282-b491-c9155c867b2e.html" target="element"> Fokus p&#229; informasjons-forvaltning </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
											<tr><td> <a href="../elements/060a90b9-b624-423f-86da-e03855ba9fba.html" target="element"> Forberede markedsplass for skytjenester </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
											<tr><td> <a href="../elements/be2faec0-b76b-4442-969c-bcb1d2a02128.html" target="element"> Fokus p&#229; gjenbruk og viderebruk av data  </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
											<tr><td> <a href="../elements/4905c3f9-c24d-4a73-a7cb-b391cfc91cc1.html" target="element"> Difis tjenester </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ef717275-4588-4fdb-ad84-5a9cbf74f6ee.html" target="element"> Ledelses- og kompetansetiltak </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/bbdd3e64-1fcd-4363-abb8-ae3e752f5a10.html" target="element"> Bistand til statlige virksomheter og kommunesektoren,  </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/32c43ecb-fdf4-43b2-ab5c-7dd3ae8df7e7.html" target="element"> St&#248;tteordninger </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/3416a3d8-6c78-4561-b89e-3cf090628e3d.html" target="element"> Metodeutvikling </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/96755a38-f21c-4fe0-a145-d627c98c8629.html" target="element"> R&#229;dgivning </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/6fffef34-e573-430b-9022-528f8547047c.html" target="element"> Operasjonalisering av regjeringens digitaliseringsstrategi (copy) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/ec2df433-94ab-4894-9950-9d4843bb26c4.html" target="element"> Kunnskapsformidling </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/698cbb3e-a52b-45fe-96b7-e6d7f2620a4a.html" target="element"> Finansierings-ordninger </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											
											<tr><td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element"> Offentlig sektor omstiller seg og innoverer </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/11333465-602a-4569-a449-d56c3abff52d.html" target="element"> Mer effektive og b&#230;rekraftige anskaffelser </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html" target="element"> Bedre universell utforming </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											
											<tr><td> <a href="../elements/29a4b954-1196-4910-8d96-c266f9984ee8.html" target="element"> Difis produkter </a> </td><td class="i18n-elementtype-Grouping"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/937389ca-6504-4032-b383-fe155c7ca71e.html" target="element">  </a> </td>
																		<td> <a href="../elements/937389ca-6504-4032-b383-fe155c7ca71e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4905c3f9-c24d-4a73-a7cb-b391cfc91cc1.html" target="element"> Difis tjenester </a> </td>
																		<td> <a href="../elements/698cbb3e-a52b-45fe-96b7-e6d7f2620a4a.html" target="element"> Finansierings-ordninger </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/e9e9c38b-5051-4d4c-8ebc-24ab6d7ecf88.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9e9c38b-5051-4d4c-8ebc-24ab6d7ecf88.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8d862218-f614-42d5-908a-0b10efb25591.html" target="element">  </a> </td>
																		<td> <a href="../elements/8d862218-f614-42d5-908a-0b10efb25591.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element"> Offentlig sektor omstiller seg og innoverer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49ab07d0-70e4-4746-8434-259278a457cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/49ab07d0-70e4-4746-8434-259278a457cb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html" target="element"> Bedre universell utforming </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a2e0a792-4c1e-462d-bcad-87dc4f4965aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2e0a792-4c1e-462d-bcad-87dc4f4965aa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/11333465-602a-4569-a449-d56c3abff52d.html" target="element"> Mer effektive og b&#230;rekraftige anskaffelser </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>