<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kvalitetsegenskaper - forenklet</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kvalitetsegenskaper - forenklet</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ca5dbfff-9462-43d5-9f68-a3b35fc664c4.png" alt="Kvalitetsegenskaper - forenklet" usemap="#ca5dbfff-9462-43d5-9f68-a3b35fc664c4map"/>
			   <map name="ca5dbfff-9462-43d5-9f68-a3b35fc664c4map">
				  						<area shape="rect" coords="598,94,719,155" href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html"  target="element">
				  						<area shape="rect" coords="466,94,587,155" href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html"  target="element">

				  				<area shape="rect" coords="418,58,755,179" href="../elements/06eb0355-fe10-4a20-939f-b3c10058cd17.html"  target="element">
				  						<area shape="rect" coords="454,238,575,299" href="../elements/a9ebc8c4-1c7b-44ae-b76e-38e5db4e83cd.html"  target="element">
				  						<area shape="rect" coords="586,238,707,299" href="../elements/f7eb8e84-7d2c-4b37-8d7f-474e3b71a123.html"  target="element">

				  				<area shape="rect" coords="406,202,743,323" href="../elements/320f3ea9-2b1e-45d8-af32-942cb6d0ed78.html"  target="element">
				  						<area shape="rect" coords="94,238,215,299" href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html"  target="element">
				  						<area shape="rect" coords="226,238,347,299" href="../elements/ea5f7bac-923e-4f8f-9723-0f612091bbd2.html"  target="element">

				  				<area shape="rect" coords="46,202,383,323" href="../elements/6c391223-79df-4da0-ae88-1827674da7cc.html"  target="element">
				  						<area shape="rect" coords="214,382,335,443" href="../elements/e9033e49-0e17-467e-a84c-57ed7bc15407.html"  target="element">
				  						<area shape="rect" coords="346,382,467,443" href="../elements/59bfdead-97e2-4cc5-a6c6-a6eaff0a7abc.html"  target="element">
				  						<area shape="rect" coords="82,382,203,443" href="../elements/bba93b88-17bc-4c46-8d8a-f4610c52b2a8.html"  target="element">

				  				<area shape="rect" coords="34,346,491,467" href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html"  target="element">
				  						<area shape="rect" coords="94,94,215,155" href="../elements/99cbc218-8c12-48b1-9a78-35b42c5200a4.html"  target="element">
				  						<area shape="rect" coords="226,94,347,155" href="../elements/788a5e08-38ec-42b2-a405-fbff4b7d32b1.html"  target="element">

				  				<area shape="rect" coords="46,58,383,179" href="../elements/a13c96ab-d785-4c93-b573-e09ce2bf31a1.html"  target="element">

				  		<area shape="rect" coords="10,10,791,503" href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
											    <td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/06eb0355-fe10-4a20-939f-b3c10058cd17.html" target="element"> Responstid </a> </td>
													    <td> <a href="../elements/06eb0355-fe10-4a20-939f-b3c10058cd17.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element"> Rask respons </a> </td>
															    <td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html" target="element"> Umiddelbar respons </a> </td>
															    <td> <a href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/320f3ea9-2b1e-45d8-af32-942cb6d0ed78.html" target="element"> Transaksjonssikkerhet </a> </td>
													    <td> <a href="../elements/320f3ea9-2b1e-45d8-af32-942cb6d0ed78.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a9ebc8c4-1c7b-44ae-b76e-38e5db4e83cd.html" target="element"> Absolutt transaksjons-sikkerhet </a> </td>
															    <td> <a href="../elements/a9ebc8c4-1c7b-44ae-b76e-38e5db4e83cd.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f7eb8e84-7d2c-4b37-8d7f-474e3b71a123.html" target="element"> Ikke  transaksjons-sikkerhet </a> </td>
															    <td> <a href="../elements/f7eb8e84-7d2c-4b37-8d7f-474e3b71a123.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/6c391223-79df-4da0-ae88-1827674da7cc.html" target="element"> Leveringsgaranti </a> </td>
													    <td> <a href="../elements/6c391223-79df-4da0-ae88-1827674da7cc.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html" target="element"> Absolutt leveringsgaranti </a> </td>
															    <td> <a href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ea5f7bac-923e-4f8f-9723-0f612091bbd2.html" target="element"> Ikke leveringsgaranti </a> </td>
															    <td> <a href="../elements/ea5f7bac-923e-4f8f-9723-0f612091bbd2.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html" target="element"> Tilgjengelighet </a> </td>
													    <td> <a href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/e9033e49-0e17-467e-a84c-57ed7bc15407.html" target="element"> H&#248;y tilgjengelighet </a> </td>
															    <td> <a href="../elements/e9033e49-0e17-467e-a84c-57ed7bc15407.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/59bfdead-97e2-4cc5-a6c6-a6eaff0a7abc.html" target="element"> Usikker tilgjengelighet </a> </td>
															    <td> <a href="../elements/59bfdead-97e2-4cc5-a6c6-a6eaff0a7abc.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bba93b88-17bc-4c46-8d8a-f4610c52b2a8.html" target="element"> Garantert tilgjengelighet </a> </td>
															    <td> <a href="../elements/bba93b88-17bc-4c46-8d8a-f4610c52b2a8.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/a13c96ab-d785-4c93-b573-e09ce2bf31a1.html" target="element"> Leveringstid </a> </td>
													    <td> <a href="../elements/a13c96ab-d785-4c93-b573-e09ce2bf31a1.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/99cbc218-8c12-48b1-9a78-35b42c5200a4.html" target="element"> Rask levering </a> </td>
															    <td> <a href="../elements/99cbc218-8c12-48b1-9a78-35b42c5200a4.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/788a5e08-38ec-42b2-a405-fbff4b7d32b1.html" target="element"> Usikker leveringstid </a> </td>
															    <td> <a href="../elements/788a5e08-38ec-42b2-a405-fbff4b7d32b1.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f200a248-d448-40ec-8ac7-188cb78ffc39.html" target="element">  </a> </td>
																		<td> <a href="../elements/f200a248-d448-40ec-8ac7-188cb78ffc39.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/6c391223-79df-4da0-ae88-1827674da7cc.html" target="element"> Leveringsgaranti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/186fda33-3cb0-447a-8402-a9b9243d819a.html" target="element">  </a> </td>
																		<td> <a href="../elements/186fda33-3cb0-447a-8402-a9b9243d819a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/06eb0355-fe10-4a20-939f-b3c10058cd17.html" target="element"> Responstid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae04464b-801d-4e6c-a8c9-2bbe8558eb2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae04464b-801d-4e6c-a8c9-2bbe8558eb2e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/320f3ea9-2b1e-45d8-af32-942cb6d0ed78.html" target="element"> Transaksjonssikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c451193-bacc-4a51-86b6-e8c94ab5453d.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c451193-bacc-4a51-86b6-e8c94ab5453d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html" target="element"> Tilgjengelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/25c5f265-e275-4631-aefa-c8288c1c85ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/25c5f265-e275-4631-aefa-c8288c1c85ea.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f1637ed2-8d5a-44f2-b71a-2228f90f56d7.html" target="element"> Kvalitetsegenskaper (utvalg) </a> </td>
																		<td> <a href="../elements/a13c96ab-d785-4c93-b573-e09ce2bf31a1.html" target="element"> Leveringstid </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/789253fc-4f03-44b2-91cd-a5c98ca31fce.html" target="element">  </a> </td>
																				<td> <a href="../elements/789253fc-4f03-44b2-91cd-a5c98ca31fce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/06eb0355-fe10-4a20-939f-b3c10058cd17.html" target="element"> Responstid </a> </td>
																				<td> <a href="../elements/03d9b9bb-d298-44bd-8a97-cb23cd1e4e23.html" target="element"> Rask respons </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/926037f0-7919-49f0-94d9-c2b43b5a66da.html" target="element">  </a> </td>
																				<td> <a href="../elements/926037f0-7919-49f0-94d9-c2b43b5a66da.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/06eb0355-fe10-4a20-939f-b3c10058cd17.html" target="element"> Responstid </a> </td>
																				<td> <a href="../elements/d1df34ed-71c2-4c99-ab7e-1eed48328445.html" target="element"> Umiddelbar respons </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/ee2fce62-143c-4e1a-8cf5-587fc95c4175.html" target="element">  </a> </td>
																				<td> <a href="../elements/ee2fce62-143c-4e1a-8cf5-587fc95c4175.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/320f3ea9-2b1e-45d8-af32-942cb6d0ed78.html" target="element"> Transaksjonssikkerhet </a> </td>
																				<td> <a href="../elements/a9ebc8c4-1c7b-44ae-b76e-38e5db4e83cd.html" target="element"> Absolutt transaksjons-sikkerhet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e8367580-9a80-4f4a-a0c4-3bd38fda4c4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/e8367580-9a80-4f4a-a0c4-3bd38fda4c4b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/320f3ea9-2b1e-45d8-af32-942cb6d0ed78.html" target="element"> Transaksjonssikkerhet </a> </td>
																				<td> <a href="../elements/f7eb8e84-7d2c-4b37-8d7f-474e3b71a123.html" target="element"> Ikke  transaksjons-sikkerhet </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/607c3616-d118-49c0-8e35-3bd56341a114.html" target="element">  </a> </td>
																				<td> <a href="../elements/607c3616-d118-49c0-8e35-3bd56341a114.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6c391223-79df-4da0-ae88-1827674da7cc.html" target="element"> Leveringsgaranti </a> </td>
																				<td> <a href="../elements/5cbd1a85-b179-4155-b3e0-c2eb85a5ccca.html" target="element"> Absolutt leveringsgaranti </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/31d15a43-6a99-4b16-a9b4-a1a086dc2418.html" target="element">  </a> </td>
																				<td> <a href="../elements/31d15a43-6a99-4b16-a9b4-a1a086dc2418.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6c391223-79df-4da0-ae88-1827674da7cc.html" target="element"> Leveringsgaranti </a> </td>
																				<td> <a href="../elements/ea5f7bac-923e-4f8f-9723-0f612091bbd2.html" target="element"> Ikke leveringsgaranti </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/2e5a3837-ed3c-4c8a-b4b3-3e7438597d53.html" target="element">  </a> </td>
																				<td> <a href="../elements/2e5a3837-ed3c-4c8a-b4b3-3e7438597d53.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html" target="element"> Tilgjengelighet </a> </td>
																				<td> <a href="../elements/e9033e49-0e17-467e-a84c-57ed7bc15407.html" target="element"> H&#248;y tilgjengelighet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3de04792-76dc-436b-9ec9-6e10144ed443.html" target="element">  </a> </td>
																				<td> <a href="../elements/3de04792-76dc-436b-9ec9-6e10144ed443.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html" target="element"> Tilgjengelighet </a> </td>
																				<td> <a href="../elements/59bfdead-97e2-4cc5-a6c6-a6eaff0a7abc.html" target="element"> Usikker tilgjengelighet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/186da7ff-8ddc-4dcd-a74e-d34d1650f95b.html" target="element">  </a> </td>
																				<td> <a href="../elements/186da7ff-8ddc-4dcd-a74e-d34d1650f95b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b7f4f2ff-6dc8-4891-81e5-8b17e7d5bdd6.html" target="element"> Tilgjengelighet </a> </td>
																				<td> <a href="../elements/bba93b88-17bc-4c46-8d8a-f4610c52b2a8.html" target="element"> Garantert tilgjengelighet </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/216b28d0-befd-499b-8f46-26bb31e83445.html" target="element">  </a> </td>
																				<td> <a href="../elements/216b28d0-befd-499b-8f46-26bb31e83445.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/a13c96ab-d785-4c93-b573-e09ce2bf31a1.html" target="element"> Leveringstid </a> </td>
																				<td> <a href="../elements/788a5e08-38ec-42b2-a405-fbff4b7d32b1.html" target="element"> Usikker leveringstid </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/963e4a8a-9c91-49d2-88f1-7fcb2547b34f.html" target="element">  </a> </td>
																				<td> <a href="../elements/963e4a8a-9c91-49d2-88f1-7fcb2547b34f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/a13c96ab-d785-4c93-b573-e09ce2bf31a1.html" target="element"> Leveringstid </a> </td>
																				<td> <a href="../elements/99cbc218-8c12-48b1-9a78-35b42c5200a4.html" target="element"> Rask levering </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>