<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Mål for Difi i 2019</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>M&#229;l for Difi i 2019</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cf6a0425-b1ca-482b-90d5-6a0a6075c469.png" alt="Mål for Difi i 2019" usemap="#cf6a0425-b1ca-482b-90d5-6a0a6075c469map"/>
			   <map name="cf6a0425-b1ca-482b-90d5-6a0a6075c469map">
				  				<area shape="rect" coords="259,46,389,106" href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html"  target="element">
				  				<area shape="rect" coords="259,118,389,178" href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html"  target="element">
				  				<area shape="rect" coords="259,190,389,250" href="../elements/11333465-602a-4569-a449-d56c3abff52d.html"  target="element">
				  				<area shape="rect" coords="259,262,389,322" href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html"  target="element">

				  		<area shape="rect" coords="247,10,428,335" href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html"  target="element">
				  				<area shape="rect" coords="51,56,181,116" href="../elements/d05e4ee5-5acf-4b46-b0bf-c08d7199f05b.html"  target="element">
				  				<area shape="rect" coords="51,130,181,190" href="../elements/247be37b-1753-49ca-86e6-ea212e542416.html"  target="element">

				  		<area shape="rect" coords="10,10,206,202" href="../elements/d01a3a1c-45e0-431a-9a3c-742733c88125.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
											    <td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element"> Offentlig sektor omstiller seg og innoverer </a> </td>
													    <td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
													    <td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/11333465-602a-4569-a449-d56c3abff52d.html" target="element"> Mer effektive og b&#230;rekraftige anskaffelser </a> </td>
													    <td> <a href="../elements/11333465-602a-4569-a449-d56c3abff52d.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html" target="element"> Bedre universell utforming </a> </td>
													    <td> <a href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d01a3a1c-45e0-431a-9a3c-742733c88125.html" target="element"> Hovedm&#229;l i prop 1S </a> </td>
											    <td> <a href="../elements/d01a3a1c-45e0-431a-9a3c-742733c88125.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d05e4ee5-5acf-4b46-b0bf-c08d7199f05b.html" target="element"> Forvaltningen i Norge er effektiv, &#229;pen, samordnet og har h&#248;y tillit i befolkningen </a> </td>
													    <td> <a href="../elements/d05e4ee5-5acf-4b46-b0bf-c08d7199f05b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/247be37b-1753-49ca-86e6-ea212e542416.html" target="element"> Digitaliseringen i samfunnet gir gode vilk&#229;r for deltagelse, verdiskapning og innovasjon i offentlig sektor </a> </td>
													    <td> <a href="../elements/247be37b-1753-49ca-86e6-ea212e542416.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2ea3c475-36f4-4aeb-8508-8f53c52e9bd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2ea3c475-36f4-4aeb-8508-8f53c52e9bd5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/d01a3a1c-45e0-431a-9a3c-742733c88125.html" target="element"> Hovedm&#229;l i prop 1S </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a2e0a792-4c1e-462d-bcad-87dc4f4965aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2e0a792-4c1e-462d-bcad-87dc4f4965aa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/11333465-602a-4569-a449-d56c3abff52d.html" target="element"> Mer effektive og b&#230;rekraftige anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8d862218-f614-42d5-908a-0b10efb25591.html" target="element">  </a> </td>
																		<td> <a href="../elements/8d862218-f614-42d5-908a-0b10efb25591.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/5b056653-78c4-4c50-a51b-ba230c0416dc.html" target="element"> Offentlig sektor omstiller seg og innoverer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e9e9c38b-5051-4d4c-8ebc-24ab6d7ecf88.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9e9c38b-5051-4d4c-8ebc-24ab6d7ecf88.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49ab07d0-70e4-4746-8434-259278a457cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/49ab07d0-70e4-4746-8434-259278a457cb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5eca34f3-1b8e-47c9-a580-ad8442cf2d66.html" target="element"> Hovedm&#229;l for Difi i 2019 </a> </td>
																		<td> <a href="../elements/8ec8b317-068c-4f7e-bb52-25a09fbe6b20.html" target="element"> Bedre universell utforming </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/dce17c47-7141-4838-83b0-150bd0653a12.html" target="element">  </a> </td>
																		<td> <a href="../elements/dce17c47-7141-4838-83b0-150bd0653a12.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d01a3a1c-45e0-431a-9a3c-742733c88125.html" target="element"> Hovedm&#229;l i prop 1S </a> </td>
																		<td> <a href="../elements/247be37b-1753-49ca-86e6-ea212e542416.html" target="element"> Digitaliseringen i samfunnet gir gode vilk&#229;r for deltagelse, verdiskapning og innovasjon i offentlig sektor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/43cf1553-d424-4429-bb79-9ebddae8a133.html" target="element">  </a> </td>
																		<td> <a href="../elements/43cf1553-d424-4429-bb79-9ebddae8a133.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d01a3a1c-45e0-431a-9a3c-742733c88125.html" target="element"> Hovedm&#229;l i prop 1S </a> </td>
																		<td> <a href="../elements/d05e4ee5-5acf-4b46-b0bf-c08d7199f05b.html" target="element"> Forvaltningen i Norge er effektiv, &#229;pen, samordnet og har h&#248;y tillit i befolkningen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>