<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>EDRM - Electronic Discovery Reference Model</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>EDRM - Electronic Discovery Reference Model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d5943aec-cff6-4745-ab07-3ad74a3bba9a.png" alt="EDRM - Electronic Discovery Reference Model" usemap="#d5943aec-cff6-4745-ab07-3ad74a3bba9amap"/>
			   <map name="d5943aec-cff6-4745-ab07-3ad74a3bba9amap">
				  				<area shape="rect" coords="730,154,863,225" href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html"  target="element">
				  				<area shape="rect" coords="118,370,1043,441" href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html"  target="element">
				  				<area shape="rect" coords="106,154,239,225" href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html"  target="element">
				  				<area shape="rect" coords="310,234,443,305" href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html"  target="element">
				  				<area shape="rect" coords="526,270,659,341" href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html"  target="element">
				  				<area shape="rect" coords="526,42,659,113" href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html"  target="element">
				  				<area shape="rect" coords="310,84,443,155" href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html"  target="element">
				  				<area shape="rect" coords="526,154,659,225" href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html"  target="element">
				  				<area shape="rect" coords="898,154,1031,225" href="../elements/b01f089d-ed92-4721-a35c-12ac97e7fe62.html"  target="element">

				  		<area shape="rect" coords="10,10,1067,466" href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html"  target="element">
				  		<area shape="rect" coords="490,490,623,561" href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The EDRM model assumes that data or information governance is in place. The model includes eight e-discovery phases that can be iterative. As e-discovery progresses, the volume of discoverable data and information is greatly reduced as their relevance is greatly increased.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
											    <td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
													    <td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
													    <td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element"> Identification </a> </td>
													    <td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
													    <td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
													    <td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
													    <td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
													    <td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
													    <td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b01f089d-ed92-4721-a35c-12ac97e7fe62.html" target="element"> Presentation </a> </td>
													    <td> <a href="../elements/b01f089d-ed92-4721-a35c-12ac97e7fe62.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html" target="element"> Data Governance </a> </td>
											    <td> <a href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0ae4c63f-81ae-41f4-8a2f-0019532889b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ae4c63f-81ae-41f4-8a2f-0019532889b1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf9d88c7-7537-45be-ab04-bc0ea0f9e689.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf9d88c7-7537-45be-ab04-bc0ea0f9e689.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a534174-261f-4d37-ad20-697f7211d443.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a534174-261f-4d37-ad20-697f7211d443.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element"> Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8089a3c5-aff5-4fad-92d3-169b6169bf0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/8089a3c5-aff5-4fad-92d3-169b6169bf0b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9188886f-468a-4a2b-b454-91027f9f2cc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/9188886f-468a-4a2b-b454-91027f9f2cc1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d62ceeb1-4835-46f0-a536-267261c143b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d62ceeb1-4835-46f0-a536-267261c143b6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6fe04460-442c-48eb-b4cf-243872094aab.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fe04460-442c-48eb-b4cf-243872094aab.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f96f9b23-4e49-43c4-8d82-e1e484ad92b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f96f9b23-4e49-43c4-8d82-e1e484ad92b9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7de7eb90-8d6e-461f-84cc-c838fef1f96d.html" target="element">  </a> </td>
																		<td> <a href="../elements/7de7eb90-8d6e-461f-84cc-c838fef1f96d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f125a07d-5d2f-41fa-9317-e6e213f5e515.html" target="element"> Electronic Data Discovery Model (EDRM) </a> </td>
																		<td> <a href="../elements/b01f089d-ed92-4721-a35c-12ac97e7fe62.html" target="element"> Presentation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/4efccad2-c905-4a59-b702-b695f45cc97e.html" target="element">  </a> </td>
																				<td> <a href="../elements/4efccad2-c905-4a59-b702-b695f45cc97e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d0173365-0489-4ce8-ad1d-0162b7709155.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0173365-0489-4ce8-ad1d-0162b7709155.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																				<td> <a href="../elements/b01f089d-ed92-4721-a35c-12ac97e7fe62.html" target="element"> Presentation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/91353dfa-49d0-4503-bca7-1f097894d22b.html" target="element">  </a> </td>
																				<td> <a href="../elements/91353dfa-49d0-4503-bca7-1f097894d22b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																				<td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element"> Identification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5d4b0497-ffb3-4ac1-8c85-b503d01b9311.html" target="element">  </a> </td>
																				<td> <a href="../elements/5d4b0497-ffb3-4ac1-8c85-b503d01b9311.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d9d2c905-3d3c-450b-bafe-1f1f2a52f2c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9d2c905-3d3c-450b-bafe-1f1f2a52f2c2.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1b3c1fdf-6e04-494f-ab98-52f5a7d56485.html" target="element">  </a> </td>
																				<td> <a href="../elements/1b3c1fdf-6e04-494f-ab98-52f5a7d56485.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																				<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ab2a155d-3b40-47d5-817f-7691289148fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/ab2a155d-3b40-47d5-817f-7691289148fb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																				<td> <a href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html" target="element"> Data Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/53f60990-1551-46cc-a6d0-da642fcbc65d.html" target="element">  </a> </td>
																				<td> <a href="../elements/53f60990-1551-46cc-a6d0-da642fcbc65d.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/30db1b11-a76e-4190-8513-d53ec89a6d96.html" target="element">  </a> </td>
																				<td> <a href="../elements/30db1b11-a76e-4190-8513-d53ec89a6d96.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2cb6fcfa-5656-4c5e-83e4-db323cbb056b.html" target="element">  </a> </td>
																				<td> <a href="../elements/2cb6fcfa-5656-4c5e-83e4-db323cbb056b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f2e8ae93-7072-402f-b90d-0f0697bd251b.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9e08613b-ede1-42c7-bce8-5d41cee3ff4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/9e08613b-ede1-42c7-bce8-5d41cee3ff4b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5b30659e-33b8-4f33-aacc-791c465ec4b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/5b30659e-33b8-4f33-aacc-791c465ec4b2.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a9bf94aa-fac6-46ae-9ea7-bd17aab81f6f.html" target="element">  </a> </td>
																				<td> <a href="../elements/a9bf94aa-fac6-46ae-9ea7-bd17aab81f6f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																				<td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5a9a4ff2-022d-413a-964d-a3b63befb9ab.html" target="element">  </a> </td>
																				<td> <a href="../elements/5a9a4ff2-022d-413a-964d-a3b63befb9ab.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																				<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a6680164-aa7b-4aab-bed2-a7a33c04604c.html" target="element">  </a> </td>
																				<td> <a href="../elements/a6680164-aa7b-4aab-bed2-a7a33c04604c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d043f4d7-1073-47d9-b02f-c747784a7891.html" target="element">  </a> </td>
																				<td> <a href="../elements/d043f4d7-1073-47d9-b02f-c747784a7891.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																				<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ed5e07e5-923e-45fe-9341-740f96d9b86a.html" target="element">  </a> </td>
																				<td> <a href="../elements/ed5e07e5-923e-45fe-9341-740f96d9b86a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a8766785-5033-4016-a20f-8af7da6d8043.html" target="element">  </a> </td>
																				<td> <a href="../elements/a8766785-5033-4016-a20f-8af7da6d8043.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3c2707b2-eeb5-47a5-aab5-b655f62a4067.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c2707b2-eeb5-47a5-aab5-b655f62a4067.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
																				<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b6ae150d-82c8-46e6-95b6-982c61f77b57.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6ae150d-82c8-46e6-95b6-982c61f77b57.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a4421561-a683-425c-be40-ff1a93854064.html" target="element">  </a> </td>
																				<td> <a href="../elements/a4421561-a683-425c-be40-ff1a93854064.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/07507b3d-dc2a-4d44-8a3e-54ef0636bf4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/07507b3d-dc2a-4d44-8a3e-54ef0636bf4c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																				<td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/33680811-fdfe-4165-a138-17f8b2dd7a2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/33680811-fdfe-4165-a138-17f8b2dd7a2a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/abe79215-5134-4364-a921-1d64a9285c6f.html" target="element">  </a> </td>
																				<td> <a href="../elements/abe79215-5134-4364-a921-1d64a9285c6f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/7e3a6336-ddf9-4ba4-83f0-9196f6b0b80f.html" target="element"> Preservation </a> </td>
																				<td> <a href="../elements/568bcaca-3f4c-4cd4-afdf-620479428e35.html" target="element"> Collection </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9c3d765b-7c2e-456d-b045-c285ba1b9f33.html" target="element">  </a> </td>
																				<td> <a href="../elements/9c3d765b-7c2e-456d-b045-c285ba1b9f33.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																				<td> <a href="../elements/4b69fd2a-7412-419c-ab4d-4d6bfe24137e.html" target="element"> Production </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/38a753d9-3eba-4663-835c-6030d12d783b.html" target="element">  </a> </td>
																				<td> <a href="../elements/38a753d9-3eba-4663-835c-6030d12d783b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																				<td> <a href="../elements/3d672d8f-0a23-4aa2-a092-eb509f637f91.html" target="element"> Processing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b9d62bcc-8294-4070-b627-edc296cf92d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/b9d62bcc-8294-4070-b627-edc296cf92d9.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/026e2ed3-78af-4a25-b7fd-0966d131b3fa.html" target="element"> Review </a> </td>
																				<td> <a href="../elements/0bc8f458-9eb9-4f65-a472-b656d5b1c9a4.html" target="element"> Analysis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9c1f5c6a-8425-4903-8f75-c5614b346720.html" target="element">  </a> </td>
																				<td> <a href="../elements/9c1f5c6a-8425-4903-8f75-c5614b346720.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/b01f089d-ed92-4721-a35c-12ac97e7fe62.html" target="element"> Presentation </a> </td>
																				<td> <a href="../elements/04f982a1-5ea6-4302-b866-8b56c1b880f1.html" target="element"> Information Governance </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>