<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.2 Mål og realisering</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.2 M&#229;l og realisering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e45c1abf-2fc3-44ea-8823-196317804a6f.png" alt="3.2 Mål og realisering" usemap="#e45c1abf-2fc3-44ea-8823-196317804a6fmap"/>
			   <map name="e45c1abf-2fc3-44ea-8823-196317804a6fmap">
				  				<area shape="rect" coords="34,82,164,142" href="../elements/c9e7417d-76ce-44ed-8314-24ea51b453e6.html"  target="element">
				  				<area shape="rect" coords="34,154,164,214" href="../elements/f96f0ac8-fb79-4f40-bf56-cd8921061380.html"  target="element">
				  				<area shape="rect" coords="34,226,164,286" href="../elements/e370bd52-ba9c-4d5a-afbf-80f22c5d2b7f.html"  target="element">

				  		<area shape="rect" coords="10,10,191,311" href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html"  target="element">
				  		<area shape="rect" coords="262,22,392,82" href="../elements/bc8849aa-131d-471a-a715-0125ee9614fe.html"  target="element">
				  		<area shape="rect" coords="466,22,596,82" href="../elements/31832bd6-c735-439d-b710-855afaf3a0a0.html"  target="element">
				  		<area shape="rect" coords="838,10,968,70" href="../elements/7aa24aef-3d5f-4f4a-a5b9-3ec75097193d.html"  target="element">
				  		<area shape="rect" coords="670,10,800,70" href="../elements/8060420b-97a1-4336-af10-57c5a77caf8c.html"  target="element">
				  		<area shape="rect" coords="670,94,800,154" href="../elements/f6c9f54a-d275-4115-9e95-5ced8f568bb7.html"  target="element">
				  		<area shape="rect" coords="262,178,392,238" href="../elements/6b306f2f-1ba0-487b-a2f0-80b101e324d6.html"  target="element">
				  		<area shape="rect" coords="454,178,584,238" href="../elements/1c78dd14-45fa-44c5-bbc3-32f501e638d9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">3.2 Mål og realisering</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
											    <td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c9e7417d-76ce-44ed-8314-24ea51b453e6.html" target="element"> Raskere digitalisering </a> </td>
													    <td> <a href="../elements/c9e7417d-76ce-44ed-8314-24ea51b453e6.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f96f0ac8-fb79-4f40-bf56-cd8921061380.html" target="element"> Bedre gevinstrealisering </a> </td>
													    <td> <a href="../elements/f96f0ac8-fb79-4f40-bf56-cd8921061380.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e370bd52-ba9c-4d5a-afbf-80f22c5d2b7f.html" target="element"> Bedre samordnet digitalisering </a> </td>
													    <td> <a href="../elements/e370bd52-ba9c-4d5a-afbf-80f22c5d2b7f.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bc8849aa-131d-471a-a715-0125ee9614fe.html" target="element"> Samhandling og samordning  </a> </td>
											    <td> <a href="../elements/bc8849aa-131d-471a-a715-0125ee9614fe.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31832bd6-c735-439d-b710-855afaf3a0a0.html" target="element"> Etterlevelse av digitalt f&#248;rstevalg </a> </td>
											    <td> <a href="../elements/31832bd6-c735-439d-b710-855afaf3a0a0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7aa24aef-3d5f-4f4a-a5b9-3ec75097193d.html" target="element"> Identitets-forvaltning </a> </td>
											    <td> <a href="../elements/7aa24aef-3d5f-4f4a-a5b9-3ec75097193d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8060420b-97a1-4336-af10-57c5a77caf8c.html" target="element"> Informasjons-sikkerhet </a> </td>
											    <td> <a href="../elements/8060420b-97a1-4336-af10-57c5a77caf8c.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f6c9f54a-d275-4115-9e95-5ced8f568bb7.html" target="element"> Gjenbruk og viderebruk av data </a> </td>
											    <td> <a href="../elements/f6c9f54a-d275-4115-9e95-5ced8f568bb7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6b306f2f-1ba0-487b-a2f0-80b101e324d6.html" target="element"> Oversikt over felles l&#248;sninger  </a> </td>
											    <td> <a href="../elements/6b306f2f-1ba0-487b-a2f0-80b101e324d6.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1c78dd14-45fa-44c5-bbc3-32f501e638d9.html" target="element"> R&#229;dgivning tli KMD om fellesl&#248;sninger </a> </td>
											    <td> <a href="../elements/1c78dd14-45fa-44c5-bbc3-32f501e638d9.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/880b65e3-16d9-427a-a2f6-83ede4396888.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/880b65e3-16d9-427a-a2f6-83ede4396888.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																		<td> <a href="../elements/c9e7417d-76ce-44ed-8314-24ea51b453e6.html" target="element"> Raskere digitalisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/45a37474-01b3-4705-8526-ec0d3ecee9cb.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/45a37474-01b3-4705-8526-ec0d3ecee9cb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																		<td> <a href="../elements/f96f0ac8-fb79-4f40-bf56-cd8921061380.html" target="element"> Bedre gevinstrealisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f77f9696-458c-4a07-9401-dc61b0bf5289.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f77f9696-458c-4a07-9401-dc61b0bf5289.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																		<td> <a href="../elements/e370bd52-ba9c-4d5a-afbf-80f22c5d2b7f.html" target="element"> Bedre samordnet digitalisering </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/33ae2973-4957-4333-9de2-dfe55db3ee48.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/33ae2973-4957-4333-9de2-dfe55db3ee48.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bc8849aa-131d-471a-a715-0125ee9614fe.html" target="element"> Samhandling og samordning  </a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/73281f1b-d7ca-455e-b62b-23d02f0be357.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/73281f1b-d7ca-455e-b62b-23d02f0be357.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/bc8849aa-131d-471a-a715-0125ee9614fe.html" target="element"> Samhandling og samordning  </a> </td>
																		<td> <a href="../elements/31832bd6-c735-439d-b710-855afaf3a0a0.html" target="element"> Etterlevelse av digitalt f&#248;rstevalg </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4a60d41c-278f-4fbb-814d-2f02045e661e.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/4a60d41c-278f-4fbb-814d-2f02045e661e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/31832bd6-c735-439d-b710-855afaf3a0a0.html" target="element"> Etterlevelse av digitalt f&#248;rstevalg </a> </td>
																		<td> <a href="../elements/8060420b-97a1-4336-af10-57c5a77caf8c.html" target="element"> Informasjons-sikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8483b554-92a1-4d94-a2d3-63d2ffa8ed0c.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/8483b554-92a1-4d94-a2d3-63d2ffa8ed0c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/31832bd6-c735-439d-b710-855afaf3a0a0.html" target="element"> Etterlevelse av digitalt f&#248;rstevalg </a> </td>
																		<td> <a href="../elements/f6c9f54a-d275-4115-9e95-5ced8f568bb7.html" target="element"> Gjenbruk og viderebruk av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f41fc8b7-7aa8-4302-806d-a8099894f09e.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/f41fc8b7-7aa8-4302-806d-a8099894f09e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/8060420b-97a1-4336-af10-57c5a77caf8c.html" target="element"> Informasjons-sikkerhet </a> </td>
																		<td> <a href="../elements/7aa24aef-3d5f-4f4a-a5b9-3ec75097193d.html" target="element"> Identitets-forvaltning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4299e566-1159-416e-b1c5-9ae76028bdcb.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/4299e566-1159-416e-b1c5-9ae76028bdcb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6b306f2f-1ba0-487b-a2f0-80b101e324d6.html" target="element"> Oversikt over felles l&#248;sninger  </a> </td>
																		<td> <a href="../elements/1c78dd14-45fa-44c5-bbc3-32f501e638d9.html" target="element"> R&#229;dgivning tli KMD om fellesl&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc9903a8-629b-4ba8-86d6-70f7d2c9303b.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/bc9903a8-629b-4ba8-86d6-70f7d2c9303b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6b306f2f-1ba0-487b-a2f0-80b101e324d6.html" target="element"> Oversikt over felles l&#248;sninger  </a> </td>
																		<td> <a href="../elements/cabb0734-fa5a-4609-aa5f-ccb23db32bed.html" target="element">  Ta ut potensialet i digitalisering </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>