<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hent data fra en tjeneste_gammel</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Hent data fra en tjeneste_gammel</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f0111f52-0f0a-4cf1-8f48-ac1faeb9dedf.png" alt="Hent data fra en tjeneste_gammel" usemap="#f0111f52-0f0a-4cf1-8f48-ac1faeb9dedfmap"/>
			   <map name="f0111f52-0f0a-4cf1-8f48-ac1faeb9dedfmap">
				  				<area shape="rect" coords="526,397,646,452" href="../elements/3f3a311c-fed0-466a-8c4e-9ec85476dfdf.html"  target="element">
				  				<area shape="rect" coords="394,397,514,452" href="../elements/076fd0e3-cf8a-478c-bb0a-97cc83c0d494.html"  target="element">

				  		<area shape="rect" coords="370,361,674,458" href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html"  target="element">
				  				<area shape="rect" coords="802,559,922,614" href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html"  target="element">
				  				<area shape="rect" coords="634,559,754,614" href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html"  target="element">
				  				<area shape="rect" coords="454,559,574,614" href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html"  target="element">

				  		<area shape="rect" coords="430,511,947,644" href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html"  target="element">
				  		<area shape="rect" coords="634,727,754,782" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">
				  				<area shape="rect" coords="742,397,862,452" href="../elements/86b38aad-5974-4bc1-992e-8cd60b489358.html"  target="element">

				  		<area shape="rect" coords="718,361,886,458" href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html"  target="element">
				  		<area shape="rect" coords="430,247,550,302" href="../elements/562e3562-cf34-41e1-a3c9-7fd37703684d.html"  target="element">
				  		<area shape="rect" coords="742,247,862,302" href="../elements/e8d51dd9-e43d-4c66-908f-0b9ceeb5a67f.html"  target="element">
				  		<area shape="rect" coords="286,247,406,302" href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html"  target="element">
				  		<area shape="rect" coords="970,247,1090,302" href="../elements/675c0721-f2a5-4d13-b57c-ba3220641601.html"  target="element">
				  		<area shape="rect" coords="970,139,1090,194" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				          <area shape="rect" coords="850,715,1035,795" href="../objects/7d970f47-840e-4380-bac4-424028644b90.html" target="element" >
				          <area shape="rect" coords="10,67,195,147" href="../objects/58600a37-83f5-4475-9ce0-60e47fdbf28c.html" target="element" >
				  		<area shape="rect" coords="430,139,550,194" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  		<area shape="rect" coords="214,475,334,530" href="../elements/0abe42b6-fd6b-4301-b99e-03df5136772c.html"  target="element">
				  				<area shape="rect" coords="634,118,764,178" href="../elements/bb1b1bf2-5ac8-411b-9407-670e9f673657.html"  target="element">
				  				<area shape="rect" coords="634,46,764,106" href="../elements/1f69cd00-341b-4630-a42d-98b7dd473b25.html"  target="element">

				  		<area shape="rect" coords="610,10,800,194" href="../elements/70ce3c2e-9798-46c0-b05e-f169f16c7e4e.html"  target="element">
				          <area shape="rect" coords="1049,446,1234,526" href="../objects/6965ccf1-ede0-4461-ab5b-98de824d625a.html" target="element" >
				  		<area shape="rect" coords="118,259,238,314" href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html" target="element"> Autentiseringstjeneste </a> </td>
											    <td> <a href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3f3a311c-fed0-466a-8c4e-9ec85476dfdf.html" target="element"> Autentiser bruker </a> </td>
													    <td> <a href="../elements/3f3a311c-fed0-466a-8c4e-9ec85476dfdf.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/076fd0e3-cf8a-478c-bb0a-97cc83c0d494.html" target="element"> Identifiser bruker </a> </td>
													    <td> <a href="../elements/076fd0e3-cf8a-478c-bb0a-97cc83c0d494.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
											    <td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
													    <td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Hent sikkerhets-billett </a> </td>
													    <td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk adresse </a> </td>
													    <td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
											    <td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element"> Autorisasjonstjeneste </a> </td>
											    <td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/86b38aad-5974-4bc1-992e-8cd60b489358.html" target="element"> Autoriser bruker </a> </td>
													    <td> <a href="../elements/86b38aad-5974-4bc1-992e-8cd60b489358.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/562e3562-cf34-41e1-a3c9-7fd37703684d.html" target="element"> Virksomhets-autentisering </a> </td>
											    <td> <a href="../elements/562e3562-cf34-41e1-a3c9-7fd37703684d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e8d51dd9-e43d-4c66-908f-0b9ceeb5a67f.html" target="element"> Grov tilgangsstyring </a> </td>
											    <td> <a href="../elements/e8d51dd9-e43d-4c66-908f-0b9ceeb5a67f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html" target="element"> Virksomhetssertifikat til konsument </a> </td>
											    <td> <a href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/675c0721-f2a5-4d13-b57c-ba3220641601.html" target="element"> Representasjonstjeneste </a> </td>
											    <td> <a href="../elements/675c0721-f2a5-4d13-b57c-ba3220641601.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7d970f47-840e-4380-bac4-424028644b90.html" target="element">  </a> </td>
									           <td> <a href="../objects/7d970f47-840e-4380-bac4-424028644b90.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/58600a37-83f5-4475-9ce0-60e47fdbf28c.html" target="element">  </a> </td>
									           <td> <a href="../objects/58600a37-83f5-4475-9ce0-60e47fdbf28c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0abe42b6-fd6b-4301-b99e-03df5136772c.html" target="element"> Adresse-tjeneste </a> </td>
											    <td> <a href="../elements/0abe42b6-fd6b-4301-b99e-03df5136772c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70ce3c2e-9798-46c0-b05e-f169f16c7e4e.html" target="element"> Motta data (copy) </a> </td>
											    <td> <a href="../elements/70ce3c2e-9798-46c0-b05e-f169f16c7e4e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bb1b1bf2-5ac8-411b-9407-670e9f673657.html" target="element"> Hente pulbiserte data (copy) </a> </td>
													    <td> <a href="../elements/bb1b1bf2-5ac8-411b-9407-670e9f673657.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1f69cd00-341b-4630-a42d-98b7dd473b25.html" target="element"> Oppdage publiserte data (copy) </a> </td>
													    <td> <a href="../elements/1f69cd00-341b-4630-a42d-98b7dd473b25.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6965ccf1-ede0-4461-ab5b-98de824d625a.html" target="element">  </a> </td>
									           <td> <a href="../objects/6965ccf1-ede0-4461-ab5b-98de824d625a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element"> Felles API-katalog </a> </td>
											    <td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/725fa0d7-95c4-4563-a003-cfe0a7352e9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/725fa0d7-95c4-4563-a003-cfe0a7352e9b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html" target="element"> Autentiseringstjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Hent sikkerhets-billett </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/4121ab2d-a7f5-481f-8243-56f79dbca264.html" target="element">  </a> </td>
																		<td> <a href="../elements/4121ab2d-a7f5-481f-8243-56f79dbca264.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk adresse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b97ec6f2-4ebb-4f96-9d54-9cd79c84940f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b97ec6f2-4ebb-4f96-9d54-9cd79c84940f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8a285898-096f-4dca-9899-5245ccd71bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a285898-096f-4dca-9899-5245ccd71bcd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Hent sikkerhets-billett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a9ce6b06-883c-46d5-ac56-0777538e2a66.html" target="element">  </a> </td>
																		<td> <a href="../elements/a9ce6b06-883c-46d5-ac56-0777538e2a66.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/70ce3c2e-9798-46c0-b05e-f169f16c7e4e.html" target="element"> Motta data (copy) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dc6396a9-e0fd-4aa4-887c-4cda2e595b76.html" target="element">  </a> </td>
																				<td> <a href="../elements/dc6396a9-e0fd-4aa4-887c-4cda2e595b76.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Hent sikkerhets-billett </a> </td>
																				<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b7907f8b-be94-45ed-b685-973dd8eb86a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7907f8b-be94-45ed-b685-973dd8eb86a3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk adresse </a> </td>
																				<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/3576d23c-eb0b-4c35-bf18-cd28be899f49.html" target="element">  </a> </td>
																		<td> <a href="../elements/3576d23c-eb0b-4c35-bf18-cd28be899f49.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Konsument (databruker) </a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8ec9fc63-cdf7-41eb-9bf8-78a59c17dacf.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ec9fc63-cdf7-41eb-9bf8-78a59c17dacf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element"> Autorisasjonstjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Hent sikkerhets-billett </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/cb1f306d-19f8-41bc-b16c-4f70c2d50190.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb1f306d-19f8-41bc-b16c-4f70c2d50190.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/562e3562-cf34-41e1-a3c9-7fd37703684d.html" target="element"> Virksomhets-autentisering </a> </td>
																		<td> <a href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html" target="element"> Autentiseringstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a26d0eee-0a71-46c7-9767-f35107cccdd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/a26d0eee-0a71-46c7-9767-f35107cccdd5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/562e3562-cf34-41e1-a3c9-7fd37703684d.html" target="element"> Virksomhets-autentisering </a> </td>
																		<td> <a href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html" target="element"> Virksomhetssertifikat til konsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b8624b80-3e0d-43a2-ba76-0f40ba0fe16e.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8624b80-3e0d-43a2-ba76-0f40ba0fe16e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e8d51dd9-e43d-4c66-908f-0b9ceeb5a67f.html" target="element"> Grov tilgangsstyring </a> </td>
																		<td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element"> Autorisasjonstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cbc2bbe6-a291-445b-b6a6-9bfb7fc0333b.html" target="element">  </a> </td>
																		<td> <a href="../elements/cbc2bbe6-a291-445b-b6a6-9bfb7fc0333b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/675c0721-f2a5-4d13-b57c-ba3220641601.html" target="element"> Representasjonstjeneste </a> </td>
																		<td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element"> Autorisasjonstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bdf87629-40c7-4479-ae8d-6f13e4613d9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/bdf87629-40c7-4479-ae8d-6f13e4613d9a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																		<td> <a href="../elements/675c0721-f2a5-4d13-b57c-ba3220641601.html" target="element"> Representasjonstjeneste </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/bbac9cf5-0dbe-45e2-b95e-3481165b277f.html" target="element">  </a> </td>
																		<td> <a href="../elements/bbac9cf5-0dbe-45e2-b95e-3481165b277f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																		<td> <a href="../elements/562e3562-cf34-41e1-a3c9-7fd37703684d.html" target="element"> Virksomhets-autentisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/41aae758-0e3d-45a1-963a-06c9b33313cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/41aae758-0e3d-45a1-963a-06c9b33313cc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																		<td> <a href="../elements/e8d51dd9-e43d-4c66-908f-0b9ceeb5a67f.html" target="element"> Grov tilgangsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d73dae28-48d9-46f2-bf58-7f0202f1ffb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/d73dae28-48d9-46f2-bf58-7f0202f1ffb4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0abe42b6-fd6b-4301-b99e-03df5136772c.html" target="element"> Adresse-tjeneste </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk adresse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/365bc1a2-9ad9-4535-a33a-3f69e48e9515.html" target="element">  </a> </td>
																		<td> <a href="../elements/365bc1a2-9ad9-4535-a33a-3f69e48e9515.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/70ce3c2e-9798-46c0-b05e-f169f16c7e4e.html" target="element"> Motta data (copy) </a> </td>
																		<td> <a href="../elements/1f69cd00-341b-4630-a42d-98b7dd473b25.html" target="element"> Oppdage publiserte data (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8cc91ffc-9c3c-4668-af67-a33042b92dc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/8cc91ffc-9c3c-4668-af67-a33042b92dc6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/70ce3c2e-9798-46c0-b05e-f169f16c7e4e.html" target="element"> Motta data (copy) </a> </td>
																		<td> <a href="../elements/bb1b1bf2-5ac8-411b-9407-670e9f673657.html" target="element"> Hente pulbiserte data (copy) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f9b8d541-09f2-4d39-84bf-ef51bdc6d9b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/f9b8d541-09f2-4d39-84bf-ef51bdc6d9b8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/1f69cd00-341b-4630-a42d-98b7dd473b25.html" target="element"> Oppdage publiserte data (copy) </a> </td>
																				<td> <a href="../elements/bb1b1bf2-5ac8-411b-9407-670e9f673657.html" target="element"> Hente pulbiserte data (copy) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>