<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Produkter</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Produkter</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/f2769ade-f38f-4de4-bb8f-8f40d6b7f0d0.png" alt="Produkter" usemap="#f2769ade-f38f-4de4-bb8f-8f40d6b7f0d0map">
			<map name="f2769ade-f38f-4de4-bb8f-8f40d6b7f0d0map">
								<area shape="rect" coords="34,46,164,106" href="../elements/434ca122-30e1-47b3-84ab-47f3aafe17e2.html"  target="element">

						<area shape="rect" coords="10,10,203,419" href="../elements/29a4b954-1196-4910-8d96-c266f9984ee8.html"  target="element">
						<area shape="rect" coords="262,46,392,106" href="../elements/ec2477b0-2afe-4a97-bb7b-29ec81aea8d4.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:current_language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/29a4b954-1196-4910-8d96-c266f9984ee8.html" target="element"> Difis produkter </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/434ca122-30e1-47b3-84ab-47f3aafe17e2.html" target="element"> Oversikt over arkitekturlandskapet </a> </td><td class="i18n-elementtype-Product"></td></tr>
											
											<tr><td> <a href="../elements/ec2477b0-2afe-4a97-bb7b-29ec81aea8d4.html" target="element"> Arkitektur-biblioteket </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/4ceeaf16-0cff-4edd-b61c-604003e34c02.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ceeaf16-0cff-4edd-b61c-604003e34c02.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/29a4b954-1196-4910-8d96-c266f9984ee8.html" target="element"> Difis produkter </a> </td>
																		<td> <a href="../elements/434ca122-30e1-47b3-84ab-47f3aafe17e2.html" target="element"> Oversikt over arkitekturlandskapet </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/1eef0967-9096-411c-8e11-9cf7501dcb9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/1eef0967-9096-411c-8e11-9cf7501dcb9e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/434ca122-30e1-47b3-84ab-47f3aafe17e2.html" target="element"> Oversikt over arkitekturlandskapet </a> </td>
																				<td> <a href="../elements/ec2477b0-2afe-4a97-bb7b-29ec81aea8d4.html" target="element"> Arkitektur-biblioteket </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>