<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kapabilitetsområder, nasjonal arkitektur</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kapabilitetsomr&#229;der, nasjonal arkitektur</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f76132f1-7845-4248-9c00-9040a63eabb1.png" alt="Kapabilitetsområder, nasjonal arkitektur" usemap="#f76132f1-7845-4248-9c00-9040a63eabb1map"/>
			   <map name="f76132f1-7845-4248-9c00-9040a63eabb1map">
				  				<area shape="rect" coords="34,46,203,143" href="../elements/27e7b20d-6764-42ce-83dd-5c8531d68770.html"  target="element">
				  				<area shape="rect" coords="226,46,395,143" href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html"  target="element">
				  				<area shape="rect" coords="34,286,203,383" href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html"  target="element">
				  				<area shape="rect" coords="418,46,587,143" href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html"  target="element">
				  				<area shape="rect" coords="418,166,587,263" href="../elements/e6ec8fcc-f08c-4a5c-a94e-4d3c355ab6ac.html"  target="element">
				  				<area shape="rect" coords="34,166,203,263" href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html"  target="element">
				  				<area shape="rect" coords="226,166,395,263" href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html"  target="element">

				  		<area shape="rect" coords="10,10,611,407" href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap">Kapabilitetsområder, nasjonal arkitektur</xmp> </td></tr><tr><td> difi:name_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
											    <td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/27e7b20d-6764-42ce-83dd-5c8531d68770.html" target="element"> Datadeling </a> </td>
													    <td> <a href="../elements/27e7b20d-6764-42ce-83dd-5c8531d68770.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html" target="element"> Informasjonsforvaltning </a> </td>
													    <td> <a href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html" target="element"> Prosessautomatisering </a> </td>
													    <td> <a href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html" target="element"> Tillitstjenester </a> </td>
													    <td> <a href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e6ec8fcc-f08c-4a5c-a94e-4d3c355ab6ac.html" target="element"> Kunnskapsforvaltning </a> </td>
													    <td> <a href="../elements/e6ec8fcc-f08c-4a5c-a94e-4d3c355ab6ac.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html" target="element"> Datalagring </a> </td>
													    <td> <a href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html" target="element"> Dataanalyse </a> </td>
													    <td> <a href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/58e32ff1-750f-4a64-bbb9-3507120dbb80.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/58e32ff1-750f-4a64-bbb9-3507120dbb80.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/27e7b20d-6764-42ce-83dd-5c8531d68770.html" target="element"> Datadeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7699efac-b29b-485d-acef-e5641734df99.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/7699efac-b29b-485d-acef-e5641734df99.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/8de74026-8e33-4139-a0db-b7c9ffe1c4c1.html" target="element"> Informasjonsforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/147ee4ea-5c86-400d-b3d4-d32e9d8f2759.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/147ee4ea-5c86-400d-b3d4-d32e9d8f2759.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/f91f4613-6603-4b70-bc12-e4aa8f0b2cdc.html" target="element"> Tillitstjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/207a1a47-839a-4969-bb94-629adbc54500.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/207a1a47-839a-4969-bb94-629adbc54500.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/f58dd688-ef78-4088-86ca-6c85abd24b35.html" target="element"> Prosessautomatisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d926e666-bfe8-43ab-afe8-b0ac8db8e858.html" target="element"> composition </a> </td>
																		<td> <a href="../elements/d926e666-bfe8-43ab-afe8-b0ac8db8e858.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/e6ec8fcc-f08c-4a5c-a94e-4d3c355ab6ac.html" target="element"> Kunnskapsforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1fa6227-a862-4ff8-993e-9a3adc29cc3b.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/d1fa6227-a862-4ff8-993e-9a3adc29cc3b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/fd79c1c1-879a-46bc-9b16-6b74fbf5c0f7.html" target="element"> Datalagring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aeb9d348-0a7a-4f4b-92cd-e551252de029.html" target="element"> aggregation </a> </td>
																		<td> <a href="../elements/aeb9d348-0a7a-4f4b-92cd-e551252de029.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ee401016-40ac-44f5-98b6-5a15c9f8f981.html" target="element"> Kapabilitetsomr&#229;der innen nasjonal arkitektur (utvalg) </a> </td>
																		<td> <a href="../elements/fbf0583e-4504-4df1-b2d2-80b75fe8aa75.html" target="element"> Dataanalyse </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>