<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GAMMEL Ende-til-ende verdistrøm, deling av data</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GAMMEL Ende-til-ende verdistr&#248;m, deling av data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0a9db08a-9f9d-4b97-81a3-d217dbd3f623.png" alt="GAMMEL Ende-til-ende verdistrøm, deling av data" usemap="#0a9db08a-9f9d-4b97-81a3-d217dbd3f623map"/>
			   <map name="0a9db08a-9f9d-4b97-81a3-d217dbd3f623map">
				  		<area shape="rect" coords="10,274,148,345" href="../elements/e7997bee-c01e-4f01-8fda-c841f6a23d9f.html"  target="element">
				  		<area shape="rect" coords="10,94,148,165" href="../elements/b6e2464c-3326-42ef-829f-084311cfec52.html"  target="element">
				  		<area shape="rect" coords="10,10,148,81" href="../elements/11599db7-7cfc-491f-a792-bfd450f4093b.html"  target="element">
				  				<area shape="rect" coords="370,274,503,345" href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html"  target="element">
				  				<area shape="rect" coords="202,274,340,345" href="../elements/d233406e-155a-486f-85bf-b90532646809.html"  target="element">
				  				<area shape="rect" coords="538,274,676,345" href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html"  target="element">
				  				<area shape="rect" coords="874,274,1012,345" href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html"  target="element">
				  				<area shape="rect" coords="705,274,838,345" href="../elements/81b892ad-996b-457b-996b-61a703e00163.html"  target="element">

				  		<area shape="rect" coords="178,238,1031,359" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  				<area shape="rect" coords="370,46,503,117" href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html"  target="element">
				  				<area shape="rect" coords="538,46,671,117" href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html"  target="element">
				  				<area shape="rect" coords="202,46,340,117" href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html"  target="element">
				  				<area shape="rect" coords="874,46,1012,117" href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html"  target="element">
				  				<area shape="rect" coords="704,46,842,117" href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html"  target="element">

				  		<area shape="rect" coords="178,10,1031,143" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">GAMMEL Ende-til-ende verdistr&#248;m, deling av data</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewImagePath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, IT-l&#248;sninger og tilganger mot aktuelle konsumenter </a> </td>
													    <td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element"> Del data i henhold til avtaler </a> </td>
													    <td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Klargj&#248;r for datadeling </a> </td>
													    <td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om tilgang til data </a> </td>
													    <td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
													    <td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og IT-l&#248;sninger mot aktuelle tilbydere </a> </td>
													    <td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element"> Innhent eller motta data i henhold til avtaler </a> </td>
													    <td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
													    <td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
													    <td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
													    <td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/11599db7-7cfc-491f-a792-bfd450f4093b.html" target="element"> Nye datasett av potensiell interesse for andre </a> </td>
											    <td> <a href="../elements/11599db7-7cfc-491f-a792-bfd450f4093b.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6e2464c-3326-42ef-829f-084311cfec52.html" target="element"> Endrede datasett, l&#248;sninger eller vilk&#229;r som ber&#248;rer etablerte konsumenter </a> </td>
											    <td> <a href="../elements/b6e2464c-3326-42ef-829f-084311cfec52.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7997bee-c01e-4f01-8fda-c841f6a23d9f.html" target="element"> Behov for data </a> </td>
											    <td> <a href="../elements/e7997bee-c01e-4f01-8fda-c841f6a23d9f.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9ca7e5de-655e-46e2-945b-b75108c1cf54.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/9ca7e5de-655e-46e2-945b-b75108c1cf54.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Klargj&#248;r for datadeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b624cf03-3a7f-4de9-bf78-ac223303439f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b624cf03-3a7f-4de9-bf78-ac223303439f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element"> Del data i henhold til avtaler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4da28d35-4f8a-4b02-bac3-40f885ef23b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/4da28d35-4f8a-4b02-bac3-40f885ef23b1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, IT-l&#248;sninger og tilganger mot aktuelle konsumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/859477f7-2b07-4aaa-b378-4fe285995c6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/859477f7-2b07-4aaa-b378-4fe285995c6c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om tilgang til data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1c0c48e1-70c6-4796-b2bf-997b90ad3a3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c0c48e1-70c6-4796-b2bf-997b90ad3a3a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a79b2517-533d-4954-8070-72e4551766cf.html" target="element">  </a> </td>
																				<td> <a href="../elements/a79b2517-533d-4954-8070-72e4551766cf.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, IT-l&#248;sninger og tilganger mot aktuelle konsumenter </a> </td>
																				<td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element"> Del data i henhold til avtaler </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b5a15fe6-4c47-4da4-8eac-2c4231961262.html" target="element"> samarbeid om avtale og l&#248;sninger </a> </td>
																				<td> <a href="../elements/b5a15fe6-4c47-4da4-8eac-2c4231961262.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, IT-l&#248;sninger og tilganger mot aktuelle konsumenter </a> </td>
																				<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og IT-l&#248;sninger mot aktuelle tilbydere </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ef3bf667-d3b0-489f-9945-dac654ded82f.html" target="element"> svar </a> </td>
																				<td> <a href="../elements/ef3bf667-d3b0-489f-9945-dac654ded82f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element"> Del data i henhold til avtaler </a> </td>
																				<td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element"> Innhent eller motta data i henhold til avtaler </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d42d8b4c-afb5-49c6-9cd7-7a6e2c6d1321.html" target="element"> hendelse </a> </td>
																				<td> <a href="../elements/d42d8b4c-afb5-49c6-9cd7-7a6e2c6d1321.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element"> Del data i henhold til avtaler </a> </td>
																				<td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element"> Innhent eller motta data i henhold til avtaler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/954d8014-cf0e-4cd3-9612-955613cbb820.html" target="element"> s&#248;keresultater </a> </td>
																				<td> <a href="../elements/954d8014-cf0e-4cd3-9612-955613cbb820.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Klargj&#248;r for datadeling </a> </td>
																				<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b6eb1c17-e06c-4df6-a028-6b3744434608.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6eb1c17-e06c-4df6-a028-6b3744434608.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Klargj&#248;r for datadeling </a> </td>
																				<td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/62268f82-ae07-48a0-af46-52ae02c11a2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/62268f82-ae07-48a0-af46-52ae02c11a2c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om tilgang til data </a> </td>
																				<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, IT-l&#248;sninger og tilganger mot aktuelle konsumenter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/44b51ccd-a1d2-4767-a2a0-173bcf52ac65.html" target="element"> svar </a> </td>
																				<td> <a href="../elements/44b51ccd-a1d2-4767-a2a0-173bcf52ac65.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om tilgang til data </a> </td>
																				<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/36cc8fc3-6ed2-430b-9c85-a73a7980e3e8.html" target="element"> hendelse </a> </td>
																				<td> <a href="../elements/36cc8fc3-6ed2-430b-9c85-a73a7980e3e8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
																				<td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b7c134f4-9e6e-4b6c-8be5-60b5dbe5a559.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7c134f4-9e6e-4b6c-8be5-60b5dbe5a559.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
																				<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om tilgang til data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/24bd059d-0b89-4819-8b95-ed5f9cd588dc.html" target="element"> svar </a> </td>
																				<td> <a href="../elements/24bd059d-0b89-4819-8b95-ed5f9cd588dc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
																				<td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6edda4db-be24-44fd-808f-22cfd2784280.html" target="element">  </a> </td>
																		<td> <a href="../elements/6edda4db-be24-44fd-808f-22cfd2784280.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a005c351-bae9-45a8-a3a8-c6df2de45432.html" target="element">  </a> </td>
																		<td> <a href="../elements/a005c351-bae9-45a8-a3a8-c6df2de45432.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/607ae9df-107d-4414-b668-61b7e4d15657.html" target="element">  </a> </td>
																		<td> <a href="../elements/607ae9df-107d-4414-b668-61b7e4d15657.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og IT-l&#248;sninger mot aktuelle tilbydere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/22cd71e9-adaf-43f1-a880-6b8235f34955.html" target="element">  </a> </td>
																		<td> <a href="../elements/22cd71e9-adaf-43f1-a880-6b8235f34955.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element"> Innhent eller motta data i henhold til avtaler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/77a3b98d-ca2b-4c95-a8a2-2bc6ab741124.html" target="element">  </a> </td>
																		<td> <a href="../elements/77a3b98d-ca2b-4c95-a8a2-2bc6ab741124.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8a69e962-b716-40cc-85b8-e8302c8b7799.html" target="element">  </a> </td>
																				<td> <a href="../elements/8a69e962-b716-40cc-85b8-e8302c8b7799.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og IT-l&#248;sninger mot aktuelle tilbydere </a> </td>
																				<td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element"> Innhent eller motta data i henhold til avtaler </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/99caf730-b778-4da1-9f52-645922957085.html" target="element">  </a> </td>
																				<td> <a href="../elements/99caf730-b778-4da1-9f52-645922957085.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og IT-l&#248;sninger mot aktuelle tilbydere </a> </td>
																				<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, IT-l&#248;sninger og tilganger mot aktuelle konsumenter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e5edbfc9-e223-4d14-9119-29b629b41588.html" target="element"> foresp&#248;rsel </a> </td>
																				<td> <a href="../elements/e5edbfc9-e223-4d14-9119-29b629b41588.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4952d308-4f60-47b2-842a-c3084d489904.html" target="element"> Innhent eller motta data i henhold til avtaler </a> </td>
																				<td> <a href="../elements/5f31c11c-9c81-4623-9990-85a5217ecdbc.html" target="element"> Del data i henhold til avtaler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a82d0f9b-8364-42e6-8379-1ea6d6e01606.html" target="element"> henvendelse </a> </td>
																				<td> <a href="../elements/a82d0f9b-8364-42e6-8379-1ea6d6e01606.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																				<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om tilgang til data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c3bdf6d4-26d8-4fc0-bc47-b9d6049e25c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/c3bdf6d4-26d8-4fc0-bc47-b9d6049e25c3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																				<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og IT-l&#248;sninger mot aktuelle tilbydere </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/35b82eb6-6a0c-4f0d-b643-1650144b3bc8.html" target="element">  </a> </td>
																				<td> <a href="../elements/35b82eb6-6a0c-4f0d-b643-1650144b3bc8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																				<td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b481fac0-5af7-474e-9b05-f7ab35f136f0.html" target="element"> s&#248;k i kataloger og &#229;pne data </a> </td>
																				<td> <a href="../elements/b481fac0-5af7-474e-9b05-f7ab35f136f0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																				<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Klargj&#248;r for datadeling </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4bfecbdd-aaa9-401c-b63f-9f5541a6e5ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/4bfecbdd-aaa9-401c-b63f-9f5541a6e5ad.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
																				<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2c28361d-7ccb-406d-96d4-1d905836a50a.html" target="element"> foresp&#248;rsel </a> </td>
																				<td> <a href="../elements/2c28361d-7ccb-406d-96d4-1d905836a50a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4b55cff2-ed6e-4644-9c9b-57805f07da14.html" target="element"> Innhent aktuelle &#229;pne data gjennom tilbyders  standardl&#248;sninger </a> </td>
																				<td> <a href="../elements/58da024d-5349-4b58-9c1a-2128b4def0b8.html" target="element"> Del (&#229;pne) data gjennom  oppsatte standardl&#248;sninger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1742d6b8-2e67-4a6b-bd7e-a00fefa5b78c.html" target="element">  </a> </td>
																		<td> <a href="../elements/1742d6b8-2e67-4a6b-bd7e-a00fefa5b78c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/11599db7-7cfc-491f-a792-bfd450f4093b.html" target="element"> Nye datasett av potensiell interesse for andre </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1205b171-ad2b-405a-966f-7cde22ae95e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/1205b171-ad2b-405a-966f-7cde22ae95e3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/b6e2464c-3326-42ef-829f-084311cfec52.html" target="element"> Endrede datasett, l&#248;sninger eller vilk&#229;r som ber&#248;rer etablerte konsumenter </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5b1b8c76-a33d-4bc5-8085-97b7c793001a.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b1b8c76-a33d-4bc5-8085-97b7c793001a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/e7997bee-c01e-4f01-8fda-c841f6a23d9f.html" target="element"> Behov for data </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>