<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnede arkitekturprinsipper for digitalisering av offentlig sektor </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnede arkitekturprinsipper for digitalisering av offentlig sektor </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b8caea2e-93c4-4a65-9440-432261f53e1d.png" alt="Overordnede arkitekturprinsipper for digitalisering av offentlig sektor " usemap="#b8caea2e-93c4-4a65-9440-432261f53e1dmap"/>
			   <map name="b8caea2e-93c4-4a65-9440-432261f53e1dmap">
				  				<area shape="rect" coords="190,166,323,237" href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html"  target="element">
				  				<area shape="rect" coords="31,166,164,237" href="../elements/ab52b6b5-eb9b-42d6-a404-fdab06e357a2.html"  target="element">
				  				<area shape="rect" coords="502,166,635,237" href="../elements/ee5faaf8-2158-4774-9ca9-0763df4896b4.html"  target="element">
				  				<area shape="rect" coords="346,268,479,339" href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html"  target="element">
				  				<area shape="rect" coords="34,268,167,339" href="../elements/5e6c9758-4188-4e7b-a2de-018482548923.html"  target="element">
				  				<area shape="rect" coords="346,166,479,237" href="../elements/c0585df6-0aa1-4705-952d-5cf49daac44c.html"  target="element">
				  				<area shape="rect" coords="190,268,323,339" href="../elements/a3c7dc78-f9d5-4e82-b8b9-24411d25a6a9.html"  target="element">

				  		<area shape="rect" coords="10,130,659,357" href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html"  target="element">
				  		<area shape="rect" coords="346,10,479,81" href="../elements/138715c4-27c3-405a-b3cd-508ab358e57e.html"  target="element">
				  		<area shape="rect" coords="514,10,647,81" href="../elements/08d6d972-bf4c-4bf9-b780-225751a2c0d2.html"  target="element">
				  		<area shape="rect" coords="178,10,311,81" href="../elements/0de077be-7f5c-4a0b-a4eb-153821e57d81.html"  target="element">
				  		<area shape="rect" coords="10,10,143,81" href="../elements/65d76e14-9035-4dd9-b211-20c57e3c6856.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/65d76e14-9035-4dd9-b211-20c57e3c6856.html" target="element"> F&#248;ringer for bruk av arkitekturprinsippene </a> </td>
											    <td> <a href="../elements/65d76e14-9035-4dd9-b211-20c57e3c6856.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0de077be-7f5c-4a0b-a4eb-153821e57d81.html" target="element"> M&#229;lgrupper for prinsippene </a> </td>
											    <td> <a href="../elements/0de077be-7f5c-4a0b-a4eb-153821e57d81.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08d6d972-bf4c-4bf9-b780-225751a2c0d2.html" target="element"> Forklaring til beskrivelsen av prinsippene </a> </td>
											    <td> <a href="../elements/08d6d972-bf4c-4bf9-b780-225751a2c0d2.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/138715c4-27c3-405a-b3cd-508ab358e57e.html" target="element"> Hensikt med arkitekturprinsippene </a> </td>
											    <td> <a href="../elements/138715c4-27c3-405a-b3cd-508ab358e57e.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
											    <td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a3c7dc78-f9d5-4e82-b8b9-24411d25a6a9.html" target="element"> Prinsipp 6: Lag digitale l&#248;sninger som st&#248;tter samhandling </a> </td>
													    <td> <a href="../elements/a3c7dc78-f9d5-4e82-b8b9-24411d25a6a9.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c0585df6-0aa1-4705-952d-5cf49daac44c.html" target="element"> Prinsipp 3: Bidra til digitaliseringsvennlige regelverk </a> </td>
													    <td> <a href="../elements/c0585df6-0aa1-4705-952d-5cf49daac44c.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5e6c9758-4188-4e7b-a2de-018482548923.html" target="element"> Prinsipp 5: Del og gjenbruk l&#248;sninger </a> </td>
													    <td> <a href="../elements/5e6c9758-4188-4e7b-a2de-018482548923.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element"> Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen </a> </td>
													    <td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ee5faaf8-2158-4774-9ca9-0763df4896b4.html" target="element"> Prinsipp 4: Del og gjenbruk data </a> </td>
													    <td> <a href="../elements/ee5faaf8-2158-4774-9ca9-0763df4896b4.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ab52b6b5-eb9b-42d6-a404-fdab06e357a2.html" target="element"> Prinsipp 1: Ta utgangspunkt i brukernes behov </a> </td>
													    <td> <a href="../elements/ab52b6b5-eb9b-42d6-a404-fdab06e357a2.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element"> Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229; </a> </td>
													    <td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/63b2a8d3-ac6a-45b6-9d23-02c2fe51c913.html" target="element">  </a> </td>
																		<td> <a href="../elements/63b2a8d3-ac6a-45b6-9d23-02c2fe51c913.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/65d76e14-9035-4dd9-b211-20c57e3c6856.html" target="element"> F&#248;ringer for bruk av arkitekturprinsippene </a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1d308fee-5944-4b52-b209-04f39db6533a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d308fee-5944-4b52-b209-04f39db6533a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0de077be-7f5c-4a0b-a4eb-153821e57d81.html" target="element"> M&#229;lgrupper for prinsippene </a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/00633475-f38c-4768-976d-a56472cb2fbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/00633475-f38c-4768-976d-a56472cb2fbb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/08d6d972-bf4c-4bf9-b780-225751a2c0d2.html" target="element"> Forklaring til beskrivelsen av prinsippene </a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ef968c16-1906-4989-8828-957947dfb58d.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef968c16-1906-4989-8828-957947dfb58d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/138715c4-27c3-405a-b3cd-508ab358e57e.html" target="element"> Hensikt med arkitekturprinsippene </a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fddc4102-ea5b-49fb-9339-cb5855789b78.html" target="element">  </a> </td>
																		<td> <a href="../elements/fddc4102-ea5b-49fb-9339-cb5855789b78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/a3c7dc78-f9d5-4e82-b8b9-24411d25a6a9.html" target="element"> Prinsipp 6: Lag digitale l&#248;sninger som st&#248;tter samhandling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b89e1da-b3f7-476f-b3e0-c2edd06e794e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b89e1da-b3f7-476f-b3e0-c2edd06e794e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/c0585df6-0aa1-4705-952d-5cf49daac44c.html" target="element"> Prinsipp 3: Bidra til digitaliseringsvennlige regelverk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a4596d4-3c5d-41e7-a7f4-a7ade0af1f6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a4596d4-3c5d-41e7-a7f4-a7ade0af1f6e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/5e6c9758-4188-4e7b-a2de-018482548923.html" target="element"> Prinsipp 5: Del og gjenbruk l&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9922ff8b-7588-41fa-a928-aa936868ae76.html" target="element">  </a> </td>
																		<td> <a href="../elements/9922ff8b-7588-41fa-a928-aa936868ae76.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element"> Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ce5ac95a-7004-4d83-b37b-c4f1563cd2c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce5ac95a-7004-4d83-b37b-c4f1563cd2c5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/ee5faaf8-2158-4774-9ca9-0763df4896b4.html" target="element"> Prinsipp 4: Del og gjenbruk data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f14c408-7ea1-47c3-b855-3891ee6968d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f14c408-7ea1-47c3-b855-3891ee6968d8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/ab52b6b5-eb9b-42d6-a404-fdab06e357a2.html" target="element"> Prinsipp 1: Ta utgangspunkt i brukernes behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39645b0f-f265-4253-a818-025f0cca12fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/39645b0f-f265-4253-a818-025f0cca12fc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/544ba053-3639-4e62-b00c-b356d5cf9a2b.html" target="element"> Overordnede arkitekturprinsipper for digitalisering av offentlig sektor  </a> </td>
																		<td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element"> Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>