<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Utkast til behovskatalog</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Utkast til behovskatalog</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7903487acbf846a08f1d6eb18cc41d67.png" alt="Utkast til behovskatalog" usemap="#id-7903487acbf846a08f1d6eb18cc41d67map"/>
			   <map name="id-7903487acbf846a08f1d6eb18cc41d67map">
				  		<area shape="rect" coords="202,514,339,585" href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html"  target="element">
				  		<area shape="rect" coords="1066,310,1203,381" href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html"  target="element">
				  		<area shape="rect" coords="838,10,975,81" href="../elements/id-16cf88d75c38485fb522230d33f654d3.html"  target="element">
				  		<area shape="rect" coords="838,598,975,669" href="../elements/id-1bf32abe08d941cbae1bcfb52e4c54f6.html"  target="element">
				  		<area shape="rect" coords="466,682,603,753" href="../elements/id-4a230e317a44401691ee488d20f8edc9.html"  target="element">
				  		<area shape="rect" coords="838,682,975,753" href="../elements/id-70d16e1a7ac449a38ac06d9745aedc0e.html"  target="element">
				  		<area shape="rect" coords="202,682,201,681" href="../elements/4ad49721-2920-4ec7-8999-b4e3afc8fc9e.html"  target="element">
				  		<area shape="rect" coords="10,668,147,739" href="../elements/id-3200d06525524586ae6e87c5e5abf0d4.html"  target="element">
				  		<area shape="rect" coords="202,598,339,669" href="../elements/id-dba185f6185f43acb36cedf521843ff4.html"  target="element">
				  		<area shape="rect" coords="202,262,201,261" href="../elements/133b6f7c-75a2-4c08-bc16-a62625545986.html"  target="element">
				  		<area shape="rect" coords="202,430,201,429" href="../elements/54086b54-1bc3-4158-973c-1a537dc1fc1f.html"  target="element">
				  		<area shape="rect" coords="10,514,9,513" href="../elements/8b24dbf1-8b0f-4c01-91ae-9069b9bbcb80.html"  target="element">
				  		<area shape="rect" coords="22,106,159,177" href="../elements/id-5f1ba6658e4b41a0933b4e6e4f2d6a48.html"  target="element">
				  		<area shape="rect" coords="22,202,159,273" href="../elements/id-fbdd0989b77f4a8b88b0fee7b77627ce.html"  target="element">
				  		<area shape="rect" coords="202,10,339,81" href="../elements/id-fb361812651441c98f7b19b409135353.html"  target="element">
				  		<area shape="rect" coords="202,106,201,105" href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html"  target="element">
				  		<area shape="rect" coords="466,10,603,81" href="../elements/id-3abebadef57148f7a773b9ee6e431047.html"  target="element">
				  		<area shape="rect" coords="466,598,603,669" href="../elements/id-2044d2772d15419a8999bf632ffbf0f9.html"  target="element">
				  		<area shape="rect" coords="838,214,975,285" href="../elements/id-ad1b191d76e14dd2bfd67cdad48e1da0.html"  target="element">
				  		<area shape="rect" coords="838,514,975,585" href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html"  target="element">
				  		<area shape="rect" coords="838,430,975,501" href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html"  target="element">
				  		<area shape="rect" coords="466,514,603,585" href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html"  target="element">
				  		<area shape="rect" coords="466,346,603,417" href="../elements/id-f63c44f72d66458db250d0ce5b4d6e14.html"  target="element">
				  		<area shape="rect" coords="670,298,807,369" href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html"  target="element">
				  		<area shape="rect" coords="466,94,603,165" href="../elements/id-8e4603af84dd422b8cfd08b6aa12d20c.html"  target="element">
				  		<area shape="rect" coords="466,262,603,333" href="../elements/id-a7873eb5a68e4134bbb48c9b5c6d8cc4.html"  target="element">
				  		<area shape="rect" coords="466,430,603,501" href="../elements/id-96da409e876046cb951b9cf5f0249003.html"  target="element">
				  		<area shape="rect" coords="670,128,807,199" href="../elements/id-93b7e6efd2e844aba87dd3b23a90090b.html"  target="element">
				  		<area shape="rect" coords="466,176,603,247" href="../elements/id-42c1a2c91da54dce8765d7b1331b9f98.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-42c1a2c91da54dce8765d7b1331b9f98.html" target="element"> Oversikt over det nasjonale l&#248;sningslandskapet (as-is) </a> </td>
											    <td> <a href="../elements/id-42c1a2c91da54dce8765d7b1331b9f98.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93b7e6efd2e844aba87dd3b23a90090b.html" target="element"> Tverrsektoriell portef&#248;ljestyring av det nasjonale l&#248;sningslandskapet </a> </td>
											    <td> <a href="../elements/id-93b7e6efd2e844aba87dd3b23a90090b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96da409e876046cb951b9cf5f0249003.html" target="element"> Oversikt over gjenbrukbare l&#248;sninger p&#229; nasjonalt niv&#229; </a> </td>
											    <td> <a href="../elements/id-96da409e876046cb951b9cf5f0249003.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a7873eb5a68e4134bbb48c9b5c6d8cc4.html" target="element"> Oversikt over igangsatte prosjekter  og aktuelle behov </a> </td>
											    <td> <a href="../elements/id-a7873eb5a68e4134bbb48c9b5c6d8cc4.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e4603af84dd422b8cfd08b6aa12d20c.html" target="element"> Oversikt over tverrsektorielle behov </a> </td>
											    <td> <a href="../elements/id-8e4603af84dd422b8cfd08b6aa12d20c.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html" target="element"> Tverrsektoriell portef&#248;ljestyring av  programmer og prosjekter </a> </td>
											    <td> <a href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f63c44f72d66458db250d0ce5b4d6e14.html" target="element"> Oversikt over planlagte prosjekter og aktuelle behov </a> </td>
											    <td> <a href="../elements/id-f63c44f72d66458db250d0ce5b4d6e14.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element"> Veiledning til bruk  av fellesl&#248;sninger ved tjenesteutvikling </a> </td>
											    <td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html" target="element"> Mer gjenbruk av tjenester og l&#248;sninger </a> </td>
											    <td> <a href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html" target="element"> Mer gjenbruk av data </a> </td>
											    <td> <a href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad1b191d76e14dd2bfd67cdad48e1da0.html" target="element"> Rasjonalisering av l&#248;sningslandskapet </a> </td>
											    <td> <a href="../elements/id-ad1b191d76e14dd2bfd67cdad48e1da0.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2044d2772d15419a8999bf632ffbf0f9.html" target="element"> Veiledning til deling og innhenting av data </a> </td>
											    <td> <a href="../elements/id-2044d2772d15419a8999bf632ffbf0f9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3abebadef57148f7a773b9ee6e431047.html" target="element"> Tverrsektorielt samarbeid om utvikling av arkitekturprodukter </a> </td>
											    <td> <a href="../elements/id-3abebadef57148f7a773b9ee6e431047.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
											    <td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb361812651441c98f7b19b409135353.html" target="element"> Nasjonalt arkitekturverksted </a> </td>
											    <td> <a href="../elements/id-fb361812651441c98f7b19b409135353.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbdd0989b77f4a8b88b0fee7b77627ce.html" target="element"> Oversikt over Digdirs produkter </a> </td>
											    <td> <a href="../elements/id-fbdd0989b77f4a8b88b0fee7b77627ce.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f1ba6658e4b41a0933b4e6e4f2d6a48.html" target="element"> Oversikt over l&#248;sninger i Felles &#248;kosystem </a> </td>
											    <td> <a href="../elements/id-5f1ba6658e4b41a0933b4e6e4f2d6a48.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8b24dbf1-8b0f-4c01-91ae-9069b9bbcb80.html" target="element"> Referansearkitekturer for datautveksling </a> </td>
											    <td> <a href="../elements/8b24dbf1-8b0f-4c01-91ae-9069b9bbcb80.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54086b54-1bc3-4158-973c-1a537dc1fc1f.html" target="element"> Torget for digitale fellesl&#248;sninger </a> </td>
											    <td> <a href="../elements/54086b54-1bc3-4158-973c-1a537dc1fc1f.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/133b6f7c-75a2-4c08-bc16-a62625545986.html" target="element"> Oversikt over digitaliseringstiltak i staten </a> </td>
											    <td> <a href="../elements/133b6f7c-75a2-4c08-bc16-a62625545986.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dba185f6185f43acb36cedf521843ff4.html" target="element"> Verkt&#248;ykasse for deling av data </a> </td>
											    <td> <a href="../elements/id-dba185f6185f43acb36cedf521843ff4.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3200d06525524586ae6e87c5e5abf0d4.html" target="element"> Veileder for orden i eget hus </a> </td>
											    <td> <a href="../elements/id-3200d06525524586ae6e87c5e5abf0d4.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ad49721-2920-4ec7-8999-b4e3afc8fc9e.html" target="element"> Rammeverk for informasjonsforvaltning </a> </td>
											    <td> <a href="../elements/4ad49721-2920-4ec7-8999-b4e3afc8fc9e.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70d16e1a7ac449a38ac06d9745aedc0e.html" target="element"> Mer og bedre samhandling </a> </td>
											    <td> <a href="../elements/id-70d16e1a7ac449a38ac06d9745aedc0e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a230e317a44401691ee488d20f8edc9.html" target="element"> Andre veiledninger </a> </td>
											    <td> <a href="../elements/id-4a230e317a44401691ee488d20f8edc9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1bf32abe08d941cbae1bcfb52e4c54f6.html" target="element"> Mer deling av data </a> </td>
											    <td> <a href="../elements/id-1bf32abe08d941cbae1bcfb52e4c54f6.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16cf88d75c38485fb522230d33f654d3.html" target="element"> Skalering av arkiteturarbeidet  </a> </td>
											    <td> <a href="../elements/id-16cf88d75c38485fb522230d33f654d3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
											    <td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html" target="element"> Referansearkitekturer </a> </td>
											    <td> <a href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b8726f04fc884d868e4a94f334719265.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8726f04fc884d868e4a94f334719265.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-42c1a2c91da54dce8765d7b1331b9f98.html" target="element"> Oversikt over det nasjonale l&#248;sningslandskapet (as-is) </a> </td>
																		<td> <a href="../elements/id-93b7e6efd2e844aba87dd3b23a90090b.html" target="element"> Tverrsektoriell portef&#248;ljestyring av det nasjonale l&#248;sningslandskapet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e72b1bfb7ad42a4b320e89acc6601d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e72b1bfb7ad42a4b320e89acc6601d4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-93b7e6efd2e844aba87dd3b23a90090b.html" target="element"> Tverrsektoriell portef&#248;ljestyring av det nasjonale l&#248;sningslandskapet </a> </td>
																		<td> <a href="../elements/id-ad1b191d76e14dd2bfd67cdad48e1da0.html" target="element"> Rasjonalisering av l&#248;sningslandskapet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eca034512742441fa2a43389a04e7870.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eca034512742441fa2a43389a04e7870.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-96da409e876046cb951b9cf5f0249003.html" target="element"> Oversikt over gjenbrukbare l&#248;sninger p&#229; nasjonalt niv&#229; </a> </td>
																		<td> <a href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html" target="element"> Mer gjenbruk av tjenester og l&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a368b8f16624f959daa6aeb0527c830.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a368b8f16624f959daa6aeb0527c830.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-96da409e876046cb951b9cf5f0249003.html" target="element"> Oversikt over gjenbrukbare l&#248;sninger p&#229; nasjonalt niv&#229; </a> </td>
																		<td> <a href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html" target="element"> Mer gjenbruk av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a6fb409e55884089a91480fba574ac4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6fb409e55884089a91480fba574ac4b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-a7873eb5a68e4134bbb48c9b5c6d8cc4.html" target="element"> Oversikt over igangsatte prosjekter  og aktuelle behov </a> </td>
																		<td> <a href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html" target="element"> Tverrsektoriell portef&#248;ljestyring av  programmer og prosjekter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88e5047972244daeaeee826735f17fa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88e5047972244daeaeee826735f17fa3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8e4603af84dd422b8cfd08b6aa12d20c.html" target="element"> Oversikt over tverrsektorielle behov </a> </td>
																		<td> <a href="../elements/id-93b7e6efd2e844aba87dd3b23a90090b.html" target="element"> Tverrsektoriell portef&#248;ljestyring av det nasjonale l&#248;sningslandskapet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c992ad261e7748d2b3cfef3a15450fbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c992ad261e7748d2b3cfef3a15450fbd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8e4603af84dd422b8cfd08b6aa12d20c.html" target="element"> Oversikt over tverrsektorielle behov </a> </td>
																		<td> <a href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html" target="element"> Tverrsektoriell portef&#248;ljestyring av  programmer og prosjekter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8afc7bbd06240a3bc59de11e9c5a156.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8afc7bbd06240a3bc59de11e9c5a156.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html" target="element"> Tverrsektoriell portef&#248;ljestyring av  programmer og prosjekter </a> </td>
																		<td> <a href="../elements/id-ad1b191d76e14dd2bfd67cdad48e1da0.html" target="element"> Rasjonalisering av l&#248;sningslandskapet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-32be302964974e0192ec65efb124123d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32be302964974e0192ec65efb124123d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-f63c44f72d66458db250d0ce5b4d6e14.html" target="element"> Oversikt over planlagte prosjekter og aktuelle behov </a> </td>
																		<td> <a href="../elements/id-aff16f94231b40f9aa9ff8121d833c88.html" target="element"> Tverrsektoriell portef&#248;ljestyring av  programmer og prosjekter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd2757177238495dbeef4c153c4ab335.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd2757177238495dbeef4c153c4ab335.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element"> Veiledning til bruk  av fellesl&#248;sninger ved tjenesteutvikling </a> </td>
																		<td> <a href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html" target="element"> Mer gjenbruk av tjenester og l&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-514679166bd24e1c952793f7464ad84e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-514679166bd24e1c952793f7464ad84e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element"> Veiledning til bruk  av fellesl&#248;sninger ved tjenesteutvikling </a> </td>
																		<td> <a href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html" target="element"> Mer gjenbruk av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8bbf7842ef0649fba8daee2020d48898.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bbf7842ef0649fba8daee2020d48898.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html" target="element"> Mer gjenbruk av tjenester og l&#248;sninger </a> </td>
																		<td> <a href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html" target="element"> Mer gjenbruk av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d508b929f05c40258144f3284948abe8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d508b929f05c40258144f3284948abe8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-ff59b190f98d4772824ed7105ba4abd3.html" target="element"> Mer gjenbruk av tjenester og l&#248;sninger </a> </td>
																		<td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1858d148a8a3433c9727cf241b5eb88f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1858d148a8a3433c9727cf241b5eb88f.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a1700fa3667143d1b61b31f8d101c399.html" target="element"> Mer gjenbruk av data </a> </td>
																		<td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5f4306d19d434f17ad2b6d13ecdd5fb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f4306d19d434f17ad2b6d13ecdd5fb3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-ad1b191d76e14dd2bfd67cdad48e1da0.html" target="element"> Rasjonalisering av l&#248;sningslandskapet </a> </td>
																		<td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33824c2d99cc43ce98a830c07c99d95b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33824c2d99cc43ce98a830c07c99d95b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-2044d2772d15419a8999bf632ffbf0f9.html" target="element"> Veiledning til deling og innhenting av data </a> </td>
																		<td> <a href="../elements/id-1bf32abe08d941cbae1bcfb52e4c54f6.html" target="element"> Mer deling av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e2509014c46a43588d696c47b2cddeb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2509014c46a43588d696c47b2cddeb3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-3abebadef57148f7a773b9ee6e431047.html" target="element"> Tverrsektorielt samarbeid om utvikling av arkitekturprodukter </a> </td>
																		<td> <a href="../elements/id-16cf88d75c38485fb522230d33f654d3.html" target="element"> Skalering av arkiteturarbeidet  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a0d0c34e34004eddbfbf8da01eb9f039.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0d0c34e34004eddbfbf8da01eb9f039.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																		<td> <a href="../elements/id-96da409e876046cb951b9cf5f0249003.html" target="element"> Oversikt over gjenbrukbare l&#248;sninger p&#229; nasjonalt niv&#229; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b75bf7de633643dda39a4adb6640c6dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b75bf7de633643dda39a4adb6640c6dd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																		<td> <a href="../elements/id-8e4603af84dd422b8cfd08b6aa12d20c.html" target="element"> Oversikt over tverrsektorielle behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c0a9bcf4c9249768873e46749d13e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c0a9bcf4c9249768873e46749d13e63.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																		<td> <a href="../elements/id-42c1a2c91da54dce8765d7b1331b9f98.html" target="element"> Oversikt over det nasjonale l&#248;sningslandskapet (as-is) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20c3e3ce90fa4904a8aff33e77b18b6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20c3e3ce90fa4904a8aff33e77b18b6a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																		<td> <a href="../elements/id-a7873eb5a68e4134bbb48c9b5c6d8cc4.html" target="element"> Oversikt over igangsatte prosjekter  og aktuelle behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4dfb82d00fa74e69af0cb3516ad6889a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4dfb82d00fa74e69af0cb3516ad6889a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																		<td> <a href="../elements/id-f63c44f72d66458db250d0ce5b4d6e14.html" target="element"> Oversikt over planlagte prosjekter og aktuelle behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89142e2e33234ef9b784129477ed80dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89142e2e33234ef9b784129477ed80dd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																		<td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element"> Veiledning til bruk  av fellesl&#248;sninger ved tjenesteutvikling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ecc8bf0c06b482cb870521d1756b64a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ecc8bf0c06b482cb870521d1756b64a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-fb361812651441c98f7b19b409135353.html" target="element"> Nasjonalt arkitekturverksted </a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c98fcd94ed134c9bb82ee8a7a6207eb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c98fcd94ed134c9bb82ee8a7a6207eb9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-fb361812651441c98f7b19b409135353.html" target="element"> Nasjonalt arkitekturverksted </a> </td>
																		<td> <a href="../elements/id-3abebadef57148f7a773b9ee6e431047.html" target="element"> Tverrsektorielt samarbeid om utvikling av arkitekturprodukter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9470aa5d1d57410089facd7dd768222e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9470aa5d1d57410089facd7dd768222e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-fbdd0989b77f4a8b88b0fee7b77627ce.html" target="element"> Oversikt over Digdirs produkter </a> </td>
																		<td> <a href="../elements/id-5f1ba6658e4b41a0933b4e6e4f2d6a48.html" target="element"> Oversikt over l&#248;sninger i Felles &#248;kosystem </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8bda8b325c6474bb145d5defae5f9f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8bda8b325c6474bb145d5defae5f9f2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-5f1ba6658e4b41a0933b4e6e4f2d6a48.html" target="element"> Oversikt over l&#248;sninger i Felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/7a2e4c46-bade-4f6f-a683-a3f99cf72edd.html" target="element"> Nasjonalt arkitekturbibliotek </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-734369ae1b244ba699bfe10f238eefb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-734369ae1b244ba699bfe10f238eefb5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54086b54-1bc3-4158-973c-1a537dc1fc1f.html" target="element"> Torget for digitale fellesl&#248;sninger </a> </td>
																		<td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element"> Veiledning til bruk  av fellesl&#248;sninger ved tjenesteutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa0b8c37bb7644b38ae52688c9dad042.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa0b8c37bb7644b38ae52688c9dad042.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54086b54-1bc3-4158-973c-1a537dc1fc1f.html" target="element"> Torget for digitale fellesl&#248;sninger </a> </td>
																		<td> <a href="../elements/id-96da409e876046cb951b9cf5f0249003.html" target="element"> Oversikt over gjenbrukbare l&#248;sninger p&#229; nasjonalt niv&#229; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-74bb36cece6846ec823b3ec9e6068194.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74bb36cece6846ec823b3ec9e6068194.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/133b6f7c-75a2-4c08-bc16-a62625545986.html" target="element"> Oversikt over digitaliseringstiltak i staten </a> </td>
																		<td> <a href="../elements/id-a7873eb5a68e4134bbb48c9b5c6d8cc4.html" target="element"> Oversikt over igangsatte prosjekter  og aktuelle behov </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8ae817c7a85243e7bacb84dac850a9f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ae817c7a85243e7bacb84dac850a9f4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-dba185f6185f43acb36cedf521843ff4.html" target="element"> Verkt&#248;ykasse for deling av data </a> </td>
																		<td> <a href="../elements/id-2044d2772d15419a8999bf632ffbf0f9.html" target="element"> Veiledning til deling og innhenting av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81dbae9bfdbf4651b39f4de0ff7e02c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81dbae9bfdbf4651b39f4de0ff7e02c9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4ad49721-2920-4ec7-8999-b4e3afc8fc9e.html" target="element"> Rammeverk for informasjonsforvaltning </a> </td>
																		<td> <a href="../elements/id-3200d06525524586ae6e87c5e5abf0d4.html" target="element"> Veileder for orden i eget hus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f62b6a4df8ee4458b2684df38f27b2ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f62b6a4df8ee4458b2684df38f27b2ea.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4ad49721-2920-4ec7-8999-b4e3afc8fc9e.html" target="element"> Rammeverk for informasjonsforvaltning </a> </td>
																		<td> <a href="../elements/id-4a230e317a44401691ee488d20f8edc9.html" target="element"> Andre veiledninger </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bfae839515d349c5a9168487dc223ceb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfae839515d349c5a9168487dc223ceb.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-70d16e1a7ac449a38ac06d9745aedc0e.html" target="element"> Mer og bedre samhandling </a> </td>
																		<td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-596dde98cd39453f92b7875a2d7666b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-596dde98cd39453f92b7875a2d7666b3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-4a230e317a44401691ee488d20f8edc9.html" target="element"> Andre veiledninger </a> </td>
																		<td> <a href="../elements/id-70d16e1a7ac449a38ac06d9745aedc0e.html" target="element"> Mer og bedre samhandling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cd23191e897f4276aa638802d58f7783.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd23191e897f4276aa638802d58f7783.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-1bf32abe08d941cbae1bcfb52e4c54f6.html" target="element"> Mer deling av data </a> </td>
																		<td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ccbc1ef1fc74da292191ad9da674751.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ccbc1ef1fc74da292191ad9da674751.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-16cf88d75c38485fb522230d33f654d3.html" target="element"> Skalering av arkiteturarbeidet  </a> </td>
																		<td> <a href="../elements/id-e6d5424977094b07b72d0d6a99f521f6.html" target="element"> Bedre samfunns&#248;konomi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1911c06211b14fc5b4feabe305481e11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1911c06211b14fc5b4feabe305481e11.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/id-4a230e317a44401691ee488d20f8edc9.html" target="element"> Andre veiledninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c5ba622538c45a0b12b3adc761e56cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c5ba622538c45a0b12b3adc761e56cc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/id-ca8359a2e81b404b9efec98ba67f2cd0.html" target="element"> Veiledning til bruk  av fellesl&#248;sninger ved tjenesteutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cc69ef2209a49fc85d7f1295e47fdf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cc69ef2209a49fc85d7f1295e47fdf9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/id-2044d2772d15419a8999bf632ffbf0f9.html" target="element"> Veiledning til deling og innhenting av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8bae464e7e2348e788857fc324425a04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bae464e7e2348e788857fc324425a04.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac959a9756c94fb7a9a5d1672d6f59db.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/8b24dbf1-8b0f-4c01-91ae-9069b9bbcb80.html" target="element"> Referansearkitekturer for datautveksling </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>