<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Verktøykasse for datadeling nivå 0</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Verkt&#248;ykasse for datadeling niv&#229; 0</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b8b8df806bf740dc80b1b508c2ebfe0e.png" alt="Verktøykasse for datadeling nivå 0" usemap="#id-b8b8df806bf740dc80b1b508c2ebfe0emap"/>
			   <map name="id-b8b8df806bf740dc80b1b508c2ebfe0emap">
				  		<area shape="rect" coords="358,10,491,81" href="../elements/id-6733ff6dc8804d4da61838f098db93d1.html"  target="element">
				  		<area shape="rect" coords="178,10,311,81" href="../elements/id-61bb735cf6c349cd83f352e6a70b84fd.html"  target="element">
				  		<area shape="rect" coords="10,10,143,81" href="../elements/id-50285d48daf84d2394598cb30daae5b3.html"  target="element">
				  				<area shape="rect" coords="1021,610,1154,681" href="../elements/id-d470f3137a904d5e92aaced6291667b8.html"  target="element">
				  				<area shape="rect" coords="868,694,1001,765" href="../elements/id-9a6166e77a954b8696724a3176217125.html"  target="element">
				  				<area shape="rect" coords="712,694,845,765" href="../elements/id-3180dd2e3a5e4345a619932cbc2ab2ae.html"  target="element">
				  				<area shape="rect" coords="868,610,1001,681" href="../elements/id-6796140aceb04d04a759e4269bfde942.html"  target="element">
				  				<area shape="rect" coords="712,610,845,681" href="../elements/id-6bee6c53e4754e3bb33ce20ab6cdb885.html"  target="element">

				  		<area shape="rect" coords="697,574,1208,784" href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element"> Initiativer relatert til Prosjekt for deling av data </a> </td>
											    <td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6bee6c53e4754e3bb33ce20ab6cdb885.html" target="element"> Prosjekt for deling av data </a> </td>
													    <td> <a href="../elements/id-6bee6c53e4754e3bb33ce20ab6cdb885.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6796140aceb04d04a759e4269bfde942.html" target="element"> Prosjekt for sammenhengende tjenester </a> </td>
													    <td> <a href="../elements/id-6796140aceb04d04a759e4269bfde942.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3180dd2e3a5e4345a619932cbc2ab2ae.html" target="element"> Samordnet organisering, styring og finansiering av Digitaliseringsdirektoratetsfellesl&#248;sninger </a> </td>
													    <td> <a href="../elements/id-3180dd2e3a5e4345a619932cbc2ab2ae.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9a6166e77a954b8696724a3176217125.html" target="element"> Stortingsmelding om datadrevet &#248;konomi og innovasjon </a> </td>
													    <td> <a href="../elements/id-9a6166e77a954b8696724a3176217125.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d470f3137a904d5e92aaced6291667b8.html" target="element"> Stortingsmelding om den digitale grunnmuren </a> </td>
													    <td> <a href="../elements/id-d470f3137a904d5e92aaced6291667b8.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-50285d48daf84d2394598cb30daae5b3.html" target="element"> Fellesl&#248;sninger for deling av data </a> </td>
											    <td> <a href="../elements/id-50285d48daf84d2394598cb30daae5b3.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61bb735cf6c349cd83f352e6a70b84fd.html" target="element"> Veiledere som er relevante for Deling av data </a> </td>
											    <td> <a href="../elements/id-61bb735cf6c349cd83f352e6a70b84fd.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6733ff6dc8804d4da61838f098db93d1.html" target="element"> Oversikt over initiativer relatert til Prosjekt for deling av data </a> </td>
											    <td> <a href="../elements/id-6733ff6dc8804d4da61838f098db93d1.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b01b11f02f3c436d905975433d29f98f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b01b11f02f3c436d905975433d29f98f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element"> Initiativer relatert til Prosjekt for deling av data </a> </td>
																		<td> <a href="../elements/id-6bee6c53e4754e3bb33ce20ab6cdb885.html" target="element"> Prosjekt for deling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8b05136dcfe4cf0bbfc95cb6bc51cc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8b05136dcfe4cf0bbfc95cb6bc51cc8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element"> Initiativer relatert til Prosjekt for deling av data </a> </td>
																		<td> <a href="../elements/id-6796140aceb04d04a759e4269bfde942.html" target="element"> Prosjekt for sammenhengende tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a287140ae48647abb51a3b130b870bd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a287140ae48647abb51a3b130b870bd0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element"> Initiativer relatert til Prosjekt for deling av data </a> </td>
																		<td> <a href="../elements/id-3180dd2e3a5e4345a619932cbc2ab2ae.html" target="element"> Samordnet organisering, styring og finansiering av Digitaliseringsdirektoratetsfellesl&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5671fd88e9274c9087f1e7572c8a3e3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5671fd88e9274c9087f1e7572c8a3e3d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element"> Initiativer relatert til Prosjekt for deling av data </a> </td>
																		<td> <a href="../elements/id-9a6166e77a954b8696724a3176217125.html" target="element"> Stortingsmelding om datadrevet &#248;konomi og innovasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c8faaca82274216afd37956af193e14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c8faaca82274216afd37956af193e14.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-eb9c383334f745e9a4f9e9091cc9696c.html" target="element"> Initiativer relatert til Prosjekt for deling av data </a> </td>
																		<td> <a href="../elements/id-d470f3137a904d5e92aaced6291667b8.html" target="element"> Stortingsmelding om den digitale grunnmuren </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>