<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>eOppslag</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>eOppslag</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/0a977a11-de27-49bc-9ace-28ebc229fc90.png" alt="eOppslag" usemap="#0a977a11-de27-49bc-9ace-28ebc229fc90map">
			<map name="0a977a11-de27-49bc-9ace-28ebc229fc90map">
						<area shape="rect" coords="190,706,310,761" href="../elements/055b288a-8599-4cc0-8228-4b0640902283.html"  target="element">
						<area shape="rect" coords="886,706,1006,761" href="../elements/82d02cbd-c351-4c12-a19f-4ee77d2b51dc.html"  target="element">
						<area shape="rect" coords="358,382,478,437" href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html"  target="element">
						<area shape="rect" coords="358,274,478,329" href="../elements/1734caeb-5f8e-45b4-b225-c2d07b945a12.html"  target="element">
						<area shape="rect" coords="10,382,130,437" href="../elements/500de620-5f0b-4699-af91-ec445efebf90.html"  target="element">
						<area shape="rect" coords="886,382,1006,437" href="../elements/669073bf-6424-40cb-9b5e-c5b72a5f86e8.html"  target="element">
						<area shape="rect" coords="1498,10,1618,65" href="../elements/a9c48083-aad2-4c1b-b8e2-7ca9a6dfac83.html"  target="element">
						<area shape="rect" coords="1198,10,1318,65" href="../elements/153a24a1-856f-4819-8e4b-3a1a7970247b.html"  target="element">
						<area shape="rect" coords="10,538,130,593" href="../elements/c5f1e176-b528-4bb7-974d-2c81eeadad20.html"  target="element">
						<area shape="rect" coords="527,538,647,593" href="../elements/24e58b12-21fb-4ce8-8998-e5bd17a1970a.html"  target="element">
						<area shape="rect" coords="190,538,310,593" href="../elements/e0f80e65-8029-452b-a2a0-fc7cc0a73fcd.html"  target="element">
						<area shape="rect" coords="706,538,826,593" href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html"  target="element">
						<area shape="rect" coords="358,538,478,593" href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html"  target="element">
						<area shape="rect" coords="886,502,1006,557" href="../elements/72b6c935-a8d0-432f-a8f7-ae33db90d5bd.html"  target="element">
						<area shape="rect" coords="1054,538,1174,593" href="../elements/cc92989b-ec91-4ec8-bbb4-fadf72fed671.html"  target="element">
						<area shape="rect" coords="874,142,994,197" href="../elements/a502f944-ae3a-4e81-a7ae-349925f6ba94.html"  target="element">
						<area shape="rect" coords="538,142,658,197" href="../elements/b8ba9325-cf42-4ed9-a465-156a63932ab6.html"  target="element">
						<area shape="rect" coords="10,142,143,197" href="../elements/8c059616-73e3-4ff9-96e8-33463fd2c45e.html"  target="element">
						<area shape="rect" coords="358,142,478,197" href="../elements/a2ff3eda-799b-44a5-969f-81cd7846ab0f.html"  target="element">
						<area shape="rect" coords="610,875,730,930" href="../elements/5eac9063-de13-404a-a827-5058a9408c13.html"  target="element">
						<area shape="rect" coords="154,875,274,930" href="../elements/fecc0ec9-afb6-4cf9-8810-6eceb3585f27.html"  target="element">
						<area shape="rect" coords="301,875,421,930" href="../elements/56138d04-2a96-466c-9526-8e4604b135d2.html"  target="element">
						<area shape="rect" coords="454,958,574,1013" href="../elements/1ac0103d-28de-4381-ad46-614fc2fa671c.html"  target="element">
						<area shape="rect" coords="454,875,574,930" href="../elements/197a7b30-bfa7-4e96-baa3-feff8942e49c.html"  target="element">
						<area shape="rect" coords="550,382,670,437" href="../elements/5fa36479-f2bf-43c7-a919-f33c58b9f3b1.html"  target="element">
						<area shape="rect" coords="706,142,826,197" href="../elements/e939257b-3277-4f64-adcc-6ef668982b0a.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/055b288a-8599-4cc0-8228-4b0640902283.html" target="element"> Konsument av data </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/82d02cbd-c351-4c12-a19f-4ee77d2b51dc.html" target="element"> Tilbyder av data </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html" target="element"> Autentisering av virksomheter </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/1734caeb-5f8e-45b4-b225-c2d07b945a12.html" target="element"> Rettighetsregister </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/500de620-5f0b-4699-af91-ec445efebf90.html" target="element"> Adresseringstjeneste (runtime) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/669073bf-6424-40cb-9b5e-c5b72a5f86e8.html" target="element"> Sertifikattjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/a9c48083-aad2-4c1b-b8e2-7ca9a6dfac83.html" target="element"> Application Process </a> </td><td class="i18n-elementtype-ApplicationProcess"></td></tr>
											<tr><td> <a href="../elements/153a24a1-856f-4819-8e4b-3a1a7970247b.html" target="element"> Business Process </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/c5f1e176-b528-4bb7-974d-2c81eeadad20.html" target="element"> Sl&#229; opp adresse </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/24e58b12-21fb-4ce8-8998-e5bd17a1970a.html" target="element"> Gj&#248;r API-kall </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/e0f80e65-8029-452b-a2a0-fc7cc0a73fcd.html" target="element"> Autentiser mot autentiseringstjeneste </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html" target="element"> Valider autorisasjonstoken </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html" target="element"> Utsted autorisasjonstoken </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/72b6c935-a8d0-432f-a8f7-ae33db90d5bd.html" target="element"> Hent krypteringssertifikat </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/cc92989b-ec91-4ec8-bbb4-fadf72fed671.html" target="element"> Gi respons </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/a502f944-ae3a-4e81-a7ae-349925f6ba94.html" target="element"> Levrand&#248;r av sertifikat-register </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/b8ba9325-cf42-4ed9-a465-156a63932ab6.html" target="element"> ID-Provider </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/8c059616-73e3-4ff9-96e8-33463fd2c45e.html" target="element"> Adressetjeneste-tilbyder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/a2ff3eda-799b-44a5-969f-81cd7846ab0f.html" target="element"> Rettighets-forvalter </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/5eac9063-de13-404a-a827-5058a9408c13.html" target="element"> Krypteringssertifikat </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/fecc0ec9-afb6-4cf9-8810-6eceb3585f27.html" target="element"> Digital adresse </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/56138d04-2a96-466c-9526-8e4604b135d2.html" target="element"> Autorisasjonstoken </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/1ac0103d-28de-4381-ad46-614fc2fa671c.html" target="element"> Autorisasjonsdata </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/197a7b30-bfa7-4e96-baa3-feff8942e49c.html" target="element"> Autentiseringsdata </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/5fa36479-f2bf-43c7-a919-f33c58b9f3b1.html" target="element"> Autirsasjonstjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/e939257b-3277-4f64-adcc-6ef668982b0a.html" target="element"> Autirsasjonstilbyder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/4367af01-894d-43a6-baa5-5c1e728bd165.html" target="element">  </a> </td>
																		<td> <a href="../elements/4367af01-894d-43a6-baa5-5c1e728bd165.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/055b288a-8599-4cc0-8228-4b0640902283.html" target="element"> Konsument av data </a> </td>
																		<td> <a href="../elements/c5f1e176-b528-4bb7-974d-2c81eeadad20.html" target="element"> Sl&#229; opp adresse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/71c1392d-e52c-4172-aa54-86620f8d0957.html" target="element">  </a> </td>
																		<td> <a href="../elements/71c1392d-e52c-4172-aa54-86620f8d0957.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/055b288a-8599-4cc0-8228-4b0640902283.html" target="element"> Konsument av data </a> </td>
																		<td> <a href="../elements/e0f80e65-8029-452b-a2a0-fc7cc0a73fcd.html" target="element"> Autentiser mot autentiseringstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a882224-9520-46a8-85c6-8ed2898b9fb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a882224-9520-46a8-85c6-8ed2898b9fb4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/055b288a-8599-4cc0-8228-4b0640902283.html" target="element"> Konsument av data </a> </td>
																		<td> <a href="../elements/24e58b12-21fb-4ce8-8998-e5bd17a1970a.html" target="element"> Gj&#248;r API-kall </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/372fa91a-bff4-42ec-86df-19b9008e1b65.html" target="element">  </a> </td>
																		<td> <a href="../elements/372fa91a-bff4-42ec-86df-19b9008e1b65.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/82d02cbd-c351-4c12-a19f-4ee77d2b51dc.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/cc92989b-ec91-4ec8-bbb4-fadf72fed671.html" target="element"> Gi respons </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4da591c-e305-40b0-b988-678946fa9c41.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4da591c-e305-40b0-b988-678946fa9c41.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/82d02cbd-c351-4c12-a19f-4ee77d2b51dc.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/72b6c935-a8d0-432f-a8f7-ae33db90d5bd.html" target="element"> Hent krypteringssertifikat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51d874e7-c6ba-4b21-93ce-c7acb8933e42.html" target="element">  </a> </td>
																		<td> <a href="../elements/51d874e7-c6ba-4b21-93ce-c7acb8933e42.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/82d02cbd-c351-4c12-a19f-4ee77d2b51dc.html" target="element"> Tilbyder av data </a> </td>
																		<td> <a href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html" target="element"> Valider autorisasjonstoken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/39802d1c-8266-4324-b3fd-37a2e21f4d64.html" target="element">  </a> </td>
																		<td> <a href="../elements/39802d1c-8266-4324-b3fd-37a2e21f4d64.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html" target="element"> Autentisering av virksomheter </a> </td>
																		<td> <a href="../elements/e0f80e65-8029-452b-a2a0-fc7cc0a73fcd.html" target="element"> Autentiser mot autentiseringstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0983155a-1463-4f2e-ad62-5be5cfb43ffb.html" target="element">  </a> </td>
																		<td> <a href="../elements/0983155a-1463-4f2e-ad62-5be5cfb43ffb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html" target="element"> Autentisering av virksomheter </a> </td>
																		<td> <a href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html" target="element"> Valider autorisasjonstoken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd475fc3-0ece-490a-9e3a-257adc49a6cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd475fc3-0ece-490a-9e3a-257adc49a6cd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html" target="element"> Autentisering av virksomheter </a> </td>
																		<td> <a href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html" target="element"> Utsted autorisasjonstoken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c8a451c8-a315-4414-b24e-7b9a972b479a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8a451c8-a315-4414-b24e-7b9a972b479a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/1734caeb-5f8e-45b4-b225-c2d07b945a12.html" target="element"> Rettighetsregister </a> </td>
																		<td> <a href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html" target="element"> Autentisering av virksomheter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ad2b85e1-1287-4c51-8c93-a57c52df9336.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad2b85e1-1287-4c51-8c93-a57c52df9336.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/500de620-5f0b-4699-af91-ec445efebf90.html" target="element"> Adresseringstjeneste (runtime) </a> </td>
																		<td> <a href="../elements/c5f1e176-b528-4bb7-974d-2c81eeadad20.html" target="element"> Sl&#229; opp adresse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ba5abc9a-4bda-4b42-8320-e6fd78ede816.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba5abc9a-4bda-4b42-8320-e6fd78ede816.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/669073bf-6424-40cb-9b5e-c5b72a5f86e8.html" target="element"> Sertifikattjeneste </a> </td>
																		<td> <a href="../elements/72b6c935-a8d0-432f-a8f7-ae33db90d5bd.html" target="element"> Hent krypteringssertifikat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/25f57875-1410-4fe1-939f-9fbe479928c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/25f57875-1410-4fe1-939f-9fbe479928c6.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/c5f1e176-b528-4bb7-974d-2c81eeadad20.html" target="element"> Sl&#229; opp adresse </a> </td>
																		<td> <a href="../elements/e0f80e65-8029-452b-a2a0-fc7cc0a73fcd.html" target="element"> Autentiser mot autentiseringstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e118b969-c4f1-4221-98f8-c447f43cc624.html" target="element">  </a> </td>
																		<td> <a href="../elements/e118b969-c4f1-4221-98f8-c447f43cc624.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/24e58b12-21fb-4ce8-8998-e5bd17a1970a.html" target="element"> Gj&#248;r API-kall </a> </td>
																		<td> <a href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html" target="element"> Valider autorisasjonstoken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b17849ed-e583-4921-b64d-3a2aa1983db3.html" target="element">  </a> </td>
																		<td> <a href="../elements/b17849ed-e583-4921-b64d-3a2aa1983db3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/e0f80e65-8029-452b-a2a0-fc7cc0a73fcd.html" target="element"> Autentiser mot autentiseringstjeneste </a> </td>
																		<td> <a href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html" target="element"> Utsted autorisasjonstoken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/45f163e0-f085-4736-ad9a-94295c30d494.html" target="element">  </a> </td>
																		<td> <a href="../elements/45f163e0-f085-4736-ad9a-94295c30d494.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html" target="element"> Valider autorisasjonstoken </a> </td>
																		<td> <a href="../elements/72b6c935-a8d0-432f-a8f7-ae33db90d5bd.html" target="element"> Hent krypteringssertifikat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/acaed2f6-7110-4a5b-8a81-5fec5e902cf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/acaed2f6-7110-4a5b-8a81-5fec5e902cf8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/e9e4dfed-49ac-4032-9de5-7dde39012844.html" target="element"> Valider autorisasjonstoken </a> </td>
																		<td> <a href="../elements/cc92989b-ec91-4ec8-bbb4-fadf72fed671.html" target="element"> Gi respons </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/59e748a7-b6df-4db8-a020-bc10fdf70ac3.html" target="element">  </a> </td>
																		<td> <a href="../elements/59e748a7-b6df-4db8-a020-bc10fdf70ac3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html" target="element"> Utsted autorisasjonstoken </a> </td>
																		<td> <a href="../elements/24e58b12-21fb-4ce8-8998-e5bd17a1970a.html" target="element"> Gj&#248;r API-kall </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3b5a30b9-dd79-4582-a951-05b256b9f8bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/3b5a30b9-dd79-4582-a951-05b256b9f8bb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/72b6c935-a8d0-432f-a8f7-ae33db90d5bd.html" target="element"> Hent krypteringssertifikat </a> </td>
																		<td> <a href="../elements/cc92989b-ec91-4ec8-bbb4-fadf72fed671.html" target="element"> Gi respons </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0f5d0bb5-4fa5-44a2-9e66-aa3c0823a371.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f5d0bb5-4fa5-44a2-9e66-aa3c0823a371.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a502f944-ae3a-4e81-a7ae-349925f6ba94.html" target="element"> Levrand&#248;r av sertifikat-register </a> </td>
																		<td> <a href="../elements/669073bf-6424-40cb-9b5e-c5b72a5f86e8.html" target="element"> Sertifikattjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f27071cb-5179-4f1d-8b41-afd5e6713a23.html" target="element">  </a> </td>
																		<td> <a href="../elements/f27071cb-5179-4f1d-8b41-afd5e6713a23.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b8ba9325-cf42-4ed9-a465-156a63932ab6.html" target="element"> ID-Provider </a> </td>
																		<td> <a href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html" target="element"> Utsted autorisasjonstoken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f4b3456-9841-4cdc-a431-d0c8e458a748.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f4b3456-9841-4cdc-a431-d0c8e458a748.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b8ba9325-cf42-4ed9-a465-156a63932ab6.html" target="element"> ID-Provider </a> </td>
																		<td> <a href="../elements/d4f6ae93-32e1-412c-8802-5b29ce918ab8.html" target="element"> Autentisering av virksomheter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/951dbd92-bb6c-4819-b291-2230027bafce.html" target="element">  </a> </td>
																		<td> <a href="../elements/951dbd92-bb6c-4819-b291-2230027bafce.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8c059616-73e3-4ff9-96e8-33463fd2c45e.html" target="element"> Adressetjeneste-tilbyder </a> </td>
																		<td> <a href="../elements/500de620-5f0b-4699-af91-ec445efebf90.html" target="element"> Adresseringstjeneste (runtime) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8b956222-abd2-4386-a887-c91f6d9c6478.html" target="element">  </a> </td>
																		<td> <a href="../elements/8b956222-abd2-4386-a887-c91f6d9c6478.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a2ff3eda-799b-44a5-969f-81cd7846ab0f.html" target="element"> Rettighets-forvalter </a> </td>
																		<td> <a href="../elements/1734caeb-5f8e-45b4-b225-c2d07b945a12.html" target="element"> Rettighetsregister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8ce1b012-50fc-4d1b-a11c-f04d231b05d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ce1b012-50fc-4d1b-a11c-f04d231b05d3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5fa36479-f2bf-43c7-a919-f33c58b9f3b1.html" target="element"> Autirsasjonstjeneste </a> </td>
																		<td> <a href="../elements/2ec74d7e-458f-4265-b0fa-ffc3d0bdc45c.html" target="element"> Utsted autorisasjonstoken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/75009113-ae69-4558-ba5a-92238f7fc893.html" target="element">  </a> </td>
																		<td> <a href="../elements/75009113-ae69-4558-ba5a-92238f7fc893.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e939257b-3277-4f64-adcc-6ef668982b0a.html" target="element"> Autirsasjonstilbyder </a> </td>
																		<td> <a href="../elements/5fa36479-f2bf-43c7-a919-f33c58b9f3b1.html" target="element"> Autirsasjonstjeneste </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>