<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Meldingsformidling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Meldingsformidling</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/3c660221-624a-41f4-b605-39f879803527.png" alt="Meldingsformidling" usemap="#3c660221-624a-41f4-b605-39f879803527map">
			<map name="3c660221-624a-41f4-b605-39f879803527map">
						<area shape="rect" coords="1246,238,1799,359" href="../elements/508d7d99-1241-444d-9467-dcb80e55ffd3.html"  target="element">
						<area shape="rect" coords="10,238,995,359" href="../elements/ace11f53-98cc-4f6a-bb4b-326f61f78cf9.html"  target="element">
						<area shape="rect" coords="431,280,551,335" href="../elements/05720739-e792-4fb2-8d46-9209f6fee96d.html"  target="element">
						<area shape="rect" coords="34,280,154,335" href="../elements/f8ecaacf-4cde-4a3e-974a-b44d6e2abc47.html"  target="element">
						<area shape="rect" coords="214,280,334,335" href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html"  target="element">
						<area shape="rect" coords="622,280,742,335" href="../elements/f272483c-0dfd-438c-9bee-641116e8af46.html"  target="element">
						<area shape="rect" coords="838,280,958,335" href="../elements/fbe7fe64-8866-4834-9802-1963c960f775.html"  target="element">
						<area shape="rect" coords="214,154,334,209" href="../elements/d443dfc4-43e3-4787-a94a-feae606ee30e.html"  target="element">
						<area shape="rect" coords="142,430,262,485" href="../elements/f9625e76-c34b-4f6d-a3ad-98b358b468d2.html"  target="element">
						<area shape="rect" coords="286,430,406,485" href="../elements/1997089e-fc41-4c2f-944c-2da77637fac5.html"  target="element">
						<area shape="rect" coords="431,10,551,65" href="../elements/8eb25ce0-eb01-4046-948d-3a980b3a3568.html"  target="element">
						<area shape="rect" coords="1558,64,1678,119" href="../elements/9e6c2a16-d938-49de-8c02-e8e586f0a613.html"  target="element">
						<area shape="rect" coords="1282,280,1402,335" href="../elements/75594d75-51b0-479e-96c5-090609e6b9a0.html"  target="element">
						<area shape="rect" coords="1474,280,1594,335" href="../elements/769e95ba-aa10-4c26-84b7-6f94fa5e686e.html"  target="element">
						<area shape="rect" coords="1654,280,1774,335" href="../elements/863f7fd4-4fe5-434d-a873-2504430174c6.html"  target="element">
						<area shape="rect" coords="1846,280,1966,335" href="../elements/8f53271e-0616-43d9-a64b-a736a659b425.html"  target="element">
						<area shape="rect" coords="526,154,646,209" href="../elements/35f77c63-2cb7-4f7c-a81f-35e79c85095d.html"  target="element">
						<area shape="rect" coords="622,430,742,485" href="../elements/863717db-42d4-4d0f-bdc5-57eae0de705a.html"  target="element">
						<area shape="rect" coords="431,430,551,485" href="../elements/aab8b7f9-b040-479c-a8d7-534db52ec531.html"  target="element">
						<area shape="rect" coords="1066,442,1186,497" href="../elements/d41ffee3-b818-4047-9baa-58afda075fe8.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/508d7d99-1241-444d-9467-dcb80e55ffd3.html" target="element"> Motta melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/ace11f53-98cc-4f6a-bb4b-326f61f78cf9.html" target="element"> Sende melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/05720739-e792-4fb2-8d46-9209f6fee96d.html" target="element"> Adressere melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/f8ecaacf-4cde-4a3e-974a-b44d6e2abc47.html" target="element"> Behov for &#229; sende informasjon </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
											<tr><td> <a href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html" target="element"> Lage melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/f272483c-0dfd-438c-9bee-641116e8af46.html" target="element"> Sikre melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/fbe7fe64-8866-4834-9802-1963c960f775.html" target="element"> Sende melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/d443dfc4-43e3-4787-a94a-feae606ee30e.html" target="element"> Meldingsformat </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
											<tr><td> <a href="../elements/f9625e76-c34b-4f6d-a3ad-98b358b468d2.html" target="element"> Forretningsinnhold </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
											<tr><td> <a href="../elements/1997089e-fc41-4c2f-944c-2da77637fac5.html" target="element"> Kapabilitet til mottaker </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
											<tr><td> <a href="../elements/8eb25ce0-eb01-4046-948d-3a980b3a3568.html" target="element"> Avsender </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/9e6c2a16-d938-49de-8c02-e8e586f0a613.html" target="element"> Mottaker </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/75594d75-51b0-479e-96c5-090609e6b9a0.html" target="element"> Motta melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/769e95ba-aa10-4c26-84b7-6f94fa5e686e.html" target="element"> Validere melding </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/863f7fd4-4fe5-434d-a873-2504430174c6.html" target="element"> Sende kvittering </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/8f53271e-0616-43d9-a64b-a736a659b425.html" target="element"> Behandle forretnings-innhold </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/35f77c63-2cb7-4f7c-a81f-35e79c85095d.html" target="element"> Forsendelsesformat </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
											<tr><td> <a href="../elements/863717db-42d4-4d0f-bdc5-57eae0de705a.html" target="element"> Krypteringsn&#248;kkel </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/aab8b7f9-b040-479c-a8d7-534db52ec531.html" target="element"> Digital adresse </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/d41ffee3-b818-4047-9baa-58afda075fe8.html" target="element"> Melding </a> </td><td class="i18n-elementtype-DataObject"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b4901b72-458e-40bd-a969-7faa4a35c44a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4901b72-458e-40bd-a969-7faa4a35c44a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ace11f53-98cc-4f6a-bb4b-326f61f78cf9.html" target="element"> Sende melding </a> </td>
																		<td> <a href="../elements/8eb25ce0-eb01-4046-948d-3a980b3a3568.html" target="element"> Avsender </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3edf4916-6a5a-4096-b7e5-85b792dc9171.html" target="element">  </a> </td>
																		<td> <a href="../elements/3edf4916-6a5a-4096-b7e5-85b792dc9171.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/05720739-e792-4fb2-8d46-9209f6fee96d.html" target="element"> Adressere melding </a> </td>
																		<td> <a href="../elements/f272483c-0dfd-438c-9bee-641116e8af46.html" target="element"> Sikre melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0f30549a-cb65-4036-9a84-110e03967d70.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f30549a-cb65-4036-9a84-110e03967d70.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f8ecaacf-4cde-4a3e-974a-b44d6e2abc47.html" target="element"> Behov for &#229; sende informasjon </a> </td>
																		<td> <a href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html" target="element"> Lage melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8d6bb79a-202b-490b-b166-385d08cb1180.html" target="element">  </a> </td>
																		<td> <a href="../elements/8d6bb79a-202b-490b-b166-385d08cb1180.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html" target="element"> Lage melding </a> </td>
																		<td> <a href="../elements/05720739-e792-4fb2-8d46-9209f6fee96d.html" target="element"> Adressere melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/32138602-3fc3-4721-a4ba-383f65ae4aa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/32138602-3fc3-4721-a4ba-383f65ae4aa4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/f272483c-0dfd-438c-9bee-641116e8af46.html" target="element"> Sikre melding </a> </td>
																		<td> <a href="../elements/fbe7fe64-8866-4834-9802-1963c960f775.html" target="element"> Sende melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aad55b6f-b370-4c57-b926-9dfc4b92a033.html" target="element">  </a> </td>
																		<td> <a href="../elements/aad55b6f-b370-4c57-b926-9dfc4b92a033.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fbe7fe64-8866-4834-9802-1963c960f775.html" target="element"> Sende melding </a> </td>
																		<td> <a href="../elements/75594d75-51b0-479e-96c5-090609e6b9a0.html" target="element"> Motta melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a4af62c1-1084-4102-a31b-7e8cf755da6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4af62c1-1084-4102-a31b-7e8cf755da6d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d443dfc4-43e3-4787-a94a-feae606ee30e.html" target="element"> Meldingsformat </a> </td>
																		<td> <a href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html" target="element"> Lage melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/75595855-75ee-4b75-bc2e-d8cf8b5238c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/75595855-75ee-4b75-bc2e-d8cf8b5238c1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f9625e76-c34b-4f6d-a3ad-98b358b468d2.html" target="element"> Forretningsinnhold </a> </td>
																		<td> <a href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html" target="element"> Lage melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1cb99981-531b-4469-a910-fbdc5f88ccfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/1cb99981-531b-4469-a910-fbdc5f88ccfd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1997089e-fc41-4c2f-944c-2da77637fac5.html" target="element"> Kapabilitet til mottaker </a> </td>
																		<td> <a href="../elements/66206f15-8128-4be6-9d48-23fd298fa28d.html" target="element"> Lage melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb7fbcb1-dd0d-473f-a0a2-42a1a22b3e22.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb7fbcb1-dd0d-473f-a0a2-42a1a22b3e22.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/75594d75-51b0-479e-96c5-090609e6b9a0.html" target="element"> Motta melding </a> </td>
																		<td> <a href="../elements/769e95ba-aa10-4c26-84b7-6f94fa5e686e.html" target="element"> Validere melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1df2c52c-8960-4eae-a584-869fd17a5731.html" target="element">  </a> </td>
																		<td> <a href="../elements/1df2c52c-8960-4eae-a584-869fd17a5731.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/769e95ba-aa10-4c26-84b7-6f94fa5e686e.html" target="element"> Validere melding </a> </td>
																		<td> <a href="../elements/863f7fd4-4fe5-434d-a873-2504430174c6.html" target="element"> Sende kvittering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10015697-3dc5-4683-b42c-8de95f8bbc9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/10015697-3dc5-4683-b42c-8de95f8bbc9a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/35f77c63-2cb7-4f7c-a81f-35e79c85095d.html" target="element"> Forsendelsesformat </a> </td>
																		<td> <a href="../elements/05720739-e792-4fb2-8d46-9209f6fee96d.html" target="element"> Adressere melding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2f271f4-8ea3-4c06-bc71-0ba61d5e7266.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2f271f4-8ea3-4c06-bc71-0ba61d5e7266.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/35f77c63-2cb7-4f7c-a81f-35e79c85095d.html" target="element"> Forsendelsesformat </a> </td>
																		<td> <a href="../elements/f272483c-0dfd-438c-9bee-641116e8af46.html" target="element"> Sikre melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e4026ff8-a386-443b-a2b1-64649acdef3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4026ff8-a386-443b-a2b1-64649acdef3e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/863717db-42d4-4d0f-bdc5-57eae0de705a.html" target="element"> Krypteringsn&#248;kkel </a> </td>
																		<td> <a href="../elements/f272483c-0dfd-438c-9bee-641116e8af46.html" target="element"> Sikre melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b6926a72-13e6-4d9d-b213-7bf649913699.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6926a72-13e6-4d9d-b213-7bf649913699.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/aab8b7f9-b040-479c-a8d7-534db52ec531.html" target="element"> Digital adresse </a> </td>
																		<td> <a href="../elements/05720739-e792-4fb2-8d46-9209f6fee96d.html" target="element"> Adressere melding </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>