<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Publisere data til flere mottakere</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Generated View for Publisere data til flere mottakere</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/e9674b38-efdb-4e33-9545-8a3181f5171d.png" alt="Generated View for Publisere data til flere mottakere" usemap="#e9674b38-efdb-4e33-9545-8a3181f5171dmap">
			<map name="e9674b38-efdb-4e33-9545-8a3181f5171dmap">
						<area shape="rect" coords="10,10,140,70" href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html"  target="element">
						<area shape="rect" coords="398,69,528,129" href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html"  target="element">
						<area shape="rect" coords="398,149,528,209" href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html"  target="element">
						<area shape="rect" coords="398,229,528,289" href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html"  target="element">
						<area shape="rect" coords="398,309,528,369" href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent [ns:Erik] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/e883e4c2-591e-4a35-bfb5-3a76d32166ce.html" target="element"> Sende data </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> eNotifikasjon </a> </td><td class="i18n-elementtype-ApplicationInteraction"></td></tr>
											<tr><td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element"> eMelding </a> </td><td class="i18n-elementtype-ApplicationInteraction"></td></tr>
											<tr><td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element"> Publisere data </a> </td><td class="i18n-elementtype-Capability"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/41d91873-c0d3-4254-8e61-b467e91fbf34.html" target="element">  </a> </td>
																		<td> <a href="../elements/41d91873-c0d3-4254-8e61-b467e91fbf34.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9223b9cc-8df1-4abd-b9d6-a0d34347051f.html" target="element"> eNotifikasjon </a> </td>
																		<td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent [ns:Erik] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c6b3a56-9c52-4b93-9e94-48e6f39d8187.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c6b3a56-9c52-4b93-9e94-48e6f39d8187.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c9432226-6855-42fc-9e57-b5cec4392b20.html" target="element"> eMelding </a> </td>
																		<td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent [ns:Erik] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/18865dd6-7fe1-4eb8-bbf1-309948339f46.html" target="element">  </a> </td>
																		<td> <a href="../elements/18865dd6-7fe1-4eb8-bbf1-309948339f46.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/e30488ae-fe82-416c-80df-76389ff9cb1b.html" target="element"> Publisere data </a> </td>
																		<td> <a href="../elements/1fe65a50-330a-41c0-a59c-2bcbc65b0933.html" target="element"> Publisere data &#229;pent [ns:Erik] </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>