<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hent data fra en tjeneste</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Hent data fra en tjeneste</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/f0111f52-0f0a-4cf1-8f48-ac1faeb9dedf.png" alt="Hent data fra en tjeneste" usemap="#f0111f52-0f0a-4cf1-8f48-ac1faeb9dedfmap">
			<map name="f0111f52-0f0a-4cf1-8f48-ac1faeb9dedfmap">
								<area shape="rect" coords="322,244,442,299" href="../elements/3f3a311c-fed0-466a-8c4e-9ec85476dfdf.html"  target="element">

						<area shape="rect" coords="286,208,470,305" href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html"  target="element">
						<area shape="rect" coords="430,10,550,65" href="../elements/1cad2a49-2159-4ca1-be7b-9a622695dda3.html"  target="element">
								<area shape="rect" coords="250,406,370,461" href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html"  target="element">
								<area shape="rect" coords="598,406,718,461" href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html"  target="element">
								<area shape="rect" coords="430,406,550,461" href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html"  target="element">

						<area shape="rect" coords="226,358,743,491" href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html"  target="element">
						<area shape="rect" coords="10,397,130,452" href="../elements/b42ca6c2-1c89-413c-bc46-8d0f8db4a412.html"  target="element">
						<area shape="rect" coords="430,574,550,629" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">
								<area shape="rect" coords="538,244,658,299" href="../elements/86b38aad-5974-4bc1-992e-8cd60b489358.html"  target="element">

						<area shape="rect" coords="514,208,682,305" href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html" target="element"> Autentiseringstjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/3f3a311c-fed0-466a-8c4e-9ec85476dfdf.html" target="element"> Autentiser bruker </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/1cad2a49-2159-4ca1-be7b-9a622695dda3.html" target="element"> "Les data" </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Sl&#229; opp adresse (endepunkt) </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om adgangstoken </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/b42ca6c2-1c89-413c-bc46-8d0f8db4a412.html" target="element"> Behov for data </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
											<tr><td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Databruker [ns:Henrik] </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element"> Autorisasjonstjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
													<tr><td> <a href="../elements/86b38aad-5974-4bc1-992e-8cd60b489358.html" target="element"> Autoriser bruker </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/725fa0d7-95c4-4563-a003-cfe0a7352e9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/725fa0d7-95c4-4563-a003-cfe0a7352e9b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/9bc35ce8-a545-4b59-8e30-aaf8371dc873.html" target="element"> Autentiseringstjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om adgangstoken </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/0a8a9e76-02c4-4d64-aa1c-42bca1d8687b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a8a9e76-02c4-4d64-aa1c-42bca1d8687b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/1cad2a49-2159-4ca1-be7b-9a622695dda3.html" target="element"> "Les data" </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4121ab2d-a7f5-481f-8243-56f79dbca264.html" target="element">  </a> </td>
																		<td> <a href="../elements/4121ab2d-a7f5-481f-8243-56f79dbca264.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Sl&#229; opp adresse (endepunkt) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b97ec6f2-4ebb-4f96-9d54-9cd79c84940f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b97ec6f2-4ebb-4f96-9d54-9cd79c84940f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8a285898-096f-4dca-9899-5245ccd71bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a285898-096f-4dca-9899-5245ccd71bcd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om adgangstoken </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/ec9a5580-d1bd-4699-90ad-5c1aaef1ee9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec9a5580-d1bd-4699-90ad-5c1aaef1ee9b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/b42ca6c2-1c89-413c-bc46-8d0f8db4a412.html" target="element"> Behov for data </a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3576d23c-eb0b-4c35-bf18-cd28be899f49.html" target="element">  </a> </td>
																		<td> <a href="../elements/3576d23c-eb0b-4c35-bf18-cd28be899f49.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Databruker [ns:Henrik] </a> </td>
																		<td> <a href="../elements/12a05372-c898-4c66-8b80-814d3dece58f.html" target="element"> Sl&#229; oppdata gjennom en tjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8ec9fc63-cdf7-41eb-9bf8-78a59c17dacf.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ec9fc63-cdf7-41eb-9bf8-78a59c17dacf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6cad4087-f701-426b-b0e4-d7203a4104ea.html" target="element"> Autorisasjonstjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om adgangstoken </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>