<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Referansearkitekturer - katalog ver. 2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Referansearkitekturer - katalog ver. 2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/14321037-7268-481a-90fe-3c01518a2a7c.png" alt="Referansearkitekturer - katalog ver. 2" usemap="#14321037-7268-481a-90fe-3c01518a2a7cmap"/>
			   <map name="14321037-7268-481a-90fe-3c01518a2a7cmap">
				  				<area shape="rect" coords="634,322,767,393" href="../elements/c8773d6a-fcbc-4974-9bf9-72096583f5d5.html"  target="element">
				  				<area shape="rect" coords="490,322,623,393" href="../elements/188c6a79-bc9f-460a-aacf-0b4724d56b3c.html"  target="element">
				  				<area shape="rect" coords="346,322,479,393" href="../elements/d8f653e8-9132-4400-bdff-58f40e9d08ac.html"  target="element">

				  		<area shape="rect" coords="334,286,779,407" href="../elements/fed4fe3b-2400-450c-b99a-28c8ed18cd58.html"  target="element">
				          <area shape="rect" coords="10,550,527,587" href="../objects/01e3c787-8414-4c23-95e2-188704d7c2d9.html" target="element" >
				  				<area shape="rect" coords="598,190,731,261" href="../elements/074d649a-ae4b-4f82-b4ba-9cbb43c22a71.html"  target="element">
				  				<area shape="rect" coords="310,190,443,261" href="../elements/963644af-37a6-426e-bb22-b4cd70e40550.html"  target="element">
				  				<area shape="rect" coords="454,190,587,261" href="../elements/a4a0c08a-59af-4ef9-b415-0daf5487f29b.html"  target="element">
				  				<area shape="rect" coords="22,190,155,261" href="../elements/2edde77f-b33d-4423-ab15-f35eb29ca623.html"  target="element">
				  				<area shape="rect" coords="166,190,299,261" href="../elements/7c6948ff-712f-4fee-8069-da340861773f.html"  target="element">

				  		<area shape="rect" coords="10,154,779,275" href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html"  target="element">
				  				<area shape="rect" coords="598,454,731,525" href="../elements/5fc9d286-6927-442f-b6ab-9eb231a73b92.html"  target="element">
				  				<area shape="rect" coords="454,454,587,525" href="../elements/b0ed5061-3fea-421f-9d5e-f2e70c35c3e7.html"  target="element">
				  				<area shape="rect" coords="310,454,443,525" href="../elements/d6bb9585-7022-48a9-8500-939c0590ecb0.html"  target="element">
				  				<area shape="rect" coords="166,454,299,525" href="../elements/c6189218-2605-4f84-a0a8-a92b9aeb5a73.html"  target="element">
				  				<area shape="rect" coords="22,454,155,525" href="../elements/e58a066f-bf60-46a7-bdad-de4881078e9c.html"  target="element">

				  		<area shape="rect" coords="10,418,779,539" href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html"  target="element">
				  				<area shape="rect" coords="166,322,299,393" href="../elements/6345c7ef-9618-4e3e-a187-1bf3f589c184.html"  target="element">
				  				<area shape="rect" coords="22,322,155,393" href="../elements/26055e9b-a081-45fd-835d-bfff15f987ff.html"  target="element">

				  		<area shape="rect" coords="10,286,323,407" href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html"  target="element">
				  				<area shape="rect" coords="454,46,587,117" href="../elements/02c7e870-44ae-4304-b612-85da26d77b0f.html"  target="element">
				  				<area shape="rect" coords="310,46,443,117" href="../elements/8f63987b-6061-4ac4-8fd7-8e90e888b628.html"  target="element">
				  				<area shape="rect" coords="166,46,299,117" href="../elements/57e32e0d-e0f4-49ca-bd26-bf5926a582be.html"  target="element">
				  				<area shape="rect" coords="22,46,155,117" href="../elements/304f67c5-242a-44d8-a794-538914ab7a30.html"  target="element">

				  		<area shape="rect" coords="10,10,779,131" href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
											    <td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/304f67c5-242a-44d8-a794-538914ab7a30.html" target="element"> Basic patterns for one way push from a sender to a known recipient </a> </td>
													    <td> <a href="../elements/304f67c5-242a-44d8-a794-538914ab7a30.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/57e32e0d-e0f4-49ca-bd26-bf5926a582be.html" target="element"> Basic patterns for request-reply from a consumer to a known provider </a> </td>
													    <td> <a href="../elements/57e32e0d-e0f4-49ca-bd26-bf5926a582be.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8f63987b-6061-4ac4-8fd7-8e90e888b628.html" target="element"> Basic patterns for pubish-subscribe  and event streaming (1) </a> </td>
													    <td> <a href="../elements/8f63987b-6061-4ac4-8fd7-8e90e888b628.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/02c7e870-44ae-4304-b612-85da26d77b0f.html" target="element"> Basic patterns for request-reply towards multiple data providers (linked datra) </a> </td>
													    <td> <a href="../elements/02c7e870-44ae-4304-b612-85da26d77b0f.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element"> Information security, trust and privacy </a> </td>
											    <td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/26055e9b-a081-45fd-835d-bfff15f987ff.html" target="element"> Patterns for extended addressing </a> </td>
													    <td> <a href="../elements/26055e9b-a081-45fd-835d-bfff15f987ff.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6345c7ef-9618-4e3e-a187-1bf3f589c184.html" target="element"> Other IAM patterms... </a> </td>
													    <td> <a href="../elements/6345c7ef-9618-4e3e-a187-1bf3f589c184.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element"> Value streams </a> </td>
											    <td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e58a066f-bf60-46a7-bdad-de4881078e9c.html" target="element"> Value streams for data sharing, mediation and collection </a> </td>
													    <td> <a href="../elements/e58a066f-bf60-46a7-bdad-de4881078e9c.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c6189218-2605-4f84-a0a8-a92b9aeb5a73.html" target="element"> Value streams for data preparation and analysis </a> </td>
													    <td> <a href="../elements/c6189218-2605-4f84-a0a8-a92b9aeb5a73.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d6bb9585-7022-48a9-8500-939c0590ecb0.html" target="element"> Value streams for seamless services and integrated processes </a> </td>
													    <td> <a href="../elements/d6bb9585-7022-48a9-8500-939c0590ecb0.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b0ed5061-3fea-421f-9d5e-f2e70c35c3e7.html" target="element"> Value streams for integrated  enterprise architectures </a> </td>
													    <td> <a href="../elements/b0ed5061-3fea-421f-9d5e-f2e70c35c3e7.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5fc9d286-6927-442f-b6ab-9eb231a73b92.html" target="element"> Value streams for integrated project and application management </a> </td>
													    <td> <a href="../elements/5fc9d286-6927-442f-b6ab-9eb231a73b92.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element"> Patterns for advanced data exchange, integrated services and IoT </a> </td>
											    <td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7c6948ff-712f-4fee-8069-da340861773f.html" target="element"> Patterns for mediation across multiple data provideres and consumers </a> </td>
													    <td> <a href="../elements/7c6948ff-712f-4fee-8069-da340861773f.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2edde77f-b33d-4423-ab15-f35eb29ca623.html" target="element"> Patterns for one-way push from a sender to multiple known recipients </a> </td>
													    <td> <a href="../elements/2edde77f-b33d-4423-ab15-f35eb29ca623.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a4a0c08a-59af-4ef9-b415-0daf5487f29b.html" target="element"> Patterns for human interaction </a> </td>
													    <td> <a href="../elements/a4a0c08a-59af-4ef9-b415-0daf5487f29b.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/963644af-37a6-426e-bb22-b4cd70e40550.html" target="element"> Patterms for end-to-end process integration  </a> </td>
													    <td> <a href="../elements/963644af-37a6-426e-bb22-b4cd70e40550.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/074d649a-ae4b-4f82-b4ba-9cbb43c22a71.html" target="element"> Patterns for data analysis </a> </td>
													    <td> <a href="../elements/074d649a-ae4b-4f82-b4ba-9cbb43c22a71.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/01e3c787-8414-4c23-95e2-188704d7c2d9.html" target="element">  </a> </td>
									           <td> <a href="../objects/01e3c787-8414-4c23-95e2-188704d7c2d9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/fed4fe3b-2400-450c-b99a-28c8ed18cd58.html" target="element"> Common taxonomies </a> </td>
											    <td> <a href="../elements/fed4fe3b-2400-450c-b99a-28c8ed18cd58.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d8f653e8-9132-4400-bdff-58f40e9d08ac.html" target="element"> Common capability maps </a> </td>
													    <td> <a href="../elements/d8f653e8-9132-4400-bdff-58f40e9d08ac.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/188c6a79-bc9f-460a-aacf-0b4724d56b3c.html" target="element"> Common service  catalogs </a> </td>
													    <td> <a href="../elements/188c6a79-bc9f-460a-aacf-0b4724d56b3c.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c8773d6a-fcbc-4974-9bf9-72096583f5d5.html" target="element"> Common core vocabularies </a> </td>
													    <td> <a href="../elements/c8773d6a-fcbc-4974-9bf9-72096583f5d5.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/73ba73f6-31d1-4294-a613-7be5c4be965a.html" target="element">  </a> </td>
																		<td> <a href="../elements/73ba73f6-31d1-4294-a613-7be5c4be965a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																		<td> <a href="../elements/304f67c5-242a-44d8-a794-538914ab7a30.html" target="element"> Basic patterns for one way push from a sender to a known recipient </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7a2c5a60-2438-4990-b1c6-1c853d734964.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a2c5a60-2438-4990-b1c6-1c853d734964.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																		<td> <a href="../elements/57e32e0d-e0f4-49ca-bd26-bf5926a582be.html" target="element"> Basic patterns for request-reply from a consumer to a known provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26fc51c4-bcee-43ec-9de5-c29ca0c46493.html" target="element">  </a> </td>
																		<td> <a href="../elements/26fc51c4-bcee-43ec-9de5-c29ca0c46493.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																		<td> <a href="../elements/02c7e870-44ae-4304-b612-85da26d77b0f.html" target="element"> Basic patterns for request-reply towards multiple data providers (linked datra) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/fa28b996-6a2c-4ef0-8d77-65606a3c8c9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa28b996-6a2c-4ef0-8d77-65606a3c8c9b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element"> Information security, trust and privacy </a> </td>
																		<td> <a href="../elements/26055e9b-a081-45fd-835d-bfff15f987ff.html" target="element"> Patterns for extended addressing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/923a1f9e-32ad-46b6-bbca-cfe50a798b61.html" target="element">  </a> </td>
																		<td> <a href="../elements/923a1f9e-32ad-46b6-bbca-cfe50a798b61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element"> Information security, trust and privacy </a> </td>
																		<td> <a href="../elements/6345c7ef-9618-4e3e-a187-1bf3f589c184.html" target="element"> Other IAM patterms... </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/10cb63d0-cf2f-46fb-90f7-10988ffc7fd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/10cb63d0-cf2f-46fb-90f7-10988ffc7fd2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element"> Value streams </a> </td>
																		<td> <a href="../elements/e58a066f-bf60-46a7-bdad-de4881078e9c.html" target="element"> Value streams for data sharing, mediation and collection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5104176-6bc3-4422-8fea-8a9fbe6b74fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5104176-6bc3-4422-8fea-8a9fbe6b74fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element"> Value streams </a> </td>
																		<td> <a href="../elements/c6189218-2605-4f84-a0a8-a92b9aeb5a73.html" target="element"> Value streams for data preparation and analysis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3b8109ee-fff2-4d98-9c51-4bab155fe147.html" target="element">  </a> </td>
																		<td> <a href="../elements/3b8109ee-fff2-4d98-9c51-4bab155fe147.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element"> Value streams </a> </td>
																		<td> <a href="../elements/d6bb9585-7022-48a9-8500-939c0590ecb0.html" target="element"> Value streams for seamless services and integrated processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b23258da-4d6f-464c-9033-f7d9f634a3a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/b23258da-4d6f-464c-9033-f7d9f634a3a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element"> Value streams </a> </td>
																		<td> <a href="../elements/b0ed5061-3fea-421f-9d5e-f2e70c35c3e7.html" target="element"> Value streams for integrated  enterprise architectures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f2cdf232-ac1e-4e2d-99ee-12bd9936f7d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2cdf232-ac1e-4e2d-99ee-12bd9936f7d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e520290a-cd08-4765-b822-3dbc2207a67d.html" target="element"> Value streams </a> </td>
																		<td> <a href="../elements/5fc9d286-6927-442f-b6ab-9eb231a73b92.html" target="element"> Value streams for integrated project and application management </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/c631da0e-ad35-47b3-88fa-5a7ff69dfb9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c631da0e-ad35-47b3-88fa-5a7ff69dfb9f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element"> Patterns for advanced data exchange, integrated services and IoT </a> </td>
																		<td> <a href="../elements/2edde77f-b33d-4423-ab15-f35eb29ca623.html" target="element"> Patterns for one-way push from a sender to multiple known recipients </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46d89646-449c-4fc0-b29c-5f8f90bb5501.html" target="element">  </a> </td>
																		<td> <a href="../elements/46d89646-449c-4fc0-b29c-5f8f90bb5501.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element"> Patterns for advanced data exchange, integrated services and IoT </a> </td>
																		<td> <a href="../elements/7c6948ff-712f-4fee-8069-da340861773f.html" target="element"> Patterns for mediation across multiple data provideres and consumers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/db72a448-5226-4aca-b1a9-859cf0d92f6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/db72a448-5226-4aca-b1a9-859cf0d92f6d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element"> Patterns for advanced data exchange, integrated services and IoT </a> </td>
																		<td> <a href="../elements/a4a0c08a-59af-4ef9-b415-0daf5487f29b.html" target="element"> Patterns for human interaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1421aa74-c6c7-49fc-b852-3a9fc7accf06.html" target="element">  </a> </td>
																		<td> <a href="../elements/1421aa74-c6c7-49fc-b852-3a9fc7accf06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element"> Patterns for advanced data exchange, integrated services and IoT </a> </td>
																		<td> <a href="../elements/963644af-37a6-426e-bb22-b4cd70e40550.html" target="element"> Patterms for end-to-end process integration  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4cf5184b-0459-4eae-99a3-24caf72d30a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cf5184b-0459-4eae-99a3-24caf72d30a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9ceba6f4-30e9-4780-b757-3bc191ef3f28.html" target="element"> Patterns for advanced data exchange, integrated services and IoT </a> </td>
																		<td> <a href="../elements/074d649a-ae4b-4f82-b4ba-9cbb43c22a71.html" target="element"> Patterns for data analysis </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/420cea51-c61e-44c7-98e1-262e42acbbcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/420cea51-c61e-44c7-98e1-262e42acbbcb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/fed4fe3b-2400-450c-b99a-28c8ed18cd58.html" target="element"> Common taxonomies </a> </td>
																		<td> <a href="../elements/d8f653e8-9132-4400-bdff-58f40e9d08ac.html" target="element"> Common capability maps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0e42ea9f-6b2a-4488-9bdf-b9c42428ffb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e42ea9f-6b2a-4488-9bdf-b9c42428ffb1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/fed4fe3b-2400-450c-b99a-28c8ed18cd58.html" target="element"> Common taxonomies </a> </td>
																		<td> <a href="../elements/188c6a79-bc9f-460a-aacf-0b4724d56b3c.html" target="element"> Common service  catalogs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f038ff6-c16f-4875-875c-2ea8afbfec8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f038ff6-c16f-4875-875c-2ea8afbfec8a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/fed4fe3b-2400-450c-b99a-28c8ed18cd58.html" target="element"> Common taxonomies </a> </td>
																		<td> <a href="../elements/c8773d6a-fcbc-4974-9bf9-72096583f5d5.html" target="element"> Common core vocabularies </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>