<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prinsipp 2: Ta arkitekturbeslutninger på rett nivå</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3a455270-f8b8-41fa-a792-0efc658de2e5.png" alt="Prinsipp 2: Ta arkitekturbeslutninger på rett nivå" usemap="#3a455270-f8b8-41fa-a792-0efc658de2e5map"/>
			   <map name="3a455270-f8b8-41fa-a792-0efc658de2e5map">
				  				<area shape="rect" coords="766,358,908,443" href="../elements/c9bdd8d7-bad6-4fd9-ba79-c03d30a7d476.html"  target="element">
				  				<area shape="rect" coords="418,358,560,443" href="../elements/27c1d6f4-f9aa-48b6-a009-b0da91b2a271.html"  target="element">
				  				<area shape="rect" coords="241,358,383,443" href="../elements/1f2e1674-2963-4d46-b358-f26f40081dff.html"  target="element">
				  				<area shape="rect" coords="598,358,740,443" href="../elements/3e81b3e0-bedf-419b-9128-0bb6310176ae.html"  target="element">

				  		<area shape="rect" coords="214,322,947,462" href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html"  target="element">
				  				<area shape="rect" coords="418,202,587,287" href="../elements/f0294846-04fd-41e7-9e18-f3d0a6e5539e.html"  target="element">
				  				<area shape="rect" coords="238,202,407,287" href="../elements/cd4e3897-bda8-411c-87cf-d2851397cf10.html"  target="element">

				  		<area shape="rect" coords="214,166,947,310" href="../elements/684ac950-559d-44e3-9351-a350647bc9ba.html"  target="element">
				  				<area shape="rect" coords="418,46,587,131" href="../elements/ab3b4a90-03a1-4bff-ac26-c78578346e9e.html"  target="element">
				  				<area shape="rect" coords="238,46,407,131" href="../elements/ac30ffb4-3455-4e11-a193-61691381d703.html"  target="element">

				  		<area shape="rect" coords="214,10,947,154" href="../elements/39663be8-959d-4cf7-87ee-18002a7afe13.html"  target="element">
				  		<area shape="rect" coords="10,12,143,464" href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">[.lead]
Arkitektur er en utviklings- og styringsoppgave, med innvirkninger p&#229; virksomhetens kostnader og gevinster. Arkitekturbeslutninger b&#248;r tas s&#229; n&#230;r oppgavel&#248;sningen og brukernes behov som mulig. Enkelte beslutninger m&#229; likevel l&#248;ftes opp for &#229; &#248;ke evnen til &#229; samhandle med andre og ta hensyn til felles m&#229;l for digitalisering i offentlig sektor.

== Begrunnelse
Begrunnelsen for prinsippet er at det vil gi &#248;kt balanse mellom effektiv og brukern&#230;r oppgavel&#248;sning, og samhandlingsevne internt i virksomheten, p&#229; tvers av offentlig sektor og mellom offentlig sektor og private virksomheter.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element"> Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229; </a> </td>
											    <td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/39663be8-959d-4cf7-87ee-18002a7afe13.html" target="element"> Krav (prinsipp 2) </a> </td>
											    <td> <a href="../elements/39663be8-959d-4cf7-87ee-18002a7afe13.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ac30ffb4-3455-4e11-a193-61691381d703.html" target="element"> 2.1 Ta arkitekturbeslutninger s&#229; n&#230;r oppgavel&#248;sningen og brukernes behov som hensiktsmessig. </a> </td>
													    <td> <a href="../elements/ac30ffb4-3455-4e11-a193-61691381d703.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ab3b4a90-03a1-4bff-ac26-c78578346e9e.html" target="element"> 2.2 Arkitekturbeslutninger m&#229; f&#248;lge nasjonale og sektorielle krav og f&#248;ringer og ta hensyn til m&#229;lene for digitaliseringen av offentlig sektor. </a> </td>
													    <td> <a href="../elements/ab3b4a90-03a1-4bff-ac26-c78578346e9e.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/684ac950-559d-44e3-9351-a350647bc9ba.html" target="element"> Anbefalinger (prinsipp 2) </a> </td>
											    <td> <a href="../elements/684ac950-559d-44e3-9351-a350647bc9ba.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cd4e3897-bda8-411c-87cf-d2851397cf10.html" target="element"> 2.3  N&#229;r l&#248;sninger etableres eller videreutvikles, b&#248;r designet vurderes mot relevante nasjonale og europeiske tjenester. </a> </td>
													    <td> <a href="../elements/cd4e3897-bda8-411c-87cf-d2851397cf10.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f0294846-04fd-41e7-9e18-f3d0a6e5539e.html" target="element"> 2.4  Arkitekturstyring b&#248;r v&#230;re en integrert del av virksomhetens styring </a> </td>
													    <td> <a href="../elements/f0294846-04fd-41e7-9e18-f3d0a6e5539e.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element"> Ressurser (prinsipp 2) </a> </td>
											    <td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3e81b3e0-bedf-419b-9128-0bb6310176ae.html" target="element"> Digitaliserings-rundskrivet (Regjeringen) </a> </td>
													    <td> <a href="../elements/3e81b3e0-bedf-419b-9128-0bb6310176ae.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1f2e1674-2963-4d46-b358-f26f40081dff.html" target="element"> Digital agenda for Norge (Regjeringen) </a> </td>
													    <td> <a href="../elements/1f2e1674-2963-4d46-b358-f26f40081dff.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/27c1d6f4-f9aa-48b6-a009-b0da91b2a271.html" target="element"> Digitaliseringsstrategien (Regjeringen) </a> </td>
													    <td> <a href="../elements/27c1d6f4-f9aa-48b6-a009-b0da91b2a271.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c9bdd8d7-bad6-4fd9-ba79-c03d30a7d476.html" target="element"> Nasjonal arkitektur (Digdir) </a> </td>
													    <td> <a href="../elements/c9bdd8d7-bad6-4fd9-ba79-c03d30a7d476.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c0b4541e-dcef-4acd-8cb7-eb1bd4ef1653.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0b4541e-dcef-4acd-8cb7-eb1bd4ef1653.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/39663be8-959d-4cf7-87ee-18002a7afe13.html" target="element"> Krav (prinsipp 2) </a> </td>
																		<td> <a href="../elements/ac30ffb4-3455-4e11-a193-61691381d703.html" target="element"> 2.1 Ta arkitekturbeslutninger s&#229; n&#230;r oppgavel&#248;sningen og brukernes behov som hensiktsmessig. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb85d217-6993-4e87-b35b-6c5e65f74850.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb85d217-6993-4e87-b35b-6c5e65f74850.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/39663be8-959d-4cf7-87ee-18002a7afe13.html" target="element"> Krav (prinsipp 2) </a> </td>
																		<td> <a href="../elements/ab3b4a90-03a1-4bff-ac26-c78578346e9e.html" target="element"> 2.2 Arkitekturbeslutninger m&#229; f&#248;lge nasjonale og sektorielle krav og f&#248;ringer og ta hensyn til m&#229;lene for digitaliseringen av offentlig sektor. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/076a04aa-430b-4775-b548-d6c8137d466d.html" target="element">  </a> </td>
																		<td> <a href="../elements/076a04aa-430b-4775-b548-d6c8137d466d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/39663be8-959d-4cf7-87ee-18002a7afe13.html" target="element"> Krav (prinsipp 2) </a> </td>
																		<td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element"> Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/f387ff53-57b7-449a-9ff3-eab67f4c4880.html" target="element">  </a> </td>
																		<td> <a href="../elements/f387ff53-57b7-449a-9ff3-eab67f4c4880.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/684ac950-559d-44e3-9351-a350647bc9ba.html" target="element"> Anbefalinger (prinsipp 2) </a> </td>
																		<td> <a href="../elements/cd4e3897-bda8-411c-87cf-d2851397cf10.html" target="element"> 2.3  N&#229;r l&#248;sninger etableres eller videreutvikles, b&#248;r designet vurderes mot relevante nasjonale og europeiske tjenester. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/32f75a50-9ebe-47bc-80c4-c13420fc902a.html" target="element">  </a> </td>
																		<td> <a href="../elements/32f75a50-9ebe-47bc-80c4-c13420fc902a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/684ac950-559d-44e3-9351-a350647bc9ba.html" target="element"> Anbefalinger (prinsipp 2) </a> </td>
																		<td> <a href="../elements/f0294846-04fd-41e7-9e18-f3d0a6e5539e.html" target="element"> 2.4  Arkitekturstyring b&#248;r v&#230;re en integrert del av virksomhetens styring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/798119f3-e1b6-4a21-af30-d92e6a365187.html" target="element">  </a> </td>
																		<td> <a href="../elements/798119f3-e1b6-4a21-af30-d92e6a365187.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/684ac950-559d-44e3-9351-a350647bc9ba.html" target="element"> Anbefalinger (prinsipp 2) </a> </td>
																		<td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element"> Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/e7ebf099-2c1b-4d41-80ad-ecfdc6579926.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7ebf099-2c1b-4d41-80ad-ecfdc6579926.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element"> Ressurser (prinsipp 2) </a> </td>
																		<td> <a href="../elements/1f2e1674-2963-4d46-b358-f26f40081dff.html" target="element"> Digital agenda for Norge (Regjeringen) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf9d0beb-6cbc-4fc2-94d4-67b97a9144b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf9d0beb-6cbc-4fc2-94d4-67b97a9144b0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element"> Ressurser (prinsipp 2) </a> </td>
																		<td> <a href="../elements/27c1d6f4-f9aa-48b6-a009-b0da91b2a271.html" target="element"> Digitaliseringsstrategien (Regjeringen) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0963a2b-598d-4b05-a94b-8fa335dae400.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0963a2b-598d-4b05-a94b-8fa335dae400.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element"> Ressurser (prinsipp 2) </a> </td>
																		<td> <a href="../elements/3e81b3e0-bedf-419b-9128-0bb6310176ae.html" target="element"> Digitaliserings-rundskrivet (Regjeringen) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/882c1340-296b-49ea-bf5e-c69f455cf600.html" target="element">  </a> </td>
																		<td> <a href="../elements/882c1340-296b-49ea-bf5e-c69f455cf600.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element"> Ressurser (prinsipp 2) </a> </td>
																		<td> <a href="../elements/9347e5a5-12fd-49bc-acd6-cc37b6bdd847.html" target="element"> Prinsipp 2: Ta arkitekturbeslutninger p&#229; rett niv&#229; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19bf8d99-67af-40fc-93cf-3ac692f7e56e.html" target="element">  </a> </td>
																		<td> <a href="../elements/19bf8d99-67af-40fc-93cf-3ac692f7e56e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1adaecc9-6c30-4657-a23d-b045ca179bdc.html" target="element"> Ressurser (prinsipp 2) </a> </td>
																		<td> <a href="../elements/c9bdd8d7-bad6-4fd9-ba79-c03d30a7d476.html" target="element"> Nasjonal arkitektur (Digdir) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>