<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Verdistrøm for hendelsesdrevet tjenesteproduksjon (verdi)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Verdistr&#248;m for hendelsesdrevet tjenesteproduksjon (verdi)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4f04c2ad-87e4-4b10-b271-b33b96ee7613.png" alt="Verdistrøm for hendelsesdrevet tjenesteproduksjon (verdi)" usemap="#4f04c2ad-87e4-4b10-b271-b33b96ee7613map"/>
			   <map name="4f04c2ad-87e4-4b10-b271-b33b96ee7613map">
				  		<area shape="rect" coords="1210,308,1343,379" href="../elements/18a0136a-c6e8-4d4f-b4e9-94836a36d097.html"  target="element">
				  		<area shape="rect" coords="1174,178,1307,249" href="../elements/23f62621-2b79-404a-a25a-9584fa0771f2.html"  target="element">
				  		<area shape="rect" coords="142,178,275,249" href="../elements/7b38b656-2c29-4f0c-b4cc-78e49c95f327.html"  target="element">
				  		<area shape="rect" coords="10,308,143,379" href="../elements/e5b1068a-05c4-4e1d-9feb-811bfb99f9fc.html"  target="element">
				  		<area shape="rect" coords="549,142,564,157" href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html"  target="element">
				  		<area shape="rect" coords="802,142,817,157" href="../elements/b9e605b1-9e98-42b2-b9df-1fe7c5dd0a16.html"  target="element">
				  		<area shape="rect" coords="982,178,1115,249" href="../elements/d19be1c3-8131-4d92-bf63-ff4ce511feae.html"  target="element">
				  		<area shape="rect" coords="790,10,923,81" href="../elements/b927cca3-27af-475d-884c-a235d29e685e.html"  target="element">
				  		<area shape="rect" coords="563,10,696,81" href="../elements/557c0131-b3c8-4428-bb14-4b5c5e68d29a.html"  target="element">
				  		<area shape="rect" coords="322,10,455,81" href="../elements/dd77cbb2-a6a4-482a-a5a3-1745666e0da1.html"  target="element">
				  		<area shape="rect" coords="1030,10,1163,81" href="../elements/b5736398-a49b-4a83-862a-2e9498430faf.html"  target="element">
				  		<area shape="rect" coords="310,178,443,249" href="../elements/b12ef0b1-6a13-403b-bef0-c7ca4bfc44b4.html"  target="element">
				  		<area shape="rect" coords="826,178,959,249" href="../elements/5f01c024-eb97-4b5a-9297-d48cbd94ceba.html"  target="element">
				  		<area shape="rect" coords="658,178,791,249" href="../elements/e4c5dff3-d1fc-42b5-be0f-56e3bd8c9054.html"  target="element">
				  		<area shape="rect" coords="490,178,623,249" href="../elements/c64d6c73-ffcb-41d6-abe9-ec54fccdd1e7.html"  target="element">
				  				<area shape="rect" coords="982,310,1139,381" href="../elements/2b4d9878-0c60-4e5d-89b6-e9541284bb6f.html"  target="element">
				  				<area shape="rect" coords="790,310,947,381" href="../elements/3a0d2dbd-4970-4bd5-9ab7-75de25406ebb.html"  target="element">
				  				<area shape="rect" coords="598,310,755,381" href="../elements/a3d71ca2-927e-40e2-9b55-7dabd0f888e7.html"  target="element">
				  				<area shape="rect" coords="406,310,563,381" href="../elements/bfe3ef66-082b-4bdf-8388-ea0987956daf.html"  target="element">
				  				<area shape="rect" coords="214,310,371,381" href="../elements/8defff88-2262-48e4-adff-9ccedf6694d5.html"  target="element">

				  		<area shape="rect" coords="142,274,1175,413" href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Figuren nedenfor viser en generisk prosess for operativ databehandling, der datautveksling inng&#229;r. 

Oppsummering:

* Enhver databehandling krever data som input og vil resultere i output av data. 

* Input kan v&#230;re alt fra en notifikasjon uten videre innhold til komplette meldinger. Om tilleggsdata m&#229; innhentes, gj&#248;res dette f.eks. ved &#229; foresp&#248;rre  aktuelle datakilde eller ved &#229; vente p&#229; ytterligere input initiert av andre.

* Output vil v&#230;re lagrede data for bevis og gjenbruk, samt videresendte data til p&#229;f&#248;lgende ledd i behandlingskjeden, der det er aktuelt. 

* Det er ikke direkte vist i dette enkle prosessdiagrammet, men videresendte data kan her inkludere svar til avsender av mottatte data, i tillegg til en eller flere andre samhandlingsakt&#248;rer.

* For behandling av personopplysninger m&#229; det finnes et dokumentert behandlingsgrunnlag, enten i form av hjemmel eller samtykke. Dette vil v&#230;re del av det totale datagrunnlaget for databehandlingen. 

De viktigste kapabilitetene som beh&#248;ves er indikert for hvert prosessteg. TBD?

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Generisk prosess for operativ databehandling</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Figuren nedenfor viser en generisk prosess for operativ databehandling, der datautveksling inng&#229;r. 

								Oppsummering:

								* Enhver databehandling krever data som input og vil resultere i output av data. 

								* Input kan v&#230;re alt fra en notifikasjon uten videre innhold til komplette meldinger. Om tilleggsdata m&#229; innhentes, gj&#248;res dette f.eks. ved &#229; foresp&#248;rre  aktuelle datakilde eller ved &#229; vente p&#229; ytterligere input initiert av andre.

								* Output vil v&#230;re lagrede data for bevis og gjenbruk, samt videresendte data til p&#229;f&#248;lgende ledd i behandlingskjeden, der det er aktuelt. 

								* Det er ikke direkte vist i dette enkle prosessdiagrammet, men videresendte data kan her inkludere svar til avsender av mottatte data, i tillegg til en eller flere andre samhandlingsakt&#248;rer.

								* For behandling av personopplysninger m&#229; det finnes et dokumentert behandlingsgrunnlag, enten i form av hjemmel eller samtykke. Dette vil v&#230;re del av det totale datagrunnlaget for databehandlingen. 

								De viktigste kapabilitetene som beh&#248;ves er indikert for hvert prosessteg. TBD?

								</xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling</xmp> </td></tr><tr><td> difi:antoraViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewImagePath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html" target="element"> Utf&#248;r steg i samhandlingsprosess </a> </td>
											    <td> <a href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8defff88-2262-48e4-adff-9ccedf6694d5.html" target="element"> Detekter triggerhendelse </a> </td>
													    <td> <a href="../elements/8defff88-2262-48e4-adff-9ccedf6694d5.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bfe3ef66-082b-4bdf-8388-ea0987956daf.html" target="element"> Etabler datagrunnlag </a> </td>
													    <td> <a href="../elements/bfe3ef66-082b-4bdf-8388-ea0987956daf.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a3d71ca2-927e-40e2-9b55-7dabd0f888e7.html" target="element"> Prosesser datagrunnlag </a> </td>
													    <td> <a href="../elements/a3d71ca2-927e-40e2-9b55-7dabd0f888e7.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3a0d2dbd-4970-4bd5-9ab7-75de25406ebb.html" target="element"> Avgi utg&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/3a0d2dbd-4970-4bd5-9ab7-75de25406ebb.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2b4d9878-0c60-4e5d-89b6-e9541284bb6f.html" target="element"> Svar p&#229; foresp&#248;rsel om datagrunnlag og etterlevelse </a> </td>
													    <td> <a href="../elements/2b4d9878-0c60-4e5d-89b6-e9541284bb6f.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c64d6c73-ffcb-41d6-abe9-ec54fccdd1e7.html" target="element"> Inng&#229;ende datagrunnlag </a> </td>
											    <td> <a href="../elements/c64d6c73-ffcb-41d6-abe9-ec54fccdd1e7.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4c5dff3-d1fc-42b5-be0f-56e3bd8c9054.html" target="element"> Sporingsdata </a> </td>
											    <td> <a href="../elements/e4c5dff3-d1fc-42b5-be0f-56e3bd8c9054.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f01c024-eb97-4b5a-9297-d48cbd94ceba.html" target="element"> Resultatdata fra prosessering </a> </td>
											    <td> <a href="../elements/5f01c024-eb97-4b5a-9297-d48cbd94ceba.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b12ef0b1-6a13-403b-bef0-c7ca4bfc44b4.html" target="element"> Igangsetting av prosess </a> </td>
											    <td> <a href="../elements/b12ef0b1-6a13-403b-bef0-c7ca4bfc44b4.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b5736398-a49b-4a83-862a-2e9498430faf.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
											    <td> <a href="../elements/b5736398-a49b-4a83-862a-2e9498430faf.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dd77cbb2-a6a4-482a-a5a3-1745666e0da1.html" target="element"> Tjenesteprodusent </a> </td>
											    <td> <a href="../elements/dd77cbb2-a6a4-482a-a5a3-1745666e0da1.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/557c0131-b3c8-4428-bb14-4b5c5e68d29a.html" target="element"> Kontrollorganer </a> </td>
											    <td> <a href="../elements/557c0131-b3c8-4428-bb14-4b5c5e68d29a.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b927cca3-27af-475d-884c-a235d29e685e.html" target="element"> Sekund&#230;re interessenter  </a> </td>
											    <td> <a href="../elements/b927cca3-27af-475d-884c-a235d29e685e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d19be1c3-8131-4d92-bf63-ff4ce511feae.html" target="element"> Utg&#229;ende hendelser </a> </td>
											    <td> <a href="../elements/d19be1c3-8131-4d92-bf63-ff4ce511feae.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b9e605b1-9e98-42b2-b9df-1fe7c5dd0a16.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/b9e605b1-9e98-42b2-b9df-1fe7c5dd0a16.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e5b1068a-05c4-4e1d-9feb-811bfb99f9fc.html" target="element"> Hendelser </a> </td>
											    <td> <a href="../elements/e5b1068a-05c4-4e1d-9feb-811bfb99f9fc.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b38b656-2c29-4f0c-b4cc-78e49c95f327.html" target="element"> Grunnlag for trigging av prosess </a> </td>
											    <td> <a href="../elements/7b38b656-2c29-4f0c-b4cc-78e49c95f327.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/23f62621-2b79-404a-a25a-9584fa0771f2.html" target="element"> Utg&#229;ende datagrunnlag </a> </td>
											    <td> <a href="../elements/23f62621-2b79-404a-a25a-9584fa0771f2.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18a0136a-c6e8-4d4f-b4e9-94836a36d097.html" target="element"> Outcome </a> </td>
											    <td> <a href="../elements/18a0136a-c6e8-4d4f-b4e9-94836a36d097.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/012fc47d-e294-470c-8bf7-0d2ffecbd764.html" target="element">  </a> </td>
																		<td> <a href="../elements/012fc47d-e294-470c-8bf7-0d2ffecbd764.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html" target="element"> Utf&#248;r steg i samhandlingsprosess </a> </td>
																		<td> <a href="../elements/8defff88-2262-48e4-adff-9ccedf6694d5.html" target="element"> Detekter triggerhendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a69a6fb5-f995-4509-b5f5-be1a868377e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/a69a6fb5-f995-4509-b5f5-be1a868377e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html" target="element"> Utf&#248;r steg i samhandlingsprosess </a> </td>
																		<td> <a href="../elements/bfe3ef66-082b-4bdf-8388-ea0987956daf.html" target="element"> Etabler datagrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8196e05e-769c-4d79-ac3c-5ed57a6dccdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/8196e05e-769c-4d79-ac3c-5ed57a6dccdd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html" target="element"> Utf&#248;r steg i samhandlingsprosess </a> </td>
																		<td> <a href="../elements/a3d71ca2-927e-40e2-9b55-7dabd0f888e7.html" target="element"> Prosesser datagrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4bcd104-c43d-4956-bffe-40dba9bbb89f.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4bcd104-c43d-4956-bffe-40dba9bbb89f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5d5e756b-7d3b-4d0c-9f3a-a73aadc4ba9d.html" target="element"> Utf&#248;r steg i samhandlingsprosess </a> </td>
																		<td> <a href="../elements/2b4d9878-0c60-4e5d-89b6-e9541284bb6f.html" target="element"> Svar p&#229; foresp&#248;rsel om datagrunnlag og etterlevelse </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6f4682fb-7c29-4bfe-96e5-87941a19fcd6.html" target="element">  </a> </td>
																				<td> <a href="../elements/6f4682fb-7c29-4bfe-96e5-87941a19fcd6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8defff88-2262-48e4-adff-9ccedf6694d5.html" target="element"> Detekter triggerhendelse </a> </td>
																				<td> <a href="../elements/bfe3ef66-082b-4bdf-8388-ea0987956daf.html" target="element"> Etabler datagrunnlag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0dc035f2-6d12-4000-aa95-08bd5ab23978.html" target="element">  </a> </td>
																				<td> <a href="../elements/0dc035f2-6d12-4000-aa95-08bd5ab23978.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bfe3ef66-082b-4bdf-8388-ea0987956daf.html" target="element"> Etabler datagrunnlag </a> </td>
																				<td> <a href="../elements/a3d71ca2-927e-40e2-9b55-7dabd0f888e7.html" target="element"> Prosesser datagrunnlag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a1048f42-9121-483f-8042-b6c8668d0c25.html" target="element">  </a> </td>
																				<td> <a href="../elements/a1048f42-9121-483f-8042-b6c8668d0c25.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a3d71ca2-927e-40e2-9b55-7dabd0f888e7.html" target="element"> Prosesser datagrunnlag </a> </td>
																				<td> <a href="../elements/3a0d2dbd-4970-4bd5-9ab7-75de25406ebb.html" target="element"> Avgi utg&#229;ende hendelser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/31cafd34-3e42-41ed-8f8a-7d037a9b5bd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/31cafd34-3e42-41ed-8f8a-7d037a9b5bd0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3a0d2dbd-4970-4bd5-9ab7-75de25406ebb.html" target="element"> Avgi utg&#229;ende hendelser </a> </td>
																				<td> <a href="../elements/2b4d9878-0c60-4e5d-89b6-e9541284bb6f.html" target="element"> Svar p&#229; foresp&#248;rsel om datagrunnlag og etterlevelse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f36105b7-33bf-4a98-8c48-8adc501973c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/f36105b7-33bf-4a98-8c48-8adc501973c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/2b4d9878-0c60-4e5d-89b6-e9541284bb6f.html" target="element"> Svar p&#229; foresp&#248;rsel om datagrunnlag og etterlevelse </a> </td>
																				<td> <a href="../elements/18a0136a-c6e8-4d4f-b4e9-94836a36d097.html" target="element"> Outcome </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8ecb25b0-1f1b-4d19-b468-ba7bbae13de2.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ecb25b0-1f1b-4d19-b468-ba7bbae13de2.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/c64d6c73-ffcb-41d6-abe9-ec54fccdd1e7.html" target="element"> Inng&#229;ende datagrunnlag </a> </td>
																		<td> <a href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/24c5145c-6999-4a49-80c0-f9ec4ee904d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/24c5145c-6999-4a49-80c0-f9ec4ee904d2.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/e4c5dff3-d1fc-42b5-be0f-56e3bd8c9054.html" target="element"> Sporingsdata </a> </td>
																		<td> <a href="../elements/557c0131-b3c8-4428-bb14-4b5c5e68d29a.html" target="element"> Kontrollorganer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c464e1f3-9e5a-447c-b750-a05a472f97cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c464e1f3-9e5a-447c-b750-a05a472f97cc.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/e4c5dff3-d1fc-42b5-be0f-56e3bd8c9054.html" target="element"> Sporingsdata </a> </td>
																		<td> <a href="../elements/b9e605b1-9e98-42b2-b9df-1fe7c5dd0a16.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2cf924ea-696b-47ed-8eb8-1cb43d6570a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2cf924ea-696b-47ed-8eb8-1cb43d6570a5.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/e4c5dff3-d1fc-42b5-be0f-56e3bd8c9054.html" target="element"> Sporingsdata </a> </td>
																		<td> <a href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4d9daf20-8504-4c03-8be3-ceee05ea5d69.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d9daf20-8504-4c03-8be3-ceee05ea5d69.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/5f01c024-eb97-4b5a-9297-d48cbd94ceba.html" target="element"> Resultatdata fra prosessering </a> </td>
																		<td> <a href="../elements/b9e605b1-9e98-42b2-b9df-1fe7c5dd0a16.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1cc2b77-cfd6-4959-89f1-2e70c82fefb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1cc2b77-cfd6-4959-89f1-2e70c82fefb6.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/5f01c024-eb97-4b5a-9297-d48cbd94ceba.html" target="element"> Resultatdata fra prosessering </a> </td>
																		<td> <a href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0a57d940-bb45-4e04-8e2d-2012ea0672c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a57d940-bb45-4e04-8e2d-2012ea0672c3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/b12ef0b1-6a13-403b-bef0-c7ca4bfc44b4.html" target="element"> Igangsetting av prosess </a> </td>
																		<td> <a href="../elements/dd77cbb2-a6a4-482a-a5a3-1745666e0da1.html" target="element"> Tjenesteprodusent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9fbbf477-b172-456d-bd1d-e4faf53c75f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/9fbbf477-b172-456d-bd1d-e4faf53c75f8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/d19be1c3-8131-4d92-bf63-ff4ce511feae.html" target="element"> Utg&#229;ende hendelser </a> </td>
																		<td> <a href="../elements/b5736398-a49b-4a83-862a-2e9498430faf.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1cf99d1d-faa7-47cd-8302-ce7fd9bfd923.html" target="element">  </a> </td>
																		<td> <a href="../elements/1cf99d1d-faa7-47cd-8302-ce7fd9bfd923.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/b9e605b1-9e98-42b2-b9df-1fe7c5dd0a16.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/b927cca3-27af-475d-884c-a235d29e685e.html" target="element"> Sekund&#230;re interessenter  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/53b96106-a613-4db1-9bbc-4c53947f3f44.html" target="element">  </a> </td>
																		<td> <a href="../elements/53b96106-a613-4db1-9bbc-4c53947f3f44.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/d4e19ec9-50c5-4c7d-9954-743a2053a9d3.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/dd77cbb2-a6a4-482a-a5a3-1745666e0da1.html" target="element"> Tjenesteprodusent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/18577b86-a7c2-4184-85d8-7ab51fa927a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/18577b86-a7c2-4184-85d8-7ab51fa927a6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e5b1068a-05c4-4e1d-9feb-811bfb99f9fc.html" target="element"> Hendelser </a> </td>
																		<td> <a href="../elements/8defff88-2262-48e4-adff-9ccedf6694d5.html" target="element"> Detekter triggerhendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/97b40f4f-a153-4a11-96da-fe75fa2a3e50.html" target="element">  </a> </td>
																		<td> <a href="../elements/97b40f4f-a153-4a11-96da-fe75fa2a3e50.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/7b38b656-2c29-4f0c-b4cc-78e49c95f327.html" target="element"> Grunnlag for trigging av prosess </a> </td>
																		<td> <a href="../elements/dd77cbb2-a6a4-482a-a5a3-1745666e0da1.html" target="element"> Tjenesteprodusent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/511e1814-60ff-41dd-a57c-463f103b7f82.html" target="element">  </a> </td>
																		<td> <a href="../elements/511e1814-60ff-41dd-a57c-463f103b7f82.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/23f62621-2b79-404a-a25a-9584fa0771f2.html" target="element"> Utg&#229;ende datagrunnlag </a> </td>
																		<td> <a href="../elements/b5736398-a49b-4a83-862a-2e9498430faf.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>