<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering ressurser</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering ressurser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8a9ec4b4-18a3-48df-86db-298fcce2e299.png" alt="Publisering ressurser" usemap="#8a9ec4b4-18a3-48df-86db-298fcce2e299map"/>
			   <map name="8a9ec4b4-18a3-48df-86db-298fcce2e299map">
				  				<area shape="rect" coords="970,58,1103,129" href="../elements/2ec71fc8-3829-4b11-bd8a-a43847db7d20.html"  target="element">

				  		<area shape="rect" coords="946,10,1202,339" href="../elements/06741efc-2b41-4c93-bfb1-405faa465fac.html"  target="element">
				  				<area shape="rect" coords="718,45,851,116" href="../elements/dbb74df9-fff6-4ba8-9744-d1ceacf1de78.html"  target="element">
				  				<area shape="rect" coords="718,212,851,283" href="../elements/0937551d-403f-459b-9c11-25197f1914e4.html"  target="element">
				  				<area shape="rect" coords="718,128,851,199" href="../elements/baf32dff-ac91-4ce1-9ac2-bfe616f485bb.html"  target="element">

				  		<area shape="rect" coords="694,21,887,329" href="../elements/788ef492-3d50-433e-b45f-64dd88637315.html"  target="element">
				  		<area shape="rect" coords="477,230,610,301" href="../elements/80153261-4f96-4639-bd15-e8dcd2aa2e34.html"  target="element">
				  		<area shape="rect" coords="406,81,539,152" href="../elements/919f9000-163f-408f-a1d5-b02c0b9e5eab.html"  target="element">
				  		<area shape="rect" coords="202,208,335,279" href="../elements/864847aa-92ef-4b40-bab8-e2fa3a83d0b1.html"  target="element">
				  		<area shape="rect" coords="202,81,335,152" href="../elements/6fea6b71-ee71-4f9c-b1ce-bf068fb32b62.html"  target="element">
				  		<area shape="rect" coords="166,376,299,447" href="../elements/5082c14c-250e-4699-8660-46b7f55cad3c.html"  target="element">
				  		<area shape="rect" coords="10,81,143,152" href="../elements/069057e8-9fb3-46ea-8e77-a1e149f01549.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/069057e8-9fb3-46ea-8e77-a1e149f01549.html" target="element"> Message receiver </a> </td>
											    <td> <a href="../elements/069057e8-9fb3-46ea-8e77-a1e149f01549.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5082c14c-250e-4699-8660-46b7f55cad3c.html" target="element"> Application Component </a> </td>
											    <td> <a href="../elements/5082c14c-250e-4699-8660-46b7f55cad3c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6fea6b71-ee71-4f9c-b1ce-bf068fb32b62.html" target="element"> Event Store </a> </td>
											    <td> <a href="../elements/6fea6b71-ee71-4f9c-b1ce-bf068fb32b62.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/864847aa-92ef-4b40-bab8-e2fa3a83d0b1.html" target="element"> Eventing service </a> </td>
											    <td> <a href="../elements/864847aa-92ef-4b40-bab8-e2fa3a83d0b1.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/919f9000-163f-408f-a1d5-b02c0b9e5eab.html" target="element"> Event Listener </a> </td>
											    <td> <a href="../elements/919f9000-163f-408f-a1d5-b02c0b9e5eab.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80153261-4f96-4639-bd15-e8dcd2aa2e34.html" target="element"> Snapshottimg service </a> </td>
											    <td> <a href="../elements/80153261-4f96-4639-bd15-e8dcd2aa2e34.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/788ef492-3d50-433e-b45f-64dd88637315.html" target="element"> TOG SOA RA </a> </td>
											    <td> <a href="../elements/788ef492-3d50-433e-b45f-64dd88637315.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/baf32dff-ac91-4ce1-9ac2-bfe616f485bb.html" target="element"> Event Producer </a> </td>
													    <td> <a href="../elements/baf32dff-ac91-4ce1-9ac2-bfe616f485bb.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0937551d-403f-459b-9c11-25197f1914e4.html" target="element"> Event Listener </a> </td>
													    <td> <a href="../elements/0937551d-403f-459b-9c11-25197f1914e4.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dbb74df9-fff6-4ba8-9744-d1ceacf1de78.html" target="element"> Event Broker </a> </td>
													    <td> <a href="../elements/dbb74df9-fff6-4ba8-9744-d1ceacf1de78.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/06741efc-2b41-4c93-bfb1-405faa465fac.html" target="element"> Standarder </a> </td>
											    <td> <a href="../elements/06741efc-2b41-4c93-bfb1-405faa465fac.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2ec71fc8-3829-4b11-bd8a-a43847db7d20.html" target="element"> RSS </a> </td>
													    <td> <a href="../elements/2ec71fc8-3829-4b11-bd8a-a43847db7d20.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/064025a9-96fe-4470-81ad-f67b667d6bfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/064025a9-96fe-4470-81ad-f67b667d6bfd.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/069057e8-9fb3-46ea-8e77-a1e149f01549.html" target="element"> Message receiver </a> </td>
																		<td> <a href="../elements/6fea6b71-ee71-4f9c-b1ce-bf068fb32b62.html" target="element"> Event Store </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/41ac6b51-fef4-473d-a90c-837584a6da50.html" target="element">  </a> </td>
																		<td> <a href="../elements/41ac6b51-fef4-473d-a90c-837584a6da50.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6fea6b71-ee71-4f9c-b1ce-bf068fb32b62.html" target="element"> Event Store </a> </td>
																		<td> <a href="../elements/919f9000-163f-408f-a1d5-b02c0b9e5eab.html" target="element"> Event Listener </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2c8aceca-067b-43a8-8657-53186a2feffc.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c8aceca-067b-43a8-8657-53186a2feffc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/788ef492-3d50-433e-b45f-64dd88637315.html" target="element"> TOG SOA RA </a> </td>
																		<td> <a href="../elements/baf32dff-ac91-4ce1-9ac2-bfe616f485bb.html" target="element"> Event Producer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/90396200-0278-4a40-8724-02c8ee818ad5.html" target="element">  </a> </td>
																		<td> <a href="../elements/90396200-0278-4a40-8724-02c8ee818ad5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/788ef492-3d50-433e-b45f-64dd88637315.html" target="element"> TOG SOA RA </a> </td>
																		<td> <a href="../elements/0937551d-403f-459b-9c11-25197f1914e4.html" target="element"> Event Listener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/33478e0c-12a2-4b3f-bf92-dcdda33f09d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/33478e0c-12a2-4b3f-bf92-dcdda33f09d6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/788ef492-3d50-433e-b45f-64dd88637315.html" target="element"> TOG SOA RA </a> </td>
																		<td> <a href="../elements/dbb74df9-fff6-4ba8-9744-d1ceacf1de78.html" target="element"> Event Broker </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/ff091ccb-fea8-454f-a1d9-540854da333a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff091ccb-fea8-454f-a1d9-540854da333a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/06741efc-2b41-4c93-bfb1-405faa465fac.html" target="element"> Standarder </a> </td>
																		<td> <a href="../elements/2ec71fc8-3829-4b11-bd8a-a43847db7d20.html" target="element"> RSS </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>