<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Første kladd på kapabilitetskart</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>F&#248;rste kladd p&#229; kapabilitetskart</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b527f4c6-cadd-44d2-bda3-2ac17543c2ee.png" alt="Første kladd på kapabilitetskart" usemap="#b527f4c6-cadd-44d2-bda3-2ac17543c2eemap"/>
			   <map name="b527f4c6-cadd-44d2-bda3-2ac17543c2eemap">
				  		<area shape="rect" coords="427,333,560,404" href="../elements/2458989e-392b-4a53-969d-0ac79d54e746.html"  target="element">
				  		<area shape="rect" coords="199,333,332,404" href="../elements/43edd818-107a-4436-8ae7-f68a544b8c4d.html"  target="element">
				  		<area shape="rect" coords="10,333,143,404" href="../elements/8820f621-4d59-4ac3-af6b-42533df52056.html"  target="element">
				  		<area shape="rect" coords="184,210,317,281" href="../elements/6724470c-b3d5-4c03-9d88-b8bdc5545b27.html"  target="element">
				  		<area shape="rect" coords="184,105,317,176" href="../elements/adce5733-975c-43eb-9d0c-5fc2df724b1e.html"  target="element">
				  		<area shape="rect" coords="10,10,143,81" href="../elements/1a07497f-a7fb-4549-9607-f02904608ec8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">F&#248;rste kladd p&#229; kapabilitetskart</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewImagePath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1a07497f-a7fb-4549-9607-f02904608ec8.html" target="element"> Tilgjngeliggj&#248;ring av kodeliste </a> </td>
											    <td> <a href="../elements/1a07497f-a7fb-4549-9607-f02904608ec8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/adce5733-975c-43eb-9d0c-5fc2df724b1e.html" target="element"> Standard for tilgjnegeliggj&#248;ring av  kodeliste </a> </td>
											    <td> <a href="../elements/adce5733-975c-43eb-9d0c-5fc2df724b1e.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6724470c-b3d5-4c03-9d88-b8bdc5545b27.html" target="element"> Nasjonal tjeneste for tilgjengeliggj&#248;ring autoritative  av kodelister </a> </td>
											    <td> <a href="../elements/6724470c-b3d5-4c03-9d88-b8bdc5545b27.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8820f621-4d59-4ac3-af6b-42533df52056.html" target="element"> Langtidslaging av kodelister </a> </td>
											    <td> <a href="../elements/8820f621-4d59-4ac3-af6b-42533df52056.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/43edd818-107a-4436-8ae7-f68a544b8c4d.html" target="element"> Nasjonal l&#248;sning for langtidslagring av kodelister </a> </td>
											    <td> <a href="../elements/43edd818-107a-4436-8ae7-f68a544b8c4d.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2458989e-392b-4a53-969d-0ac79d54e746.html" target="element"> Nasjonal l&#248;sning for langtidslagring </a> </td>
											    <td> <a href="../elements/2458989e-392b-4a53-969d-0ac79d54e746.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/245badd3-e048-4cfe-b4ce-59bd118fbcaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/245badd3-e048-4cfe-b4ce-59bd118fbcaa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/adce5733-975c-43eb-9d0c-5fc2df724b1e.html" target="element"> Standard for tilgjnegeliggj&#248;ring av  kodeliste </a> </td>
																		<td> <a href="../elements/1a07497f-a7fb-4549-9607-f02904608ec8.html" target="element"> Tilgjngeliggj&#248;ring av kodeliste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d321ae04-c52d-4c4c-a7e8-4f19d8d40254.html" target="element">  </a> </td>
																		<td> <a href="../elements/d321ae04-c52d-4c4c-a7e8-4f19d8d40254.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6724470c-b3d5-4c03-9d88-b8bdc5545b27.html" target="element"> Nasjonal tjeneste for tilgjengeliggj&#248;ring autoritative  av kodelister </a> </td>
																		<td> <a href="../elements/1a07497f-a7fb-4549-9607-f02904608ec8.html" target="element"> Tilgjngeliggj&#248;ring av kodeliste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/add7d4c9-f804-414e-8018-641434a2cd15.html" target="element">  </a> </td>
																		<td> <a href="../elements/add7d4c9-f804-414e-8018-641434a2cd15.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/43edd818-107a-4436-8ae7-f68a544b8c4d.html" target="element"> Nasjonal l&#248;sning for langtidslagring av kodelister </a> </td>
																		<td> <a href="../elements/2458989e-392b-4a53-969d-0ac79d54e746.html" target="element"> Nasjonal l&#248;sning for langtidslagring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2e0b5e9-a030-4149-80a2-0915e944b2c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2e0b5e9-a030-4149-80a2-0915e944b2c7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/43edd818-107a-4436-8ae7-f68a544b8c4d.html" target="element"> Nasjonal l&#248;sning for langtidslagring av kodelister </a> </td>
																		<td> <a href="../elements/8820f621-4d59-4ac3-af6b-42533df52056.html" target="element"> Langtidslaging av kodelister </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb9b7ffc-6b78-43f7-bc9a-9489b888af65.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb9b7ffc-6b78-43f7-bc9a-9489b888af65.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/43edd818-107a-4436-8ae7-f68a544b8c4d.html" target="element"> Nasjonal l&#248;sning for langtidslagring av kodelister </a> </td>
																		<td> <a href="../elements/1a07497f-a7fb-4549-9607-f02904608ec8.html" target="element"> Tilgjngeliggj&#248;ring av kodeliste </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>