<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Nivå 0</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Niv&#229; 0</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bdaa4f53-fe8c-449a-8a77-7df74d9bb44d.png" alt="Nivå 0" usemap="#bdaa4f53-fe8c-449a-8a77-7df74d9bb44dmap"/>
			   <map name="bdaa4f53-fe8c-449a-8a77-7df74d9bb44dmap">
				  		<area shape="rect" coords="699,272,832,343" href="../elements/9d8bfc8c-c794-41aa-96b5-47f05ea76b35.html"  target="element">
				  		<area shape="rect" coords="538,272,671,343" href="../elements/05d8c8cf-91e2-416d-b12c-83cbd9df0757.html"  target="element">
				  		<area shape="rect" coords="376,272,509,343" href="../elements/9d329077-1ae4-4c8b-936d-3133b858a379.html"  target="element">
				  		<area shape="rect" coords="526,380,659,451" href="../elements/b7ba6e54-be20-4118-8507-528f4a81de50.html"  target="element">
				  		<area shape="rect" coords="358,380,491,451" href="../elements/b858e17a-a6dd-42f1-a956-72268cefa97c.html"  target="element">
				  		<area shape="rect" coords="376,164,509,235" href="../elements/13d3a6fa-ce05-48af-aea4-27b73a056117.html"  target="element">
				  		<area shape="rect" coords="190,272,323,343" href="../elements/0e1b7ff9-954e-40b2-99e9-1a2528a28dae.html"  target="element">
				  		<area shape="rect" coords="334,488,467,559" href="../elements/178cb133-1743-4ca2-b654-a607c2e2ea17.html"  target="element">
				  		<area shape="rect" coords="538,572,671,643" href="../elements/8f6bb9aa-6ed8-4206-9847-93ab614449b8.html"  target="element">
				  		<area shape="rect" coords="1006,234,1139,305" href="../elements/ae3ba8c6-dfa5-4fae-ab31-b0dfeb75e08b.html"  target="element">
				  		<area shape="rect" coords="826,464,959,535" href="../elements/3a7beb0f-8beb-4b38-8349-47dd76e850fa.html"  target="element">
				  		<area shape="rect" coords="850,212,983,283" href="../elements/4e2a163f-5899-49f3-b702-247781a0cef0.html"  target="element">
				  		<area shape="rect" coords="550,164,683,235" href="../elements/d3fbe017-65d2-4f14-afba-fc1b63abc6dd.html"  target="element">
				  		<area shape="rect" coords="10,164,143,451" href="../elements/979ead24-7608-4ecc-9548-0b6f68e8ce34.html"  target="element">
				  		<area shape="rect" coords="190,380,323,451" href="../elements/870f4964-25c8-46c7-a56b-ee09016e959b.html"  target="element">
				  		<area shape="rect" coords="838,128,971,199" href="../elements/f56d27f0-cd53-482d-bd80-16c3680af080.html"  target="element">
				  		<area shape="rect" coords="598,58,731,129" href="../elements/fb785c52-6748-40ba-913f-c153f84ad15c.html"  target="element">
				  		<area shape="rect" coords="376,41,509,112" href="../elements/cca937bd-17d4-41d8-9c8e-1c2e6c27df0b.html"  target="element">
				  		<area shape="rect" coords="94,10,227,81" href="../elements/2be55775-8db2-4783-86ee-380189b770d8.html"  target="element">
				  		<area shape="rect" coords="202,142,335,213" href="../elements/409894c3-548d-45c1-9d23-6e49453b1ffa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Niv&#229; 0</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewImagePath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/409894c3-548d-45c1-9d23-6e49453b1ffa.html" target="element"> Forst&#229; informasjonsbehov innen eget forretningsomr&#229;de </a> </td>
											    <td> <a href="../elements/409894c3-548d-45c1-9d23-6e49453b1ffa.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2be55775-8db2-4783-86ee-380189b770d8.html" target="element"> Bedre deling av data </a> </td>
											    <td> <a href="../elements/2be55775-8db2-4783-86ee-380189b770d8.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cca937bd-17d4-41d8-9c8e-1c2e6c27df0b.html" target="element"> Offentlig sektor </a> </td>
											    <td> <a href="../elements/cca937bd-17d4-41d8-9c8e-1c2e6c27df0b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb785c52-6748-40ba-913f-c153f84ad15c.html" target="element"> Privat seltor </a> </td>
											    <td> <a href="../elements/fb785c52-6748-40ba-913f-c153f84ad15c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f56d27f0-cd53-482d-bd80-16c3680af080.html" target="element"> Informasjonsforvaltning </a> </td>
											    <td> <a href="../elements/f56d27f0-cd53-482d-bd80-16c3680af080.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/870f4964-25c8-46c7-a56b-ee09016e959b.html" target="element"> Forst&#229; hvilke deler av egne data som b&#248;r deles </a> </td>
											    <td> <a href="../elements/870f4964-25c8-46c7-a56b-ee09016e959b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/979ead24-7608-4ecc-9548-0b6f68e8ce34.html" target="element"> Forst&#229; eget forretningsmr&#229;de </a> </td>
											    <td> <a href="../elements/979ead24-7608-4ecc-9548-0b6f68e8ce34.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d3fbe017-65d2-4f14-afba-fc1b63abc6dd.html" target="element"> F&#229; fatt i data... </a> </td>
											    <td> <a href="../elements/d3fbe017-65d2-4f14-afba-fc1b63abc6dd.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4e2a163f-5899-49f3-b702-247781a0cef0.html" target="element"> Tilpasse data til kontekst (kriteriebasert, minimering...) </a> </td>
											    <td> <a href="../elements/4e2a163f-5899-49f3-b702-247781a0cef0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3a7beb0f-8beb-4b38-8349-47dd76e850fa.html" target="element"> Minimere... </a> </td>
											    <td> <a href="../elements/3a7beb0f-8beb-4b38-8349-47dd76e850fa.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ae3ba8c6-dfa5-4fae-ab31-b0dfeb75e08b.html" target="element"> Avtaler... </a> </td>
											    <td> <a href="../elements/ae3ba8c6-dfa5-4fae-ab31-b0dfeb75e08b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f6bb9aa-6ed8-4206-9847-93ab614449b8.html" target="element"> Tilpass data til kontekst </a> </td>
											    <td> <a href="../elements/8f6bb9aa-6ed8-4206-9847-93ab614449b8.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/178cb133-1743-4ca2-b654-a607c2e2ea17.html" target="element"> Innsikt i andres informasojnsbehov  </a> </td>
											    <td> <a href="../elements/178cb133-1743-4ca2-b654-a607c2e2ea17.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e1b7ff9-954e-40b2-99e9-1a2528a28dae.html" target="element"> Omforent forst&#229;else av behov og tilgjengelighet fo/avr data </a> </td>
											    <td> <a href="../elements/0e1b7ff9-954e-40b2-99e9-1a2528a28dae.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13d3a6fa-ce05-48af-aea4-27b73a056117.html" target="element"> Innsikt i utvalg av informajsonskilder </a> </td>
											    <td> <a href="../elements/13d3a6fa-ce05-48af-aea4-27b73a056117.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b858e17a-a6dd-42f1-a956-72268cefa97c.html" target="element"> Gi oversikt over hvilke data som finnes </a> </td>
											    <td> <a href="../elements/b858e17a-a6dd-42f1-a956-72268cefa97c.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b7ba6e54-be20-4118-8507-528f4a81de50.html" target="element"> Tilgjengeliggj&#248;re egne data for deling </a> </td>
											    <td> <a href="../elements/b7ba6e54-be20-4118-8507-528f4a81de50.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9d329077-1ae4-4c8b-936d-3133b858a379.html" target="element"> Incitement til delong av data </a> </td>
											    <td> <a href="../elements/9d329077-1ae4-4c8b-936d-3133b858a379.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05d8c8cf-91e2-416d-b12c-83cbd9df0757.html" target="element"> Kunne f&#229; betalt for data </a> </td>
											    <td> <a href="../elements/05d8c8cf-91e2-416d-b12c-83cbd9df0757.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9d8bfc8c-c794-41aa-96b5-47f05ea76b35.html" target="element"> Risikospredning </a> </td>
											    <td> <a href="../elements/9d8bfc8c-c794-41aa-96b5-47f05ea76b35.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2aeddd26-df8e-44c2-9fb6-5406b22dc508.html" target="element">  </a> </td>
																		<td> <a href="../elements/2aeddd26-df8e-44c2-9fb6-5406b22dc508.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/870f4964-25c8-46c7-a56b-ee09016e959b.html" target="element"> Forst&#229; hvilke deler av egne data som b&#248;r deles </a> </td>
																		<td> <a href="../elements/178cb133-1743-4ca2-b654-a607c2e2ea17.html" target="element"> Innsikt i andres informasojnsbehov  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/87a067bd-e674-43ab-b4c8-68f9f8c52080.html" target="element">  </a> </td>
																		<td> <a href="../elements/87a067bd-e674-43ab-b4c8-68f9f8c52080.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/870f4964-25c8-46c7-a56b-ee09016e959b.html" target="element"> Forst&#229; hvilke deler av egne data som b&#248;r deles </a> </td>
																		<td> <a href="../elements/b858e17a-a6dd-42f1-a956-72268cefa97c.html" target="element"> Gi oversikt over hvilke data som finnes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3d68a95c-eee3-430e-8540-afc793c5adfc.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d68a95c-eee3-430e-8540-afc793c5adfc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/979ead24-7608-4ecc-9548-0b6f68e8ce34.html" target="element"> Forst&#229; eget forretningsmr&#229;de </a> </td>
																		<td> <a href="../elements/409894c3-548d-45c1-9d23-6e49453b1ffa.html" target="element"> Forst&#229; informasjonsbehov innen eget forretningsomr&#229;de </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd90f74e-1fe4-4f89-908b-dcd5d583d5ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd90f74e-1fe4-4f89-908b-dcd5d583d5ae.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/979ead24-7608-4ecc-9548-0b6f68e8ce34.html" target="element"> Forst&#229; eget forretningsmr&#229;de </a> </td>
																		<td> <a href="../elements/870f4964-25c8-46c7-a56b-ee09016e959b.html" target="element"> Forst&#229; hvilke deler av egne data som b&#248;r deles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e39c6c89-ed77-4800-8765-3cef1fc91254.html" target="element">  </a> </td>
																		<td> <a href="../elements/e39c6c89-ed77-4800-8765-3cef1fc91254.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/b858e17a-a6dd-42f1-a956-72268cefa97c.html" target="element"> Gi oversikt over hvilke data som finnes </a> </td>
																		<td> <a href="../elements/b7ba6e54-be20-4118-8507-528f4a81de50.html" target="element"> Tilgjengeliggj&#248;re egne data for deling </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>