<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generisk prosess for operativ databehandling (copy)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generisk prosess for operativ databehandling (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/dfa2710f-b3ad-4902-8a29-53ab52dafffe.png" alt="Generisk prosess for operativ databehandling (copy)" usemap="#dfa2710f-b3ad-4902-8a29-53ab52dafffemap"/>
			   <map name="dfa2710f-b3ad-4902-8a29-53ab52dafffemap">
				  				<area shape="rect" coords="946,354,1079,425" href="../elements/e3eb055e-05b7-41a5-a8d8-c1ad5d725569.html"  target="element">
				  				<area shape="rect" coords="802,438,935,509" href="../elements/75f3f929-5c10-4cc6-bd38-78a74352ccc7.html"  target="element">
				  				<area shape="rect" coords="802,354,935,425" href="../elements/6e8c60d0-71b9-47c9-8163-68c15b6ba17a.html"  target="element">

				  		<area shape="rect" coords="790,318,1091,526" href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html"  target="element">
				  				<area shape="rect" coords="490,598,623,669" href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html"  target="element">
				  				<area shape="rect" coords="706,598,839,669" href="../elements/880b042f-fb1e-4ede-b671-b55c7af3b05d.html"  target="element">
				  				<area shape="rect" coords="286,598,419,669" href="../elements/f93c0051-8c61-4d8e-bf9d-edbb1b3cfd2d.html"  target="element">

				  		<area shape="rect" coords="190,562,971,683" href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html"  target="element">
				  				<area shape="rect" coords="610,352,743,423" href="../elements/f898b406-9416-4ac1-8f96-81c701d7a13f.html"  target="element">

				  		<area shape="rect" coords="598,316,755,527" href="../elements/7ff69275-11ab-480c-9e1a-6857384a08d0.html"  target="element">
				  				<area shape="rect" coords="418,352,551,423" href="../elements/b9646c5c-7633-4521-a02e-2ecf0640a390.html"  target="element">

				  		<area shape="rect" coords="406,316,563,527" href="../elements/9cc8af00-6a78-461f-a2c0-195e847ae282.html"  target="element">
				  				<area shape="rect" coords="208,352,341,423" href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html"  target="element">
				  				<area shape="rect" coords="208,436,341,507" href="../elements/bb08185e-7c16-4b3b-bc3b-04eb84bb53d6.html"  target="element">

				  		<area shape="rect" coords="196,316,353,527" href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html"  target="element">
				  				<area shape="rect" coords="874,76,1012,147" href="../elements/15678b0c-a0f6-441f-a37e-1ce669cf1eb5.html"  target="element">
				  				<area shape="rect" coords="766,178,904,249" href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html"  target="element">
				  				<area shape="rect" coords="34,178,167,249" href="../elements/3d0d99f1-6099-4f24-a780-d5339200d4c5.html"  target="element">
				  				<area shape="rect" coords="581,178,719,249" href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html"  target="element">
				  				<area shape="rect" coords="946,178,1079,249" href="../elements/d4e0742a-8443-4ec6-a2d7-9aa8d394291a.html"  target="element">
				  				<area shape="rect" coords="472,76,605,147" href="../elements/846d2534-6895-450f-bb6c-625d2e61884d.html"  target="element">
				  				<area shape="rect" coords="304,76,437,147" href="../elements/1ef4486c-362d-497a-9bf3-42df0d494c4b.html"  target="element">
				  				<area shape="rect" coords="202,178,335,249" href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html"  target="element">
				  				<area shape="rect" coords="682,76,815,147" href="../elements/a9f79d0b-e1f1-4ea4-8789-ec3955027984.html"  target="element">
				  				<area shape="rect" coords="394,178,527,249" href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html"  target="element">

				  		<area shape="rect" coords="10,10,1151,275" href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Figuren nedenfor viser en generisk prosess for operativ databehandling, der datautveksling inng&#229;r. 

Oppsummering:

* Enhver databehandling krever data som input og vil resultere i output av data. 

* Input kan v&#230;re alt fra en notifikasjon uten videre innhold til komplette meldinger. Om tilleggsdata m&#229; innhentes, gj&#248;res dette f.eks. ved &#229; foresp&#248;rre  aktuelle datakilde eller ved &#229; vente p&#229; ytterligere input initiert av andre.

* Output vil v&#230;re lagrede data for bevis og gjenbruk, samt videresendte data til p&#229;f&#248;lgende ledd i behandlingskjeden, der det er aktuelt. 

* Det er ikke direkte vist i dette enkle prosessdiagrammet, men videresendte data kan her inkludere svar til avsender av mottatte data, i tillegg til en eller flere andre samhandlingsakt&#248;rer.

* For behandling av personopplysninger m&#229; det finnes et dokumentert behandlingsgrunnlag, enten i form av hjemmel eller samtykke. Dette vil v&#230;re del av det totale datagrunnlaget for databehandlingen. 

De viktigste kapabilitetene som beh&#248;ves er indikert for hvert prosessteg. TBD?

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Generisk prosess for operativ databehandling</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Figuren nedenfor viser en generisk prosess for operativ databehandling, der datautveksling inng&#229;r. 

								Oppsummering:

								* Enhver databehandling krever data som input og vil resultere i output av data. 

								* Input kan v&#230;re alt fra en notifikasjon uten videre innhold til komplette meldinger. Om tilleggsdata m&#229; innhentes, gj&#248;res dette f.eks. ved &#229; foresp&#248;rre  aktuelle datakilde eller ved &#229; vente p&#229; ytterligere input initiert av andre.

								* Output vil v&#230;re lagrede data for bevis og gjenbruk, samt videresendte data til p&#229;f&#248;lgende ledd i behandlingskjeden, der det er aktuelt. 

								* Det er ikke direkte vist i dette enkle prosessdiagrammet, men videresendte data kan her inkludere svar til avsender av mottatte data, i tillegg til en eller flere andre samhandlingsakt&#248;rer.

								* For behandling av personopplysninger m&#229; det finnes et dokumentert behandlingsgrunnlag, enten i form av hjemmel eller samtykke. Dette vil v&#230;re del av det totale datagrunnlaget for databehandlingen. 

								De viktigste kapabilitetene som beh&#248;ves er indikert for hvert prosessteg. TBD?

								</xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling</xmp> </td></tr><tr><td> difi:antoraViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:antoraViewImagePath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
											    <td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html" target="element"> Innhent n&#248;dvendige tilleggsdata </a> </td>
													    <td> <a href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a9f79d0b-e1f1-4ea4-8789-ec3955027984.html" target="element"> Resultatdata </a> </td>
													    <td> <a href="../elements/a9f79d0b-e1f1-4ea4-8789-ec3955027984.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html" target="element"> Motta innkommende hendelse </a> </td>
													    <td> <a href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1ef4486c-362d-497a-9bf3-42df0d494c4b.html" target="element"> Innkommende hendelsesdata </a> </td>
													    <td> <a href="../elements/1ef4486c-362d-497a-9bf3-42df0d494c4b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/846d2534-6895-450f-bb6c-625d2e61884d.html" target="element"> Samlet datagrunnlag </a> </td>
													    <td> <a href="../elements/846d2534-6895-450f-bb6c-625d2e61884d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d4e0742a-8443-4ec6-a2d7-9aa8d394291a.html" target="element"> Databehandling utf&#248;rt </a> </td>
													    <td> <a href="../elements/d4e0742a-8443-4ec6-a2d7-9aa8d394291a.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html" target="element"> Prosesseringssteg </a> </td>
													    <td> <a href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3d0d99f1-6099-4f24-a780-d5339200d4c5.html" target="element"> Triggerhendelse </a> </td>
													    <td> <a href="../elements/3d0d99f1-6099-4f24-a780-d5339200d4c5.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html" target="element"> Distribuer utg&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/15678b0c-a0f6-441f-a37e-1ce669cf1eb5.html" target="element"> Utg&#229;ende hendelsesdata </a> </td>
													    <td> <a href="../elements/15678b0c-a0f6-441f-a37e-1ce669cf1eb5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html" target="element"> Motta data </a> </td>
											    <td> <a href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bb08185e-7c16-4b3b-bc3b-04eb84bb53d6.html" target="element"> Autorisere foresp&#248;rsler (tilbyder) </a> </td>
													    <td> <a href="../elements/bb08185e-7c16-4b3b-bc3b-04eb84bb53d6.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere samhandlingsakt&#248;r </a> </td>
													    <td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/9cc8af00-6a78-461f-a2c0-195e847ae282.html" target="element"> Innhente tilleggsdata </a> </td>
											    <td> <a href="../elements/9cc8af00-6a78-461f-a2c0-195e847ae282.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b9646c5c-7633-4521-a02e-2ecf0640a390.html" target="element"> Minimere deling av persondata </a> </td>
													    <td> <a href="../elements/b9646c5c-7633-4521-a02e-2ecf0640a390.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7ff69275-11ab-480c-9e1a-6857384a08d0.html" target="element"> Databehandling </a> </td>
											    <td> <a href="../elements/7ff69275-11ab-480c-9e1a-6857384a08d0.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f898b406-9416-4ac1-8f96-81c701d7a13f.html" target="element"> Lagre data sikkert </a> </td>
													    <td> <a href="../elements/f898b406-9416-4ac1-8f96-81c701d7a13f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
											    <td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f93c0051-8c61-4d8e-bf9d-edbb1b3cfd2d.html" target="element"> Logge dataaksess </a> </td>
													    <td> <a href="../elements/f93c0051-8c61-4d8e-bf9d-edbb1b3cfd2d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/880b042f-fb1e-4ede-b671-b55c7af3b05d.html" target="element"> Tidsstemple data </a> </td>
													    <td> <a href="../elements/880b042f-fb1e-4ede-b671-b55c7af3b05d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html" target="element"> Metadataforvaltning </a> </td>
													    <td> <a href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element"> Sende data </a> </td>
											    <td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6e8c60d0-71b9-47c9-8163-68c15b6ba17a.html" target="element"> Signere dokumenter </a> </td>
													    <td> <a href="../elements/6e8c60d0-71b9-47c9-8163-68c15b6ba17a.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/75f3f929-5c10-4cc6-bd38-78a74352ccc7.html" target="element"> H&#229;ndtere feil ved datautveksling </a> </td>
													    <td> <a href="../elements/75f3f929-5c10-4cc6-bd38-78a74352ccc7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e3eb055e-05b7-41a5-a8d8-c1ad5d725569.html" target="element"> Skjerme data </a> </td>
													    <td> <a href="../elements/e3eb055e-05b7-41a5-a8d8-c1ad5d725569.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/eabf778c-bb77-4e73-b608-f6048f74cfd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/eabf778c-bb77-4e73-b608-f6048f74cfd9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/a9f79d0b-e1f1-4ea4-8789-ec3955027984.html" target="element"> Resultatdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/33672db7-24b8-48c3-9406-bd3537b0e1eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/33672db7-24b8-48c3-9406-bd3537b0e1eb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/846d2534-6895-450f-bb6c-625d2e61884d.html" target="element"> Samlet datagrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9e307158-80a7-4755-8c22-29efe88f6b47.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e307158-80a7-4755-8c22-29efe88f6b47.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html" target="element"> Prosesseringssteg </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4876f8fa-47bc-4844-898e-b97dcc6fda3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/4876f8fa-47bc-4844-898e-b97dcc6fda3f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/1ef4486c-362d-497a-9bf3-42df0d494c4b.html" target="element"> Innkommende hendelsesdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d91168d6-093c-40ed-bbaa-5c2f9815d066.html" target="element">  </a> </td>
																		<td> <a href="../elements/d91168d6-093c-40ed-bbaa-5c2f9815d066.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html" target="element"> Motta innkommende hendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39ded85c-1670-48ff-9b09-1f7b20cd4b6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/39ded85c-1670-48ff-9b09-1f7b20cd4b6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html" target="element"> Innhent n&#248;dvendige tilleggsdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/be572778-c08a-438f-be20-140f890fb6ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/be572778-c08a-438f-be20-140f890fb6ca.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/d4e0742a-8443-4ec6-a2d7-9aa8d394291a.html" target="element"> Databehandling utf&#248;rt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ca9d77c1-f28f-4f65-99ff-f14eab97a22b.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca9d77c1-f28f-4f65-99ff-f14eab97a22b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/3d0d99f1-6099-4f24-a780-d5339200d4c5.html" target="element"> Triggerhendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/194e1a37-c45e-42fd-a482-96d3f3d67dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/194e1a37-c45e-42fd-a482-96d3f3d67dc9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html" target="element"> Distribuer utg&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7259f6f7-def0-4373-be4d-848105834861.html" target="element">  </a> </td>
																		<td> <a href="../elements/7259f6f7-def0-4373-be4d-848105834861.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b180ee17-98fb-4e11-9ab5-d5e226b45a5c.html" target="element"> Operativ databehandling </a> </td>
																		<td> <a href="../elements/15678b0c-a0f6-441f-a37e-1ce669cf1eb5.html" target="element"> Utg&#229;ende hendelsesdata </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/345a852d-d125-4331-9303-03365c8358ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/345a852d-d125-4331-9303-03365c8358ce.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html" target="element"> Innhent n&#248;dvendige tilleggsdata </a> </td>
																				<td> <a href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html" target="element"> Prosesseringssteg </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/de922c36-fad7-412e-81b5-e5054b4f2da7.html" target="element">  </a> </td>
																				<td> <a href="../elements/de922c36-fad7-412e-81b5-e5054b4f2da7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/a9f79d0b-e1f1-4ea4-8789-ec3955027984.html" target="element"> Resultatdata </a> </td>
																				<td> <a href="../elements/8214659b-02e8-4c92-9213-ef9f28304076.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/db6433ba-5e8f-4ef8-9bd1-9bfceb7c4cc6.html" target="element">  </a> </td>
																				<td> <a href="../elements/db6433ba-5e8f-4ef8-9bd1-9bfceb7c4cc6.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html" target="element"> Motta innkommende hendelse </a> </td>
																				<td> <a href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html" target="element"> Innhent n&#248;dvendige tilleggsdata </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5ff1279e-f456-48a0-957d-91b94b17bc84.html" target="element">  </a> </td>
																				<td> <a href="../elements/5ff1279e-f456-48a0-957d-91b94b17bc84.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/1ef4486c-362d-497a-9bf3-42df0d494c4b.html" target="element"> Innkommende hendelsesdata </a> </td>
																				<td> <a href="../elements/db6433ba-5e8f-4ef8-9bd1-9bfceb7c4cc6.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d04cc421-ceb8-4bbd-a667-cde413fcd66e.html" target="element">  </a> </td>
																				<td> <a href="../elements/d04cc421-ceb8-4bbd-a667-cde413fcd66e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/846d2534-6895-450f-bb6c-625d2e61884d.html" target="element"> Samlet datagrunnlag </a> </td>
																				<td> <a href="../elements/345a852d-d125-4331-9303-03365c8358ce.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8214659b-02e8-4c92-9213-ef9f28304076.html" target="element">  </a> </td>
																				<td> <a href="../elements/8214659b-02e8-4c92-9213-ef9f28304076.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html" target="element"> Distribuer utg&#229;ende hendelser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a8aac475-4374-4028-8291-056a7fcd4ff5.html" target="element">  </a> </td>
																				<td> <a href="../elements/a8aac475-4374-4028-8291-056a7fcd4ff5.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/3d0d99f1-6099-4f24-a780-d5339200d4c5.html" target="element"> Triggerhendelse </a> </td>
																				<td> <a href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html" target="element"> Motta innkommende hendelse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/681cdc2b-fe5d-4213-a48d-5fe3928578fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/681cdc2b-fe5d-4213-a48d-5fe3928578fa.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html" target="element"> Distribuer utg&#229;ende hendelser </a> </td>
																				<td> <a href="../elements/d4e0742a-8443-4ec6-a2d7-9aa8d394291a.html" target="element"> Databehandling utf&#248;rt </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5416ec7f-fc91-4bf7-b4df-19fd5fdb177e.html" target="element">  </a> </td>
																				<td> <a href="../elements/5416ec7f-fc91-4bf7-b4df-19fd5fdb177e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/15678b0c-a0f6-441f-a37e-1ce669cf1eb5.html" target="element"> Utg&#229;ende hendelsesdata </a> </td>
																				<td> <a href="../elements/681cdc2b-fe5d-4213-a48d-5fe3928578fa.html" target="element">  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/3f42069d-29e8-47d9-bd70-3bd8bfcd3148.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f42069d-29e8-47d9-bd70-3bd8bfcd3148.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html" target="element"> Motta data </a> </td>
																		<td> <a href="../elements/bb08185e-7c16-4b3b-bc3b-04eb84bb53d6.html" target="element"> Autorisere foresp&#248;rsler (tilbyder) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c40312c7-99ad-4881-8ae5-47f6c2d3a467.html" target="element">  </a> </td>
																		<td> <a href="../elements/c40312c7-99ad-4881-8ae5-47f6c2d3a467.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html" target="element"> Motta data </a> </td>
																		<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere samhandlingsakt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b15c780-917e-4a1b-8fd6-ff76e01b9f90.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b15c780-917e-4a1b-8fd6-ff76e01b9f90.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html" target="element"> Motta data </a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/779b38c7-7af6-4d3d-8d59-54d072c0fb26.html" target="element">  </a> </td>
																		<td> <a href="../elements/779b38c7-7af6-4d3d-8d59-54d072c0fb26.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/ef9ce2c0-78ef-441d-8a1c-c788a50e93b4.html" target="element"> Motta data </a> </td>
																		<td> <a href="../elements/075e0dbd-6da9-4d75-9049-be7f448b5a69.html" target="element"> Motta innkommende hendelse </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/cb23777d-518a-4592-bc55-f9127abcbfc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb23777d-518a-4592-bc55-f9127abcbfc3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9cc8af00-6a78-461f-a2c0-195e847ae282.html" target="element"> Innhente tilleggsdata </a> </td>
																		<td> <a href="../elements/b9646c5c-7633-4521-a02e-2ecf0640a390.html" target="element"> Minimere deling av persondata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f5f008c-c2bc-450a-a52d-0284231e3e27.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f5f008c-c2bc-450a-a52d-0284231e3e27.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/9cc8af00-6a78-461f-a2c0-195e847ae282.html" target="element"> Innhente tilleggsdata </a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b0074b8-a03e-47c3-9d60-d9d85ba0d172.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b0074b8-a03e-47c3-9d60-d9d85ba0d172.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/9cc8af00-6a78-461f-a2c0-195e847ae282.html" target="element"> Innhente tilleggsdata </a> </td>
																		<td> <a href="../elements/8a5de78e-0b6f-449f-af00-6ce15fbbca00.html" target="element"> Innhent n&#248;dvendige tilleggsdata </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/a88eb6a1-95f4-4a76-82c6-71401d3f8da3.html" target="element">  </a> </td>
																		<td> <a href="../elements/a88eb6a1-95f4-4a76-82c6-71401d3f8da3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7ff69275-11ab-480c-9e1a-6857384a08d0.html" target="element"> Databehandling </a> </td>
																		<td> <a href="../elements/f898b406-9416-4ac1-8f96-81c701d7a13f.html" target="element"> Lagre data sikkert </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/df5a4021-b1f6-46f3-a345-5b458407886e.html" target="element">  </a> </td>
																		<td> <a href="../elements/df5a4021-b1f6-46f3-a345-5b458407886e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7ff69275-11ab-480c-9e1a-6857384a08d0.html" target="element"> Databehandling </a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c549222-c33e-4ffa-9583-e836f3454dc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c549222-c33e-4ffa-9583-e836f3454dc6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/7ff69275-11ab-480c-9e1a-6857384a08d0.html" target="element"> Databehandling </a> </td>
																		<td> <a href="../elements/a58c1939-2dc4-4d8d-ae5c-3d48c0d9fd98.html" target="element"> Prosesseringssteg </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/5afd9f1d-2d03-4236-a1cc-4d8f5ba2b154.html" target="element">  </a> </td>
																		<td> <a href="../elements/5afd9f1d-2d03-4236-a1cc-4d8f5ba2b154.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																		<td> <a href="../elements/f93c0051-8c61-4d8e-bf9d-edbb1b3cfd2d.html" target="element"> Logge dataaksess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/439ecbd6-56ef-4204-8776-031607028440.html" target="element">  </a> </td>
																		<td> <a href="../elements/439ecbd6-56ef-4204-8776-031607028440.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																		<td> <a href="../elements/880b042f-fb1e-4ede-b671-b55c7af3b05d.html" target="element"> Tidsstemple data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/29849cef-7486-4b2a-948c-1d3ae6596da4.html" target="element">  </a> </td>
																		<td> <a href="../elements/29849cef-7486-4b2a-948c-1d3ae6596da4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																		<td> <a href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html" target="element"> Metadataforvaltning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/7d6e9bac-741f-449d-96df-0a8341a6797a.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d6e9bac-741f-449d-96df-0a8341a6797a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element"> Sende data </a> </td>
																		<td> <a href="../elements/6e8c60d0-71b9-47c9-8163-68c15b6ba17a.html" target="element"> Signere dokumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dcdd3a55-1b8f-4c75-9005-623047deff87.html" target="element">  </a> </td>
																		<td> <a href="../elements/dcdd3a55-1b8f-4c75-9005-623047deff87.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element"> Sende data </a> </td>
																		<td> <a href="../elements/75f3f929-5c10-4cc6-bd38-78a74352ccc7.html" target="element"> H&#229;ndtere feil ved datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1ce3f35c-29c0-4f18-9465-f635e0d97b0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ce3f35c-29c0-4f18-9465-f635e0d97b0e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element"> Sende data </a> </td>
																		<td> <a href="../elements/60fc1661-4aa4-4312-9209-4503a9ac5f64.html" target="element"> Tverrrg&#229;ende kapabiliteter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ba45ff1-a2a6-49c9-ac81-b8ed61677db6.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ba45ff1-a2a6-49c9-ac81-b8ed61677db6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element"> Sende data </a> </td>
																		<td> <a href="../elements/e3eb055e-05b7-41a5-a8d8-c1ad5d725569.html" target="element"> Skjerme data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a79d931-05c6-45e5-bdc2-a5ee0dd1f151.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a79d931-05c6-45e5-bdc2-a5ee0dd1f151.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/d095f9ed-52a3-41a2-9d2f-a7ad0ad49277.html" target="element"> Sende data </a> </td>
																		<td> <a href="../elements/f25d96aa-b5b4-4d7d-b252-6e5d99e74ed0.html" target="element"> Distribuer utg&#229;ende hendelser </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>