<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prinsipp 7: Sørg for tillit til oppgaveløsningen</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ebe8141e-ef94-4c86-9a7f-5f387f3e0dc3.png" alt="Prinsipp 7: Sørg for tillit til oppgaveløsningen" usemap="#ebe8141e-ef94-4c86-9a7f-5f387f3e0dc3map"/>
			   <map name="ebe8141e-ef94-4c86-9a7f-5f387f3e0dc3map">
				  				<area shape="rect" coords="714,358,856,443" href="../elements/29ad603f-604b-444b-9b38-8ffa0afd005f.html"  target="element">
				  				<area shape="rect" coords="870,358,1012,443" href="../elements/c4638d54-e9b1-4e6d-b58a-ba0a3ccbfdd6.html"  target="element">
				  				<area shape="rect" coords="246,358,388,443" href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html"  target="element">
				  				<area shape="rect" coords="558,358,700,443" href="../elements/586fe7be-b51b-4cea-ba5b-b3c3202d24c4.html"  target="element">
				  				<area shape="rect" coords="402,358,544,443" href="../elements/c61f952c-d117-4b97-88d3-13df9c90171c.html"  target="element">

				  		<area shape="rect" coords="222,322,1183,462" href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html"  target="element">
				  				<area shape="rect" coords="246,202,415,287" href="../elements/1a90cfde-2470-47aa-a3c9-0879e96424c0.html"  target="element">

				  		<area shape="rect" coords="222,166,1183,310" href="../elements/41bdf827-04eb-446a-a6ed-46862638f511.html"  target="element">
				  				<area shape="rect" coords="1146,46,1315,131" href="../elements/1f9ff02e-a6c7-464a-ba7a-ac25f2c4fbee.html"  target="element">
				  				<area shape="rect" coords="966,46,1135,131" href="../elements/5d52c984-92e1-4dd8-9d37-a3e2c2538a79.html"  target="element">
				  				<area shape="rect" coords="426,46,595,131" href="../elements/6fa5f14b-c070-4bc5-939b-76f37853697e.html"  target="element">
				  				<area shape="rect" coords="606,46,775,131" href="../elements/551b8911-324f-43ab-b76c-8fa06ed0d8df.html"  target="element">
				  				<area shape="rect" coords="246,46,415,131" href="../elements/5e0d3f29-e9bf-4491-9a3e-6d9e6bc1c4d5.html"  target="element">
				  				<area shape="rect" coords="786,46,955,131" href="../elements/4919f26b-01e3-4015-839e-7fdf81ef9af5.html"  target="element">

				  		<area shape="rect" coords="222,10,1327,154" href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html"  target="element">
				  		<area shape="rect" coords="10,12,143,464" href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">[.lead]
Innbyggere, n&#230;ringsliv og frivillige organisasjoner skal ha tillit til at offentlige virksomheter l&#248;ser sine oppgaver p&#229; en god og sikker m&#229;te. Dette forutsetter at forvaltningen etterlever regelverket og ivaretar krav til rettssikkerhet, effektivitet, informasjonssikkerhet og personvern.

== Forklaring
Offentlig forvaltning skal i s&#229; stor grad som mulig v&#230;re &#229;pen og gjennomsiktig om regler, prosesser, data, tjenester og vedtak. Dette inneb&#230;rer &#229; synliggj&#248;re hva forvaltningen gj&#248;r p&#229; en m&#229;te som er forst&#229;elig for innbyggere, n&#230;ringsliv og andre forvaltningsorganer.

== Begrunnelse
Begrunnelsen for prinsippet er at tillit til offentlig oppgavel&#248;sning er en forutsetning for at innbyggere, n&#230;ringsliv og frivillige organisasjoner velger de digitale offentlige tjenestene. Beskyttelse av rettssikkerhet, effektivitet, personvern, informasjonssikkerhet, &#229;penhet og gjennomsiktighet er viktige bidrag til denne tilliten.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element"> Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen </a> </td>
											    <td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
											    <td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4919f26b-01e3-4015-839e-7fdf81ef9af5.html" target="element"> 7.4 F&#248;lg Datatilsynets prinsipper og anbefalinger for personvern. </a> </td>
													    <td> <a href="../elements/4919f26b-01e3-4015-839e-7fdf81ef9af5.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5e0d3f29-e9bf-4491-9a3e-6d9e6bc1c4d5.html" target="element"> 7.1 I valget mellom ulike arkitekturalternativer skal hensynet til rettssikkerhet, effektivitet, informasjonssikkerhet og personvern vektlegges og veies opp mot hverandre. </a> </td>
													    <td> <a href="../elements/5e0d3f29-e9bf-4491-9a3e-6d9e6bc1c4d5.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/551b8911-324f-43ab-b76c-8fa06ed0d8df.html" target="element"> 7.3 Virksomhetene m&#229; ha styring og kontroll som s&#248;rger for at informasjonssikkerhet og personvern er ivaretatt i tjenestene. </a> </td>
													    <td> <a href="../elements/551b8911-324f-43ab-b76c-8fa06ed0d8df.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6fa5f14b-c070-4bc5-939b-76f37853697e.html" target="element"> 7.2 Personvern og informasjonssikkerhet skal ivaretas gjennom alle utviklingsfaser og hele livsl&#248;pet for arkitekturer og l&#248;sninger. </a> </td>
													    <td> <a href="../elements/6fa5f14b-c070-4bc5-939b-76f37853697e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5d52c984-92e1-4dd8-9d37-a3e2c2538a79.html" target="element"> 7.5 S&#248;rg for at beslutninger og vedtak som fattes i oppgavel&#248;sningen er klart formulert, sporbare og etterpr&#248;vbare. </a> </td>
													    <td> <a href="../elements/5d52c984-92e1-4dd8-9d37-a3e2c2538a79.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1f9ff02e-a6c7-464a-ba7a-ac25f2c4fbee.html" target="element"> 7.6 S&#248;rg for &#229; overholde gjeldende krav til dokumentasjon av saksbehandling og vedtak i et langtidsperspektiv, slik dette er gitt i lovverk for samfunnsdokumentasjon og arkiver. </a> </td>
													    <td> <a href="../elements/1f9ff02e-a6c7-464a-ba7a-ac25f2c4fbee.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/41bdf827-04eb-446a-a6ed-46862638f511.html" target="element"> Anbefalinger (prinsipp 7) </a> </td>
											    <td> <a href="../elements/41bdf827-04eb-446a-a6ed-46862638f511.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1a90cfde-2470-47aa-a3c9-0879e96424c0.html" target="element"> 7.7 F&#248;lg Digitaliseringsdirektoratets anbefalinger for informasjonssikkerhet. </a> </td>
													    <td> <a href="../elements/1a90cfde-2470-47aa-a3c9-0879e96424c0.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
											    <td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c61f952c-d117-4b97-88d3-13df9c90171c.html" target="element"> Veiledninger for personvernlovgivningen (Datatilsynet) </a> </td>
													    <td> <a href="../elements/c61f952c-d117-4b97-88d3-13df9c90171c.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/586fe7be-b51b-4cea-ba5b-b3c3202d24c4.html" target="element"> Personvernprinsipper (Datatilsynet) </a> </td>
													    <td> <a href="../elements/586fe7be-b51b-4cea-ba5b-b3c3202d24c4.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html" target="element"> Internkontroll i praksis &#8211; informasjonssikkerhet (Digdir) </a> </td>
													    <td> <a href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c4638d54-e9b1-4e6d-b58a-ba0a3ccbfdd6.html" target="element"> Veileder til eForvaltningsforskriften (Regjeringen) </a> </td>
													    <td> <a href="../elements/c4638d54-e9b1-4e6d-b58a-ba0a3ccbfdd6.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/29ad603f-604b-444b-9b38-8ffa0afd005f.html" target="element"> Veiledning for systemteknisk sikkerhet (NSM) </a> </td>
													    <td> <a href="../elements/29ad603f-604b-444b-9b38-8ffa0afd005f.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e91d2da2-b49d-4e4c-bb13-89351b5c420e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e91d2da2-b49d-4e4c-bb13-89351b5c420e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/551b8911-324f-43ab-b76c-8fa06ed0d8df.html" target="element"> 7.3 Virksomhetene m&#229; ha styring og kontroll som s&#248;rger for at informasjonssikkerhet og personvern er ivaretatt i tjenestene. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d888ef8-8f2e-4d5b-ba21-128cb41ba3a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d888ef8-8f2e-4d5b-ba21-128cb41ba3a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/6fa5f14b-c070-4bc5-939b-76f37853697e.html" target="element"> 7.2 Personvern og informasjonssikkerhet skal ivaretas gjennom alle utviklingsfaser og hele livsl&#248;pet for arkitekturer og l&#248;sninger. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b999e69-5dae-4140-9b21-47fb9905f4a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b999e69-5dae-4140-9b21-47fb9905f4a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/4919f26b-01e3-4015-839e-7fdf81ef9af5.html" target="element"> 7.4 F&#248;lg Datatilsynets prinsipper og anbefalinger for personvern. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/280813db-7755-4130-9f2c-ef5778f61917.html" target="element">  </a> </td>
																		<td> <a href="../elements/280813db-7755-4130-9f2c-ef5778f61917.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/5d52c984-92e1-4dd8-9d37-a3e2c2538a79.html" target="element"> 7.5 S&#248;rg for at beslutninger og vedtak som fattes i oppgavel&#248;sningen er klart formulert, sporbare og etterpr&#248;vbare. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c0615de-9b83-43a4-9242-21e28d1db039.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c0615de-9b83-43a4-9242-21e28d1db039.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/5e0d3f29-e9bf-4491-9a3e-6d9e6bc1c4d5.html" target="element"> 7.1 I valget mellom ulike arkitekturalternativer skal hensynet til rettssikkerhet, effektivitet, informasjonssikkerhet og personvern vektlegges og veies opp mot hverandre. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/219b51b4-b1a4-4895-a1e9-c84ec7185aa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/219b51b4-b1a4-4895-a1e9-c84ec7185aa7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element"> Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2d3ed66-013c-463b-9dac-aed57b7cd83f.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2d3ed66-013c-463b-9dac-aed57b7cd83f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fc8d0ee0-c02e-44ec-adf5-8c9f97e6f75b.html" target="element"> Krav (prinsipp 7) </a> </td>
																		<td> <a href="../elements/1f9ff02e-a6c7-464a-ba7a-ac25f2c4fbee.html" target="element"> 7.6 S&#248;rg for &#229; overholde gjeldende krav til dokumentasjon av saksbehandling og vedtak i et langtidsperspektiv, slik dette er gitt i lovverk for samfunnsdokumentasjon og arkiver. </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/fccea83e-27f0-4208-8744-0b68b6a09b10.html" target="element">  </a> </td>
																		<td> <a href="../elements/fccea83e-27f0-4208-8744-0b68b6a09b10.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/41bdf827-04eb-446a-a6ed-46862638f511.html" target="element"> Anbefalinger (prinsipp 7) </a> </td>
																		<td> <a href="../elements/1a90cfde-2470-47aa-a3c9-0879e96424c0.html" target="element"> 7.7 F&#248;lg Digitaliseringsdirektoratets anbefalinger for informasjonssikkerhet. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d8fd64dd-b5a2-4667-a15e-7ffe14d9a2bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8fd64dd-b5a2-4667-a15e-7ffe14d9a2bd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/41bdf827-04eb-446a-a6ed-46862638f511.html" target="element"> Anbefalinger (prinsipp 7) </a> </td>
																		<td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element"> Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/28c6736f-734b-4720-a5b3-32a01b0ce5f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/28c6736f-734b-4720-a5b3-32a01b0ce5f1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
																		<td> <a href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html" target="element"> Internkontroll i praksis &#8211; informasjonssikkerhet (Digdir) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7946f2fc-8694-42bd-93cc-c9d3afe33cbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/7946f2fc-8694-42bd-93cc-c9d3afe33cbf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
																		<td> <a href="../elements/586fe7be-b51b-4cea-ba5b-b3c3202d24c4.html" target="element"> Personvernprinsipper (Datatilsynet) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03c4bdcb-f894-4b31-b831-41712f63e1f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/03c4bdcb-f894-4b31-b831-41712f63e1f8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
																		<td> <a href="../elements/c4638d54-e9b1-4e6d-b58a-ba0a3ccbfdd6.html" target="element"> Veileder til eForvaltningsforskriften (Regjeringen) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2de759b1-a0d7-46f7-adcc-bbc993962a1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2de759b1-a0d7-46f7-adcc-bbc993962a1e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
																		<td> <a href="../elements/29ad603f-604b-444b-9b38-8ffa0afd005f.html" target="element"> Veiledning for systemteknisk sikkerhet (NSM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/56d64ded-e451-4feb-83fa-e8ec401ae16a.html" target="element">  </a> </td>
																		<td> <a href="../elements/56d64ded-e451-4feb-83fa-e8ec401ae16a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
																		<td> <a href="../elements/c61f952c-d117-4b97-88d3-13df9c90171c.html" target="element"> Veiledninger for personvernlovgivningen (Datatilsynet) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/22c4e765-0f0c-4471-ace3-9fa58dc0ac1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/22c4e765-0f0c-4471-ace3-9fa58dc0ac1b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/122b4939-7e59-449a-b455-7fdbe76f800c.html" target="element"> Ressurser (prinsipp 7) </a> </td>
																		<td> <a href="../elements/371fcfe5-d493-4647-8bf0-4f92624f989f.html" target="element"> Prinsipp 7: S&#248;rg for tillit til oppgavel&#248;sningen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>