<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fra meldingsutveksling til tjenestekjeder</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fra meldingsutveksling til tjenestekjeder</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-05cc8c45a03d490eabffe8b01adbac09.png" alt="Fra meldingsutveksling til tjenestekjeder" usemap="#id-05cc8c45a03d490eabffe8b01adbac09map"/>
			   <map name="id-05cc8c45a03d490eabffe8b01adbac09map">
				          <area shape="rect" coords="351,202,383,222" href="../objects/id-7c01ccc5a8b34ceea27f13867a62a0f1.html" target="element" >
				          <area shape="rect" coords="198,177,536,203" href="../objects/id-845f9a631fde42b5849c45492fb4e7ae.html" target="element" >
				          <area shape="rect" coords="506,286,538,306" href="../objects/id-1c3f908b69d94dd88c3d180a4b4dabd3.html" target="element" >
				          <area shape="rect" coords="210,286,242,306" href="../objects/id-cfc64252079248f5a5683d3601dac394.html" target="element" >
				          <area shape="rect" coords="351,118,383,138" href="../objects/id-7747af96a7e846e395485c379c18b50f.html" target="element" >
				  		        <area shape="rect" coords="68,34,111,71" href="../objects/id-7ea97e7ae0224352b7a7d4c41187b978.html" target="element" >
				  		        <area shape="rect" coords="45,274,135,298" href="../objects/id-782c0de426ea4ecd980aa6b893b4a86a.html" target="element" >
				  		        <area shape="rect" coords="29,250,146,311" href="../objects/id-23ac3cc349e541c4a27224f9b3c4b1f7.html" target="element" >
				  				        <area shape="rect" coords="41,190,131,214" href="../objects/id-c64e40fe7e7948d88a508966af438148.html" target="element" >

				  		        <area shape="rect" coords="29,166,146,227" href="../objects/id-841e4b788ad14ec5b3f94fed083cbefb.html" target="element" >
				  				        <area shape="rect" coords="41,106,131,130" href="../objects/id-f10f0d41d26d4d1ebb9d55e63794c1c9.html" target="element" >

				  		        <area shape="rect" coords="29,82,146,143" href="../objects/id-c56f921c393a49d2813386235acce738.html" target="element" >

				          <area shape="rect" coords="14,10,164,335" href="../objects/id-aa7374cf30104ab9865ae4c73a442e4c.html" target="element" >
				  		        <area shape="rect" coords="644,34,687,71" href="../objects/id-a951ce9e57884cc49b78b585c18ba5f5.html" target="element" >
				  				        <area shape="rect" coords="624,190,714,214" href="../objects/id-4dcfa7a022cb422e955816c44b08ebf4.html" target="element" >

				  		        <area shape="rect" coords="612,166,729,227" href="../objects/id-619258d117534cf098454806a950d061.html" target="element" >
				  		        <area shape="rect" coords="626,274,716,298" href="../objects/id-33aa36c67fad4ffe9edbd114b6268d7d.html" target="element" >
				  		        <area shape="rect" coords="610,251,727,312" href="../objects/id-a1b2c9cfb73c4755802cfc1bb90bf4b0.html" target="element" >
				  				        <area shape="rect" coords="624,106,714,130" href="../objects/id-c69219c3fa6d4162a0066f1e79362af4.html" target="element" >

				  		        <area shape="rect" coords="612,82,729,143" href="../objects/id-3047a5b17e4c4097a67f776cfcd89578.html" target="element" >

				          <area shape="rect" coords="596,10,746,335" href="../objects/id-9a946f4c2dc3440fbfdd6cd29d1ea60c.html" target="element" >
				          <area shape="rect" coords="10,346,746,538" href="../objects/id-7f69cdc4b13a4b62881708b6b8149fa2.html" target="element" >
				          <area shape="rect" coords="470,257,585,283" href="../objects/id-61aa2f2aca6549cfa2d679a82b318273.html" target="element" >
				          <area shape="rect" coords="170,257,291,283" href="../objects/id-ca1ba25ce37d46439e5f569b84cf554f.html" target="element" >
				          <area shape="rect" coords="337,258,413,296" href="../objects/id-bd9cc99551304e26b3607c64aaca944b.html" target="element" >
				          <area shape="rect" coords="186,93,547,119" href="../objects/id-3772c0a10d994cd180e71c3ecd1baf9b.html" target="element" >
				          <area shape="rect" coords="302,237,452,317" href="../objects/id-50b3f64f0b2c43b4857380b58976850b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Teknologier for meldingsutveksling (eksempler):

    * Transportprotokoller - ebXML, HTTP, REST, GraphQL, ..
    * Nye teknologier - lenkede data, blockhain
    * Fellesl&#248;sninger

TO-DO: Forskellen p&#229; REST  og RPC... NB: RPC p&#229; innsiden, REST p&#229; utsiden


Valg av utvekslingsm&#248;nster og teknisk l&#248;sning ut fra:

	* Forretningsmessig behov - brukstilfeller  
	* Lovp&#229;lagte krav
	* Strategiske f&#248;ringer
	* Antall avsendere og mottakere
	* Kjente eller ukjente mottakere
	* Kvalitetskrav, eks. responstid, leveringssikkerhet
	* Tilgjengelig teknologi
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-50b3f64f0b2c43b4857380b58976850b.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-50b3f64f0b2c43b4857380b58976850b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3772c0a10d994cd180e71c3ecd1baf9b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3772c0a10d994cd180e71c3ecd1baf9b.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bd9cc99551304e26b3607c64aaca944b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bd9cc99551304e26b3607c64aaca944b.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ca1ba25ce37d46439e5f569b84cf554f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ca1ba25ce37d46439e5f569b84cf554f.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-61aa2f2aca6549cfa2d679a82b318273.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-61aa2f2aca6549cfa2d679a82b318273.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7f69cdc4b13a4b62881708b6b8149fa2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7f69cdc4b13a4b62881708b6b8149fa2.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9a946f4c2dc3440fbfdd6cd29d1ea60c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9a946f4c2dc3440fbfdd6cd29d1ea60c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-3047a5b17e4c4097a67f776cfcd89578.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3047a5b17e4c4097a67f776cfcd89578.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-c69219c3fa6d4162a0066f1e79362af4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c69219c3fa6d4162a0066f1e79362af4.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-a1b2c9cfb73c4755802cfc1bb90bf4b0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a1b2c9cfb73c4755802cfc1bb90bf4b0.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-33aa36c67fad4ffe9edbd114b6268d7d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-33aa36c67fad4ffe9edbd114b6268d7d.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-619258d117534cf098454806a950d061.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-619258d117534cf098454806a950d061.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-4dcfa7a022cb422e955816c44b08ebf4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4dcfa7a022cb422e955816c44b08ebf4.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-a951ce9e57884cc49b78b585c18ba5f5.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-a951ce9e57884cc49b78b585c18ba5f5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-aa7374cf30104ab9865ae4c73a442e4c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aa7374cf30104ab9865ae4c73a442e4c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-c56f921c393a49d2813386235acce738.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c56f921c393a49d2813386235acce738.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-f10f0d41d26d4d1ebb9d55e63794c1c9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f10f0d41d26d4d1ebb9d55e63794c1c9.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-841e4b788ad14ec5b3f94fed083cbefb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-841e4b788ad14ec5b3f94fed083cbefb.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-c64e40fe7e7948d88a508966af438148.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c64e40fe7e7948d88a508966af438148.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-23ac3cc349e541c4a27224f9b3c4b1f7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-23ac3cc349e541c4a27224f9b3c4b1f7.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-782c0de426ea4ecd980aa6b893b4a86a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-782c0de426ea4ecd980aa6b893b4a86a.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7ea97e7ae0224352b7a7d4c41187b978.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7ea97e7ae0224352b7a7d4c41187b978.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-7747af96a7e846e395485c379c18b50f.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-7747af96a7e846e395485c379c18b50f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cfc64252079248f5a5683d3601dac394.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-cfc64252079248f5a5683d3601dac394.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1c3f908b69d94dd88c3d180a4b4dabd3.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-1c3f908b69d94dd88c3d180a4b4dabd3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-845f9a631fde42b5849c45492fb4e7ae.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-845f9a631fde42b5849c45492fb4e7ae.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7c01ccc5a8b34ceea27f13867a62a0f1.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-7c01ccc5a8b34ceea27f13867a62a0f1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>