<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fra meldingsutveksling til tjenestekjeder (med tjeneste)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fra meldingsutveksling til tjenestekjeder (med tjeneste)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-17a3684691984acd99ed5424c6fbc492.png" alt="Fra meldingsutveksling til tjenestekjeder (med tjeneste)" usemap="#id-17a3684691984acd99ed5424c6fbc492map"/>
			   <map name="id-17a3684691984acd99ed5424c6fbc492map">
				          <area shape="rect" coords="341,202,373,222" href="../objects/id-e6d85714860c414eb34e758dbbbe6ab2.html" target="element" >
				          <area shape="rect" coords="231,172,483,198" href="../objects/id-f98abc3fdd6b40279098070b7e0d22e4.html" target="element" >
				          <area shape="rect" coords="496,276,528,296" href="../objects/id-99554920c9dd4eb88742a462f585af40.html" target="element" >
				          <area shape="rect" coords="200,276,232,296" href="../objects/id-343e01ff69bd4dd4b9af2512a42ccb33.html" target="element" >
				          <area shape="rect" coords="341,118,373,138" href="../objects/id-05cbdee2890649eb9130686f951dbf5a.html" target="element" >
				  		        <area shape="rect" coords="60,34,103,71" href="../objects/id-0452fbc436ae43459cbdc64c808e326c.html" target="element" >
				  		        <area shape="rect" coords="43,275,120,299" href="../objects/id-55f767a8873a41aa8337527dc4831891.html" target="element" >
				  		        <area shape="rect" coords="30,244,133,305" href="../objects/id-6ef0684d02d34a999004b6698d3a97e3.html" target="element" >
				  				        <area shape="rect" coords="66,190,100,214" href="../objects/id-5f609cfae9c44ae58ef1e351ab92e8ca.html" target="element" >

				  		        <area shape="rect" coords="30,166,133,227" href="../objects/id-67f12859a0f44ba6b111a851b426d030.html" target="element" >
				  				        <area shape="rect" coords="42,106,119,130" href="../objects/id-10d1f2c499d24834ac7bbdfd93bc577c.html" target="element" >

				  		        <area shape="rect" coords="30,82,133,143" href="../objects/id-c0149676f3954d928b1174801fecf5e9.html" target="element" >

				          <area shape="rect" coords="15,10,147,335" href="../objects/id-051705bcb05a4b11aea4b132b418e625.html" target="element" >
				  		        <area shape="rect" coords="630,34,673,71" href="../objects/id-6f6b1d266f414d0dbd303caa5b5e9060.html" target="element" >
				  				        <area shape="rect" coords="638,190,673,214" href="../objects/id-3796402b4d2c4978907ac774f36fadeb.html" target="element" >

				  		        <area shape="rect" coords="602,166,705,227" href="../objects/id-5255f4522abc484f87e2c040626127fc.html" target="element" >
				  		        <area shape="rect" coords="611,275,693,299" href="../objects/id-32d29c399b5a44da8943b9673ef8a156.html" target="element" >
				  		        <area shape="rect" coords="600,245,703,306" href="../objects/id-c95e30ea52ee47f8a35791944b8d1c46.html" target="element" >
				  				        <area shape="rect" coords="614,106,696,130" href="../objects/id-e64244b3b7ae4862ad86443ba885d366.html" target="element" >

				  		        <area shape="rect" coords="602,82,705,143" href="../objects/id-47ba21029206445bb941b200603bb3bf.html" target="element" >

				          <area shape="rect" coords="586,10,718,335" href="../objects/id-f16974618f614ca8be171c2737a350e6.html" target="element" >
				          <area shape="rect" coords="10,346,724,538" href="../objects/id-937ab3cce16e4a2391b061b2ac3fa9df.html" target="element" >
				          <area shape="rect" coords="460,251,575,277" href="../objects/id-401db05dffc943a88ec73c76b35b1793.html" target="element" >
				          <area shape="rect" coords="160,251,272,277" href="../objects/id-25574d7c349740ed99b72f3ae7c00f2e.html" target="element" >
				          <area shape="rect" coords="327,252,403,290" href="../objects/id-935b3cae9f6c40efba87bc2a8f209676.html" target="element" >
				          <area shape="rect" coords="208,88,538,114" href="../objects/id-32b6938f7f004af0852fb650876ceee5.html" target="element" >
				          <area shape="rect" coords="292,231,442,311" href="../objects/id-e8dc30649760458f97213e7690889659.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Teknologier for meldingsutveksling (eksempler):

    * Transportprotokoller - ebXML, HTTP, REST, GraphQL, ..
    * Nye teknologier - lenkede data, blockhain
    * Fellesl&#248;sninger

TO-DO: Forskellen p&#229; REST  og RPC... NB: RPC p&#229; innsiden, REST p&#229; utsiden


Valg av utvekslingsm&#248;nster og teknisk l&#248;sning ut fra:

	* Forretningsmessig behov - brukstilfeller  
	* Lovp&#229;lagte krav
	* Strategiske f&#248;ringer
	* Antall avsendere og mottakere
	* Kjente eller ukjente mottakere
	* Kvalitetskrav, eks. responstid, leveringssikkerhet
	* Tilgjengelig teknologi
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e8dc30649760458f97213e7690889659.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-e8dc30649760458f97213e7690889659.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-32b6938f7f004af0852fb650876ceee5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-32b6938f7f004af0852fb650876ceee5.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-935b3cae9f6c40efba87bc2a8f209676.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-935b3cae9f6c40efba87bc2a8f209676.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-25574d7c349740ed99b72f3ae7c00f2e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-25574d7c349740ed99b72f3ae7c00f2e.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-401db05dffc943a88ec73c76b35b1793.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-401db05dffc943a88ec73c76b35b1793.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-937ab3cce16e4a2391b061b2ac3fa9df.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-937ab3cce16e4a2391b061b2ac3fa9df.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f16974618f614ca8be171c2737a350e6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f16974618f614ca8be171c2737a350e6.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-47ba21029206445bb941b200603bb3bf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-47ba21029206445bb941b200603bb3bf.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-e64244b3b7ae4862ad86443ba885d366.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e64244b3b7ae4862ad86443ba885d366.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-c95e30ea52ee47f8a35791944b8d1c46.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c95e30ea52ee47f8a35791944b8d1c46.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-32d29c399b5a44da8943b9673ef8a156.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-32d29c399b5a44da8943b9673ef8a156.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5255f4522abc484f87e2c040626127fc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5255f4522abc484f87e2c040626127fc.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-3796402b4d2c4978907ac774f36fadeb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3796402b4d2c4978907ac774f36fadeb.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-6f6b1d266f414d0dbd303caa5b5e9060.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-6f6b1d266f414d0dbd303caa5b5e9060.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-051705bcb05a4b11aea4b132b418e625.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-051705bcb05a4b11aea4b132b418e625.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-c0149676f3954d928b1174801fecf5e9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c0149676f3954d928b1174801fecf5e9.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-10d1f2c499d24834ac7bbdfd93bc577c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-10d1f2c499d24834ac7bbdfd93bc577c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-67f12859a0f44ba6b111a851b426d030.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-67f12859a0f44ba6b111a851b426d030.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-5f609cfae9c44ae58ef1e351ab92e8ca.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5f609cfae9c44ae58ef1e351ab92e8ca.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-6ef0684d02d34a999004b6698d3a97e3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6ef0684d02d34a999004b6698d3a97e3.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-55f767a8873a41aa8337527dc4831891.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-55f767a8873a41aa8337527dc4831891.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0452fbc436ae43459cbdc64c808e326c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0452fbc436ae43459cbdc64c808e326c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-05cbdee2890649eb9130686f951dbf5a.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-05cbdee2890649eb9130686f951dbf5a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-343e01ff69bd4dd4b9af2512a42ccb33.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-343e01ff69bd4dd4b9af2512a42ccb33.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-99554920c9dd4eb88742a462f585af40.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-99554920c9dd4eb88742a462f585af40.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f98abc3fdd6b40279098070b7e0d22e4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f98abc3fdd6b40279098070b7e0d22e4.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e6d85714860c414eb34e758dbbbe6ab2.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-e6d85714860c414eb34e758dbbbe6ab2.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>