<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Erik mappings 1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Erik mappings 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3d0e2940c755486690fcbad5977de640.png" alt="Erik mappings 1" usemap="#id-3d0e2940c755486690fcbad5977de640map"/>
			   <map name="id-3d0e2940c755486690fcbad5977de640map">
				  		<area shape="rect" coords="35,376,168,447" href="../elements/id-8bdfccd81c4c47eeaaf65f021c27eee4.html"  target="element">
				          <area shape="rect" coords="37,263,222,343" href="../objects/id-2513cffcc832463eaed5ebfdec92e9e7.html" target="element" >
				  		<area shape="rect" coords="10,142,143,213" href="../elements/id-e116bf6be8f546e59d5c86498ccc61c4.html"  target="element">
				  		<area shape="rect" coords="454,504,587,575" href="../elements/id-20a868f246904abc957626ea122195ee.html"  target="element">
				  		<area shape="rect" coords="421,46,554,117" href="../elements/id-1de9a160bbf8477586ffb0ee278ffeb9.html"  target="element">
				  		<area shape="rect" coords="421,128,554,199" href="../elements/id-41ee9b264c634d87bea154070859c668.html"  target="element">
				  		<area shape="rect" coords="982,706,1115,777" href="../elements/id-4f3a999823f94595a1ef096955cf63b7.html"  target="element">
				  		<area shape="rect" coords="466,636,599,707" href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html"  target="element">
				  		<area shape="rect" coords="1078,574,1211,645" href="../elements/id-9abdc643b4804fc49cb3169d0070723d.html"  target="element">
				  		<area shape="rect" coords="1282,406,1415,477" href="../elements/id-38e6a3921869437fb7ec37d524d6eceb.html"  target="element">
				  		<area shape="rect" coords="1054,380,1187,451" href="../elements/id-7d4f96e8173e4ae58112b2589290482e.html"  target="element">
				  		<area shape="rect" coords="1222,178,1355,249" href="../elements/id-3f65cbb7276540519e6e4fa8591f9b14.html"  target="element">
				  		<area shape="rect" coords="1246,310,1379,381" href="../elements/id-b44fb6c0fa6c42168cddcfe40b17668c.html"  target="element">
				  		<area shape="rect" coords="1222,48,1355,119" href="../elements/id-00fd330e9e154f658703c3a2731d51c3.html"  target="element">
				  		<area shape="rect" coords="646,636,779,707" href="../elements/id-d0ce7ce793b84de6a40cbd8249674449.html"  target="element">
				  		<area shape="rect" coords="850,442,983,513" href="../elements/id-669599d8c2844bf6bca89e5473fccd55.html"  target="element">
				  		<area shape="rect" coords="850,358,983,429" href="../elements/id-7aabc540d8b24d2fa4b9f7f6262dcd41.html"  target="element">
				  		<area shape="rect" coords="862,178,995,249" href="../elements/id-ec048a4f06d542e08689c00535932b0a.html"  target="element">
				  		<area shape="rect" coords="862,92,995,163" href="../elements/id-3cc5c3d6a47e499eb73b34a089b6fc5e.html"  target="element">
				  		<area shape="rect" coords="658,358,791,429" href="../elements/id-e8dd76b7ff784bdb94591feb9f043c4e.html"  target="element">
				  		<area shape="rect" coords="658,178,791,249" href="../elements/id-957cb515c9e7426bb963b969ac748d88.html"  target="element">
				  		<area shape="rect" coords="862,10,995,81" href="../elements/id-a00f6d4083904f4cbca6c4a1e9e50a6a.html"  target="element">
				  		<area shape="rect" coords="658,58,791,129" href="../elements/id-e9c8c5d66a53482c9ca7357122c2fda6.html"  target="element">
				  				<area shape="rect" coords="226,610,359,681" href="../elements/id-35051f97e42c448a9200b69986a00f20.html"  target="element">
				  				<area shape="rect" coords="226,694,359,765" href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html"  target="element">
				  				<area shape="rect" coords="226,778,359,849" href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html"  target="element">

				  		<area shape="rect" coords="214,586,371,863" href="../elements/id-6bafde36fa0d43e0a60b4cfb47d7c0ef.html"  target="element">
				  				<area shape="rect" coords="226,226,359,297" href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html"  target="element">
				  				<area shape="rect" coords="226,478,359,549" href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html"  target="element">
				  				<area shape="rect" coords="226,394,359,465" href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html"  target="element">
				  				<area shape="rect" coords="226,310,359,381" href="../elements/id-06e20a4698944c409149eb06da84f609.html"  target="element">
				  				<area shape="rect" coords="226,142,359,213" href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html"  target="element">

				  		<area shape="rect" coords="214,118,371,563" href="../elements/id-58c77aae04854d74b5991ef18d709df7.html"  target="element">
				  		<area shape="rect" coords="226,22,359,93" href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html" target="element"> Integrerbare sluttbrukertjenestrer </a> </td>
											    <td> <a href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
													    <td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element"> Sammenstilling av data </a> </td>
													    <td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element"> Distribuerte datakilder </a> </td>
													    <td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element"> Registre </a> </td>
													    <td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html" target="element"> Ressurser for dataanalyse </a> </td>
													    <td> <a href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6bafde36fa0d43e0a60b4cfb47d7c0ef.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-6bafde36fa0d43e0a60b4cfb47d7c0ef.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element"> Datautveksling og integrasjon </a> </td>
													    <td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element"> Tillitstjenester </a> </td>
													    <td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element"> Katalogtjenester </a> </td>
													    <td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e9c8c5d66a53482c9ca7357122c2fda6.html" target="element"> Delta i Europeiske programmer </a> </td>
											    <td> <a href="../elements/id-e9c8c5d66a53482c9ca7357122c2fda6.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a00f6d4083904f4cbca6c4a1e9e50a6a.html" target="element"> EU DIGITAL </a> </td>
											    <td> <a href="../elements/id-a00f6d4083904f4cbca6c4a1e9e50a6a.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-957cb515c9e7426bb963b969ac748d88.html" target="element"> Delta i Nordisk-baltisk samarbeid (CBDS) </a> </td>
											    <td> <a href="../elements/id-957cb515c9e7426bb963b969ac748d88.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8dd76b7ff784bdb94591feb9f043c4e.html" target="element"> F&#248;lg internasjonalt standardiseringsarbeid </a> </td>
											    <td> <a href="../elements/id-e8dd76b7ff784bdb94591feb9f043c4e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cc5c3d6a47e499eb73b34a089b6fc5e.html" target="element"> EU HORIZON </a> </td>
											    <td> <a href="../elements/id-3cc5c3d6a47e499eb73b34a089b6fc5e.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec048a4f06d542e08689c00535932b0a.html" target="element"> Promoting cross-border data exchange between authorities </a> </td>
											    <td> <a href="../elements/id-ec048a4f06d542e08689c00535932b0a.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7aabc540d8b24d2fa4b9f7f6262dcd41.html" target="element"> Referansearkitekturer </a> </td>
											    <td> <a href="../elements/id-7aabc540d8b24d2fa4b9f7f6262dcd41.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-669599d8c2844bf6bca89e5473fccd55.html" target="element"> EU-s Rolling Plan for ICT Standardisation </a> </td>
											    <td> <a href="../elements/id-669599d8c2844bf6bca89e5473fccd55.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0ce7ce793b84de6a40cbd8249674449.html" target="element"> IDS Reference Architecture Model (2019) </a> </td>
											    <td> <a href="../elements/id-d0ce7ce793b84de6a40cbd8249674449.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00fd330e9e154f658703c3a2731d51c3.html" target="element"> EU-kommisjonen </a> </td>
											    <td> <a href="../elements/id-00fd330e9e154f658703c3a2731d51c3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b44fb6c0fa6c42168cddcfe40b17668c.html" target="element"> Data Spaces Business Alliance (DSBA) </a> </td>
											    <td> <a href="../elements/id-b44fb6c0fa6c42168cddcfe40b17668c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f65cbb7276540519e6e4fa8591f9b14.html" target="element"> Nordisk r&#229;d </a> </td>
											    <td> <a href="../elements/id-3f65cbb7276540519e6e4fa8591f9b14.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d4f96e8173e4ae58112b2589290482e.html" target="element"> Gaia-X target architecture </a> </td>
											    <td> <a href="../elements/id-7d4f96e8173e4ae58112b2589290482e.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38e6a3921869437fb7ec37d524d6eceb.html" target="element"> OPEN DEI  </a> </td>
											    <td> <a href="../elements/id-38e6a3921869437fb7ec37d524d6eceb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9abdc643b4804fc49cb3169d0070723d.html" target="element"> OPEN DEI Reference Architecture Framework </a> </td>
											    <td> <a href="../elements/id-9abdc643b4804fc49cb3169d0070723d.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
											    <td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f3a999823f94595a1ef096955cf63b7.html" target="element"> SDGR OOP Architecture </a> </td>
											    <td> <a href="../elements/id-4f3a999823f94595a1ef096955cf63b7.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41ee9b264c634d87bea154070859c668.html" target="element"> M&#229; delta for &#229; f&#229; tilgang til oppdatert informasjon </a> </td>
											    <td> <a href="../elements/id-41ee9b264c634d87bea154070859c668.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1de9a160bbf8477586ffb0ee278ffeb9.html" target="element"> Tilgang til oppdatert informasjon </a> </td>
											    <td> <a href="../elements/id-1de9a160bbf8477586ffb0ee278ffeb9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20a868f246904abc957626ea122195ee.html" target="element"> Data Spaces RA </a> </td>
											    <td> <a href="../elements/id-20a868f246904abc957626ea122195ee.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e116bf6be8f546e59d5c86498ccc61c4.html" target="element"> Cloud platform </a> </td>
											    <td> <a href="../elements/id-e116bf6be8f546e59d5c86498ccc61c4.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2513cffcc832463eaed5ebfdec92e9e7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2513cffcc832463eaed5ebfdec92e9e7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-8bdfccd81c4c47eeaaf65f021c27eee4.html" target="element"> Open source </a> </td>
											    <td> <a href="../elements/id-8bdfccd81c4c47eeaaf65f021c27eee4.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ee393e3043ba481eb15d53736384503c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee393e3043ba481eb15d53736384503c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-620ff8e1670a4fb7a23fa8d46b6080ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-620ff8e1670a4fb7a23fa8d46b6080ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element"> Sammenstilling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88ae38067d834ea097e0fe474904700d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88ae38067d834ea097e0fe474904700d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element"> Distribuerte datakilder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8cb22d1c78674e2ea25d6130e6afa13c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cb22d1c78674e2ea25d6130e6afa13c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element"> Registre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e4dd4dc8d9f4ba385fa85eec546fd59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e4dd4dc8d9f4ba385fa85eec546fd59.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58c77aae04854d74b5991ef18d709df7.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html" target="element"> Ressurser for dataanalyse </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3e33fc1c5e7042aa88c762733e3fbe48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e33fc1c5e7042aa88c762733e3fbe48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bafde36fa0d43e0a60b4cfb47d7c0ef.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element"> Datautveksling og integrasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2f685894c094dfabc3b63825191ed4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2f685894c094dfabc3b63825191ed4a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bafde36fa0d43e0a60b4cfb47d7c0ef.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element"> Tillitstjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63e877dc6cf94409b23dfb7777207a0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63e877dc6cf94409b23dfb7777207a0b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bafde36fa0d43e0a60b4cfb47d7c0ef.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element"> Katalogtjenester </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-17ff2b20dd7746459ef708b2d01ab667.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17ff2b20dd7746459ef708b2d01ab667.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a00f6d4083904f4cbca6c4a1e9e50a6a.html" target="element"> EU DIGITAL </a> </td>
																		<td> <a href="../elements/id-e9c8c5d66a53482c9ca7357122c2fda6.html" target="element"> Delta i Europeiske programmer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fe6d79e8d5f34688a4438d437bdbc4f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe6d79e8d5f34688a4438d437bdbc4f4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cc5c3d6a47e499eb73b34a089b6fc5e.html" target="element"> EU HORIZON </a> </td>
																		<td> <a href="../elements/id-e9c8c5d66a53482c9ca7357122c2fda6.html" target="element"> Delta i Europeiske programmer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ffe49c284264e97b28f19e6dbb29407.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ffe49c284264e97b28f19e6dbb29407.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec048a4f06d542e08689c00535932b0a.html" target="element"> Promoting cross-border data exchange between authorities </a> </td>
																		<td> <a href="../elements/id-957cb515c9e7426bb963b969ac748d88.html" target="element"> Delta i Nordisk-baltisk samarbeid (CBDS) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-037ed2f7b43c4f6d9e8dc90abedf157d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-037ed2f7b43c4f6d9e8dc90abedf157d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7aabc540d8b24d2fa4b9f7f6262dcd41.html" target="element"> Referansearkitekturer </a> </td>
																		<td> <a href="../elements/id-e8dd76b7ff784bdb94591feb9f043c4e.html" target="element"> F&#248;lg internasjonalt standardiseringsarbeid </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-301904ffd73d4a2b921858e91177d835.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-301904ffd73d4a2b921858e91177d835.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0ce7ce793b84de6a40cbd8249674449.html" target="element"> IDS Reference Architecture Model (2019) </a> </td>
																		<td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6678c1b96f04439f9d2b052acd37f2bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6678c1b96f04439f9d2b052acd37f2bb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
																		<td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element"> Katalogtjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7c91b7748a049a78d151d661fcf222d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7c91b7748a049a78d151d661fcf222d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
																		<td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element"> Tillitstjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08dcaf9a2d0c41f1bcc013ecc5a135b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08dcaf9a2d0c41f1bcc013ecc5a135b7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
																		<td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element"> Datautveksling og integrasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1a54cc47e8841ba871142a450423c76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1a54cc47e8841ba871142a450423c76.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
																		<td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element"> Registre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94454927a2cc49a0bb496ba25474acce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94454927a2cc49a0bb496ba25474acce.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1396aa733fdc40b292572b0dd14d413c.html" target="element"> OPEN DEI Position Paper - Design Prinsiples for Data Spaces (2021-03) </a> </td>
																		<td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element"> Distribuerte datakilder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e719d31b7da944fa89afbb6e9a2bf036.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e719d31b7da944fa89afbb6e9a2bf036.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-20a868f246904abc957626ea122195ee.html" target="element"> Data Spaces RA </a> </td>
																		<td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element"> Sammenstilling av data </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>