<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Utvalgte aktører</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Utvalgte akt&#248;rer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-396a07774547406e8014faaea611ba51.png" alt="Utvalgte aktører" usemap="#id-396a07774547406e8014faaea611ba51map"/>
			   <map name="id-396a07774547406e8014faaea611ba51map">
				  				<area shape="rect" coords="250,202,387,273" href="../elements/id-24d48028e5b44e0795cec623b767ba91.html"  target="element">

				  		<area shape="rect" coords="226,166,626,306" href="../elements/id-6f52e28d5cef4225b9b440288c03b1e7.html"  target="element">
				  		<area shape="rect" coords="10,190,147,261" href="../elements/id-16b25ee9d40c4433958153c540980506.html"  target="element">
				  				<area shape="rect" coords="238,46,375,117" href="../elements/id-18684016b0e84e2a8738721f7b8aaf65.html"  target="element">

				  		<area shape="rect" coords="226,10,626,150" href="../elements/id-d406adfaa07444009a7438a57ecf87b6.html"  target="element">
				  		<area shape="rect" coords="10,310,147,381" href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html"  target="element">
				  		<area shape="rect" coords="10,34,147,105" href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Utvalgte akt&#248;rer</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html" target="element"> Direktoratet for samfunnssikkerhet og beredskap (DSB) </a> </td>
											    <td> <a href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html" target="element"> Direktoratet for forvaltning og &#248;konomistyring (DF&#216;) </a> </td>
											    <td> <a href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d406adfaa07444009a7438a57ecf87b6.html" target="element"> Rapporter og evalueringer, DSB </a> </td>
											    <td> <a href="../elements/id-d406adfaa07444009a7438a57ecf87b6.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-18684016b0e84e2a8738721f7b8aaf65.html" target="element"> Risikostyring i digitale verdikjeder (DSB) </a> </td>
													    <td> <a href="../elements/id-18684016b0e84e2a8738721f7b8aaf65.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-16b25ee9d40c4433958153c540980506.html" target="element"> NSM </a> </td>
											    <td> <a href="../elements/id-16b25ee9d40c4433958153c540980506.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f52e28d5cef4225b9b440288c03b1e7.html" target="element"> Digital sikkerhet (NSM) </a> </td>
											    <td> <a href="../elements/id-6f52e28d5cef4225b9b440288c03b1e7.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-24d48028e5b44e0795cec623b767ba91.html" target="element"> Grunnprinsipper for IKT-sikkerhet 2.0 (NSM) </a> </td>
													    <td> <a href="../elements/id-24d48028e5b44e0795cec623b767ba91.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a33ea507ad5b47a49f2cc4da5edab6b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a33ea507ad5b47a49f2cc4da5edab6b0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html" target="element"> Direktoratet for samfunnssikkerhet og beredskap (DSB) </a> </td>
																		<td> <a href="../elements/id-18684016b0e84e2a8738721f7b8aaf65.html" target="element"> Risikostyring i digitale verdikjeder (DSB) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7949217359f4dd0aa8ecf19b56ecb35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7949217359f4dd0aa8ecf19b56ecb35.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d406adfaa07444009a7438a57ecf87b6.html" target="element"> Rapporter og evalueringer, DSB </a> </td>
																		<td> <a href="../elements/id-18684016b0e84e2a8738721f7b8aaf65.html" target="element"> Risikostyring i digitale verdikjeder (DSB) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c96aeb43f355459f992e62d6e45fd1a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c96aeb43f355459f992e62d6e45fd1a2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-16b25ee9d40c4433958153c540980506.html" target="element"> NSM </a> </td>
																		<td> <a href="../elements/id-24d48028e5b44e0795cec623b767ba91.html" target="element"> Grunnprinsipper for IKT-sikkerhet 2.0 (NSM) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b6c2f119d834a08a59268a6aa5480f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b6c2f119d834a08a59268a6aa5480f9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6f52e28d5cef4225b9b440288c03b1e7.html" target="element"> Digital sikkerhet (NSM) </a> </td>
																		<td> <a href="../elements/id-24d48028e5b44e0795cec623b767ba91.html" target="element"> Grunnprinsipper for IKT-sikkerhet 2.0 (NSM) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>