<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Dødsfall og arv</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>D&#248;dsfall og arv</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3d821785f0e545fb9c3ddb8dc04925e3.png" alt="Dødsfall og arv" usemap="#id-3d821785f0e545fb9c3ddb8dc04925e3map"/>
			   <map name="id-3d821785f0e545fb9c3ddb8dc04925e3map">
				  		<area shape="rect" coords="10,10,147,83" href="../elements/id-8feeedb8bd77470f9878b31c652c2962.html"  target="element">
				  				<area shape="rect" coords="269,682,406,753" href="../elements/id-e765f7b8a071461ba2e28f72389b4410.html"  target="element">

				  		<area shape="rect" coords="245,646,546,767" href="../elements/id-d9ed361fe0d64420b361e7607fc92cb9.html"  target="element">
				  				<area shape="rect" coords="593,142,730,213" href="../elements/id-7fbe5c8342c14bc6b41b462b6e734c09.html"  target="element">
				  				<area shape="rect" coords="269,142,406,213" href="../elements/id-54d0cde940ff453b932f6c4e39d91d3d.html"  target="element">
				  				<area shape="rect" coords="437,142,574,213" href="../elements/id-43cf84085cb64dc981906522cd9ad423.html"  target="element">

				  		<area shape="rect" coords="245,106,750,227" href="../elements/id-85ba80811d804b40b3542c601b8d7745.html"  target="element">
				  						<area shape="rect" coords="801,310,938,381" href="../elements/id-2d0f86140fe8479c84c7e268fb470929.html"  target="element">
				  						<area shape="rect" coords="801,394,938,465" href="../elements/id-c8cd5847629449e8ac25dc0a652a75bf.html"  target="element">
				  						<area shape="rect" coords="1379,310,1516,381" href="../elements/id-17899c9644c74fa5b25b3f307b5a5439.html"  target="element">
				  						<area shape="rect" coords="509,394,646,465" href="../elements/id-777b1c1b85fd49b3a5e1eac78c11600f.html"  target="element">
				  						<area shape="rect" coords="653,394,790,465" href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html"  target="element">
				  						<area shape="rect" coords="509,310,646,381" href="../elements/id-d52df42cbfae4ed6ba4e28d36acf54f8.html"  target="element">
				  						<area shape="rect" coords="653,310,790,381" href="../elements/a6542f11-07ef-4d3d-8d0e-864c985c104d.html"  target="element">

				  				<area shape="rect" coords="497,274,966,479" href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html"  target="element">
				  				<area shape="rect" coords="281,310,418,381" href="../elements/id-d1b3b4788d324723abe82d72b072839e.html"  target="element">
				  				<area shape="rect" coords="281,394,418,465" href="../elements/id-782b313039504a008a16e4f95ae5317d.html"  target="element">

				  		<area shape="rect" coords="245,238,971,503" href="../elements/id-ee52206f32534100bef8295069bfdd27.html"  target="element">
				  				<area shape="rect" coords="268,550,405,621" href="../elements/id-ab9d87c06a5c487f949861f2920a99bb.html"  target="element">

				  		<area shape="rect" coords="244,514,533,635" href="../elements/id-b6cbcf7ec5174f7896bfe16656aec971.html"  target="element">
				  		<area shape="rect" coords="10,106,147,767" href="../elements/id-8de8562aa462425fbd664fff89a6e808.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">D&#248;dsfall og arv</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
											    <td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6cbcf7ec5174f7896bfe16656aec971.html" target="element"> Viktige underst&#248;ttende aktiviteter - d&#248;dsfall og arv </a> </td>
											    <td> <a href="../elements/id-b6cbcf7ec5174f7896bfe16656aec971.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ab9d87c06a5c487f949861f2920a99bb.html" target="element"> DSOP-prosjektet "Oppgj&#248;r etter d&#248;dsfall" </a> </td>
													    <td> <a href="../elements/id-ab9d87c06a5c487f949861f2920a99bb.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ee52206f32534100bef8295069bfdd27.html" target="element"> Involverte - d&#248;dsfall og arv </a> </td>
											    <td> <a href="../elements/id-ee52206f32534100bef8295069bfdd27.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
													    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
													    <td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a6542f11-07ef-4d3d-8d0e-864c985c104d.html" target="element"> Kartverket </a> </td>
															    <td> <a href="../elements/a6542f11-07ef-4d3d-8d0e-864c985c104d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d52df42cbfae4ed6ba4e28d36acf54f8.html" target="element"> NAV </a> </td>
															    <td> <a href="../elements/id-d52df42cbfae4ed6ba4e28d36acf54f8.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element"> Skatteetaten </a> </td>
															    <td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-777b1c1b85fd49b3a5e1eac78c11600f.html" target="element"> DSOP </a> </td>
															    <td> <a href="../elements/id-777b1c1b85fd49b3a5e1eac78c11600f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-17899c9644c74fa5b25b3f307b5a5439.html" target="element"> Finansakt&#248;rer </a> </td>
															    <td> <a href="../elements/id-17899c9644c74fa5b25b3f307b5a5439.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c8cd5847629449e8ac25dc0a652a75bf.html" target="element"> Domstoladministrasjonen </a> </td>
															    <td> <a href="../elements/id-c8cd5847629449e8ac25dc0a652a75bf.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2d0f86140fe8479c84c7e268fb470929.html" target="element"> Statens vegvesen </a> </td>
															    <td> <a href="../elements/id-2d0f86140fe8479c84c7e268fb470929.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-85ba80811d804b40b3542c601b8d7745.html" target="element"> M&#229;l - d&#248;dsfall og arv </a> </td>
											    <td> <a href="../elements/id-85ba80811d804b40b3542c601b8d7745.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-43cf84085cb64dc981906522cd9ad423.html" target="element"> Digitalisering av prosesser for d&#248;dsfall og arv </a> </td>
													    <td> <a href="../elements/id-43cf84085cb64dc981906522cd9ad423.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54d0cde940ff453b932f6c4e39d91d3d.html" target="element"> Forenkle prosessen etter d&#248;dsfall for de etterlatte </a> </td>
													    <td> <a href="../elements/id-54d0cde940ff453b932f6c4e39d91d3d.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7fbe5c8342c14bc6b41b462b6e734c09.html" target="element"> Bedre sammenheng i tjenester fra det offentlige til etterlatte </a> </td>
													    <td> <a href="../elements/id-7fbe5c8342c14bc6b41b462b6e734c09.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d9ed361fe0d64420b361e7607fc92cb9.html" target="element"> Leveranser - d&#248;dsfall og arv </a> </td>
											    <td> <a href="../elements/id-d9ed361fe0d64420b361e7607fc92cb9.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e765f7b8a071461ba2e28f72389b4410.html" target="element"> ? </a> </td>
													    <td> <a href="../elements/id-e765f7b8a071461ba2e28f72389b4410.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8feeedb8bd77470f9878b31c652c2962.html" target="element"> Sammenhengende tjenester innenfor 7 livshendelser </a> </td>
											    <td> <a href="../elements/id-8feeedb8bd77470f9878b31c652c2962.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2928d11e133e4841959c0f301e208927.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2928d11e133e4841959c0f301e208927.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-85ba80811d804b40b3542c601b8d7745.html" target="element"> M&#229;l - d&#248;dsfall og arv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3df76e534da34dcfbe7b4a1ae06244f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3df76e534da34dcfbe7b4a1ae06244f1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-8feeedb8bd77470f9878b31c652c2962.html" target="element"> Sammenhengende tjenester innenfor 7 livshendelser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b63ceb3c7d44a11b9b92c671f9ad034.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b63ceb3c7d44a11b9b92c671f9ad034.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b6cbcf7ec5174f7896bfe16656aec971.html" target="element"> Viktige underst&#248;ttende aktiviteter - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-ab9d87c06a5c487f949861f2920a99bb.html" target="element"> DSOP-prosjektet "Oppgj&#248;r etter d&#248;dsfall" </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16ff623e261c45bdb3adc7a69eaa5710.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16ff623e261c45bdb3adc7a69eaa5710.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-b6cbcf7ec5174f7896bfe16656aec971.html" target="element"> Viktige underst&#248;ttende aktiviteter - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ca48aa1a475647f090adffbb544d7a5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca48aa1a475647f090adffbb544d7a5b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ee52206f32534100bef8295069bfdd27.html" target="element"> Involverte - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da08560e9843450c8aff73bd61091c83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da08560e9843450c8aff73bd61091c83.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ee52206f32534100bef8295069bfdd27.html" target="element"> Involverte - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56ddd7acfe8840729f9c0cdad1b11843.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56ddd7acfe8840729f9c0cdad1b11843.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ee52206f32534100bef8295069bfdd27.html" target="element"> Involverte - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-327dc4ba4ab14974a25329a314e0d55f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-327dc4ba4ab14974a25329a314e0d55f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9dff55ac32644ac5b21b90c5d1932bee.html" target="element"> utf&#248;rende </a> </td>
																				<td> <a href="../elements/id-9dff55ac32644ac5b21b90c5d1932bee.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																				<td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d6be00afb1cd4578963d6eca59d8869e.html" target="element"> ansvarlig </a> </td>
																				<td> <a href="../elements/id-d6be00afb1cd4578963d6eca59d8869e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																				<td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c9d8a3c8b7e744b8b2fc9575318ed3f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c9d8a3c8b7e744b8b2fc9575318ed3f4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-2d0f86140fe8479c84c7e268fb470929.html" target="element"> Statens vegvesen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b77ec50590874f87a84732e64d2bc7cf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b77ec50590874f87a84732e64d2bc7cf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/a6542f11-07ef-4d3d-8d0e-864c985c104d.html" target="element"> Kartverket </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f9e6976f9e68489ca9f1608e4a31919d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9e6976f9e68489ca9f1608e4a31919d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-d52df42cbfae4ed6ba4e28d36acf54f8.html" target="element"> NAV </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6670c960b3374254a93abb5e3ede3f67.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6670c960b3374254a93abb5e3ede3f67.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-c8cd5847629449e8ac25dc0a652a75bf.html" target="element"> Domstoladministrasjonen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5be24bed042d4bc897178143e553b6f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5be24bed042d4bc897178143e553b6f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element"> Skatteetaten </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-54c5f77ef00a4ef392821f0a93d58b09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-54c5f77ef00a4ef392821f0a93d58b09.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-777b1c1b85fd49b3a5e1eac78c11600f.html" target="element"> DSOP </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-006dd532b2ee42dcb5811ea5576f98ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-006dd532b2ee42dcb5811ea5576f98ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-17899c9644c74fa5b25b3f307b5a5439.html" target="element"> Finansakt&#248;rer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c545009b2b34209b554273dbe34ca01.html" target="element"> st&#248;ttende </a> </td>
																				<td> <a href="../elements/id-3c545009b2b34209b554273dbe34ca01.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-21ff6d89cd8348d88434f0dee83b22de.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - d&#248;dsfall og arv </a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-eabe3682d234492f9c4454f5ea9cc72b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-eabe3682d234492f9c4454f5ea9cc72b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element"> Skatteetaten </a> </td>
																						<td> <a href="../elements/id-ab9d87c06a5c487f949861f2920a99bb.html" target="element"> DSOP-prosjektet "Oppgj&#248;r etter d&#248;dsfall" </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-860e85c662314e3e82ce91d8f88fc2c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-860e85c662314e3e82ce91d8f88fc2c2.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/id-777b1c1b85fd49b3a5e1eac78c11600f.html" target="element"> DSOP </a> </td>
																						<td> <a href="../elements/id-ab9d87c06a5c487f949861f2920a99bb.html" target="element"> DSOP-prosjektet "Oppgj&#248;r etter d&#248;dsfall" </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-15e5194091d24ac9818b4ada363a6792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15e5194091d24ac9818b4ada363a6792.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-85ba80811d804b40b3542c601b8d7745.html" target="element"> M&#229;l - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-43cf84085cb64dc981906522cd9ad423.html" target="element"> Digitalisering av prosesser for d&#248;dsfall og arv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8acfbea489fc472b995592053e67fe2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8acfbea489fc472b995592053e67fe2e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-85ba80811d804b40b3542c601b8d7745.html" target="element"> M&#229;l - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-54d0cde940ff453b932f6c4e39d91d3d.html" target="element"> Forenkle prosessen etter d&#248;dsfall for de etterlatte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21bf6c9942a94344afeb656828f2f84b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21bf6c9942a94344afeb656828f2f84b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-85ba80811d804b40b3542c601b8d7745.html" target="element"> M&#229;l - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-7fbe5c8342c14bc6b41b462b6e734c09.html" target="element"> Bedre sammenheng i tjenester fra det offentlige til etterlatte </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-efb67f10681a4aa897e98bdb86cff65e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efb67f10681a4aa897e98bdb86cff65e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d9ed361fe0d64420b361e7607fc92cb9.html" target="element"> Leveranser - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-e765f7b8a071461ba2e28f72389b4410.html" target="element"> ? </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-841008a8d09344ca906117d7370d0537.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-841008a8d09344ca906117d7370d0537.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d9ed361fe0d64420b361e7607fc92cb9.html" target="element"> Leveranser - d&#248;dsfall og arv </a> </td>
																		<td> <a href="../elements/id-8de8562aa462425fbd664fff89a6e808.html" target="element"> D&#248;dsfall og arv </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>