<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tillitstjenester</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tillitstjenester</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-507882a2d1de44bdbc39829807687ae5.png" alt="Tillitstjenester" usemap="#id-507882a2d1de44bdbc39829807687ae5map"/>
			   <map name="id-507882a2d1de44bdbc39829807687ae5map">
				  		<area shape="rect" coords="28,318,161,619" href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html"  target="element">
				  		<area shape="rect" coords="28,234,161,305" href="../elements/id-48323a9a30e14248aca8b9b5d3d75903.html"  target="element">
				  				<area shape="rect" coords="458,231,591,302" href="../elements/id-3272061da5c54730b28f57ac0feb115d.html"  target="element">
				  				<area shape="rect" coords="290,231,423,302" href="../elements/id-fd3d2cc02ea645c38cd17bfc31e86dfb.html"  target="element">
				  				<area shape="rect" coords="290,393,423,464" href="../elements/id-1fa0597417b6434e83ef241ec8e110dc.html"  target="element">
				  				<area shape="rect" coords="290,636,423,707" href="../elements/id-93c1e3330188475d83611fab246a291b.html"  target="element">
				  				<area shape="rect" coords="290,312,423,383" href="../elements/id-98d275a65ba84d179f28a32214483924.html"  target="element">
				  				<area shape="rect" coords="290,474,423,545" href="../elements/id-92fdb5ae7a674803bc7a24502b22442c.html"  target="element">
				  				<area shape="rect" coords="458,312,591,383" href="../elements/id-29c61d8737254599beee1b7d07f74b0c.html"  target="element">
				  				<area shape="rect" coords="290,717,423,788" href="../elements/id-cbc9e6792b53419ea336a0c3cb937c36.html"  target="element">
				  				<area shape="rect" coords="290,555,423,626" href="../elements/id-ef3c919cd4104e91b4c3ef7791d40ef6.html"  target="element">
				  				<area shape="rect" coords="290,150,423,221" href="../elements/id-1d6a16fca4d04b1fb36b685075968fd1.html"  target="element">

				  		<area shape="rect" coords="218,114,675,811" href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html"  target="element">
				  		<area shape="rect" coords="10,10,143,81" href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:namespace </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">helle</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element"> Tillitstjenester </a> </td>
											    <td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
											    <td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1d6a16fca4d04b1fb36b685075968fd1.html" target="element"> Identifisere og autentisere enheter uten registreringsrett p&#229; tvers av sektorer </a> </td>
													    <td> <a href="../elements/id-1d6a16fca4d04b1fb36b685075968fd1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ef3c919cd4104e91b4c3ef7791d40ef6.html" target="element"> Autentisering av brukere uten tilstrekkelig ferdigheter med bruk av digitale l&#248;sninger/devicer (eks. eldre) </a> </td>
													    <td> <a href="../elements/id-ef3c919cd4104e91b4c3ef7791d40ef6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cbc9e6792b53419ea336a0c3cb937c36.html" target="element"> Tillitstjenester - Autorisasjon. Fullf&#248;re felles l&#248;sning for fullmakter og autorisasjon ved &#229; dekke flere former for representasjonsforhold </a> </td>
													    <td> <a href="../elements/id-cbc9e6792b53419ea336a0c3cb937c36.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29c61d8737254599beee1b7d07f74b0c.html" target="element"> Kobling av relasjonsforhold. Eks. mellom foresatte og barn </a> </td>
													    <td> <a href="../elements/id-29c61d8737254599beee1b7d07f74b0c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92fdb5ae7a674803bc7a24502b22442c.html" target="element"> eID til personer uten f- og D-nummer som m&#248;ter behovet enkelttjenester har for autentisering </a> </td>
													    <td> <a href="../elements/id-92fdb5ae7a674803bc7a24502b22442c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98d275a65ba84d179f28a32214483924.html" target="element"> Sterk autentisering av brukere i alderen 12-17 som gir tilgang til dagens og fremtidige tjenester </a> </td>
													    <td> <a href="../elements/id-98d275a65ba84d179f28a32214483924.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93c1e3330188475d83611fab246a291b.html" target="element"> Digital utstedelse av eID </a> </td>
													    <td> <a href="../elements/id-93c1e3330188475d83611fab246a291b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1fa0597417b6434e83ef241ec8e110dc.html" target="element"> Sterk autentisering av personer som i dag ikke f&#229;r utstedt eID p&#229; niv&#229; h&#248;yt (eldre, med verger, m.m.) </a> </td>
													    <td> <a href="../elements/id-1fa0597417b6434e83ef241ec8e110dc.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fd3d2cc02ea645c38cd17bfc31e86dfb.html" target="element"> Sterk autentisering av personer i kontekst av &#229; v&#230;re ansatt </a> </td>
													    <td> <a href="../elements/id-fd3d2cc02ea645c38cd17bfc31e86dfb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3272061da5c54730b28f57ac0feb115d.html" target="element"> Sterk autentisering av personer med kobling til en virksomhet og med tildelte roller og rettigheter </a> </td>
													    <td> <a href="../elements/id-3272061da5c54730b28f57ac0feb115d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-48323a9a30e14248aca8b9b5d3d75903.html" target="element"> Ansatt-porten </a> </td>
											    <td> <a href="../elements/id-48323a9a30e14248aca8b9b5d3d75903.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html" target="element"> ID-porten </a> </td>
											    <td> <a href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bbd0ccf8fc924ba481d64776405eaca3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbd0ccf8fc924ba481d64776405eaca3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-cbc9e6792b53419ea336a0c3cb937c36.html" target="element"> Tillitstjenester - Autorisasjon. Fullf&#248;re felles l&#248;sning for fullmakter og autorisasjon ved &#229; dekke flere former for representasjonsforhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-355352ae25934aec809d452208f83a77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-355352ae25934aec809d452208f83a77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-92fdb5ae7a674803bc7a24502b22442c.html" target="element"> eID til personer uten f- og D-nummer som m&#248;ter behovet enkelttjenester har for autentisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb00384a56924ee8ab10ef0a8597e51b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb00384a56924ee8ab10ef0a8597e51b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-fd3d2cc02ea645c38cd17bfc31e86dfb.html" target="element"> Sterk autentisering av personer i kontekst av &#229; v&#230;re ansatt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b0ef78344934077aa05f9b9f2313b52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b0ef78344934077aa05f9b9f2313b52.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-1d6a16fca4d04b1fb36b685075968fd1.html" target="element"> Identifisere og autentisere enheter uten registreringsrett p&#229; tvers av sektorer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12f3509bd9f64365b7d887e156c4ab0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12f3509bd9f64365b7d887e156c4ab0b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-ef3c919cd4104e91b4c3ef7791d40ef6.html" target="element"> Autentisering av brukere uten tilstrekkelig ferdigheter med bruk av digitale l&#248;sninger/devicer (eks. eldre) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d80f028f34444caa7c7c77afc5729e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d80f028f34444caa7c7c77afc5729e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-29c61d8737254599beee1b7d07f74b0c.html" target="element"> Kobling av relasjonsforhold. Eks. mellom foresatte og barn </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9496821a747e49ea93918ecd7335e1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9496821a747e49ea93918ecd7335e1b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-98d275a65ba84d179f28a32214483924.html" target="element"> Sterk autentisering av brukere i alderen 12-17 som gir tilgang til dagens og fremtidige tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70f36ff38fbf46cf9f45ba5e826248b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70f36ff38fbf46cf9f45ba5e826248b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-3272061da5c54730b28f57ac0feb115d.html" target="element"> Sterk autentisering av personer med kobling til en virksomhet og med tildelte roller og rettigheter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3d4de32bf734832bcdbb4763edd8228.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3d4de32bf734832bcdbb4763edd8228.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-1fa0597417b6434e83ef241ec8e110dc.html" target="element"> Sterk autentisering av personer som i dag ikke f&#229;r utstedt eID p&#229; niv&#229; h&#248;yt (eldre, med verger, m.m.) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23a4b7324cdb4d2fb4a1eea8743918a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23a4b7324cdb4d2fb4a1eea8743918a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebee2ea7d023496fac3d90632b91f2c9.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-93c1e3330188475d83611fab246a291b.html" target="element"> Digital utstedelse av eID </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0df37b5307c9484998c728963629c9c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0df37b5307c9484998c728963629c9c8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98d275a65ba84d179f28a32214483924.html" target="element"> Sterk autentisering av brukere i alderen 12-17 som gir tilgang til dagens og fremtidige tjenester </a> </td>
																				<td> <a href="../elements/id-29c61d8737254599beee1b7d07f74b0c.html" target="element"> Kobling av relasjonsforhold. Eks. mellom foresatte og barn </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6f0c05a5622f45b6bd3b246bb3095ec1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f0c05a5622f45b6bd3b246bb3095ec1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fd3d2cc02ea645c38cd17bfc31e86dfb.html" target="element"> Sterk autentisering av personer i kontekst av &#229; v&#230;re ansatt </a> </td>
																				<td> <a href="../elements/id-3272061da5c54730b28f57ac0feb115d.html" target="element"> Sterk autentisering av personer med kobling til en virksomhet og med tildelte roller og rettigheter </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1e076f1d3d8a4db1a5d4d41a95e30056.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e076f1d3d8a4db1a5d4d41a95e30056.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48323a9a30e14248aca8b9b5d3d75903.html" target="element"> Ansatt-porten </a> </td>
																		<td> <a href="../elements/id-fd3d2cc02ea645c38cd17bfc31e86dfb.html" target="element"> Sterk autentisering av personer i kontekst av &#229; v&#230;re ansatt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-911bb30c3ea34b7fa67505397a28805a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-911bb30c3ea34b7fa67505397a28805a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html" target="element"> ID-porten </a> </td>
																		<td> <a href="../elements/id-98d275a65ba84d179f28a32214483924.html" target="element"> Sterk autentisering av brukere i alderen 12-17 som gir tilgang til dagens og fremtidige tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f4c8f1de4ba4e34a56ac3737a6df8f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f4c8f1de4ba4e34a56ac3737a6df8f5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html" target="element"> ID-porten </a> </td>
																		<td> <a href="../elements/id-1fa0597417b6434e83ef241ec8e110dc.html" target="element"> Sterk autentisering av personer som i dag ikke f&#229;r utstedt eID p&#229; niv&#229; h&#248;yt (eldre, med verger, m.m.) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-904590410d0e45efa5a39fa5a713909c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-904590410d0e45efa5a39fa5a713909c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html" target="element"> ID-porten </a> </td>
																		<td> <a href="../elements/id-92fdb5ae7a674803bc7a24502b22442c.html" target="element"> eID til personer uten f- og D-nummer som m&#248;ter behovet enkelttjenester har for autentisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad83b26a22474ce3afb0b55e7ff1e6e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad83b26a22474ce3afb0b55e7ff1e6e6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff90b17a41664ae4b0f224dbd71eaee9.html" target="element"> ID-porten </a> </td>
																		<td> <a href="../elements/id-ef3c919cd4104e91b4c3ef7791d40ef6.html" target="element"> Autentisering av brukere uten tilstrekkelig ferdigheter med bruk av digitale l&#248;sninger/devicer (eks. eldre) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>