<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Råd og styrende organer, Digdir</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>R&#229;d og styrende organer, Digdir</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-619fc35c1e9d4444bc0a1bef5e25d3cd.png" alt="Råd og styrende organer, Digdir" usemap="#id-619fc35c1e9d4444bc0a1bef5e25d3cdmap"/>
			   <map name="id-619fc35c1e9d4444bc0a1bef5e25d3cdmap">
				  		<area shape="rect" coords="308,10,441,81" href="../elements/id-b81ced24881d45dfa8abc30f94ec3d81.html"  target="element">
				  		<area shape="rect" coords="164,10,297,81" href="../elements/id-0ad0735e7ecc46608f1001e8fe106870.html"  target="element">
				  		<area shape="rect" coords="10,10,9,9" href="../elements/id-6b2e8a6c4a0348ed911289701ef0f000.html"  target="element">
				  		<area shape="rect" coords="608,94,745,165" href="../elements/id-cb3798e25bd445beab5d7fcf3f719b46.html"  target="element">
				  		<area shape="rect" coords="452,94,589,165" href="../elements/id-8f95fdfa1b9d462d8106a1c41a128ef7.html"  target="element">
				  		<area shape="rect" coords="308,94,441,165" href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html"  target="element">
				  		<area shape="rect" coords="164,94,297,165" href="../elements/id-a96bc51b05084f1195e111b5ebe6cb8d.html"  target="element">
				  		<area shape="rect" coords="12,94,145,165" href="../elements/id-2f5bd4ccc049453bb89bbc8d412680b6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2f5bd4ccc049453bb89bbc8d412680b6.html" target="element"> Nasjonal koordinator for CEF og  ISA2 </a> </td>
											    <td> <a href="../elements/id-2f5bd4ccc049453bb89bbc8d412680b6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a96bc51b05084f1195e111b5ebe6cb8d.html" target="element"> Prosjekt-, program- og portef&#248;ljestyringsnettverket (PPP-nettverket) </a> </td>
											    <td> <a href="../elements/id-a96bc51b05084f1195e111b5ebe6cb8d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html" target="element"> Nasjonalt ressurssenter for deling av data </a> </td>
											    <td> <a href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f95fdfa1b9d462d8106a1c41a128ef7.html" target="element"> Skate </a> </td>
											    <td> <a href="../elements/id-8f95fdfa1b9d462d8106a1c41a128ef7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb3798e25bd445beab5d7fcf3f719b46.html" target="element"> Stimulab </a> </td>
											    <td> <a href="../elements/id-cb3798e25bd445beab5d7fcf3f719b46.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b2e8a6c4a0348ed911289701ef0f000.html" target="element"> Arkitektur og standardiseringsr&#229;det </a> </td>
											    <td> <a href="../elements/id-6b2e8a6c4a0348ed911289701ef0f000.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ad0735e7ecc46608f1001e8fe106870.html" target="element"> Digitaliseringsr&#229;det </a> </td>
											    <td> <a href="../elements/id-0ad0735e7ecc46608f1001e8fe106870.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b81ced24881d45dfa8abc30f94ec3d81.html" target="element"> Innovation@Altinn </a> </td>
											    <td> <a href="../elements/id-b81ced24881d45dfa8abc30f94ec3d81.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>