<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digital sikkerhet i kritiske samfunnsfunksjoner</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digital sikkerhet i kritiske samfunnsfunksjoner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-65225382acb34065bcf74f125582f4e3.png" alt="Digital sikkerhet i kritiske samfunnsfunksjoner" usemap="#id-65225382acb34065bcf74f125582f4e3map"/>
			   <map name="id-65225382acb34065bcf74f125582f4e3map">
				  				<area shape="rect" coords="459,142,596,213" href="../elements/id-fe7f78169f814ac5a391bd1412025969.html"  target="element">
				  				<area shape="rect" coords="315,142,452,213" href="../elements/id-9218ba90b4f4489a9b70c5603fae75fe.html"  target="element">
				  				<area shape="rect" coords="459,46,596,117" href="../elements/id-d8b1d05eda754a4c9747c5b0eb91bb1a.html"  target="element">
				  				<area shape="rect" coords="29,142,166,213" href="../elements/id-77d9bd54503245b28ad15bec80eda6af.html"  target="element">
				  				<area shape="rect" coords="315,46,452,117" href="../elements/id-4fc90131cfa64be0aba420b0f05537b8.html"  target="element">
				  				<area shape="rect" coords="601,46,738,117" href="../elements/id-6e06d998bc004b27a579c8594b3478f3.html"  target="element">
				  				<area shape="rect" coords="29,46,166,117" href="../elements/id-ea15f9aacc7442ca8b9e2b04997e678e.html"  target="element">
				  				<area shape="rect" coords="172,46,309,117" href="../elements/id-18bab356ecf44e9b91d9dc8225e24494.html"  target="element">
				  				<area shape="rect" coords="172,142,309,213" href="../elements/id-3193277c32f845598e84e3708596e89a.html"  target="element">

				  		<area shape="rect" coords="10,10,803,239" href="../elements/id-54be868aae974a1d9c4e1d811d540713.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Digital sikkerhet i kritiske samfunnsfunksjoner</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
											    <td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3193277c32f845598e84e3708596e89a.html" target="element"> Tiltak 35: Nasjonalt rammeverk for helhetsvurdering av verdikjeder </a> </td>
													    <td> <a href="../elements/id-3193277c32f845598e84e3708596e89a.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18bab356ecf44e9b91d9dc8225e24494.html" target="element"> Tiltak 30: NIS-direktivet </a> </td>
													    <td> <a href="../elements/id-18bab356ecf44e9b91d9dc8225e24494.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ea15f9aacc7442ca8b9e2b04997e678e.html" target="element"> Tiltak 29: Ny sikkerhetslov </a> </td>
													    <td> <a href="../elements/id-ea15f9aacc7442ca8b9e2b04997e678e.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e06d998bc004b27a579c8594b3478f3.html" target="element"> Tiltak 33: &#216;kt sikkerhet i ekomnett </a> </td>
													    <td> <a href="../elements/id-6e06d998bc004b27a579c8594b3478f3.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fc90131cfa64be0aba420b0f05537b8.html" target="element"> Tiltak 31: Nasjonal kjerneinfrastruktur </a> </td>
													    <td> <a href="../elements/id-4fc90131cfa64be0aba420b0f05537b8.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-77d9bd54503245b28ad15bec80eda6af.html" target="element"> Tiltak 34: Forslag til ny lov om Etterretningstjenesten og tilrettelagtinnhenting av grenseoverskridende elektronisk kommunikasjon </a> </td>
													    <td> <a href="../elements/id-77d9bd54503245b28ad15bec80eda6af.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d8b1d05eda754a4c9747c5b0eb91bb1a.html" target="element"> Tiltak 32: Fiberf&#248;ringer til utlandet </a> </td>
													    <td> <a href="../elements/id-d8b1d05eda754a4c9747c5b0eb91bb1a.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9218ba90b4f4489a9b70c5603fae75fe.html" target="element"> Tiltak 36: NATO Cyber Defence Pledge </a> </td>
													    <td> <a href="../elements/id-9218ba90b4f4489a9b70c5603fae75fe.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe7f78169f814ac5a391bd1412025969.html" target="element"> Tiltak 37: Neste generasjon n&#248;dnett </a> </td>
													    <td> <a href="../elements/id-fe7f78169f814ac5a391bd1412025969.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-51600c5ff3e54383b1ec2c4bd15701dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51600c5ff3e54383b1ec2c4bd15701dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-fe7f78169f814ac5a391bd1412025969.html" target="element"> Tiltak 37: Neste generasjon n&#248;dnett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78f348275d374c9db80d11335e1edc60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78f348275d374c9db80d11335e1edc60.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-d8b1d05eda754a4c9747c5b0eb91bb1a.html" target="element"> Tiltak 32: Fiberf&#248;ringer til utlandet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71919074139b405caba156b747dccc8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71919074139b405caba156b747dccc8c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-6e06d998bc004b27a579c8594b3478f3.html" target="element"> Tiltak 33: &#216;kt sikkerhet i ekomnett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e547026090d549d28d0dcb47e68c6cbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e547026090d549d28d0dcb47e68c6cbf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-9218ba90b4f4489a9b70c5603fae75fe.html" target="element"> Tiltak 36: NATO Cyber Defence Pledge </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ee287b9e1404db1998b5d00ca9764b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ee287b9e1404db1998b5d00ca9764b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-3193277c32f845598e84e3708596e89a.html" target="element"> Tiltak 35: Nasjonalt rammeverk for helhetsvurdering av verdikjeder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b074ae7488054580811c621f4d5de424.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b074ae7488054580811c621f4d5de424.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-18bab356ecf44e9b91d9dc8225e24494.html" target="element"> Tiltak 30: NIS-direktivet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad05daf541834910b1a55f5ce5a681f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad05daf541834910b1a55f5ce5a681f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-77d9bd54503245b28ad15bec80eda6af.html" target="element"> Tiltak 34: Forslag til ny lov om Etterretningstjenesten og tilrettelagtinnhenting av grenseoverskridende elektronisk kommunikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9991183c08304e8ea659fec2d8eb8b7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9991183c08304e8ea659fec2d8eb8b7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-ea15f9aacc7442ca8b9e2b04997e678e.html" target="element"> Tiltak 29: Ny sikkerhetslov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1f9e8cfced74e038f6e0b69729ac3f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1f9e8cfced74e038f6e0b69729ac3f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54be868aae974a1d9c4e1d811d540713.html" target="element"> Digital sikkerhet i kritiske samfunnsfunksjoner </a> </td>
																		<td> <a href="../elements/id-4fc90131cfa64be0aba420b0f05537b8.html" target="element"> Tiltak 31: Nasjonal kjerneinfrastruktur </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>