<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Datautveklsing og integrasjon</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Datautveklsing og integrasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-64869faa98204c979506dcb933189bbb.png" alt="Datautveklsing og integrasjon" usemap="#id-64869faa98204c979506dcb933189bbbmap"/>
			   <map name="id-64869faa98204c979506dcb933189bbbmap">
				  		        <area shape="rect" coords="650,150,819,295" href="../objects/id-ef0725d218d14bb6821c2481af808895.html" target="element" >

				  		<area shape="rect" coords="638,114,855,403" href="../elements/id-10bba01cfef04e84a6b5188afe4b602e.html"  target="element">
				  		<area shape="rect" coords="26,306,159,377" href="../elements/id-5eb0999855ac4c8fb3da1e1520dda2ec.html"  target="element">
				  		<area shape="rect" coords="26,223,159,294" href="../elements/id-164c0c33ec6b431ba5cf1b11129b2766.html"  target="element">
				  		<area shape="rect" coords="26,138,159,209" href="../elements/id-7f0d6b559c334e05927d407936aa01ea.html"  target="element">
				  				<area shape="rect" coords="226,306,359,377" href="../elements/id-767a0773c412498d85d425cea4fda036.html"  target="element">
				  				<area shape="rect" coords="226,222,359,293" href="../elements/id-9a5edad5ef8a43cc8a8720773bc5a139.html"  target="element">
				  				<area shape="rect" coords="226,141,359,212" href="../elements/id-39fd54e1ffd84b5d9951d0cc7cb997a6.html"  target="element">
				  				<area shape="rect" coords="410,141,543,212" href="../elements/id-a1fc7ee45a614edbb8404cbdef688a7f.html"  target="element">

				  		<area shape="rect" coords="206,114,606,403" href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html"  target="element">
				  		<area shape="rect" coords="10,10,143,81" href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:namespace </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">helle</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element"> Datautveksling og integrasjon </a> </td>
											    <td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html" target="element"> Datautveksling og integrasjoner </a> </td>
											    <td> <a href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1fc7ee45a614edbb8404cbdef688a7f.html" target="element"> "Tjenester kan abonnere p&#229; ""Hendelser"" som grunnlag for videre agering.Tilby tjenester &#229; sp&#248;rre etter hendelser.Endringer som medf&#248;rer en hendelse kan publiseres slik at andre tjenester kan agere p&#229; denne hendelsen.En hendelsesl&#248;sning som kan v&#230;re konsument mot andre hendelsesl&#248;sninger.Dataminimering og tilgangsstyring av hendelser kan forvaltes og realiseres.Granulering av hendelser er mulig, og er basert p&#229; brukernes behov eller andre rammebetingelser (f.eks. om en hendelse inkluderer data om hendelsen i tillegg til selve hendelsen, eller ikke -&gt; behov for eOppslag).Hendelser forvaltes med ulik krav og behov for levetid og tilbakerulling." </a> </td>
													    <td> <a href="../elements/id-a1fc7ee45a614edbb8404cbdef688a7f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-39fd54e1ffd84b5d9951d0cc7cb997a6.html" target="element"> Tilby en tjeneste &#229; formidle hendelser fra en hendelseskilde til konsument av hendelse. </a> </td>
													    <td> <a href="../elements/id-39fd54e1ffd84b5d9951d0cc7cb997a6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9a5edad5ef8a43cc8a8720773bc5a139.html" target="element"> L&#248;sning for &#229; hente data fra mange standardiserte tjenesteleverand&#248;rer, der tjenesten ikke p&#229; forh&#229;nd kjenner til hvem og hvor mange leverand&#248;rer som fins. </a> </td>
													    <td> <a href="../elements/id-9a5edad5ef8a43cc8a8720773bc5a139.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-767a0773c412498d85d425cea4fda036.html" target="element"> Ta vare p&#229; data i et langtidsperspektiv </a> </td>
													    <td> <a href="../elements/id-767a0773c412498d85d425cea4fda036.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7f0d6b559c334e05927d407936aa01ea.html" target="element"> Hendelsesfeed </a> </td>
											    <td> <a href="../elements/id-7f0d6b559c334e05927d407936aa01ea.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-164c0c33ec6b431ba5cf1b11129b2766.html" target="element"> eAdressering </a> </td>
											    <td> <a href="../elements/id-164c0c33ec6b431ba5cf1b11129b2766.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5eb0999855ac4c8fb3da1e1520dda2ec.html" target="element"> Innebygget arkivering </a> </td>
											    <td> <a href="../elements/id-5eb0999855ac4c8fb3da1e1520dda2ec.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10bba01cfef04e84a6b5188afe4b602e.html" target="element"> Internasjonalt </a> </td>
											    <td> <a href="../elements/id-10bba01cfef04e84a6b5188afe4b602e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-ef0725d218d14bb6821c2481af808895.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ef0725d218d14bb6821c2481af808895.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b74bdc812aab401ca24a84353dd83746.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b74bdc812aab401ca24a84353dd83746.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html" target="element"> Datautveksling og integrasjoner </a> </td>
																		<td> <a href="../elements/id-9a5edad5ef8a43cc8a8720773bc5a139.html" target="element"> L&#248;sning for &#229; hente data fra mange standardiserte tjenesteleverand&#248;rer, der tjenesten ikke p&#229; forh&#229;nd kjenner til hvem og hvor mange leverand&#248;rer som fins. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12380ef10b834a2a9a011a6200e981dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12380ef10b834a2a9a011a6200e981dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html" target="element"> Datautveksling og integrasjoner </a> </td>
																		<td> <a href="../elements/id-767a0773c412498d85d425cea4fda036.html" target="element"> Ta vare p&#229; data i et langtidsperspektiv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f52a247e79d4a42a7b97f35412c609d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f52a247e79d4a42a7b97f35412c609d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html" target="element"> Datautveksling og integrasjoner </a> </td>
																		<td> <a href="../elements/id-39fd54e1ffd84b5d9951d0cc7cb997a6.html" target="element"> Tilby en tjeneste &#229; formidle hendelser fra en hendelseskilde til konsument av hendelse. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7d83e15b0a64d3cbc510622538678eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7d83e15b0a64d3cbc510622538678eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2413584e4a3a46cea48a887151f9f55f.html" target="element"> Datautveksling og integrasjoner </a> </td>
																		<td> <a href="../elements/id-a1fc7ee45a614edbb8404cbdef688a7f.html" target="element"> "Tjenester kan abonnere p&#229; ""Hendelser"" som grunnlag for videre agering.Tilby tjenester &#229; sp&#248;rre etter hendelser.Endringer som medf&#248;rer en hendelse kan publiseres slik at andre tjenester kan agere p&#229; denne hendelsen.En hendelsesl&#248;sning som kan v&#230;re konsument mot andre hendelsesl&#248;sninger.Dataminimering og tilgangsstyring av hendelser kan forvaltes og realiseres.Granulering av hendelser er mulig, og er basert p&#229; brukernes behov eller andre rammebetingelser (f.eks. om en hendelse inkluderer data om hendelsen i tillegg til selve hendelsen, eller ikke -&gt; behov for eOppslag).Hendelser forvaltes med ulik krav og behov for levetid og tilbakerulling." </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7ec0577d63494a228c1ee043740beb64.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7ec0577d63494a228c1ee043740beb64.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-39fd54e1ffd84b5d9951d0cc7cb997a6.html" target="element"> Tilby en tjeneste &#229; formidle hendelser fra en hendelseskilde til konsument av hendelse. </a> </td>
																				<td> <a href="../elements/id-a1fc7ee45a614edbb8404cbdef688a7f.html" target="element"> "Tjenester kan abonnere p&#229; ""Hendelser"" som grunnlag for videre agering.Tilby tjenester &#229; sp&#248;rre etter hendelser.Endringer som medf&#248;rer en hendelse kan publiseres slik at andre tjenester kan agere p&#229; denne hendelsen.En hendelsesl&#248;sning som kan v&#230;re konsument mot andre hendelsesl&#248;sninger.Dataminimering og tilgangsstyring av hendelser kan forvaltes og realiseres.Granulering av hendelser er mulig, og er basert p&#229; brukernes behov eller andre rammebetingelser (f.eks. om en hendelse inkluderer data om hendelsen i tillegg til selve hendelsen, eller ikke -&gt; behov for eOppslag).Hendelser forvaltes med ulik krav og behov for levetid og tilbakerulling." </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5f0a57e6dc6d4d329f4217ede00c0910.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f0a57e6dc6d4d329f4217ede00c0910.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f0d6b559c334e05927d407936aa01ea.html" target="element"> Hendelsesfeed </a> </td>
																		<td> <a href="../elements/id-39fd54e1ffd84b5d9951d0cc7cb997a6.html" target="element"> Tilby en tjeneste &#229; formidle hendelser fra en hendelseskilde til konsument av hendelse. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a57552a5dc0d45108da5dc1bca628e43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a57552a5dc0d45108da5dc1bca628e43.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-164c0c33ec6b431ba5cf1b11129b2766.html" target="element"> eAdressering </a> </td>
																		<td> <a href="../elements/id-9a5edad5ef8a43cc8a8720773bc5a139.html" target="element"> L&#248;sning for &#229; hente data fra mange standardiserte tjenesteleverand&#248;rer, der tjenesten ikke p&#229; forh&#229;nd kjenner til hvem og hvor mange leverand&#248;rer som fins. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6739454757b14927af4f5b3380efcd1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6739454757b14927af4f5b3380efcd1d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5eb0999855ac4c8fb3da1e1520dda2ec.html" target="element"> Innebygget arkivering </a> </td>
																		<td> <a href="../elements/id-767a0773c412498d85d425cea4fda036.html" target="element"> Ta vare p&#229; data i et langtidsperspektiv </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>