<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Meldinger, lagdelt modell</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Meldinger, lagdelt modell</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-618f520814bc4b108864f395dcdea62e.png" alt="Meldinger, lagdelt modell" usemap="#id-618f520814bc4b108864f395dcdea62emap"/>
			   <map name="id-618f520814bc4b108864f395dcdea62emap">
				          <area shape="rect" coords="153,10,349,46" href="../objects/id-04252ccffb294fbc8d310790869e9cd4.html" target="element" >
				  		        <area shape="rect" coords="433,370,476,407" href="../objects/id-1645fa22f49244f1a39bf6d659ffeac0.html" target="element" >

				          <area shape="rect" coords="415,364,488,425" href="../objects/id-aa28fb00d6b5462eaf94a6a943af5850.html" target="element" >
				  		        <area shape="rect" coords="28,370,71,407" href="../objects/id-ac49ca49aa9b4e1d9f970240c4c9579b.html" target="element" >

				          <area shape="rect" coords="10,364,83,425" href="../objects/id-7eaedf36626e481990bf94c62e05862c.html" target="element" >
				          <area shape="rect" coords="577,252,614,278" href="../objects/id-080b995445e74e299173e3950cd8a6dd.html" target="element" >
				          <area shape="rect" coords="505,129,693,175" href="../objects/id-16ec89ff01fc43aabd6839acf1cebcc5.html" target="element" >
				          <area shape="rect" coords="556,313,614,360" href="../objects/id-6e53b60ed184474fb4739a334ed1b812.html" target="element" >
				          <area shape="rect" coords="515,275,557,312" href="../objects/id-0205ce18cfe246b4bd4a76a162f8a4b3.html" target="element" >
				          <area shape="rect" coords="505,66,693,112" href="../objects/id-ac56631297e84e45bbe49abfcac849ca.html" target="element" >
				          <area shape="rect" coords="152,269,308,295" href="../objects/id-42e490c3e9b344a0bbd51c027ed6e311.html" target="element" >
				          <area shape="rect" coords="306,396,333,417" href="../objects/id-ed67fc4b09bd4bc99b4023984dc8a805.html" target="element" >
				          <area shape="rect" coords="304,366,335,387" href="../objects/id-447f54dbc14b475693361515ae5f80c1.html" target="element" >
				          <area shape="rect" coords="181,372,307,398" href="../objects/id-14c693e2edd74c34b6e063219006a155.html" target="element" >
				          <area shape="rect" coords="307,65,332,90" href="../objects/id-be778f1536014b0e96193fc63bd58c2c.html" target="element" >
				          <area shape="rect" coords="625,280,665,317" href="../objects/id-ff82d0d3cca848089411fd4e55160448.html" target="element" >
				          <area shape="rect" coords="506,190,694,364" href="../objects/id-c65e2596085a4e73bb6136ac76d3a63f.html" target="element" >
				          <area shape="rect" coords="143,316,329,342" href="../objects/id-7031779aad374d0283acc2540fb43d34.html" target="element" >
				          <area shape="rect" coords="138,252,368,276" href="../objects/id-e12d937888a449608d410a71d03496bf.html" target="element" >
				          <area shape="rect" coords="144,190,343,216" href="../objects/id-5208eb72a4244977bd49eff8e8916943.html" target="element" >
				          <area shape="rect" coords="172,129,305,155" href="../objects/id-71fec02c4bd2425daf840aefcdda45da.html" target="element" >
				          <area shape="rect" coords="194,66,284,90" href="../objects/id-2df5085826ba4d3ea14e8342c305b86e.html" target="element" >
				  		        <area shape="rect" coords="433,64,476,101" href="../objects/id-1036ec7a28aa4115b124b0593eae51a8.html" target="element" >

				          <area shape="rect" coords="415,58,488,119" href="../objects/id-d2a594528db047de942406df274528f8.html" target="element" >
				  		        <area shape="rect" coords="433,133,470,169" href="../objects/id-ac613ce0542642d3b5e76eec92fad469.html" target="element" >
				  		        <area shape="rect" coords="433,317,470,353" href="../objects/id-62bee04c5a3b4787adadfa7d9921b3d3.html" target="element" >
				  		        <area shape="rect" coords="433,253,470,289" href="../objects/id-ef82bcab423944e5b9b18af8a1f03299.html" target="element" >
				  		        <area shape="rect" coords="427,313,476,356" href="../objects/id-4e4e3b561752452e8a1cc1ba34f48a5b.html" target="element" >
				  		        <area shape="rect" coords="427,249,476,292" href="../objects/id-b48fc4f1d9764ac9ade5e204bebb91c3.html" target="element" >
				  		        <area shape="rect" coords="433,193,470,229" href="../objects/id-a6f1c5c605e34805981bd300da86dd21.html" target="element" >
				  		        <area shape="rect" coords="427,189,476,232" href="../objects/id-0f8851e50d7b4635b1bd656bffc99d90.html" target="element" >
				  		        <area shape="rect" coords="427,129,476,172" href="../objects/id-0530c76f1c484d58bb78ed71b8adeb20.html" target="element" >

				          <area shape="rect" coords="415,115,488,369" href="../objects/id-d017a95ba19e41538b973c61ed508dc6.html" target="element" >
				  		        <area shape="rect" coords="28,64,71,101" href="../objects/id-921215e64ba04b3aa38f623cfee87882.html" target="element" >

				          <area shape="rect" coords="10,58,83,119" href="../objects/id-7d44fa112d2649818d2087d68ce728e6.html" target="element" >
				  		        <area shape="rect" coords="28,319,65,355" href="../objects/id-e4ad1384009d4275a74d2c5d353c68ce.html" target="element" >
				  		        <area shape="rect" coords="28,135,65,171" href="../objects/id-33e1b6ded53e4ff2ab3bb3cbeffe3182.html" target="element" >
				  		        <area shape="rect" coords="28,255,65,291" href="../objects/id-593d1f41ab0e4acf80f1cc488e820a63.html" target="element" >
				  		        <area shape="rect" coords="22,131,71,174" href="../objects/id-76e2a63038e845639320a57e7b74ebda.html" target="element" >
				  		        <area shape="rect" coords="22,315,71,358" href="../objects/id-cb8dca1f33fd43ed82c2b92ee2596afc.html" target="element" >
				  		        <area shape="rect" coords="22,251,71,294" href="../objects/id-359f34df80af4742aca939fc2bd8613d.html" target="element" >
				  		        <area shape="rect" coords="28,195,65,231" href="../objects/id-3098e3cc28104e58996e98048e780b6a.html" target="element" >
				  		        <area shape="rect" coords="22,191,71,234" href="../objects/id-aac35bc3e28a42fcb44b9f4d4ec78f7f.html" target="element" >

				          <area shape="rect" coords="10,117,83,367" href="../objects/id-46010cdebc5f48869dabc2c191ed249e.html" target="element" >
				          <area shape="rect" coords="505,379,693,425" href="../objects/id-785ab139408c4a96896f8c9dd714a81c.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-785ab139408c4a96896f8c9dd714a81c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-785ab139408c4a96896f8c9dd714a81c.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-46010cdebc5f48869dabc2c191ed249e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-46010cdebc5f48869dabc2c191ed249e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-aac35bc3e28a42fcb44b9f4d4ec78f7f.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-aac35bc3e28a42fcb44b9f4d4ec78f7f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3098e3cc28104e58996e98048e780b6a.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-3098e3cc28104e58996e98048e780b6a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-359f34df80af4742aca939fc2bd8613d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-359f34df80af4742aca939fc2bd8613d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cb8dca1f33fd43ed82c2b92ee2596afc.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-cb8dca1f33fd43ed82c2b92ee2596afc.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-76e2a63038e845639320a57e7b74ebda.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-76e2a63038e845639320a57e7b74ebda.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-593d1f41ab0e4acf80f1cc488e820a63.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-593d1f41ab0e4acf80f1cc488e820a63.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-33e1b6ded53e4ff2ab3bb3cbeffe3182.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-33e1b6ded53e4ff2ab3bb3cbeffe3182.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e4ad1384009d4275a74d2c5d353c68ce.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-e4ad1384009d4275a74d2c5d353c68ce.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-7d44fa112d2649818d2087d68ce728e6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7d44fa112d2649818d2087d68ce728e6.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-921215e64ba04b3aa38f623cfee87882.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-921215e64ba04b3aa38f623cfee87882.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-d017a95ba19e41538b973c61ed508dc6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d017a95ba19e41538b973c61ed508dc6.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-0530c76f1c484d58bb78ed71b8adeb20.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-0530c76f1c484d58bb78ed71b8adeb20.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0f8851e50d7b4635b1bd656bffc99d90.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-0f8851e50d7b4635b1bd656bffc99d90.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a6f1c5c605e34805981bd300da86dd21.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-a6f1c5c605e34805981bd300da86dd21.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b48fc4f1d9764ac9ade5e204bebb91c3.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b48fc4f1d9764ac9ade5e204bebb91c3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4e4e3b561752452e8a1cc1ba34f48a5b.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-4e4e3b561752452e8a1cc1ba34f48a5b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ef82bcab423944e5b9b18af8a1f03299.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-ef82bcab423944e5b9b18af8a1f03299.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-62bee04c5a3b4787adadfa7d9921b3d3.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-62bee04c5a3b4787adadfa7d9921b3d3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ac613ce0542642d3b5e76eec92fad469.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-ac613ce0542642d3b5e76eec92fad469.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-d2a594528db047de942406df274528f8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d2a594528db047de942406df274528f8.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-1036ec7a28aa4115b124b0593eae51a8.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1036ec7a28aa4115b124b0593eae51a8.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-2df5085826ba4d3ea14e8342c305b86e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2df5085826ba4d3ea14e8342c305b86e.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-71fec02c4bd2425daf840aefcdda45da.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-71fec02c4bd2425daf840aefcdda45da.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5208eb72a4244977bd49eff8e8916943.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5208eb72a4244977bd49eff8e8916943.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e12d937888a449608d410a71d03496bf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e12d937888a449608d410a71d03496bf.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7031779aad374d0283acc2540fb43d34.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7031779aad374d0283acc2540fb43d34.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c65e2596085a4e73bb6136ac76d3a63f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c65e2596085a4e73bb6136ac76d3a63f.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ff82d0d3cca848089411fd4e55160448.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-ff82d0d3cca848089411fd4e55160448.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-be778f1536014b0e96193fc63bd58c2c.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-be778f1536014b0e96193fc63bd58c2c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-14c693e2edd74c34b6e063219006a155.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-14c693e2edd74c34b6e063219006a155.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-447f54dbc14b475693361515ae5f80c1.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-447f54dbc14b475693361515ae5f80c1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ed67fc4b09bd4bc99b4023984dc8a805.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-ed67fc4b09bd4bc99b4023984dc8a805.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-42e490c3e9b344a0bbd51c027ed6e311.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-42e490c3e9b344a0bbd51c027ed6e311.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ac56631297e84e45bbe49abfcac849ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ac56631297e84e45bbe49abfcac849ca.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0205ce18cfe246b4bd4a76a162f8a4b3.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-0205ce18cfe246b4bd4a76a162f8a4b3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6e53b60ed184474fb4739a334ed1b812.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-6e53b60ed184474fb4739a334ed1b812.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-16ec89ff01fc43aabd6839acf1cebcc5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-16ec89ff01fc43aabd6839acf1cebcc5.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-080b995445e74e299173e3950cd8a6dd.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-080b995445e74e299173e3950cd8a6dd.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7eaedf36626e481990bf94c62e05862c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7eaedf36626e481990bf94c62e05862c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-ac49ca49aa9b4e1d9f970240c4c9579b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ac49ca49aa9b4e1d9f970240c4c9579b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-aa28fb00d6b5462eaf94a6a943af5850.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aa28fb00d6b5462eaf94a6a943af5850.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-1645fa22f49244f1a39bf6d659ffeac0.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1645fa22f49244f1a39bf6d659ffeac0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-04252ccffb294fbc8d310790869e9cd4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-04252ccffb294fbc8d310790869e9cd4.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>