<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Forsendelse - flere til en</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Forsendelse - flere til en</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-707349bae14d43008a42cd472ff4821f.png" alt="Forsendelse - flere til en" usemap="#id-707349bae14d43008a42cd472ff4821fmap"/>
			   <map name="id-707349bae14d43008a42cd472ff4821fmap">
				          <area shape="rect" coords="328,10,455,89" href="../objects/id-791d2ecf5d3a4c3f9e8622fa8cd2086d.html" target="element" >
				  				        <area shape="rect" coords="341,299,373,319" href="../objects/id-27d2ead4969d4511ab7eb0f2ed967f37.html" target="element" >
				  				        <area shape="rect" coords="361,337,393,357" href="../objects/id-5360f5a6a4cd453daa9c9c0ec0eed2ef.html" target="element" >
				  				        <area shape="rect" coords="351,318,383,338" href="../objects/id-dfe80c30070e49fdb0a6b92e6eda31d7.html" target="element" >

				  		        <area shape="rect" coords="336,294,396,362" href="../objects/id-ba1c7d7c4de741c0950c1c0031e05039.html" target="element" >
				  		        <area shape="rect" coords="141,404,173,424" href="../objects/id-15facd3275fa4c86b346df480992a3b5.html" target="element" >
				  		        <area shape="rect" coords="126,318,158,338" href="../objects/id-c7866504adf14871bd33984bb6da7956.html" target="element" >
				  		        <area shape="rect" coords="110,233,142,253" href="../objects/id-b9c1fe5d141b43d5a257818d233a665d.html" target="element" >
				  		        <area shape="rect" coords="255,316,285,336" href="../objects/id-46e4390e3ae44d91972e6c56fb6cd878.html" target="element" >
				  		        <area shape="rect" coords="221,285,318,371" href="../objects/id-5ee35c0c933b4e4e91579a2924d97002.html" target="element" >
				  				        <area shape="rect" coords="54,386,91,435" href="../objects/id-3e092266ef2246ccb5a4d84b49eeb41a.html" target="element" >

				  		        <area shape="rect" coords="24,368,121,459" href="../objects/id-df870899b44648dda2ab64951a53952e.html" target="element" >
				  				        <area shape="rect" coords="54,300,91,349" href="../objects/id-19dd22644c634d29bca073515242d718.html" target="element" >

				  		        <area shape="rect" coords="24,280,121,371" href="../objects/id-6d07cb053561430691391d7b1b8224ca.html" target="element" >
				  				        <area shape="rect" coords="54,210,91,259" href="../objects/id-d8b43372ead44152a5017c9598e18ed5.html" target="element" >

				  		        <area shape="rect" coords="24,204,121,282" href="../objects/id-4b58e1a450214bb18a7c23b40fec25f2.html" target="element" >
				  				        <area shape="rect" coords="426,299,463,348" href="../objects/id-4d2ad4146a3b4b18ac7614601f23fb24.html" target="element" >

				  		        <area shape="rect" coords="401,294,498,385" href="../objects/id-cb5f82d33cd24e32b18a40fa24b705ac.html" target="element" >

				          <area shape="rect" coords="11,178,501,468" href="../objects/id-3e330af643db4e7488568432464fb5a3.html" target="element" >
				  				<area shape="rect" coords="10,10,307,35" href="../views/id-707349bae14d43008a42cd472ff4821f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="140,65,176,91" href="../objects/id-cd466e29c484434eabd3ca7fa88ef52b.html" target="element" >
				  		        <area shape="rect" coords="126,40,206,66" href="../objects/id-06bc2c1a4e904d8fa4ce310b1cd5992a.html" target="element" >
				  				        <area shape="rect" coords="50,42,105,91" href="../objects/id-f69e0073135d443f9dee9eaf856abe9f.html" target="element" >

				  		        <area shape="rect" coords="25,32,122,113" href="../objects/id-a821621890f74cb5a25ff15f321892d9.html" target="element" >
				  				        <area shape="rect" coords="240,46,277,95" href="../objects/id-9ba11be7b50c45209f23d988f0d2e5e1.html" target="element" >

				  		        <area shape="rect" coords="210,40,307,131" href="../objects/id-70ad12f328334efa9d3503ecc3a65cf4.html" target="element" >

				          <area shape="rect" coords="10,10,310,141" href="../objects/id-f506872378aa4a328935317f93c35815.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f506872378aa4a328935317f93c35815.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f506872378aa4a328935317f93c35815.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-70ad12f328334efa9d3503ecc3a65cf4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-70ad12f328334efa9d3503ecc3a65cf4.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-9ba11be7b50c45209f23d988f0d2e5e1.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-9ba11be7b50c45209f23d988f0d2e5e1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-a821621890f74cb5a25ff15f321892d9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a821621890f74cb5a25ff15f321892d9.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-f69e0073135d443f9dee9eaf856abe9f.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-f69e0073135d443f9dee9eaf856abe9f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-06bc2c1a4e904d8fa4ce310b1cd5992a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-06bc2c1a4e904d8fa4ce310b1cd5992a.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cd466e29c484434eabd3ca7fa88ef52b.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-cd466e29c484434eabd3ca7fa88ef52b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/id-707349bae14d43008a42cd472ff4821f.html" target="view"> Forsendelse - flere til en </a> </td>
													    <td> <a href="../views/id-707349bae14d43008a42cd472ff4821f.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-3e330af643db4e7488568432464fb5a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3e330af643db4e7488568432464fb5a3.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-cb5f82d33cd24e32b18a40fa24b705ac.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cb5f82d33cd24e32b18a40fa24b705ac.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-4d2ad4146a3b4b18ac7614601f23fb24.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-4d2ad4146a3b4b18ac7614601f23fb24.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-4b58e1a450214bb18a7c23b40fec25f2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4b58e1a450214bb18a7c23b40fec25f2.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-d8b43372ead44152a5017c9598e18ed5.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-d8b43372ead44152a5017c9598e18ed5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-6d07cb053561430691391d7b1b8224ca.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6d07cb053561430691391d7b1b8224ca.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-19dd22644c634d29bca073515242d718.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-19dd22644c634d29bca073515242d718.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-df870899b44648dda2ab64951a53952e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-df870899b44648dda2ab64951a53952e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-3e092266ef2246ccb5a4d84b49eeb41a.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-3e092266ef2246ccb5a4d84b49eeb41a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-5ee35c0c933b4e4e91579a2924d97002.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-5ee35c0c933b4e4e91579a2924d97002.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-46e4390e3ae44d91972e6c56fb6cd878.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-46e4390e3ae44d91972e6c56fb6cd878.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b9c1fe5d141b43d5a257818d233a665d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b9c1fe5d141b43d5a257818d233a665d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c7866504adf14871bd33984bb6da7956.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-c7866504adf14871bd33984bb6da7956.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-15facd3275fa4c86b346df480992a3b5.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-15facd3275fa4c86b346df480992a3b5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ba1c7d7c4de741c0950c1c0031e05039.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ba1c7d7c4de741c0950c1c0031e05039.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-dfe80c30070e49fdb0a6b92e6eda31d7.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-dfe80c30070e49fdb0a6b92e6eda31d7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5360f5a6a4cd453daa9c9c0ec0eed2ef.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-5360f5a6a4cd453daa9c9c0ec0eed2ef.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-27d2ead4969d4511ab7eb0f2ed967f37.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-27d2ead4969d4511ab7eb0f2ed967f37.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-791d2ecf5d3a4c3f9e8622fa8cd2086d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-791d2ecf5d3a4c3f9e8622fa8cd2086d.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>