<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tiltak 8: Nasjonale anbefalinger og rådgiving</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-82593f8e603640b490c07850f3bc01dc.png" alt="Tiltak 8: Nasjonale anbefalinger og rådgiving" usemap="#id-82593f8e603640b490c07850f3bc01dcmap"/>
			   <map name="id-82593f8e603640b490c07850f3bc01dcmap">
				  				<area shape="rect" coords="320,130,457,201" href="../elements/id-a7c06a209ae64fdfa625c10b26b31a84.html"  target="element">
				  				<area shape="rect" coords="177,130,314,201" href="../elements/id-ad9257225cbc4fbfab3fc518d41daabf.html"  target="element">
				  				<area shape="rect" coords="34,130,171,201" href="../elements/id-db4c5300eb814dcda58ceb4efd03f72f.html"  target="element">
				  				<area shape="rect" coords="463,130,600,201" href="../elements/id-82bc84579cab4b7283bd516085fc8640.html"  target="element">
				  				<area shape="rect" coords="320,46,457,117" href="../elements/id-55c351e463ab49a48ddf10dd89a43fd4.html"  target="element">
				  				<area shape="rect" coords="34,46,171,117" href="../elements/id-91e09fb17d1840e0a93304045d2f9ea2.html"  target="element">
				  				<area shape="rect" coords="177,46,314,117" href="../elements/id-3c5edbeaa618447a9893e0fce6741f78.html"  target="element">
				  				<area shape="rect" coords="463,46,600,117" href="../elements/id-66f066cb94cf4641b059db92e5f6c5f8.html"  target="element">

				  		<area shape="rect" coords="10,10,623,215" href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
											    <td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-66f066cb94cf4641b059db92e5f6c5f8.html" target="element"> Tiltak 8.4: Forsknings- og utviklingsaktiviteter i regi av NSM </a> </td>
													    <td> <a href="../elements/id-66f066cb94cf4641b059db92e5f6c5f8.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c5edbeaa618447a9893e0fce6741f78.html" target="element"> Tiltak 8.2: Grunnprinsipper for IKT-sikkerhet </a> </td>
													    <td> <a href="../elements/id-3c5edbeaa618447a9893e0fce6741f78.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91e09fb17d1840e0a93304045d2f9ea2.html" target="element"> Tiltak 8.1: Nasjonale anbefalinger og r&#229;dgivningsaktiviteteri regi av NSM </a> </td>
													    <td> <a href="../elements/id-91e09fb17d1840e0a93304045d2f9ea2.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55c351e463ab49a48ddf10dd89a43fd4.html" target="element"> Tiltak 8.3: Nasjonalt IKT-risikobilde </a> </td>
													    <td> <a href="../elements/id-55c351e463ab49a48ddf10dd89a43fd4.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82bc84579cab4b7283bd516085fc8640.html" target="element"> Tiltak 8.8: Slettmeg.no  </a> </td>
													    <td> <a href="../elements/id-82bc84579cab4b7283bd516085fc8640.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db4c5300eb814dcda58ceb4efd03f72f.html" target="element"> Tiltak 8.5: Difis kompetansemilj&#248; og veiledningsmateriell&#8211; sikkerhet i IKT-anskaffelser </a> </td>
													    <td> <a href="../elements/id-db4c5300eb814dcda58ceb4efd03f72f.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad9257225cbc4fbfab3fc518d41daabf.html" target="element"> Tiltak 8.6: NorSIS (Norsk senter for informasjonssikring) </a> </td>
													    <td> <a href="../elements/id-ad9257225cbc4fbfab3fc518d41daabf.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a7c06a209ae64fdfa625c10b26b31a84.html" target="element"> Tiltak 8.7: Nettvett.no </a> </td>
													    <td> <a href="../elements/id-a7c06a209ae64fdfa625c10b26b31a84.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/id-3aec2e6a8d974d30b95d52b53718a700.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3aec2e6a8d974d30b95d52b53718a700.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-66f066cb94cf4641b059db92e5f6c5f8.html" target="element"> Tiltak 8.4: Forsknings- og utviklingsaktiviteter i regi av NSM </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a41533604ba14b8a918fdacfa91cf105.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a41533604ba14b8a918fdacfa91cf105.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3c5edbeaa618447a9893e0fce6741f78.html" target="element"> Tiltak 8.2: Grunnprinsipper for IKT-sikkerhet </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-24b5ae67903e439cac91bcd3e189aa53.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24b5ae67903e439cac91bcd3e189aa53.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91e09fb17d1840e0a93304045d2f9ea2.html" target="element"> Tiltak 8.1: Nasjonale anbefalinger og r&#229;dgivningsaktiviteteri regi av NSM </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-21f26f33672346b39e36059c33fa261c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21f26f33672346b39e36059c33fa261c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55c351e463ab49a48ddf10dd89a43fd4.html" target="element"> Tiltak 8.3: Nasjonalt IKT-risikobilde </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-268a04e4c4b543faa8ec6771af345e25.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-268a04e4c4b543faa8ec6771af345e25.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82bc84579cab4b7283bd516085fc8640.html" target="element"> Tiltak 8.8: Slettmeg.no  </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-88b98249d50b4be2a4bcc34e01c3e144.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88b98249d50b4be2a4bcc34e01c3e144.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-db4c5300eb814dcda58ceb4efd03f72f.html" target="element"> Tiltak 8.5: Difis kompetansemilj&#248; og veiledningsmateriell&#8211; sikkerhet i IKT-anskaffelser </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-599adc30e8a1485082d1127a3785e573.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-599adc30e8a1485082d1127a3785e573.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad9257225cbc4fbfab3fc518d41daabf.html" target="element"> Tiltak 8.6: NorSIS (Norsk senter for informasjonssikring) </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0b5a960ce7d148dbbfea3852364a2234.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0b5a960ce7d148dbbfea3852364a2234.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a7c06a209ae64fdfa625c10b26b31a84.html" target="element"> Tiltak 8.7: Nettvett.no </a> </td>
																				<td> <a href="../elements/id-7036c2f8763944d8a776174d9cc94b0a.html" target="element"> Tiltak 8: Nasjonale anbefalinger og r&#229;dgiving </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>