<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Utvikle veileder for strategisk styring av digitaliseringen</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Utvikle veileder for strategisk styring av digitaliseringen</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8c21ee5fadf54975a05dcb67a0b562c9.png" alt="Utvikle veileder for strategisk styring av digitaliseringen" usemap="#id-8c21ee5fadf54975a05dcb67a0b562c9map"/>
			   <map name="id-8c21ee5fadf54975a05dcb67a0b562c9map">
				  		<area shape="rect" coords="32,178,169,694" href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html"  target="element">
				  				<area shape="rect" coords="34,58,172,129" href="../elements/e4a149e8-1a06-4f57-a9d9-4914578f0b07.html"  target="element">

				  		<area shape="rect" coords="10,10,191,143" href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html"  target="element">
				  				<area shape="rect" coords="272,430,409,501" href="../elements/id-131f89a2d63f4df994add73bb8ab388f.html"  target="element">

				  		<area shape="rect" coords="248,406,1149,515" href="../elements/id-5b1f9bac170b45f6ba13b27762e9d165.html"  target="element">
				  				<area shape="rect" coords="272,214,409,285" href="../elements/id-9b454c86dcbf45099a34646da43f8286.html"  target="element">

				  		<area shape="rect" coords="248,178,1149,299" href="../elements/id-86b320735d804f5fa8ed7acd2818a902.html"  target="element">
				  				<area shape="rect" coords="272,586,409,657" href="../elements/id-d1b3b4788d324723abe82d72b072839e.html"  target="element">
				  						<area shape="rect" coords="668,586,805,657" href="../elements/id-5789dcff600b423cb863a115d661eebf.html"  target="element">
				  						<area shape="rect" coords="512,586,649,657" href="../elements/id-1d04a4f4413b4d5c8c2ab54e68f6bc61.html"  target="element">

				  				<area shape="rect" coords="500,538,825,671" href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html"  target="element">

				  		<area shape="rect" coords="248,514,1149,695" href="../elements/id-9456e20f569f4b7d85512f12b5855dba.html"  target="element">
				  				<area shape="rect" coords="427,322,564,393" href="../elements/id-79adccfdf9ca41719766fb19916935f6.html"  target="element">
				  				<area shape="rect" coords="272,322,409,393" href="../elements/id-5d4f757d82ec4d3ca963be86421154b6.html"  target="element">

				  		<area shape="rect" coords="248,298,1149,407" href="../elements/id-477fc0c3273040e69e5aff16b33d5d57.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Utvikle veileder for strategisk styring av digitaliseringen</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-477fc0c3273040e69e5aff16b33d5d57.html" target="element"> Underst&#248;ttende aktiviteter (veileder for strategisk styring av digitaliseringen) </a> </td>
											    <td> <a href="../elements/id-477fc0c3273040e69e5aff16b33d5d57.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5d4f757d82ec4d3ca963be86421154b6.html" target="element"> Felles gjennomf&#248;ring med Finansdepartementet (FIN) </a> </td>
													    <td> <a href="../elements/id-5d4f757d82ec4d3ca963be86421154b6.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79adccfdf9ca41719766fb19916935f6.html" target="element"> Forankring i Embetsgruppen for IKT </a> </td>
													    <td> <a href="../elements/id-79adccfdf9ca41719766fb19916935f6.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9456e20f569f4b7d85512f12b5855dba.html" target="element"> Involverte (veileder for strategisk styring av digitaliseringen) </a> </td>
											    <td> <a href="../elements/id-9456e20f569f4b7d85512f12b5855dba.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html" target="element"> Viktigste medvirkende (veileder for strategisk styring av digitaliseringen) </a> </td>
													    <td> <a href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-1d04a4f4413b4d5c8c2ab54e68f6bc61.html" target="element"> FIN </a> </td>
															    <td> <a href="../elements/id-1d04a4f4413b4d5c8c2ab54e68f6bc61.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5789dcff600b423cb863a115d661eebf.html" target="element"> Embetsgruppen for IKT </a> </td>
															    <td> <a href="../elements/id-5789dcff600b423cb863a115d661eebf.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-86b320735d804f5fa8ed7acd2818a902.html" target="element"> M&#229;l (veileder for strategisk styring av digitaliseringen) </a> </td>
											    <td> <a href="../elements/id-86b320735d804f5fa8ed7acd2818a902.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9b454c86dcbf45099a34646da43f8286.html" target="element">  Strategisk styring av digitaliseringen i sektorene </a> </td>
													    <td> <a href="../elements/id-9b454c86dcbf45099a34646da43f8286.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5b1f9bac170b45f6ba13b27762e9d165.html" target="element"> Leveranser (veileder for strategisk styring av digitaliseringen) </a> </td>
											    <td> <a href="../elements/id-5b1f9bac170b45f6ba13b27762e9d165.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-131f89a2d63f4df994add73bb8ab388f.html" target="element"> Veileder til departementene for styring av digitaliseringen i sektorene </a> </td>
													    <td> <a href="../elements/id-131f89a2d63f4df994add73bb8ab388f.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan - digitaliseringsstrategien </a> </td>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e4a149e8-1a06-4f57-a9d9-4914578f0b07.html" target="element"> Styring og samordning </a> </td>
													    <td> <a href="../elements/e4a149e8-1a06-4f57-a9d9-4914578f0b07.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
											    <td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3d187c828d4e4aaa9b6e18108ea301fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d187c828d4e4aaa9b6e18108ea301fe.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-477fc0c3273040e69e5aff16b33d5d57.html" target="element"> Underst&#248;ttende aktiviteter (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d57dd7ad35834e5391b5e3f2cc8d942f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d57dd7ad35834e5391b5e3f2cc8d942f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-477fc0c3273040e69e5aff16b33d5d57.html" target="element"> Underst&#248;ttende aktiviteter (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-5d4f757d82ec4d3ca963be86421154b6.html" target="element"> Felles gjennomf&#248;ring med Finansdepartementet (FIN) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-337e786522c84ffca3183c3c68d0d74e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-337e786522c84ffca3183c3c68d0d74e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-477fc0c3273040e69e5aff16b33d5d57.html" target="element"> Underst&#248;ttende aktiviteter (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-79adccfdf9ca41719766fb19916935f6.html" target="element"> Forankring i Embetsgruppen for IKT </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-26f93dfc857648498495c55a88711fbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26f93dfc857648498495c55a88711fbb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9456e20f569f4b7d85512f12b5855dba.html" target="element"> Involverte (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html" target="element"> Viktigste medvirkende (veileder for strategisk styring av digitaliseringen) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0bd796617f844bfa7af793b2fb6811e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0bd796617f844bfa7af793b2fb6811e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9456e20f569f4b7d85512f12b5855dba.html" target="element"> Involverte (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f61f74fd3aa04f3fab5a1b4e3cbf7db9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f61f74fd3aa04f3fab5a1b4e3cbf7db9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html" target="element"> Viktigste medvirkende (veileder for strategisk styring av digitaliseringen) </a> </td>
																				<td> <a href="../elements/id-1d04a4f4413b4d5c8c2ab54e68f6bc61.html" target="element"> FIN </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf876cbc6480490cac0a23abeac0f590.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf876cbc6480490cac0a23abeac0f590.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html" target="element"> Viktigste medvirkende (veileder for strategisk styring av digitaliseringen) </a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e13c62e917484d32b2f9e9144829a3f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e13c62e917484d32b2f9e9144829a3f2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-125d47a57533474c8827859d4a0e4cfc.html" target="element"> Viktigste medvirkende (veileder for strategisk styring av digitaliseringen) </a> </td>
																				<td> <a href="../elements/id-5789dcff600b423cb863a115d661eebf.html" target="element"> Embetsgruppen for IKT </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3d748e15c51f4ad4b494b654bfbf0e78.html" target="element"> ansvarlig </a> </td>
																				<td> <a href="../elements/id-3d748e15c51f4ad4b494b654bfbf0e78.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																				<td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-291b2ee9a7c04ff0ba376b415b4aff17.html" target="element"> utf&#248;rende </a> </td>
																				<td> <a href="../elements/id-291b2ee9a7c04ff0ba376b415b4aff17.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																				<td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f0f92cc0ac6f40bdabaee4245f74bae6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0f92cc0ac6f40bdabaee4245f74bae6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-86b320735d804f5fa8ed7acd2818a902.html" target="element"> M&#229;l (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-9b454c86dcbf45099a34646da43f8286.html" target="element">  Strategisk styring av digitaliseringen i sektorene </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b1af55a8c1b24d6fb023c6fe6edbee0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1af55a8c1b24d6fb023c6fe6edbee0a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b1f9bac170b45f6ba13b27762e9d165.html" target="element"> Leveranser (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ca2da69e88340f08752e68683324d73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ca2da69e88340f08752e68683324d73.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5b1f9bac170b45f6ba13b27762e9d165.html" target="element"> Leveranser (veileder for strategisk styring av digitaliseringen) </a> </td>
																		<td> <a href="../elements/id-131f89a2d63f4df994add73bb8ab388f.html" target="element"> Veileder til departementene for styring av digitaliseringen i sektorene </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cdebcce6668a42ba90eab70bdda4cb6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdebcce6668a42ba90eab70bdda4cb6a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan - digitaliseringsstrategien </a> </td>
																		<td> <a href="../elements/e4a149e8-1a06-4f57-a9d9-4914578f0b07.html" target="element"> Styring og samordning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7a5a69c409f641f2ada99dde37c529dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a5a69c409f641f2ada99dde37c529dc.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
																		<td> <a href="../elements/id-86b320735d804f5fa8ed7acd2818a902.html" target="element"> M&#229;l (veileder for strategisk styring av digitaliseringen) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa6ea6307404429eb5797d9c8b5157d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa6ea6307404429eb5797d9c8b5157d8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-6c0bc19124fb41f094b6590aa734cec5.html" target="element"> Utvikle veileder for strategisk styring av digitaliseringen </a> </td>
																		<td> <a href="../elements/e4a149e8-1a06-4f57-a9d9-4914578f0b07.html" target="element"> Styring og samordning </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>