<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tillitstjenester (Tor)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tillitstjenester (Tor)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8d6c0e32e81a43c6b3d95ba90992b3a0.png" alt="Tillitstjenester (Tor)" usemap="#id-8d6c0e32e81a43c6b3d95ba90992b3a0map"/>
			   <map name="id-8d6c0e32e81a43c6b3d95ba90992b3a0map">
				  				<area shape="rect" coords="838,58,975,129" href="../elements/id-3491fb8da131460d963320f3e1947430.html"  target="element">
				  				<area shape="rect" coords="838,145,975,216" href="../elements/id-a26abc0790924b6f97b9f8752bf953fc.html"  target="element">

				  		<area shape="rect" coords="814,10,995,323" href="../elements/id-5f9f2ddc8da14b578d7d3c4242498510.html"  target="element">
				  				<area shape="rect" coords="634,82,771,153" href="../elements/id-668ea993979f465da56f95483bf2ac0b.html"  target="element">

				  		<area shape="rect" coords="610,10,791,323" href="../elements/id-9e5ac183710248aabbd8916e8b4aae54.html"  target="element">
				  				<area shape="rect" coords="418,70,555,141" href="../elements/id-4a3730d46d1644a1bad50514bc1b52c6.html"  target="element">
				  				<area shape="rect" coords="418,154,555,225" href="../elements/id-59369261a3da4a7aa77b730c1d625308.html"  target="element">
				  				<area shape="rect" coords="418,238,555,309" href="../elements/id-40b062d60afa4621bf998ac577a43024.html"  target="element">
				  				<area shape="rect" coords="418,406,555,477" href="../elements/id-bbcdcb4ff9ea43c5ad289d33cd34f0a9.html"  target="element">
				  				<area shape="rect" coords="418,322,555,393" href="../elements/id-399af06ed0ad4810b3fa7066513c9bf5.html"  target="element">

				  		<area shape="rect" coords="394,10,575,537" href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html"  target="element">
				  				<area shape="rect" coords="226,153,363,224" href="../elements/id-682030b700a047159f088d8966844b71.html"  target="element">
				  				<area shape="rect" coords="226,70,363,141" href="../elements/id-d8c441f0ad474e1cbf68d0d8ef626fc5.html"  target="element">
				  				<area shape="rect" coords="226,237,363,308" href="../elements/id-49f5043fd10e444cb8debba87ddb3657.html"  target="element">

				  		<area shape="rect" coords="202,10,383,323" href="../elements/id-08591d373dcd43fb8230d0c7bd37f58b.html"  target="element">
				  				<area shape="rect" coords="34,238,171,309" href="../elements/id-029fdf20d75c4960b70776ff3e2958e5.html"  target="element">
				  				<area shape="rect" coords="34,154,171,225" href="../elements/id-a6d673a096134059a5187ea09c66c0fd.html"  target="element">
				  				<area shape="rect" coords="34,70,171,141" href="../elements/id-9b7d4828eb634de78acda18487c2bb4b.html"  target="element">

				  		<area shape="rect" coords="10,10,191,323" href="../elements/id-09fe8e700e3f463ea1817a84eaa489b7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:namespace </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">helle</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-09fe8e700e3f463ea1817a84eaa489b7.html" target="element"> Autentisere person p&#229; sikkerhetsniv&#229; betydelig eller h&#248;yt  </a> </td>
											    <td> <a href="../elements/id-09fe8e700e3f463ea1817a84eaa489b7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9b7d4828eb634de78acda18487c2bb4b.html" target="element"> Autentisere personer med norsk f- eller d-nummer p&#229; sikkerhetsniv&#229; betydelig eller h&#248;yt  </a> </td>
													    <td> <a href="../elements/id-9b7d4828eb634de78acda18487c2bb4b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6d673a096134059a5187ea09c66c0fd.html" target="element"> Autentisere personer   med eID fra E&#216;S med eID-sikkerhetsniv&#229; h&#248;yt </a> </td>
													    <td> <a href="../elements/id-a6d673a096134059a5187ea09c66c0fd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-029fdf20d75c4960b70776ff3e2958e5.html" target="element"> Autentisere aller personer med norsk f- eller d-nummer  </a> </td>
													    <td> <a href="../elements/id-029fdf20d75c4960b70776ff3e2958e5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-08591d373dcd43fb8230d0c7bd37f58b.html" target="element"> Autentisere  virksomheter og styre tilgang til data i M2M dialog </a> </td>
											    <td> <a href="../elements/id-08591d373dcd43fb8230d0c7bd37f58b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-49f5043fd10e444cb8debba87ddb3657.html" target="element"> Definetretilgang til API basert p&#229; konsumentens enhet  </a> </td>
													    <td> <a href="../elements/id-49f5043fd10e444cb8debba87ddb3657.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d8c441f0ad474e1cbf68d0d8ef626fc5.html" target="element"> Definere tilgang til API basert p&#229; konsumentens org.nr.  </a> </td>
													    <td> <a href="../elements/id-d8c441f0ad474e1cbf68d0d8ef626fc5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-682030b700a047159f088d8966844b71.html" target="element"> Gi tilgang til API basert p&#229; sikkerhetstoken </a> </td>
													    <td> <a href="../elements/id-682030b700a047159f088d8966844b71.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element"> Styre tilgang til digitale tjenester  via Portal eller API </a> </td>
											    <td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-399af06ed0ad4810b3fa7066513c9bf5.html" target="element"> Opprette representasjonsforhold </a> </td>
													    <td> <a href="../elements/id-399af06ed0ad4810b3fa7066513c9bf5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bbcdcb4ff9ea43c5ad289d33cd34f0a9.html" target="element"> Gi sluttbruker oversikt over samtykker og representasjonsforhold  </a> </td>
													    <td> <a href="../elements/id-bbcdcb4ff9ea43c5ad289d33cd34f0a9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-40b062d60afa4621bf998ac577a43024.html" target="element"> Opretet samtykke til deling av data eller spesifikk handling </a> </td>
													    <td> <a href="../elements/id-40b062d60afa4621bf998ac577a43024.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-59369261a3da4a7aa77b730c1d625308.html" target="element"> Rettighetsforesp&#248;rsel: be om tilgang eller samtykke fra egen arbeidsprosess </a> </td>
													    <td> <a href="../elements/id-59369261a3da4a7aa77b730c1d625308.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a3730d46d1644a1bad50514bc1b52c6.html" target="element"> Automatisk hjemmelsbasert styring av tilgang til digitale tjenester </a> </td>
													    <td> <a href="../elements/id-4a3730d46d1644a1bad50514bc1b52c6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9e5ac183710248aabbd8916e8b4aae54.html" target="element"> Elektronisk og avansert elektronisk signatur av dokumenter for innbyggere </a> </td>
											    <td> <a href="../elements/id-9e5ac183710248aabbd8916e8b4aae54.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-668ea993979f465da56f95483bf2ac0b.html" target="element"> Oppbevare signerte dokumenter over tid i eksternt lager </a> </td>
													    <td> <a href="../elements/id-668ea993979f465da56f95483bf2ac0b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5f9f2ddc8da14b578d7d3c4242498510.html" target="element"> R&#229;dgivingstjeneste for juss osv.  ifm. deling av data </a> </td>
											    <td> <a href="../elements/id-5f9f2ddc8da14b578d7d3c4242498510.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a26abc0790924b6f97b9f8752bf953fc.html" target="element"> Helhetlig og enhetlig regelverk som st&#248;tter  sammenhengende tjenester og deling av data </a> </td>
													    <td> <a href="../elements/id-a26abc0790924b6f97b9f8752bf953fc.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3491fb8da131460d963320f3e1947430.html" target="element"> Retningslinjer for roller og ansvar ved deling av data </a> </td>
													    <td> <a href="../elements/id-3491fb8da131460d963320f3e1947430.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5c14893a36494f2fb473dcda45f68dab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c14893a36494f2fb473dcda45f68dab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09fe8e700e3f463ea1817a84eaa489b7.html" target="element"> Autentisere person p&#229; sikkerhetsniv&#229; betydelig eller h&#248;yt  </a> </td>
																		<td> <a href="../elements/id-9b7d4828eb634de78acda18487c2bb4b.html" target="element"> Autentisere personer med norsk f- eller d-nummer p&#229; sikkerhetsniv&#229; betydelig eller h&#248;yt  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b09ad7c4f53e4f1497924c1e24422044.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b09ad7c4f53e4f1497924c1e24422044.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09fe8e700e3f463ea1817a84eaa489b7.html" target="element"> Autentisere person p&#229; sikkerhetsniv&#229; betydelig eller h&#248;yt  </a> </td>
																		<td> <a href="../elements/id-a6d673a096134059a5187ea09c66c0fd.html" target="element"> Autentisere personer   med eID fra E&#216;S med eID-sikkerhetsniv&#229; h&#248;yt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78dfef5591fa452db4932dbe5b7d99ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78dfef5591fa452db4932dbe5b7d99ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09fe8e700e3f463ea1817a84eaa489b7.html" target="element"> Autentisere person p&#229; sikkerhetsniv&#229; betydelig eller h&#248;yt  </a> </td>
																		<td> <a href="../elements/id-029fdf20d75c4960b70776ff3e2958e5.html" target="element"> Autentisere aller personer med norsk f- eller d-nummer  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f375583011aa48cd9ccb2d8631d9c1b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f375583011aa48cd9ccb2d8631d9c1b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08591d373dcd43fb8230d0c7bd37f58b.html" target="element"> Autentisere  virksomheter og styre tilgang til data i M2M dialog </a> </td>
																		<td> <a href="../elements/id-49f5043fd10e444cb8debba87ddb3657.html" target="element"> Definetretilgang til API basert p&#229; konsumentens enhet  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96c326d7274543379b8edfb2e0533858.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96c326d7274543379b8edfb2e0533858.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08591d373dcd43fb8230d0c7bd37f58b.html" target="element"> Autentisere  virksomheter og styre tilgang til data i M2M dialog </a> </td>
																		<td> <a href="../elements/id-d8c441f0ad474e1cbf68d0d8ef626fc5.html" target="element"> Definere tilgang til API basert p&#229; konsumentens org.nr.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72aaab34e6f44f249ddd38e8abba4ad7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72aaab34e6f44f249ddd38e8abba4ad7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08591d373dcd43fb8230d0c7bd37f58b.html" target="element"> Autentisere  virksomheter og styre tilgang til data i M2M dialog </a> </td>
																		<td> <a href="../elements/id-682030b700a047159f088d8966844b71.html" target="element"> Gi tilgang til API basert p&#229; sikkerhetstoken </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a57e62fe716e4e82929a4343062fc708.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a57e62fe716e4e82929a4343062fc708.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element"> Styre tilgang til digitale tjenester  via Portal eller API </a> </td>
																		<td> <a href="../elements/id-399af06ed0ad4810b3fa7066513c9bf5.html" target="element"> Opprette representasjonsforhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e47db17527b47489ee715243fbcce84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e47db17527b47489ee715243fbcce84.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element"> Styre tilgang til digitale tjenester  via Portal eller API </a> </td>
																		<td> <a href="../elements/id-bbcdcb4ff9ea43c5ad289d33cd34f0a9.html" target="element"> Gi sluttbruker oversikt over samtykker og representasjonsforhold  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c89959e0a07d46cc850b35a5a7786849.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c89959e0a07d46cc850b35a5a7786849.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element"> Styre tilgang til digitale tjenester  via Portal eller API </a> </td>
																		<td> <a href="../elements/id-40b062d60afa4621bf998ac577a43024.html" target="element"> Opretet samtykke til deling av data eller spesifikk handling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd1ac07c090045db84f273832fc55af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd1ac07c090045db84f273832fc55af8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element"> Styre tilgang til digitale tjenester  via Portal eller API </a> </td>
																		<td> <a href="../elements/id-59369261a3da4a7aa77b730c1d625308.html" target="element"> Rettighetsforesp&#248;rsel: be om tilgang eller samtykke fra egen arbeidsprosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-efb8300dcfd24d6096e86e5c23216caf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efb8300dcfd24d6096e86e5c23216caf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3f2e5b5cb7f4904b90c168c0d4797bb.html" target="element"> Styre tilgang til digitale tjenester  via Portal eller API </a> </td>
																		<td> <a href="../elements/id-4a3730d46d1644a1bad50514bc1b52c6.html" target="element"> Automatisk hjemmelsbasert styring av tilgang til digitale tjenester </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e2695e347ae8466099a5164149528ce5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2695e347ae8466099a5164149528ce5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e5ac183710248aabbd8916e8b4aae54.html" target="element"> Elektronisk og avansert elektronisk signatur av dokumenter for innbyggere </a> </td>
																		<td> <a href="../elements/id-668ea993979f465da56f95483bf2ac0b.html" target="element"> Oppbevare signerte dokumenter over tid i eksternt lager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fddaa5e2af8a41bd8aa561ada021e104.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fddaa5e2af8a41bd8aa561ada021e104.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f9f2ddc8da14b578d7d3c4242498510.html" target="element"> R&#229;dgivingstjeneste for juss osv.  ifm. deling av data </a> </td>
																		<td> <a href="../elements/id-a26abc0790924b6f97b9f8752bf953fc.html" target="element"> Helhetlig og enhetlig regelverk som st&#248;tter  sammenhengende tjenester og deling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13d72c61b74441e8a40586fbcab7cd6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13d72c61b74441e8a40586fbcab7cd6d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f9f2ddc8da14b578d7d3c4242498510.html" target="element"> R&#229;dgivingstjeneste for juss osv.  ifm. deling av data </a> </td>
																		<td> <a href="../elements/id-3491fb8da131460d963320f3e1947430.html" target="element"> Retningslinjer for roller og ansvar ved deling av data </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>