<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Deling av data og verdiskaping</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Deling av data og verdiskaping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-96c9d3dfe49f4747859abdc791f2bf84.png" alt="Deling av data og verdiskaping" usemap="#id-96c9d3dfe49f4747859abdc791f2bf84map"/>
			   <map name="id-96c9d3dfe49f4747859abdc791f2bf84map">
				  				<area shape="rect" coords="310,358,447,429" href="../elements/id-d6605a9adeb047d3846803217aefc75e.html"  target="element">
				  				<area shape="rect" coords="454,358,591,429" href="../elements/id-6049466c81c040258d60ab78f29731a7.html"  target="element">
				  				<area shape="rect" coords="166,358,303,429" href="../elements/id-e6ac3b7d6cbf4805a5b1eadb5108a93d.html"  target="element">
				  				<area shape="rect" coords="22,358,159,429" href="../elements/id-d123e344ff6041eabadd93b60ef646b6.html"  target="element">
				  				<area shape="rect" coords="598,358,735,429" href="../elements/id-6a8bface9fea427d92a5b5fc7a237e6b.html"  target="element">

				  		<area shape="rect" coords="10,322,791,462" href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html"  target="element">
				  				<area shape="rect" coords="312,214,449,285" href="../elements/id-2f6047c20d9347578e4a9da50074e5f5.html"  target="element">
				  				<area shape="rect" coords="26,214,163,285" href="../elements/id-cfa47e53c0c94acba16b070bfa449a09.html"  target="element">
				  				<area shape="rect" coords="169,214,306,285" href="../elements/id-87d83bbe4f6047d8a06139d6d7260fdf.html"  target="element">
				  				<area shape="rect" coords="455,214,592,285" href="../elements/id-02a1dc852e0241d0806b869bcc2735ff.html"  target="element">
				  				<area shape="rect" coords="598,214,735,285" href="../elements/id-347294d0d6b24508a289b51c4c618a04.html"  target="element">

				  		<area shape="rect" coords="10,178,791,299" href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html"  target="element">
				  				<area shape="rect" coords="34,70,172,141" href="../elements/c9cc3208-8d56-46bf-8c9e-fa9f3b9bd252.html"  target="element">

				  		<area shape="rect" coords="10,10,191,155" href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Deling av data og verdiskaping</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan for regjeringens digitaliseringsstrategi </a> </td>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c9cc3208-8d56-46bf-8c9e-fa9f3b9bd252.html" target="element"> Deling av data og verdiskaping </a> </td>
													    <td> <a href="../elements/c9cc3208-8d56-46bf-8c9e-fa9f3b9bd252.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
											    <td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-347294d0d6b24508a289b51c4c618a04.html" target="element"> Utarbeide en strategi for kunstig intelligens </a> </td>
													    <td> <a href="../elements/id-347294d0d6b24508a289b51c4c618a04.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02a1dc852e0241d0806b869bcc2735ff.html" target="element"> Utrede mulig plikt til &#229; publisere &#229;pne offentlige data </a> </td>
													    <td> <a href="../elements/id-02a1dc852e0241d0806b869bcc2735ff.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-87d83bbe4f6047d8a06139d6d7260fdf.html" target="element"> Vurdere &#229; benytte eksisterende datasj&#248;er </a> </td>
													    <td> <a href="../elements/id-87d83bbe4f6047d8a06139d6d7260fdf.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cfa47e53c0c94acba16b070bfa449a09.html" target="element"> Etablere et nasjonalt ressurssenter for deling av data </a> </td>
													    <td> <a href="../elements/id-cfa47e53c0c94acba16b070bfa449a09.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f6047c20d9347578e4a9da50074e5f5.html" target="element"> Utrede en nasjonal verkt&#248;ykasse for deling av data </a> </td>
													    <td> <a href="../elements/id-2f6047c20d9347578e4a9da50074e5f5.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element"> Status november 2020 </a> </td>
											    <td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6a8bface9fea427d92a5b5fc7a237e6b.html" target="element"> Status: Ferdigstilt 14. januar 2020 </a> </td>
													    <td> <a href="../elements/id-6a8bface9fea427d92a5b5fc7a237e6b.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d123e344ff6041eabadd93b60ef646b6.html" target="element"> Status: Ferdigstilt &#8211; ressurssenteret lansert 21. september 2020 </a> </td>
													    <td> <a href="../elements/id-d123e344ff6041eabadd93b60ef646b6.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6ac3b7d6cbf4805a5b1eadb5108a93d.html" target="element"> Per 2020 ikke startet - vurder samkj&#248;ring med EU Dataspaces, Datafabrikken? </a> </td>
													    <td> <a href="../elements/id-e6ac3b7d6cbf4805a5b1eadb5108a93d.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6049466c81c040258d60ab78f29731a7.html" target="element"> Utredning fra Kluge foreligger; videre utredning vurderes. </a> </td>
													    <td> <a href="../elements/id-6049466c81c040258d60ab78f29731a7.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6605a9adeb047d3846803217aefc75e.html" target="element"> Skisse foreligger, juni 2020 </a> </td>
													    <td> <a href="../elements/id-d6605a9adeb047d3846803217aefc75e.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-62b8d4cbcb6b42aa8acf91dd8f4578bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62b8d4cbcb6b42aa8acf91dd8f4578bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan for regjeringens digitaliseringsstrategi </a> </td>
																		<td> <a href="../elements/c9cc3208-8d56-46bf-8c9e-fa9f3b9bd252.html" target="element"> Deling av data og verdiskaping </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b56bd1110367404595fd440b95a22a38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b56bd1110367404595fd440b95a22a38.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
																		<td> <a href="../elements/c9cc3208-8d56-46bf-8c9e-fa9f3b9bd252.html" target="element"> Deling av data og verdiskaping </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-464de2ed08804a9a97e8e75ed347358c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-464de2ed08804a9a97e8e75ed347358c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
																		<td> <a href="../elements/id-347294d0d6b24508a289b51c4c618a04.html" target="element"> Utarbeide en strategi for kunstig intelligens </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c44f1ee2fcf42f7b0e6af6b1f16b240.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c44f1ee2fcf42f7b0e6af6b1f16b240.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
																		<td> <a href="../elements/id-02a1dc852e0241d0806b869bcc2735ff.html" target="element"> Utrede mulig plikt til &#229; publisere &#229;pne offentlige data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-302c87ee86d544a394bae02623d752f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-302c87ee86d544a394bae02623d752f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
																		<td> <a href="../elements/id-87d83bbe4f6047d8a06139d6d7260fdf.html" target="element"> Vurdere &#229; benytte eksisterende datasj&#248;er </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f0173428a82474b91faf049e93b56f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f0173428a82474b91faf049e93b56f8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
																		<td> <a href="../elements/id-cfa47e53c0c94acba16b070bfa449a09.html" target="element"> Etablere et nasjonalt ressurssenter for deling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-119442941fdf412495b6a6a78df20451.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-119442941fdf412495b6a6a78df20451.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a284135d2b24d2e9ea6efc5bc6d0fc8.html" target="element"> Initiativer (deling av data og verdiskaping) </a> </td>
																		<td> <a href="../elements/id-2f6047c20d9347578e4a9da50074e5f5.html" target="element"> Utrede en nasjonal verkt&#248;ykasse for deling av data </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b787071a48c5483d832139229452e819.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b787071a48c5483d832139229452e819.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element"> Status november 2020 </a> </td>
																		<td> <a href="../elements/id-6a8bface9fea427d92a5b5fc7a237e6b.html" target="element"> Status: Ferdigstilt 14. januar 2020 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94c83d065d7b4fe8bb1ae9e53ede4bb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94c83d065d7b4fe8bb1ae9e53ede4bb4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element"> Status november 2020 </a> </td>
																		<td> <a href="../elements/id-d123e344ff6041eabadd93b60ef646b6.html" target="element"> Status: Ferdigstilt &#8211; ressurssenteret lansert 21. september 2020 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0b082c5fb4d4ca1a58b12c2fd1f99b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0b082c5fb4d4ca1a58b12c2fd1f99b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element"> Status november 2020 </a> </td>
																		<td> <a href="../elements/id-e6ac3b7d6cbf4805a5b1eadb5108a93d.html" target="element"> Per 2020 ikke startet - vurder samkj&#248;ring med EU Dataspaces, Datafabrikken? </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f661762ab5e34d96bd0ab4df8752e0d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f661762ab5e34d96bd0ab4df8752e0d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element"> Status november 2020 </a> </td>
																		<td> <a href="../elements/id-6049466c81c040258d60ab78f29731a7.html" target="element"> Utredning fra Kluge foreligger; videre utredning vurderes. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eeb7a1ff4a144894813d1cd70d96efbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eeb7a1ff4a144894813d1cd70d96efbd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3d48f69ee5248e5b4ffddb66e909a31.html" target="element"> Status november 2020 </a> </td>
																		<td> <a href="../elements/id-d6605a9adeb047d3846803217aefc75e.html" target="element"> Skisse foreligger, juni 2020 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-eab3358744e04b04a98360e9ff1512e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eab3358744e04b04a98360e9ff1512e1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a8bface9fea427d92a5b5fc7a237e6b.html" target="element"> Status: Ferdigstilt 14. januar 2020 </a> </td>
																				<td> <a href="../elements/id-347294d0d6b24508a289b51c4c618a04.html" target="element"> Utarbeide en strategi for kunstig intelligens </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-307c8788daca4891a5da80870b26065d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-307c8788daca4891a5da80870b26065d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d123e344ff6041eabadd93b60ef646b6.html" target="element"> Status: Ferdigstilt &#8211; ressurssenteret lansert 21. september 2020 </a> </td>
																				<td> <a href="../elements/id-cfa47e53c0c94acba16b070bfa449a09.html" target="element"> Etablere et nasjonalt ressurssenter for deling av data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c3e7365579fb466ba30ac502d1c7563b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c3e7365579fb466ba30ac502d1c7563b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6ac3b7d6cbf4805a5b1eadb5108a93d.html" target="element"> Per 2020 ikke startet - vurder samkj&#248;ring med EU Dataspaces, Datafabrikken? </a> </td>
																				<td> <a href="../elements/id-87d83bbe4f6047d8a06139d6d7260fdf.html" target="element"> Vurdere &#229; benytte eksisterende datasj&#248;er </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-851e80ac111f4c5cacab56208d2dc765.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-851e80ac111f4c5cacab56208d2dc765.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6049466c81c040258d60ab78f29731a7.html" target="element"> Utredning fra Kluge foreligger; videre utredning vurderes. </a> </td>
																				<td> <a href="../elements/id-02a1dc852e0241d0806b869bcc2735ff.html" target="element"> Utrede mulig plikt til &#229; publisere &#229;pne offentlige data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-46e81e14748a4b5596810818f2a5191d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46e81e14748a4b5596810818f2a5191d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6605a9adeb047d3846803217aefc75e.html" target="element"> Skisse foreligger, juni 2020 </a> </td>
																				<td> <a href="../elements/id-2f6047c20d9347578e4a9da50074e5f5.html" target="element"> Utrede en nasjonal verkt&#248;ykasse for deling av data </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>