<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sammenhengende tjenester (Helle)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sammenhengende tjenester (Helle)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bf27fa1fa3a042f2bd1aeb0a0639c007.png" alt="Sammenhengende tjenester (Helle)" usemap="#id-bf27fa1fa3a042f2bd1aeb0a0639c007map"/>
			   <map name="id-bf27fa1fa3a042f2bd1aeb0a0639c007map">
				          <area shape="rect" coords="610,192,719,263" href="../objects/id-e94b4b5be8124f81b6da114106d8a56b.html" target="element" >
				  		<area shape="rect" coords="10,454,179,509" href="../views/id-b7a1766f0876449bbc674ad46ed6504f.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="610,325,795,405" href="../objects/id-1a35b0fba0884525a5dc1e121f315edd.html" target="element" >
				  				<area shape="rect" coords="394,334,531,405" href="../elements/id-cbd6143efb0942e0a57c0fdbe7f2eaf9.html"  target="element">
				  				<area shape="rect" coords="230,334,367,405" href="../elements/id-b811dba555494a038d88dc37c94f9069.html"  target="element">
				  				<area shape="rect" coords="70,334,207,405" href="../elements/id-8d3875ea6c3f4d49b6d700e3f1c152c3.html"  target="element">

				  		<area shape="rect" coords="10,298,567,431" href="../elements/id-2cf3d98449a84bcbb80bdafa2131fe66.html"  target="element">
				  				<area shape="rect" coords="394,190,531,261" href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html"  target="element">
				  				<area shape="rect" coords="238,190,375,261" href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html"  target="element">
				  				<area shape="rect" coords="82,190,219,261" href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html"  target="element">

				  		<area shape="rect" coords="10,154,567,287" href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html"  target="element">
				  				<area shape="rect" coords="394,46,531,117" href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html"  target="element">
				  				<area shape="rect" coords="238,46,375,117" href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html"  target="element">
				  				<area shape="rect" coords="82,46,219,117" href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html"  target="element">

				  		<area shape="rect" coords="10,10,567,143" href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
											    <td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element"> Kartlegg  brukerbehov </a> </td>
													    <td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
													    <td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element"> Forankre og etabler styringsstruktur </a> </td>
													    <td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
											    <td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element"> Definer m&#229;l og visjoner </a> </td>
													    <td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
													    <td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element"> Konseptforslag </a> </td>
													    <td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2cf3d98449a84bcbb80bdafa2131fe66.html" target="element"> Lever sammen </a> </td>
											    <td> <a href="../elements/id-2cf3d98449a84bcbb80bdafa2131fe66.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8d3875ea6c3f4d49b6d700e3f1c152c3.html" target="element"> Utvikle </a> </td>
													    <td> <a href="../elements/id-8d3875ea6c3f4d49b6d700e3f1c152c3.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b811dba555494a038d88dc37c94f9069.html" target="element"> Innf&#248;re </a> </td>
													    <td> <a href="../elements/id-b811dba555494a038d88dc37c94f9069.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cbd6143efb0942e0a57c0fdbe7f2eaf9.html" target="element"> Drifte og forvalte </a> </td>
													    <td> <a href="../elements/id-cbd6143efb0942e0a57c0fdbe7f2eaf9.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-1a35b0fba0884525a5dc1e121f315edd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1a35b0fba0884525a5dc1e121f315edd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-b7a1766f0876449bbc674ad46ed6504f.html" target="view"> Overordnet verdistrøm - Samhandle i tverrgående prosesser </a> </td>
											    <td> <a href="../views/id-b7a1766f0876449bbc674ad46ed6504f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-e94b4b5be8124f81b6da114106d8a56b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e94b4b5be8124f81b6da114106d8a56b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6cbb83ba70aa4dd5a4e37a0ba3e6ad77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cbb83ba70aa4dd5a4e37a0ba3e6ad77.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
																		<td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b264067d03a54f9da65b788c5bca9770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b264067d03a54f9da65b788c5bca9770.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
																		<td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element"> Forankre og etabler styringsstruktur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1db05f8017449d58b18fc0a09044a74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1db05f8017449d58b18fc0a09044a74.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
																		<td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element"> Kartlegg  brukerbehov </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7c2cdfb7745544c694575515d354c79c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7c2cdfb7745544c694575515d354c79c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element"> Kartlegg  brukerbehov </a> </td>
																				<td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-334ae8f554284519825971f7479455a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-334ae8f554284519825971f7479455a4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
																				<td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element"> Forankre og etabler styringsstruktur </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1195611453d742489cb52880c5c255ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1195611453d742489cb52880c5c255ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
																		<td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33161a4a2d2145f7b590d95a3fb8db39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33161a4a2d2145f7b590d95a3fb8db39.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
																		<td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element"> Konseptforslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76d34fc1ca7444bbb7b0c07464edf3fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76d34fc1ca7444bbb7b0c07464edf3fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
																		<td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element"> Definer m&#229;l og visjoner </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cbed3b6cb3ad4141ad72b98ed9247ea8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cbed3b6cb3ad4141ad72b98ed9247ea8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element"> Definer m&#229;l og visjoner </a> </td>
																				<td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bc973612ecad46cc8c2f7d3bbcd0d039.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc973612ecad46cc8c2f7d3bbcd0d039.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
																				<td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element"> Konseptforslag </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5542e8e3aa484bf78650a6c6e612252a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5542e8e3aa484bf78650a6c6e612252a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2cf3d98449a84bcbb80bdafa2131fe66.html" target="element"> Lever sammen </a> </td>
																		<td> <a href="../elements/id-b811dba555494a038d88dc37c94f9069.html" target="element"> Innf&#248;re </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-25e03b0380e149fa9f3c6dcc9f39f0f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25e03b0380e149fa9f3c6dcc9f39f0f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2cf3d98449a84bcbb80bdafa2131fe66.html" target="element"> Lever sammen </a> </td>
																		<td> <a href="../elements/id-cbd6143efb0942e0a57c0fdbe7f2eaf9.html" target="element"> Drifte og forvalte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd240fd0d98f475aad04b66fa4d635fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd240fd0d98f475aad04b66fa4d635fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2cf3d98449a84bcbb80bdafa2131fe66.html" target="element"> Lever sammen </a> </td>
																		<td> <a href="../elements/id-8d3875ea6c3f4d49b6d700e3f1c152c3.html" target="element"> Utvikle </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-327154dc9f8d454a865bcc4f394d4304.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-327154dc9f8d454a865bcc4f394d4304.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-8d3875ea6c3f4d49b6d700e3f1c152c3.html" target="element"> Utvikle </a> </td>
																				<td> <a href="../elements/id-b811dba555494a038d88dc37c94f9069.html" target="element"> Innf&#248;re </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-26d2ec32aa2c41559c835165595ac33f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26d2ec32aa2c41559c835165595ac33f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-b811dba555494a038d88dc37c94f9069.html" target="element"> Innf&#248;re </a> </td>
																				<td> <a href="../elements/id-cbd6143efb0942e0a57c0fdbe7f2eaf9.html" target="element"> Drifte og forvalte </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>