<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Eksempel: Samtykkebaser lånesøknad</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Eksempel: Samtykkebaser l&#229;nes&#248;knad</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b5d88b6e3c3e4855b4fc5230cee904ac.png" alt="Eksempel: Samtykkebaser lånesøknad" usemap="#id-b5d88b6e3c3e4855b4fc5230cee904acmap"/>
			   <map name="id-b5d88b6e3c3e4855b4fc5230cee904acmap">
				  				<area shape="rect" coords="370,454,507,525" href="../elements/id-c61711f99c4b460ca731f13fab879716.html"  target="element">

				  		<area shape="rect" coords="10,430,851,551" href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html"  target="element">
				  				<area shape="rect" coords="538,257,675,328" href="../elements/id-6f1e0d7fa5bb48769508fcf5d9c44552.html"  target="element">
				  				<area shape="rect" coords="370,257,507,328" href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html"  target="element">
				  				<area shape="rect" coords="214,257,351,328" href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html"  target="element">
				  				<area shape="rect" coords="718,257,855,328" href="../elements/id-26441d07ec6541c2a5d329d2d503ec64.html"  target="element">
				  				<area shape="rect" coords="34,257,171,328" href="../elements/id-d389bc4ee9fa4418a1b6e5c2976f843a.html"  target="element">

				  		<area shape="rect" coords="10,214,863,347" href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html"  target="element">
				  				<area shape="rect" coords="706,34,843,105" href="../elements/id-c4bb7073550e4195ab50836c86f59b35.html"  target="element">
				  				<area shape="rect" coords="214,34,351,105" href="../elements/id-bea51e04bb3c4e56a75dbba5d0c18de5.html"  target="element">
				  				<area shape="rect" coords="34,34,171,105" href="../elements/id-6dceb504248143f8a08c916dab374965.html"  target="element">

				  		<area shape="rect" coords="10,10,863,131" href="../elements/id-925a46209deb421e9432ad215e58733d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-925a46209deb421e9432ad215e58733d.html" target="element"> L&#229;nes&#248;ker </a> </td>
											    <td> <a href="../elements/id-925a46209deb421e9432ad215e58733d.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6dceb504248143f8a08c916dab374965.html" target="element"> Send inn l&#229;nes&#248;knad </a> </td>
													    <td> <a href="../elements/id-6dceb504248143f8a08c916dab374965.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bea51e04bb3c4e56a75dbba5d0c18de5.html" target="element"> Gi samtykke til innhenting av skattegrunnlag </a> </td>
													    <td> <a href="../elements/id-bea51e04bb3c4e56a75dbba5d0c18de5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c4bb7073550e4195ab50836c86f59b35.html" target="element"> Motta resultat av s&#248;knadsbehandling </a> </td>
													    <td> <a href="../elements/id-c4bb7073550e4195ab50836c86f59b35.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element"> Bank </a> </td>
											    <td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d389bc4ee9fa4418a1b6e5c2976f843a.html" target="element"> Motta l&#229;nes&#248;knad </a> </td>
													    <td> <a href="../elements/id-d389bc4ee9fa4418a1b6e5c2976f843a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26441d07ec6541c2a5d329d2d503ec64.html" target="element"> Gi svar p&#229; l&#229;nes&#248;knad </a> </td>
													    <td> <a href="../elements/id-26441d07ec6541c2a5d329d2d503ec64.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element"> Innhent s&#248;kers samtykke til innhenting av skattegrunnlag </a> </td>
													    <td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element"> Innhent skattegrunnlag </a> </td>
													    <td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f1e0d7fa5bb48769508fcf5d9c44552.html" target="element"> Vurder s&#248;knad </a> </td>
													    <td> <a href="../elements/id-6f1e0d7fa5bb48769508fcf5d9c44552.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element"> Skatteetaten </a> </td>
											    <td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c61711f99c4b460ca731f13fab879716.html" target="element"> Utlrver  skattegrunnlag </a> </td>
													    <td> <a href="../elements/id-c61711f99c4b460ca731f13fab879716.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f8eec186abfb46c19858ee3ad545a143.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8eec186abfb46c19858ee3ad545a143.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-925a46209deb421e9432ad215e58733d.html" target="element"> L&#229;nes&#248;ker </a> </td>
																		<td> <a href="../elements/id-6dceb504248143f8a08c916dab374965.html" target="element"> Send inn l&#229;nes&#248;knad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dac5e3b10d14ef4843919f7741363e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dac5e3b10d14ef4843919f7741363e8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-925a46209deb421e9432ad215e58733d.html" target="element"> L&#229;nes&#248;ker </a> </td>
																		<td> <a href="../elements/id-bea51e04bb3c4e56a75dbba5d0c18de5.html" target="element"> Gi samtykke til innhenting av skattegrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8fa9f708381463c9a5b5aa7690a1e57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8fa9f708381463c9a5b5aa7690a1e57.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-925a46209deb421e9432ad215e58733d.html" target="element"> L&#229;nes&#248;ker </a> </td>
																		<td> <a href="../elements/id-c4bb7073550e4195ab50836c86f59b35.html" target="element"> Motta resultat av s&#248;knadsbehandling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5e718a3d018c4cfbbc74ef340d6cb852.html" target="element"> Foresp&#248;rsel (l&#229;nes&#248;knad) </a> </td>
																				<td> <a href="../elements/id-5e718a3d018c4cfbbc74ef340d6cb852.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6dceb504248143f8a08c916dab374965.html" target="element"> Send inn l&#229;nes&#248;knad </a> </td>
																				<td> <a href="../elements/id-d389bc4ee9fa4418a1b6e5c2976f843a.html" target="element"> Motta l&#229;nes&#248;knad </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bf3546285a8d4961923029e45d3abbb9.html" target="element"> Samtykke </a> </td>
																				<td> <a href="../elements/id-bf3546285a8d4961923029e45d3abbb9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bea51e04bb3c4e56a75dbba5d0c18de5.html" target="element"> Gi samtykke til innhenting av skattegrunnlag </a> </td>
																				<td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element"> Innhent s&#248;kers samtykke til innhenting av skattegrunnlag </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4502f604bb754d37a5ce00fa1e86ab1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4502f604bb754d37a5ce00fa1e86ab1e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/id-d389bc4ee9fa4418a1b6e5c2976f843a.html" target="element"> Motta l&#229;nes&#248;knad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7fb927b6e824408b0600a4267de75bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7fb927b6e824408b0600a4267de75bb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/id-26441d07ec6541c2a5d329d2d503ec64.html" target="element"> Gi svar p&#229; l&#229;nes&#248;knad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea8c6364e96a403d8da499bfa3ee723b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea8c6364e96a403d8da499bfa3ee723b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element"> Innhent s&#248;kers samtykke til innhenting av skattegrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e18f51254e35403cbec0922e8f60cb35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e18f51254e35403cbec0922e8f60cb35.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element"> Innhent skattegrunnlag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cff6349b6cf94a098a6eff89e4c8b3da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cff6349b6cf94a098a6eff89e4c8b3da.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2d7967377f54503a9ff68393fd2cb04.html" target="element"> Bank </a> </td>
																		<td> <a href="../elements/id-6f1e0d7fa5bb48769508fcf5d9c44552.html" target="element"> Vurder s&#248;knad </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aad1840c19c742bcbb8b9b6dc0046afc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aad1840c19c742bcbb8b9b6dc0046afc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d389bc4ee9fa4418a1b6e5c2976f843a.html" target="element"> Motta l&#229;nes&#248;knad </a> </td>
																				<td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element"> Innhent s&#248;kers samtykke til innhenting av skattegrunnlag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eb4802b8c9bf423ca74b2f725b57e78f.html" target="element"> S&#248;knadsrsultat (tilsagn eller avslag) </a> </td>
																				<td> <a href="../elements/id-eb4802b8c9bf423ca74b2f725b57e78f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26441d07ec6541c2a5d329d2d503ec64.html" target="element"> Gi svar p&#229; l&#229;nes&#248;knad </a> </td>
																				<td> <a href="../elements/id-c4bb7073550e4195ab50836c86f59b35.html" target="element"> Motta resultat av s&#248;knadsbehandling </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-58f55390fe4141bd947892b3d81af7e1.html" target="element"> S&#248;knadsrsultat  </a> </td>
																				<td> <a href="../elements/id-58f55390fe4141bd947892b3d81af7e1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element"> Innhent s&#248;kers samtykke til innhenting av skattegrunnlag </a> </td>
																				<td> <a href="../elements/id-bea51e04bb3c4e56a75dbba5d0c18de5.html" target="element"> Gi samtykke til innhenting av skattegrunnlag </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-40b4d0220d5748c4ad281614f344e563.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-40b4d0220d5748c4ad281614f344e563.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f8db05bb708a4f148b0616aff9fff67e.html" target="element"> Innhent s&#248;kers samtykke til innhenting av skattegrunnlag </a> </td>
																				<td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element"> Innhent skattegrunnlag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7fee7a0a9797474181423a9eb94224ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fee7a0a9797474181423a9eb94224ed.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element"> Innhent skattegrunnlag </a> </td>
																				<td> <a href="../elements/id-6f1e0d7fa5bb48769508fcf5d9c44552.html" target="element"> Vurder s&#248;knad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f7791805158f43f5ad646812d9e04bbe.html" target="element"> Foresp&#248;rsel(skattegrunnlag) </a> </td>
																				<td> <a href="../elements/id-f7791805158f43f5ad646812d9e04bbe.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element"> Innhent skattegrunnlag </a> </td>
																				<td> <a href="../elements/id-c61711f99c4b460ca731f13fab879716.html" target="element"> Utlrver  skattegrunnlag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5e6d380d5c1f40b88b78bdd04c4b9624.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e6d380d5c1f40b88b78bdd04c4b9624.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6f1e0d7fa5bb48769508fcf5d9c44552.html" target="element"> Vurder s&#248;knad </a> </td>
																				<td> <a href="../elements/id-26441d07ec6541c2a5d329d2d503ec64.html" target="element"> Gi svar p&#229; l&#229;nes&#248;knad </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a164001dbe214499966b3765b1aab616.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a164001dbe214499966b3765b1aab616.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1991f04d845a4d6b9e1f0ebaa9dac20b.html" target="element"> Skatteetaten </a> </td>
																		<td> <a href="../elements/id-c61711f99c4b460ca731f13fab879716.html" target="element"> Utlrver  skattegrunnlag </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-410c7360c9384623b1f1852bc1d074af.html" target="element"> Svar (skattegrunnlag) </a> </td>
																				<td> <a href="../elements/id-410c7360c9384623b1f1852bc1d074af.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c61711f99c4b460ca731f13fab879716.html" target="element"> Utlrver  skattegrunnlag </a> </td>
																				<td> <a href="../elements/id-5ef29f4699964d6f92101ad7892327ad.html" target="element"> Innhent skattegrunnlag </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>