<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Forsendelse - en til flere kjente</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Forsendelse - en til flere kjente</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cb38aafc53374dc9bfc0bb86a3e5cfb2.png" alt="Forsendelse - en til flere kjente" usemap="#id-cb38aafc53374dc9bfc0bb86a3e5cfb2map"/>
			   <map name="id-cb38aafc53374dc9bfc0bb86a3e5cfb2map">
				  		        <area shape="rect" coords="150,443,175,471" href="../objects/id-b9edd4c4517d4d42b2b2afdc01bb1092.html" target="element" >
				  		        <area shape="rect" coords="150,345,175,373" href="../objects/id-cd71513acbc4436198307589bdb668ba.html" target="element" >
				  		        <area shape="rect" coords="150,255,175,283" href="../objects/id-5bdd7b6f5539409099613ac611ac2f90.html" target="element" >
				  		        <area shape="rect" coords="147,410,179,430" href="../objects/id-50e3fa97914b4bc6b29e81fb40a3d1d3.html" target="element" >
				  		        <area shape="rect" coords="147,318,179,338" href="../objects/id-f4df646e58e24ef88c4220105fbf1bc7.html" target="element" >
				  		        <area shape="rect" coords="147,225,179,245" href="../objects/id-04123385a6a143b18505ae89aae6ae54.html" target="element" >
				  				        <area shape="rect" coords="100,506,205,531" href="../objects/id-4a21f3c6f5d44d72bf51fa1f8078d49d.html" target="element" >
				  				        <area shape="rect" coords="69,531,101,551" href="../objects/id-737d127cc8354785b8eee646e4b66ced.html" target="element" >
				  				        <area shape="rect" coords="204,508,223,530" href="../objects/id-a5323b5071f1441ea03b51fdcd042ec1.html" target="element" >
				  				        <area shape="rect" coords="69,509,101,529" href="../objects/id-e3f72388e14f492fb6e3b7e8f4f97ea4.html" target="element" >
				  				        <area shape="rect" coords="204,530,223,552" href="../objects/id-d372f0652ed64c33b18dbf50edba9af6.html" target="element" >
				  				        <area shape="rect" coords="100,528,235,553" href="../objects/id-a79583f91043440f82f44330c4252079.html" target="element" >
				  				        <area shape="rect" coords="69,488,101,508" href="../objects/id-b8ad02aa8b714a0abb9d5a32b393fd34.html" target="element" >
				  				        <area shape="rect" coords="204,487,223,509" href="../objects/id-4bfd5fb1b2514ed4b2abf66487c69414.html" target="element" >
				  				        <area shape="rect" coords="100,485,235,510" href="../objects/id-da5cd9116b9547198376a6873818d1fb.html" target="element" >

				  		        <area shape="rect" coords="64,482,240,556" href="../objects/id-662945d6b4814822ac2f0c3da52f6b6b.html" target="element" >
				  				        <area shape="rect" coords="230,394,267,443" href="../objects/id-c672ef5e93734b45a02003fa881853a2.html" target="element" >

				  		        <area shape="rect" coords="200,374,297,465" href="../objects/id-120abf69e78d40c7bc94ccecf2d1c42b.html" target="element" >
				  				        <area shape="rect" coords="60,293,97,342" href="../objects/id-1c700e56aff841f9b744944f5c8a5f6b.html" target="element" >

				  		        <area shape="rect" coords="30,275,127,366" href="../objects/id-e1ccf6afe79842f7a55bc962fe694ea3.html" target="element" >
				  				        <area shape="rect" coords="230,300,267,349" href="../objects/id-e4f9eb7a04f147d7ab62bb640c08d292.html" target="element" >

				  		        <area shape="rect" coords="200,282,297,373" href="../objects/id-d52603d0ff604bd29bd2bfbd4fcbe027.html" target="element" >
				  				        <area shape="rect" coords="230,205,267,254" href="../objects/id-664d2626cf11489cac0f0d40529160ff.html" target="element" >

				  		        <area shape="rect" coords="205,195,302,276" href="../objects/id-fbd40fa0ea3440c091f2087019193b86.html" target="element" >

				          <area shape="rect" coords="10,160,322,566" href="../objects/id-3fbe1d2cbea047c6b419d5e507284663.html" target="element" >
				  				<area shape="rect" coords="16,10,316,35" href="../views/id-cb38aafc53374dc9bfc0bb86a3e5cfb2.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="146,67,182,93" href="../objects/id-680d357794ee412eb0c76db2b251252d.html" target="element" >
				  		        <area shape="rect" coords="129,45,207,71" href="../objects/id-96ad3a50a05042c5bcf6f7163650f042.html" target="element" >
				  				        <area shape="rect" coords="226,55,281,104" href="../objects/id-67c0e2d70d784973a7db044babe44366.html" target="element" >

				  		        <area shape="rect" coords="206,50,303,141" href="../objects/id-d9f5fbcdd45740509c3b6f3c42644b01.html" target="element" >
				  				        <area shape="rect" coords="61,55,98,104" href="../objects/id-acd07bb01b7d49a7a48ab8fb113f5b04.html" target="element" >

				  		        <area shape="rect" coords="31,42,128,133" href="../objects/id-024383421cbf4e88bdddf2be6fb52371.html" target="element" >

				          <area shape="rect" coords="16,10,316,141" href="../objects/id-aeef36ca96cf4815902eb9488227572b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-aeef36ca96cf4815902eb9488227572b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aeef36ca96cf4815902eb9488227572b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-024383421cbf4e88bdddf2be6fb52371.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-024383421cbf4e88bdddf2be6fb52371.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-acd07bb01b7d49a7a48ab8fb113f5b04.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-acd07bb01b7d49a7a48ab8fb113f5b04.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-d9f5fbcdd45740509c3b6f3c42644b01.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d9f5fbcdd45740509c3b6f3c42644b01.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-67c0e2d70d784973a7db044babe44366.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-67c0e2d70d784973a7db044babe44366.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-96ad3a50a05042c5bcf6f7163650f042.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-96ad3a50a05042c5bcf6f7163650f042.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-680d357794ee412eb0c76db2b251252d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-680d357794ee412eb0c76db2b251252d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/id-cb38aafc53374dc9bfc0bb86a3e5cfb2.html" target="view"> Forsendelse - en til flere kjente </a> </td>
													    <td> <a href="../views/id-cb38aafc53374dc9bfc0bb86a3e5cfb2.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-3fbe1d2cbea047c6b419d5e507284663.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3fbe1d2cbea047c6b419d5e507284663.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-fbd40fa0ea3440c091f2087019193b86.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fbd40fa0ea3440c091f2087019193b86.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-664d2626cf11489cac0f0d40529160ff.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-664d2626cf11489cac0f0d40529160ff.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-d52603d0ff604bd29bd2bfbd4fcbe027.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d52603d0ff604bd29bd2bfbd4fcbe027.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-e4f9eb7a04f147d7ab62bb640c08d292.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-e4f9eb7a04f147d7ab62bb640c08d292.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-e1ccf6afe79842f7a55bc962fe694ea3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e1ccf6afe79842f7a55bc962fe694ea3.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-1c700e56aff841f9b744944f5c8a5f6b.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-1c700e56aff841f9b744944f5c8a5f6b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-120abf69e78d40c7bc94ccecf2d1c42b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-120abf69e78d40c7bc94ccecf2d1c42b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-c672ef5e93734b45a02003fa881853a2.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-c672ef5e93734b45a02003fa881853a2.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-662945d6b4814822ac2f0c3da52f6b6b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-662945d6b4814822ac2f0c3da52f6b6b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-da5cd9116b9547198376a6873818d1fb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-da5cd9116b9547198376a6873818d1fb.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-4bfd5fb1b2514ed4b2abf66487c69414.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-4bfd5fb1b2514ed4b2abf66487c69414.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b8ad02aa8b714a0abb9d5a32b393fd34.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-b8ad02aa8b714a0abb9d5a32b393fd34.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a79583f91043440f82f44330c4252079.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a79583f91043440f82f44330c4252079.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-d372f0652ed64c33b18dbf50edba9af6.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-d372f0652ed64c33b18dbf50edba9af6.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e3f72388e14f492fb6e3b7e8f4f97ea4.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-e3f72388e14f492fb6e3b7e8f4f97ea4.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a5323b5071f1441ea03b51fdcd042ec1.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-a5323b5071f1441ea03b51fdcd042ec1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-737d127cc8354785b8eee646e4b66ced.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-737d127cc8354785b8eee646e4b66ced.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-4a21f3c6f5d44d72bf51fa1f8078d49d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4a21f3c6f5d44d72bf51fa1f8078d49d.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-04123385a6a143b18505ae89aae6ae54.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-04123385a6a143b18505ae89aae6ae54.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f4df646e58e24ef88c4220105fbf1bc7.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-f4df646e58e24ef88c4220105fbf1bc7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-50e3fa97914b4bc6b29e81fb40a3d1d3.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-50e3fa97914b4bc6b29e81fb40a3d1d3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5bdd7b6f5539409099613ac611ac2f90.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-5bdd7b6f5539409099613ac611ac2f90.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cd71513acbc4436198307589bdb668ba.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-cd71513acbc4436198307589bdb668ba.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b9edd4c4517d4d42b2b2afdc01bb1092.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b9edd4c4517d4d42b2b2afdc01bb1092.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>