<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Metoder og kunnskapsgrunnlag for sammenhengende tjenester</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Metoder og kunnskapsgrunnlag for sammenhengende tjenester</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c24cbde7bf1846efafe0b78480137f98.png" alt="Metoder og kunnskapsgrunnlag for sammenhengende tjenester" usemap="#id-c24cbde7bf1846efafe0b78480137f98map"/>
			   <map name="id-c24cbde7bf1846efafe0b78480137f98map">
				  				<area shape="rect" coords="34,70,172,141" href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html"  target="element">

				  		<area shape="rect" coords="10,10,191,155" href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html"  target="element">
				  				<area shape="rect" coords="262,430,399,501" href="../elements/id-3e75f8d1aada4f6bade7b305957680bc.html"  target="element">

				  		<area shape="rect" coords="238,406,1139,515" href="../elements/id-defeba42784f40b6a16aa030faae4524.html"  target="element">
				  				<area shape="rect" coords="262,214,399,285" href="../elements/id-2bada95aa7b64e7c831f11291d157542.html"  target="element">
				  				<area shape="rect" coords="406,214,543,285" href="../elements/id-492fd10adff0472493d9bc40d6069480.html"  target="element">

				  		<area shape="rect" coords="238,178,1139,299" href="../elements/id-0537a588e2c143069ea14e62475c4929.html"  target="element">
				  						<area shape="rect" coords="514,610,651,681" href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html"  target="element">

				  				<area shape="rect" coords="490,562,671,695" href="../elements/id-d1dae0c96b96496d97216598c359e778.html"  target="element">
				  				<area shape="rect" coords="262,634,399,705" href="../elements/id-782b313039504a008a16e4f95ae5317d.html"  target="element">
				  				<area shape="rect" coords="262,550,399,621" href="../elements/id-d1b3b4788d324723abe82d72b072839e.html"  target="element">

				  		<area shape="rect" coords="238,514,1139,719" href="../elements/id-159dbf532f6044b88c8802f1ceadd0dd.html"  target="element">
				  		<area shape="rect" coords="22,178,159,719" href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html"  target="element">
				  				<area shape="rect" coords="406,322,543,393" href="../elements/id-02b97fa0840048b19b3939799116e8f2.html"  target="element">
				  				<area shape="rect" coords="838,322,975,393" href="../elements/id-58eb45a344674bda8e0bade85b6ce91c.html"  target="element">
				  				<area shape="rect" coords="262,322,399,393" href="../elements/id-0557a17704d34b27b8ceb970f3272008.html"  target="element">
				  				<area shape="rect" coords="982,322,1119,393" href="../elements/id-57af387f3e6f441eb3a212577d9d008a.html"  target="element">
				  				<area shape="rect" coords="550,322,687,393" href="../elements/id-104feeb408ea4dcb88ac3e79e00b3146.html"  target="element">
				  				<area shape="rect" coords="694,322,831,393" href="../elements/id-7c6c8fceab8b48368654162e736db6ea.html"  target="element">

				  		<area shape="rect" coords="238,298,1139,407" href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Metoder og kunnskapsgrunnlag for sammenhengende tjenester</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
											    <td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7c6c8fceab8b48368654162e736db6ea.html" target="element"> Medfinansierings-ordningen </a> </td>
													    <td> <a href="../elements/id-7c6c8fceab8b48368654162e736db6ea.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-104feeb408ea4dcb88ac3e79e00b3146.html" target="element"> R&#229;dgivning via Digitaliseringsr&#229;det  </a> </td>
													    <td> <a href="../elements/id-104feeb408ea4dcb88ac3e79e00b3146.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57af387f3e6f441eb3a212577d9d008a.html" target="element"> Nettverk for prosjekt-, program- og portef&#248;ljestyring  </a> </td>
													    <td> <a href="../elements/id-57af387f3e6f441eb3a212577d9d008a.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0557a17704d34b27b8ceb970f3272008.html" target="element"> Veiledning for sammenhengende tjenester </a> </td>
													    <td> <a href="../elements/id-0557a17704d34b27b8ceb970f3272008.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58eb45a344674bda8e0bade85b6ce91c.html" target="element"> StimuLab  </a> </td>
													    <td> <a href="../elements/id-58eb45a344674bda8e0bade85b6ce91c.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02b97fa0840048b19b3939799116e8f2.html" target="element"> Veiledning, r&#229;dgivning og erfaringsinnhenting fra de 7 livshendelsene </a> </td>
													    <td> <a href="../elements/id-02b97fa0840048b19b3939799116e8f2.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
											    <td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-159dbf532f6044b88c8802f1ceadd0dd.html" target="element"> Involverte (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
											    <td> <a href="../elements/id-159dbf532f6044b88c8802f1ceadd0dd.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
													    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1dae0c96b96496d97216598c359e778.html" target="element"> Viktigste medvirkende -  metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
													    <td> <a href="../elements/id-d1dae0c96b96496d97216598c359e778.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html" target="element"> KS </a> </td>
															    <td> <a href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-0537a588e2c143069ea14e62475c4929.html" target="element"> M&#229;l (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
											    <td> <a href="../elements/id-0537a588e2c143069ea14e62475c4929.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-492fd10adff0472493d9bc40d6069480.html" target="element"> Helhetlige tjenestekjeder </a> </td>
													    <td> <a href="../elements/id-492fd10adff0472493d9bc40d6069480.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2bada95aa7b64e7c831f11291d157542.html" target="element"> Brukerrettede og sammenhengende tjenester  </a> </td>
													    <td> <a href="../elements/id-2bada95aa7b64e7c831f11291d157542.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-defeba42784f40b6a16aa030faae4524.html" target="element"> Leveranser (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
											    <td> <a href="../elements/id-defeba42784f40b6a16aa030faae4524.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3e75f8d1aada4f6bade7b305957680bc.html" target="element"> Forel&#248;pig veiledning for sammenhengende tjenester </a> </td>
													    <td> <a href="../elements/id-3e75f8d1aada4f6bade7b305957680bc.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan for regjeringens digitaliseringsstrategi </a> </td>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
													    <td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-471c54a2c09e4490bc9d80295cab4444.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-471c54a2c09e4490bc9d80295cab4444.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e49ad99bf8447b9adc9fe1ff9e4847b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e49ad99bf8447b9adc9fe1ff9e4847b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-7c6c8fceab8b48368654162e736db6ea.html" target="element"> Medfinansierings-ordningen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c0064d1884a405d9b40a0e8aee6e66a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c0064d1884a405d9b40a0e8aee6e66a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-104feeb408ea4dcb88ac3e79e00b3146.html" target="element"> R&#229;dgivning via Digitaliseringsr&#229;det  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8488d06c8bd64d78b793ff799bc58589.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8488d06c8bd64d78b793ff799bc58589.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-57af387f3e6f441eb3a212577d9d008a.html" target="element"> Nettverk for prosjekt-, program- og portef&#248;ljestyring  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0b7495903f14551a2f11c538eafd861.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0b7495903f14551a2f11c538eafd861.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-0557a17704d34b27b8ceb970f3272008.html" target="element"> Veiledning for sammenhengende tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff07137d59cc49e2a4a6e740c7366152.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff07137d59cc49e2a4a6e740c7366152.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-58eb45a344674bda8e0bade85b6ce91c.html" target="element"> StimuLab  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b7ed4ce38954e8ca7c7cafcdd010a5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b7ed4ce38954e8ca7c7cafcdd010a5d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/14160873-9dde-4ecf-91b0-132d2f75f691.html" target="element"> Underst&#248;ttende aktiviteter (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-02b97fa0840048b19b3939799116e8f2.html" target="element"> Veiledning, r&#229;dgivning og erfaringsinnhenting fra de 7 livshendelsene </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bff952baab2c4f2090bdf8ee4787125c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bff952baab2c4f2090bdf8ee4787125c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef44fea86a524bc1bf3e9d9bca40df6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef44fea86a524bc1bf3e9d9bca40df6d.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-0537a588e2c143069ea14e62475c4929.html" target="element"> M&#229;l (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a80a207f7108409c84e198583d553d3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a80a207f7108409c84e198583d553d3b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-159dbf532f6044b88c8802f1ceadd0dd.html" target="element"> Involverte (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db7d2c09503347099231ee209dcee21f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db7d2c09503347099231ee209dcee21f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-159dbf532f6044b88c8802f1ceadd0dd.html" target="element"> Involverte (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a3de9a82f164f3db30812dab20b0519.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a3de9a82f164f3db30812dab20b0519.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-159dbf532f6044b88c8802f1ceadd0dd.html" target="element"> Involverte (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-d1dae0c96b96496d97216598c359e778.html" target="element"> Viktigste medvirkende -  metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cacfa8fae4b24d7c86f65c66cdfdb244.html" target="element"> ansvarlig </a> </td>
																				<td> <a href="../elements/id-cacfa8fae4b24d7c86f65c66cdfdb244.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																				<td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-327dc4ba4ab14974a25329a314e0d55f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-327dc4ba4ab14974a25329a314e0d55f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2fdfaead4bee413d9aa6107fec4a94c0.html" target="element"> utf&#248;rende </a> </td>
																				<td> <a href="../elements/id-2fdfaead4bee413d9aa6107fec4a94c0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																				<td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0ab0ed90cddb4ca1b012b12d50e0a1eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ab0ed90cddb4ca1b012b12d50e0a1eb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d1dae0c96b96496d97216598c359e778.html" target="element"> Viktigste medvirkende -  metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																				<td> <a href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html" target="element"> KS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b8fd5f9ddd964941b34ca15f5d7cb512.html" target="element"> medvirkende </a> </td>
																				<td> <a href="../elements/id-b8fd5f9ddd964941b34ca15f5d7cb512.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-d1dae0c96b96496d97216598c359e778.html" target="element"> Viktigste medvirkende -  metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-980efb3cebeb4ac3a0336c5e107bf2aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-980efb3cebeb4ac3a0336c5e107bf2aa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0537a588e2c143069ea14e62475c4929.html" target="element"> M&#229;l (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-492fd10adff0472493d9bc40d6069480.html" target="element"> Helhetlige tjenestekjeder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-652619c58fcf4e75800c236f27f31271.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-652619c58fcf4e75800c236f27f31271.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0537a588e2c143069ea14e62475c4929.html" target="element"> M&#229;l (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-2bada95aa7b64e7c831f11291d157542.html" target="element"> Brukerrettede og sammenhengende tjenester  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-85695656dc824521ac865435f4d15ebb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85695656dc824521ac865435f4d15ebb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-defeba42784f40b6a16aa030faae4524.html" target="element"> Leveranser (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-3e75f8d1aada4f6bade7b305957680bc.html" target="element"> Forel&#248;pig veiledning for sammenhengende tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee1a847aa0dd421f9c477642bd8a3a60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee1a847aa0dd421f9c477642bd8a3a60.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-defeba42784f40b6a16aa030faae4524.html" target="element"> Leveranser (metoder og kunnskapsgrunnlag for sammenhengende tjenester) </a> </td>
																		<td> <a href="../elements/id-758e859f4f354a9ab33aa2b7f40ec251.html" target="element"> Utvikle metoder og kunnskapsgrunnlag for sammenhengende tjenester </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8bd06d6cf7a0421592181df7ccdaf7cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bd06d6cf7a0421592181df7ccdaf7cb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-3e75f8d1aada4f6bade7b305957680bc.html" target="element"> Forel&#248;pig veiledning for sammenhengende tjenester </a> </td>
																				<td> <a href="../elements/id-0557a17704d34b27b8ceb970f3272008.html" target="element"> Veiledning for sammenhengende tjenester </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e000d676ef5b4302b06e9416c1efc289.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e000d676ef5b4302b06e9416c1efc289.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan for regjeringens digitaliseringsstrategi </a> </td>
																		<td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>