<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digital sikkerhet</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digital sikkerhet</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cd39aeaa29714652b0dce1e0e0095364.png" alt="Digital sikkerhet" usemap="#id-cd39aeaa29714652b0dce1e0e0095364map"/>
			   <map name="id-cd39aeaa29714652b0dce1e0e0095364map">
				  		<area shape="rect" coords="1222,490,1359,561" href="../elements/id-f9949f9ff034484c82e8e5a9c0f990b1.html"  target="element">
				  		<area shape="rect" coords="1234,398,1371,469" href="../elements/id-aebe8e809f3d4cf78696a23b265838d3.html"  target="element">
				  		<area shape="rect" coords="1222,298,1359,369" href="../elements/id-6a978bec86d1461bb10bb9b205f04919.html"  target="element">
				  		<area shape="rect" coords="1222,205,1359,276" href="../elements/id-2b04835f1429493a89ec22c3ed468c8b.html"  target="element">
				  				<area shape="rect" coords="34,58,171,129" href="../elements/id-28ffece148e34f0cb6a550d820d0a18b.html"  target="element">

				  		<area shape="rect" coords="10,10,191,143" href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html"  target="element">
				  		<area shape="rect" coords="286,766,1205,887" href="../elements/id-81f5613f0db04e7fbc9b52e7186878aa.html"  target="element">
				  				<area shape="rect" coords="742,214,879,285" href="../elements/id-663e1cde1f304850ad54b8ef6a9690b9.html"  target="element">
				  				<area shape="rect" coords="598,214,735,285" href="../elements/id-66c610576d2d4615afdd8bc2dc4cc929.html"  target="element">
				  				<area shape="rect" coords="454,214,591,285" href="../elements/id-9f3fe0881dfb438ca9ba15a4faf44a60.html"  target="element">
				  				<area shape="rect" coords="310,214,447,285" href="../elements/id-c2eced95a5a74422a033b39d5b7180bc.html"  target="element">

				  		<area shape="rect" coords="286,178,899,304" href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html"  target="element">
				  				<area shape="rect" coords="310,502,447,573" href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html"  target="element">
				  				<area shape="rect" coords="882,502,1019,573" href="../elements/id-808f0aa4608545cca5e61fe28794ded1.html"  target="element">
				  				<area shape="rect" coords="739,502,876,573" href="../elements/id-a5b896b182834a9f90385d94ec96531b.html"  target="element">
				  				<area shape="rect" coords="596,502,733,573" href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html"  target="element">
				  				<area shape="rect" coords="453,502,590,573" href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html"  target="element">

				  		<area shape="rect" coords="286,466,1031,592" href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html"  target="element">
				  				<area shape="rect" coords="310,646,447,717" href="../elements/id-89c47158645748f6939013c951902eee.html"  target="element">
				  				<area shape="rect" coords="1025,646,1162,717" href="../elements/id-838a5fda22184003a6263756b37d1bbb.html"  target="element">
				  				<area shape="rect" coords="739,646,876,717" href="../elements/id-b5e22fed826c49b4a82d279992ccae96.html"  target="element">
				  				<area shape="rect" coords="453,646,590,717" href="../elements/id-d6ceebccbc5141818b3332cc54ae35e1.html"  target="element">
				  				<area shape="rect" coords="596,646,733,717" href="../elements/id-01122bc69f564d8184a4a118a0b77ed7.html"  target="element">
				  				<area shape="rect" coords="882,646,1019,717" href="../elements/id-048ef0e06250475a8310a9c31239cd04.html"  target="element">

				  		<area shape="rect" coords="286,610,1205,731" href="../elements/id-e070122940fa4e158d53d547bee421af.html"  target="element">
				  				<area shape="rect" coords="490,358,627,429" href="../elements/id-782b313039504a008a16e4f95ae5317d.html"  target="element">
				  				<area shape="rect" coords="310,358,447,429" href="../elements/id-d1b3b4788d324723abe82d72b072839e.html"  target="element">

				  		<area shape="rect" coords="286,322,647,443" href="../elements/id-343f55cb2c854dcd9fd7b9001fec168b.html"  target="element">
				  		<area shape="rect" coords="32,178,169,887" href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:language </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr><tr><td> difi:name_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Digital sikkerhet</xmp> </td></tr><tr><td> difi:name_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_no </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:description_en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> difi:docViewPath </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
											    <td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-343f55cb2c854dcd9fd7b9001fec168b.html" target="element"> Hovedansvarlige - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
											    <td> <a href="../elements/id-343f55cb2c854dcd9fd7b9001fec168b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
													    <td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
													    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
											    <td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-048ef0e06250475a8310a9c31239cd04.html" target="element"> Markedsplass for skytjenester (DF&#216;) </a> </td>
													    <td> <a href="../elements/id-048ef0e06250475a8310a9c31239cd04.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01122bc69f564d8184a4a118a0b77ed7.html" target="element"> Digital sikkerhet (KS) </a> </td>
													    <td> <a href="../elements/id-01122bc69f564d8184a4a118a0b77ed7.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6ceebccbc5141818b3332cc54ae35e1.html" target="element"> &#216;vrige tiltak i Nasjonal strategi for digital sikkerhet </a> </td>
													    <td> <a href="../elements/id-d6ceebccbc5141818b3332cc54ae35e1.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5e22fed826c49b4a82d279992ccae96.html" target="element"> Oppdrag 9 i Digdirs tildelingsbrev for 2020 ("I samarbeid med KS f&#229; frem et kunnskapsgrunnlag om arbeidet med informasjonssikkerhet i kommunene") </a> </td>
													    <td> <a href="../elements/id-b5e22fed826c49b4a82d279992ccae96.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-838a5fda22184003a6263756b37d1bbb.html" target="element"> Informasjonssikkerhet (Digitaliseringsdirektoratet) </a> </td>
													    <td> <a href="../elements/id-838a5fda22184003a6263756b37d1bbb.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-89c47158645748f6939013c951902eee.html" target="element"> Difi-rapport 2018:4 &#8211; Arbeidet med informasjonssikkerhet i statsforvaltningen </a> </td>
													    <td> <a href="../elements/id-89c47158645748f6939013c951902eee.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
											    <td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html" target="element"> Direktoratet for forvaltning og &#248;konomistyring (DF&#216;) </a> </td>
													    <td> <a href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html" target="element"> Direktoratet for samfunnssikkerhet og beredskap (DSB) </a> </td>
													    <td> <a href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5b896b182834a9f90385d94ec96531b.html" target="element"> Nasjonal sikkerhetsmyndighet (NSM) </a> </td>
													    <td> <a href="../elements/id-a5b896b182834a9f90385d94ec96531b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-808f0aa4608545cca5e61fe28794ded1.html" target="element"> Norsk senter for informasjonssikring (NorSIS) </a> </td>
													    <td> <a href="../elements/id-808f0aa4608545cca5e61fe28794ded1.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html" target="element"> KS </a> </td>
													    <td> <a href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element"> M&#229;lsettinger- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
											    <td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c2eced95a5a74422a033b39d5b7180bc.html" target="element"> &#216;ke tilliten til forvaltningen </a> </td>
													    <td> <a href="../elements/id-c2eced95a5a74422a033b39d5b7180bc.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f3fe0881dfb438ca9ba15a4faf44a60.html" target="element"> Hindre un&#248;dvendige kostnader i forbindelse med informasjonssikkerhetsbrudd </a> </td>
													    <td> <a href="../elements/id-9f3fe0881dfb438ca9ba15a4faf44a60.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66c610576d2d4615afdd8bc2dc4cc929.html" target="element"> Bedre styring og kontroll av informasjonssikkerhet i forvaltningen </a> </td>
													    <td> <a href="../elements/id-66c610576d2d4615afdd8bc2dc4cc929.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-663e1cde1f304850ad54b8ef6a9690b9.html" target="element"> Sikre at virksomhetene oppn&#229;r tilstrekkelig modenhet innenfor informasjonssikkerhet og blir bedre rustet til &#229; f&#248;lge endringene i trusselbildet </a> </td>
													    <td> <a href="../elements/id-663e1cde1f304850ad54b8ef6a9690b9.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-81f5613f0db04e7fbc9b52e7186878aa.html" target="element"> Leveranser - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
											    <td> <a href="../elements/id-81f5613f0db04e7fbc9b52e7186878aa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan for regjeringens digitaliseringsstrategi </a> </td>
											    <td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28ffece148e34f0cb6a550d820d0a18b.html" target="element"> Digital sikkerhet </a> </td>
													    <td> <a href="../elements/id-28ffece148e34f0cb6a550d820d0a18b.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2b04835f1429493a89ec22c3ed468c8b.html" target="element"> Informasjonssikkerhet i styringsdialogen </a> </td>
											    <td> <a href="../elements/id-2b04835f1429493a89ec22c3ed468c8b.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a978bec86d1461bb10bb9b205f04919.html" target="element"> &#216;velse for bedre informasjonssikkerhet </a> </td>
											    <td> <a href="../elements/id-6a978bec86d1461bb10bb9b205f04919.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aebe8e809f3d4cf78696a23b265838d3.html" target="element"> Sikkerhetskultur </a> </td>
											    <td> <a href="../elements/id-aebe8e809f3d4cf78696a23b265838d3.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9949f9ff034484c82e8e5a9c0f990b1.html" target="element"> Kompetanse  </a> </td>
											    <td> <a href="../elements/id-f9949f9ff034484c82e8e5a9c0f990b1.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-85c8cc6c6cb74bb6b5bc0dd1f6563e7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85c8cc6c6cb74bb6b5bc0dd1f6563e7c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element"> M&#229;lsettinger- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ab1a54ce37743418188caa52fdd2126.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ab1a54ce37743418188caa52fdd2126.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-28ffece148e34f0cb6a550d820d0a18b.html" target="element"> Digital sikkerhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ccecdb28deb5495880a54153897ede13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccecdb28deb5495880a54153897ede13.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-343f55cb2c854dcd9fd7b9001fec168b.html" target="element"> Hovedansvarlige - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-992261195ac74096895998b601f869bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-992261195ac74096895998b601f869bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-343f55cb2c854dcd9fd7b9001fec168b.html" target="element"> Hovedansvarlige - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-394c1b956a1d475d8eb43faeca4d0065.html" target="element"> hovedansvarlig </a> </td>
																		<td> <a href="../elements/id-394c1b956a1d475d8eb43faeca4d0065.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-343f55cb2c854dcd9fd7b9001fec168b.html" target="element"> Hovedansvarlige - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-327dc4ba4ab14974a25329a314e0d55f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-327dc4ba4ab14974a25329a314e0d55f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																				<td> <a href="../elements/id-d1b3b4788d324723abe82d72b072839e.html" target="element"> KMD </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-553d1366a3d34c8181ded1c234383366.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-553d1366a3d34c8181ded1c234383366.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-048ef0e06250475a8310a9c31239cd04.html" target="element"> Markedsplass for skytjenester (DF&#216;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00032c3d073747409f2d1f94d0af1832.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00032c3d073747409f2d1f94d0af1832.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-01122bc69f564d8184a4a118a0b77ed7.html" target="element"> Digital sikkerhet (KS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0246626eeb4145a4931300639c49b1cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0246626eeb4145a4931300639c49b1cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-d6ceebccbc5141818b3332cc54ae35e1.html" target="element"> &#216;vrige tiltak i Nasjonal strategi for digital sikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18b777b6f072470aad88b0df5492bf06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18b777b6f072470aad88b0df5492bf06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-b5e22fed826c49b4a82d279992ccae96.html" target="element"> Oppdrag 9 i Digdirs tildelingsbrev for 2020 ("I samarbeid med KS f&#229; frem et kunnskapsgrunnlag om arbeidet med informasjonssikkerhet i kommunene") </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55e63c282e5f494fb7b7b7f0fc1e6f55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55e63c282e5f494fb7b7b7f0fc1e6f55.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-838a5fda22184003a6263756b37d1bbb.html" target="element"> Informasjonssikkerhet (Digitaliseringsdirektoratet) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cafb6f311cb14233bf8fbf536c320e4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cafb6f311cb14233bf8fbf536c320e4b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-89c47158645748f6939013c951902eee.html" target="element"> Difi-rapport 2018:4 &#8211; Arbeidet med informasjonssikkerhet i statsforvaltningen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9bb314815174bc0be34cd7eb50f1a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9bb314815174bc0be34cd7eb50f1a6c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e070122940fa4e158d53d547bee421af.html" target="element"> Viktige underst&#248;ttende aktiviteter- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-333d850be3674107aae0e39ea9008729.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-333d850be3674107aae0e39ea9008729.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
																		<td> <a href="../elements/id-3fc289dcf55e4951a7d690abb5150542.html" target="element"> Direktoratet for forvaltning og &#248;konomistyring (DF&#216;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6de5ed5a11840b5a07b922733986d51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6de5ed5a11840b5a07b922733986d51.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
																		<td> <a href="../elements/id-aa4c5ac08c0949e286c7a46dbdb0a917.html" target="element"> Direktoratet for samfunnssikkerhet og beredskap (DSB) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-582a0e98bf7148898e199df97435667b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-582a0e98bf7148898e199df97435667b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
																		<td> <a href="../elements/id-a5b896b182834a9f90385d94ec96531b.html" target="element"> Nasjonal sikkerhetsmyndighet (NSM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76b35039b3e84fb8ab17537284b397ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76b35039b3e84fb8ab17537284b397ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
																		<td> <a href="../elements/id-808f0aa4608545cca5e61fe28794ded1.html" target="element"> Norsk senter for informasjonssikring (NorSIS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d9868dced4ef4a7fbea7db6b59ba5b55.html" target="element"> utf&#248;rende </a> </td>
																		<td> <a href="../elements/id-d9868dced4ef4a7fbea7db6b59ba5b55.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
																		<td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7174ca1a812b4f00b8173d6118f150ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7174ca1a812b4f00b8173d6118f150ad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1bc833a4e7434488b1cdf4248ea98ed7.html" target="element"> Viktigste medvirkende virksomheter og samarbeidspartnere - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet  </a> </td>
																		<td> <a href="../elements/6b1afc60-a04e-4453-8452-5fe554b96f1a.html" target="element"> KS </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0f84b41908d94df2ba4b5757e13ce8cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f84b41908d94df2ba4b5757e13ce8cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element"> M&#229;lsettinger- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-c2eced95a5a74422a033b39d5b7180bc.html" target="element"> &#216;ke tilliten til forvaltningen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53609885747b4d2190d18e235fb4bd40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53609885747b4d2190d18e235fb4bd40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element"> M&#229;lsettinger- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-9f3fe0881dfb438ca9ba15a4faf44a60.html" target="element"> Hindre un&#248;dvendige kostnader i forbindelse med informasjonssikkerhetsbrudd </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ca93a2addb34e15ad05c02041a7b9c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ca93a2addb34e15ad05c02041a7b9c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element"> M&#229;lsettinger- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-66c610576d2d4615afdd8bc2dc4cc929.html" target="element"> Bedre styring og kontroll av informasjonssikkerhet i forvaltningen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3da743539414e1d81f85918a62013c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3da743539414e1d81f85918a62013c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6760e0f7653c4624bcc6eaae2d74d583.html" target="element"> M&#229;lsettinger- Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-663e1cde1f304850ad54b8ef6a9690b9.html" target="element"> Sikre at virksomhetene oppn&#229;r tilstrekkelig modenhet innenfor informasjonssikkerhet og blir bedre rustet til &#229; f&#248;lge endringene i trusselbildet </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f25309341fbd44fd9472f5434fda970e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f25309341fbd44fd9472f5434fda970e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-81f5613f0db04e7fbc9b52e7186878aa.html" target="element"> Leveranser - Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																		<td> <a href="../elements/id-4a6fdd44a3914211950acd15799d21e2.html" target="element"> Oppf&#248;lging av tiltak 5 i Nasjonal strategi for digital sikkerhet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b14a91e4f9894f4c8e8feac1cd2005b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b14a91e4f9894f4c8e8feac1cd2005b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bc6371cee794fd49ab985d8f0a5c702.html" target="element"> Handlingsplan for regjeringens digitaliseringsstrategi </a> </td>
																		<td> <a href="../elements/id-28ffece148e34f0cb6a550d820d0a18b.html" target="element"> Digital sikkerhet </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>