<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnet per sept 2021 (Helle)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnet per sept 2021 (Helle)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fa97c0e144274c3c99baa8fc357463a4.png" alt="Overordnet per sept 2021 (Helle)" usemap="#id-fa97c0e144274c3c99baa8fc357463a4map"/>
			   <map name="id-fa97c0e144274c3c99baa8fc357463a4map">
				  				<area shape="rect" coords="622,466,759,527" href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html"  target="element">
				  				<area shape="rect" coords="622,334,759,395" href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html"  target="element">
				  				<area shape="rect" coords="622,202,759,263" href="../elements/id-35051f97e42c448a9200b69986a00f20.html"  target="element">

				  		<area shape="rect" coords="610,154,779,587" href="../elements/id-c437ecab94454c9db47d63dba27a93e0.html"  target="element">
				  				<area shape="rect" coords="610,34,767,95" href="../elements/id-a34a64f284604311b6301c3cbe52137f.html"  target="element">
				  				<area shape="rect" coords="286,48,333,81" href="../elements/id-18b62ae0ab974f4391aa2a94491c4cc1.html"  target="element">
				  				<area shape="rect" coords="394,48,441,81" href="../elements/id-b1ad4d338a0d4233b21103a943877583.html"  target="element">
				  				<area shape="rect" coords="250,48,297,81" href="../elements/id-ca687db56fa548858d4db3209adce50c.html"  target="element">
				  				<area shape="rect" coords="358,48,405,81" href="../elements/id-45577f17f6744ae7b84bb1b0f585770f.html"  target="element">
				  				<area shape="rect" coords="466,48,513,81" href="../elements/id-26c1a060fd514084a4eb6e62007a6104.html"  target="element">
				  				<area shape="rect" coords="502,48,549,81" href="../elements/id-207dc3b9b99047d6abc61295b216cf76.html"  target="element">
				  				<area shape="rect" coords="538,48,585,81" href="../elements/id-ee4b3a384f4e407b972d8000cdfb447b.html"  target="element">
				  				<area shape="rect" coords="430,48,477,81" href="../elements/id-cc7891fb858c4fde86c77c540c96e347.html"  target="element">
				  				<area shape="rect" coords="322,48,369,81" href="../elements/id-3afce118e7894771baea36ebb81b9c11.html"  target="element">
				  				<area shape="rect" coords="46,34,195,95" href="../elements/id-79695c3a437e40928fb919e283202bc5.html"  target="element">

				  		<area shape="rect" coords="10,10,803,107" href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html"  target="element">
				  				<area shape="rect" coords="46,466,183,527" href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html"  target="element">
				  				<area shape="rect" coords="46,334,183,395" href="../elements/id-d559c87423c04c7cba25dd2dd977750c.html"  target="element">
				  				<area shape="rect" coords="46,202,183,263" href="../elements/id-908874efdd154031b3d13022b4c83aff.html"  target="element">

				  		<area shape="rect" coords="34,154,202,587" href="../elements/id-51b6e7fd550845c48b1f6597797ce8f2.html"  target="element">
				  				<area shape="rect" coords="238,142,587,202" href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html"  target="element">

				  		<area shape="rect" coords="10,118,803,215" href="../elements/id-1c98db9249fe45a8a7a7376304094bdd.html"  target="element">
				  				<area shape="rect" coords="238,538,587,598" href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html"  target="element">
				  				<area shape="rect" coords="238,466,587,526" href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html"  target="element">
				  				<area shape="rect" coords="238,394,587,454" href="../elements/id-06e20a4698944c409149eb06da84f609.html"  target="element">
				  				<area shape="rect" coords="238,322,587,382" href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html"  target="element">
				  				<area shape="rect" coords="238,250,587,310" href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html"  target="element">

				  		<area shape="rect" coords="10,214,803,611" href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> difi:namespace </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">helle</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
											    <td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
													    <td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html" target="element"> Ressurser for dataanalyse </a> </td>
													    <td> <a href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element"> Sammenstilling av data </a> </td>
													    <td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element"> Distribuerte datakilder </a> </td>
													    <td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element"> Registre </a> </td>
													    <td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1c98db9249fe45a8a7a7376304094bdd.html" target="element"> Sluttbrukertjenester </a> </td>
											    <td> <a href="../elements/id-1c98db9249fe45a8a7a7376304094bdd.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html" target="element"> Integrerbare sluttbrukertjenestrer </a> </td>
													    <td> <a href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-51b6e7fd550845c48b1f6597797ce8f2.html" target="element"> Fagomr&#229;der </a> </td>
											    <td> <a href="../elements/id-51b6e7fd550845c48b1f6597797ce8f2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-908874efdd154031b3d13022b4c83aff.html" target="element"> Informasjons-forvaltning </a> </td>
													    <td> <a href="../elements/id-908874efdd154031b3d13022b4c83aff.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d559c87423c04c7cba25dd2dd977750c.html" target="element"> Informasjonssikkerhet </a> </td>
													    <td> <a href="../elements/id-d559c87423c04c7cba25dd2dd977750c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element"> Arkitektur og standardisering </a> </td>
													    <td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
											    <td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element"> Strategisk samordning og koordinering </a> </td>
													    <td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3afce118e7894771baea36ebb81b9c11.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-3afce118e7894771baea36ebb81b9c11.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc7891fb858c4fde86c77c540c96e347.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-cc7891fb858c4fde86c77c540c96e347.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ee4b3a384f4e407b972d8000cdfb447b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-ee4b3a384f4e407b972d8000cdfb447b.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-207dc3b9b99047d6abc61295b216cf76.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-207dc3b9b99047d6abc61295b216cf76.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26c1a060fd514084a4eb6e62007a6104.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-26c1a060fd514084a4eb6e62007a6104.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45577f17f6744ae7b84bb1b0f585770f.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-45577f17f6744ae7b84bb1b0f585770f.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca687db56fa548858d4db3209adce50c.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-ca687db56fa548858d4db3209adce50c.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b1ad4d338a0d4233b21103a943877583.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-b1ad4d338a0d4233b21103a943877583.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18b62ae0ab974f4391aa2a94491c4cc1.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-18b62ae0ab974f4391aa2a94491c4cc1.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a34a64f284604311b6301c3cbe52137f.html" target="element"> Virkemidler, innovasjon og digitalisering </a> </td>
													    <td> <a href="../elements/id-a34a64f284604311b6301c3cbe52137f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c437ecab94454c9db47d63dba27a93e0.html" target="element"> Infrastruktur </a> </td>
											    <td> <a href="../elements/id-c437ecab94454c9db47d63dba27a93e0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element"> Katalogtjenester </a> </td>
													    <td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element"> Datautveksling og integrasjon </a> </td>
													    <td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element"> Tillitstjenester </a> </td>
													    <td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e93053eff6d446e589cf26454037541d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e93053eff6d446e589cf26454037541d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a402a5134a05436e8af9a148ddf74af3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a402a5134a05436e8af9a148ddf74af3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-c6d23c2984264c41a4fb49f6c51e068b.html" target="element"> Ressurser for dataanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c953c79a5da4a44a7c9205a0bf28312.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c953c79a5da4a44a7c9205a0bf28312.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-06e20a4698944c409149eb06da84f609.html" target="element"> Sammenstilling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd57435f2cfe42e8be77e18161438c8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd57435f2cfe42e8be77e18161438c8e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-2db7b974d33d4bb3afa524da24cb5a71.html" target="element"> Distribuerte datakilder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0adbc736933646bd8d10a6ee5b4128dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0adbc736933646bd8d10a6ee5b4128dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae6e51ea6faa475fbc9eeaf65634cc23.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-792ace0aec5c4ebc88c4239bd4ddf044.html" target="element"> Registre </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-17e458582d13493c97f01e1c86212a26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17e458582d13493c97f01e1c86212a26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c98db9249fe45a8a7a7376304094bdd.html" target="element"> Sluttbrukertjenester </a> </td>
																		<td> <a href="../elements/id-c5779c57c7c745f8bcedc0c37c29b72c.html" target="element"> Integrerbare sluttbrukertjenestrer </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-aa9b1c2a8a6d485cb761ebdb748f24f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa9b1c2a8a6d485cb761ebdb748f24f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51b6e7fd550845c48b1f6597797ce8f2.html" target="element"> Fagomr&#229;der </a> </td>
																		<td> <a href="../elements/id-908874efdd154031b3d13022b4c83aff.html" target="element"> Informasjons-forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f56fd24dc98e4474ab484dd882ae6c9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f56fd24dc98e4474ab484dd882ae6c9f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51b6e7fd550845c48b1f6597797ce8f2.html" target="element"> Fagomr&#229;der </a> </td>
																		<td> <a href="../elements/id-d559c87423c04c7cba25dd2dd977750c.html" target="element"> Informasjonssikkerhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb45bc7c615b486286dcb85de9174f72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb45bc7c615b486286dcb85de9174f72.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51b6e7fd550845c48b1f6597797ce8f2.html" target="element"> Fagomr&#229;der </a> </td>
																		<td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element"> Arkitektur og standardisering </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-129c9c260169425d8421cd86b06b05af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-129c9c260169425d8421cd86b06b05af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element"> Strategisk samordning og koordinering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-589618ee5c384a10b55761486ed4199c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-589618ee5c384a10b55761486ed4199c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-3afce118e7894771baea36ebb81b9c11.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbb7e9d550e149349ee3fc84f1285172.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbb7e9d550e149349ee3fc84f1285172.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-cc7891fb858c4fde86c77c540c96e347.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-919c06d3b46340e8acc058782e776a8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-919c06d3b46340e8acc058782e776a8c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-ee4b3a384f4e407b972d8000cdfb447b.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f4c1df36e9d44a3870c424e7c00315d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f4c1df36e9d44a3870c424e7c00315d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-207dc3b9b99047d6abc61295b216cf76.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3dc621039fd4af1860f29f0fa38e15a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3dc621039fd4af1860f29f0fa38e15a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-26c1a060fd514084a4eb6e62007a6104.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30db1e35586548d2834bdf206453d5f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30db1e35586548d2834bdf206453d5f6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-45577f17f6744ae7b84bb1b0f585770f.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdb0e9c8d6c14c53a2f4e24ba2bbb2a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdb0e9c8d6c14c53a2f4e24ba2bbb2a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-ca687db56fa548858d4db3209adce50c.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-859f39995b78400eb0584afe7bd7fa92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-859f39995b78400eb0584afe7bd7fa92.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-b1ad4d338a0d4233b21103a943877583.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-264c4694c2b3486ebb240cd9e63bc213.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-264c4694c2b3486ebb240cd9e63bc213.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-18b62ae0ab974f4391aa2a94491c4cc1.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cae5d84c0328451690bf0b2d1e06bf23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cae5d84c0328451690bf0b2d1e06bf23.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba82fe41f6f644199e02ee866b6f9092.html" target="element"> Tjenestekjeder / virksomhetsprosesser </a> </td>
																		<td> <a href="../elements/id-a34a64f284604311b6301c3cbe52137f.html" target="element"> Virkemidler, innovasjon og digitalisering </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a3773f2bcece4e659e326293008c02a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3773f2bcece4e659e326293008c02a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c437ecab94454c9db47d63dba27a93e0.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-35051f97e42c448a9200b69986a00f20.html" target="element"> Katalogtjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dab4b85645cd456eb00f1921f034bc86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dab4b85645cd456eb00f1921f034bc86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c437ecab94454c9db47d63dba27a93e0.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-2fb025c79c75499a97d3de5dd6d0ddb5.html" target="element"> Datautveksling og integrasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c683470a30245d19fac7b34af41d46d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c683470a30245d19fac7b34af41d46d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c437ecab94454c9db47d63dba27a93e0.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-f4d69ad9fb52400c9c1d9b2d76ffa895.html" target="element"> Tillitstjenester </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>