<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Delegering eOppslag</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Delegering eOppslag</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/07e8a6d3-a4db-4274-97b2-a1394a0e3410.png" alt="Delegering eOppslag" usemap="#07e8a6d3-a4db-4274-97b2-a1394a0e3410map">
			<map name="07e8a6d3-a4db-4274-97b2-a1394a0e3410map">
						<area shape="rect" coords="118,10,238,65" href="../elements/0a311307-f961-47a2-90e0-7829cb7d427b.html"  target="element">
						<area shape="rect" coords="370,25,490,80" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
						<area shape="rect" coords="598,22,718,77" href="../elements/f8f8737d-e2fc-47fd-82b6-c01ef13a64d1.html"  target="element">
						<area shape="rect" coords="802,25,922,80" href="../elements/2b812ba8-c142-4257-82fd-def8ce937a0c.html"  target="element">
						<area shape="rect" coords="226,423,346,478" href="../elements/c7861e9a-cb29-4ce9-aea8-8fbf25faf089.html"  target="element">
						<area shape="rect" coords="10,410,172,491" href="../elements/8bdee400-ef1c-4ca5-9843-6d97097d3ddf.html"  target="element">
						<area shape="rect" coords="406,634,526,689" href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html"  target="element">
						<area shape="rect" coords="394,238,514,293" href="../elements/28fef8c7-83bb-4272-969b-a44f1389f359.html"  target="element">
						<area shape="rect" coords="406,423,526,478" href="../elements/401e79ba-83e5-4aec-9f55-66e228109fbd.html"  target="element">
						<area shape="rect" coords="574,423,694,478" href="../elements/d67047b1-ac0f-406a-b26b-00c5126bb154.html"  target="element">
						<area shape="rect" coords="574,238,694,293" href="../elements/8e6b38d4-7f74-4bc4-aa33-89364f81378e.html"  target="element">
						<area shape="rect" coords="1042,622,1162,677" href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html"  target="element">
						<area shape="rect" coords="958,402,1126,466" href="../elements/07a00e10-a142-45e1-9fa3-cb44d991b984.html"  target="element">
						<area shape="rect" coords="1366,405,1511,472" href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html"  target="element">
						<area shape="rect" coords="814,411,934,466" href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html"  target="element">
						<area shape="rect" coords="1198,411,1318,466" href="../elements/0b26db02-0f34-4ded-a937-1f1a6a905107.html"  target="element">
						<area shape="rect" coords="742,514,862,569" href="../elements/1a5df4ae-b439-471a-acce-791e15051cc5.html"  target="element">
						<area shape="rect" coords="1379,514,1499,569" href="../elements/41aac650-3bba-43bb-87bd-4d208de62a68.html"  target="element">
						<area shape="rect" coords="1342,622,1475,677" href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html"  target="element">
						<area shape="rect" coords="1198,730,1318,785" href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html"  target="element">
						<area shape="rect" coords="742,730,862,785" href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html"  target="element">
						<area shape="rect" coords="1186,514,1306,569" href="../elements/adf6051a-bfa8-4398-b803-5a376dfd2ad9.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/0a311307-f961-47a2-90e0-7829cb7d427b.html" target="element"> ID-provider </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											<tr><td> <a href="../elements/f8f8737d-e2fc-47fd-82b6-c01ef13a64d1.html" target="element"> Felles API-katalog </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											<tr><td> <a href="../elements/2b812ba8-c142-4257-82fd-def8ce937a0c.html" target="element"> Altinn autorisasjon </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											<tr><td> <a href="../elements/c7861e9a-cb29-4ce9-aea8-8fbf25faf089.html" target="element"> Opprett API </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/8bdee400-ef1c-4ca5-9843-6d97097d3ddf.html" target="element"> Opprettes som tilbyder i maskinporten (provisjonering) </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data [ns:Henrik] </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/28fef8c7-83bb-4272-969b-a44f1389f359.html" target="element"> Registreringstjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/401e79ba-83e5-4aec-9f55-66e228109fbd.html" target="element"> Registrere API </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/d67047b1-ac0f-406a-b26b-00c5126bb154.html" target="element"> Tildel tilganger til API-brukere </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/8e6b38d4-7f74-4bc4-aa33-89364f81378e.html" target="element"> Tilgangsregistreringstjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Databruker [ns:Henrik] </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/07a00e10-a142-45e1-9fa3-cb44d991b984.html" target="element"> Registrer klient i Maskinporten (OAUTH2) </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finne/f&#229; kjennskap til API </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/0b26db02-0f34-4ded-a937-1f1a6a905107.html" target="element">  </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/1a5df4ae-b439-471a-acce-791e15051cc5.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
											<tr><td> <a href="../elements/41aac650-3bba-43bb-87bd-4d208de62a68.html" target="element"> Delegere tilgang til leverand&#248;r </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Driftsleverand&#248;r </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											<tr><td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Driftsavtale </a> </td><td class="i18n-elementtype-Contract"></td></tr>
											<tr><td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td><td class="i18n-elementtype-Contract"></td></tr>
											<tr><td> <a href="../elements/adf6051a-bfa8-4398-b803-5a376dfd2ad9.html" target="element"> Inng&#229; avtale med driftsleverand&#248;r </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/db49f873-03cc-4482-943f-98725a94c642.html" target="element">  </a> </td>
																		<td> <a href="../elements/db49f873-03cc-4482-943f-98725a94c642.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/28fef8c7-83bb-4272-969b-a44f1389f359.html" target="element"> Registreringstjeneste </a> </td>
																		<td> <a href="../elements/401e79ba-83e5-4aec-9f55-66e228109fbd.html" target="element"> Registrere API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7dcc6dc6-befa-4ba5-ad08-f30c088b3bd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/7dcc6dc6-befa-4ba5-ad08-f30c088b3bd8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/0b26db02-0f34-4ded-a937-1f1a6a905107.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a5df4ae-b439-471a-acce-791e15051cc5.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4dc03f87-a848-4a14-891f-6f09f2db7d44.html" target="element">  </a> </td>
																		<td> <a href="../elements/4dc03f87-a848-4a14-891f-6f09f2db7d44.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/1a5df4ae-b439-471a-acce-791e15051cc5.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																		<td> <a href="../elements/d67047b1-ac0f-406a-b26b-00c5126bb154.html" target="element"> Tildel tilganger til API-brukere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba00f593-de09-4583-bf29-d5b125565d8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba00f593-de09-4583-bf29-d5b125565d8f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1a5df4ae-b439-471a-acce-791e15051cc5.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																		<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a40b1634-ebbf-498f-b308-af0fe7a14632.html" target="element">  </a> </td>
																		<td> <a href="../elements/a40b1634-ebbf-498f-b308-af0fe7a14632.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Driftsavtale </a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Databruker [ns:Henrik] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d82034c2-213c-402b-a06a-74475339279e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d82034c2-213c-402b-a06a-74475339279e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Driftsavtale </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Driftsleverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/57a968d1-b006-4f2b-b3ed-9a4eb5ed320b.html" target="element">  </a> </td>
																		<td> <a href="../elements/57a968d1-b006-4f2b-b3ed-9a4eb5ed320b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																		<td> <a href="../elements/9fa622a6-945e-4e85-815f-d38a47a3459d.html" target="element"> Tilbyder av data [ns:Henrik] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb2e3bc0-30b0-4e31-9fc6-2403c80917c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb2e3bc0-30b0-4e31-9fc6-2403c80917c4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																		<td> <a href="../elements/ba734a82-6ccd-4627-9717-baef9900ae13.html" target="element"> Databruker [ns:Henrik] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8e47b1a3-4757-41ed-a40b-7a92454e68d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e47b1a3-4757-41ed-a40b-7a92454e68d5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/adf6051a-bfa8-4398-b803-5a376dfd2ad9.html" target="element"> Inng&#229; avtale med driftsleverand&#248;r </a> </td>
																		<td> <a href="../elements/a6447828-a1f5-4fbd-bfed-e42b4d712e7c.html" target="element"> Driftsavtale </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>