<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>EIRA 3.0 capabilities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>EIRA 3.0 capabilities</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/21eaea7d-c495-4cd4-ba44-45254201aae0.png" alt="EIRA 3.0 capabilities" usemap="#21eaea7d-c495-4cd4-ba44-45254201aae0map">
			<map name="21eaea7d-c495-4cd4-ba44-45254201aae0map">
						<area shape="rect" coords="214,117,353,189" href="../elements/2a63b1de-5230-4f54-9357-88d35f53dcd5.html"  target="element">
						<area shape="rect" coords="406,231,545,303" href="../elements/3207d6b7-860b-4966-8ed9-19d72bd8194f.html"  target="element">
						<area shape="rect" coords="562,231,701,303" href="../elements/8837b7a0-d28b-4fbc-84e3-0aac8bedf25e.html"  target="element">
						<area shape="rect" coords="724,231,863,303" href="../elements/22d9336c-e63c-4e9d-a618-faa8bf57a5c2.html"  target="element">
						<area shape="rect" coords="1030,231,1169,303" href="../elements/1e507d64-e454-4b45-9477-1289841e75af.html"  target="element">
						<area shape="rect" coords="874,231,1013,303" href="../elements/9888aa37-cf93-4137-905f-9d5d52fd5642.html"  target="element">
						<area shape="rect" coords="207,10,346,82" href="../elements/7cd27c56-d8e0-4fb5-9cda-ffe1e2655342.html"  target="element">
						<area shape="rect" coords="22,16,152,76" href="../elements/eb66f807-01cb-49ac-81dd-54319da4f97d.html"  target="element">
						<area shape="rect" coords="22,123,152,183" href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html"  target="element">
						<area shape="rect" coords="58,291,188,351" href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html"  target="element">
						<area shape="rect" coords="298,327,428,387" href="../elements/39c3a339-2275-4a70-8df2-94b3101d981c.html"  target="element">
						<area shape="rect" coords="411,147,541,207" href="../elements/033efa91-4b46-47e7-a709-04ea75eb2b93.html"  target="element">
						<area shape="rect" coords="733,147,863,207" href="../elements/a1f7d085-9bf8-4559-843b-73e0dbbc4e8d.html"  target="element">
						<area shape="rect" coords="130,219,260,279" href="../elements/1cf1c7e4-cbac-4c19-bd24-6d4a707c00e1.html"  target="element">
						<area shape="rect" coords="883,147,1013,207" href="../elements/b3c04d4c-f5a3-4985-b2dc-946d2b44e398.html"  target="element">
						<area shape="rect" coords="883,81,1013,141" href="../elements/b0c03f73-7a8e-495d-9b9a-bcd6480af1b4.html"  target="element">
						<area shape="rect" coords="1042,147,1172,207" href="../elements/d0bf539e-2c42-4320-9909-4ec9c39d49a0.html"  target="element">
						<area shape="rect" coords="34,507,173,579" href="../elements/3a8d0cad-5241-4a9a-82d8-2763094f7a0a.html"  target="element">
						<area shape="rect" coords="607,507,746,579" href="../elements/686376c8-035f-4c07-8032-c512b2746afb.html"  target="element">
						<area shape="rect" coords="298,507,437,579" href="../elements/27ade69e-575a-4079-8550-5feb1ce32204.html"  target="element">
						<area shape="rect" coords="178,639,317,711" href="../elements/2b551b72-cad4-4928-a7bb-f55c94168434.html"  target="element">
						<area shape="rect" coords="39,411,169,471" href="../elements/cf137b28-8e49-465f-b765-da6bf035787a.html"  target="element">
						<area shape="rect" coords="303,435,433,495" href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html"  target="element">
						<area shape="rect" coords="478,423,608,483" href="../elements/3d3cfc56-6998-447a-b330-5d2c8369959b.html"  target="element">
						<area shape="rect" coords="901,423,1031,483" href="../elements/18f931fb-bb8f-49fd-bcab-c7d0a9b926b9.html"  target="element">
						<area shape="rect" coords="612,422,742,482" href="../elements/bb7bebfc-49c4-4d8d-89ee-e0ceb2740817.html"  target="element">
						<area shape="rect" coords="754,423,884,483" href="../elements/079776da-9b59-471e-8a66-f479f3760ac6.html"  target="element">
						<area shape="rect" coords="563,87,693,147" href="../elements/36ee816e-2d52-4db7-bb76-9a7bc5fa7d15.html"  target="element">
						<area shape="rect" coords="10,747,149,819" href="../elements/3d33eff8-6d69-471b-bfd8-b8170df47c16.html"  target="element">
						<area shape="rect" coords="178,747,317,819" href="../elements/91919998-2163-4a97-8fef-e3913219f20d.html"  target="element">
						<area shape="rect" coords="341,747,480,819" href="../elements/1908eb9f-debb-45ba-aa0a-cb700f358df6.html"  target="element">
						<area shape="rect" coords="398,843,537,915" href="../elements/09c08f99-0c2e-4a1b-9c59-6e26217771c6.html"  target="element">
						<area shape="rect" coords="658,710,797,782" href="../elements/cd890a14-efc9-461d-9c92-5f8737320cbd.html"  target="element">
						<area shape="rect" coords="862,710,1001,782" href="../elements/d7639ba3-4179-49c3-a67e-a6a9c3989a58.html"  target="element">
						<area shape="rect" coords="658,617,788,677" href="../elements/d91c2c2e-4a37-443f-bd03-ef4ddd57cf46.html"  target="element">
						<area shape="rect" coords="862,617,992,677" href="../elements/ba7bb761-f7a5-4791-96e0-10ab0b499338.html"  target="element">
						<area shape="rect" coords="415,645,545,705" href="../elements/439b664e-ba35-45fa-9d9c-d36abe50b92f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/2a63b1de-5230-4f54-9357-88d35f53dcd5.html" target="element"> Access Management Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/3207d6b7-860b-4966-8ed9-19d72bd8194f.html" target="element"> Audit Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/8837b7a0-d28b-4fbc-84e3-0aac8bedf25e.html" target="element"> Data Transformation Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/22d9336c-e63c-4e9d-a618-faa8bf57a5c2.html" target="element"> Data Validation Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/1e507d64-e454-4b45-9477-1289841e75af.html" target="element"> Orchestration Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/9888aa37-cf93-4137-905f-9d5d52fd5642.html" target="element"> Service Discovery Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/7cd27c56-d8e0-4fb5-9cda-ffe1e2655342.html" target="element"> Data Exchange Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/eb66f807-01cb-49ac-81dd-54319da4f97d.html" target="element"> Data exchange [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/39c3a339-2275-4a70-8df2-94b3101d981c.html" target="element"> Federal access management platform </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											<tr><td> <a href="../elements/033efa91-4b46-47e7-a709-04ea75eb2b93.html" target="element"> Audit logging [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/a1f7d085-9bf8-4559-843b-73e0dbbc4e8d.html" target="element"> Datavalidering [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/1cf1c7e4-cbac-4c19-bd24-6d4a707c00e1.html" target="element"> Tilgangsstyring [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/b3c04d4c-f5a3-4985-b2dc-946d2b44e398.html" target="element"> Finne tjeneste, runtime:(ns:Erik) </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/b0c03f73-7a8e-495d-9b9a-bcd6480af1b4.html" target="element"> Finne tjeneste, designtime [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/d0bf539e-2c42-4320-9909-4ec9c39d49a0.html" target="element"> Automatisere prosesser [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/3a8d0cad-5241-4a9a-82d8-2763094f7a0a.html" target="element"> Data Publication Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/686376c8-035f-4c07-8032-c512b2746afb.html" target="element"> Privacy Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/27ade69e-575a-4079-8550-5feb1ce32204.html" target="element"> Identity Management Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/2b551b72-cad4-4928-a7bb-f55c94168434.html" target="element"> Trust Registry Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/cf137b28-8e49-465f-b765-da6bf035787a.html" target="element"> Publisere data [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html" target="element"> Identitets-forvaltning [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/3d3cfc56-6998-447a-b330-5d2c8369959b.html" target="element"> Sikring av informasjon [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/18f931fb-bb8f-49fd-bcab-c7d0a9b926b9.html" target="element"> Avidentifisering [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/bb7bebfc-49c4-4d8d-89ee-e0ceb2740817.html" target="element"> Datakvalitet [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/079776da-9b59-471e-8a66-f479f3760ac6.html" target="element"> Slette data [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/36ee816e-2d52-4db7-bb76-9a7bc5fa7d15.html" target="element"> Transformere data [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/3d33eff8-6d69-471b-bfd8-b8170df47c16.html" target="element"> e-Signature Verification and Validation Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/91919998-2163-4a97-8fef-e3913219f20d.html" target="element"> e-Seal Verification and Validation Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/1908eb9f-debb-45ba-aa0a-cb700f358df6.html" target="element"> Registered Electronic Delivery Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/09c08f99-0c2e-4a1b-9c59-6e26217771c6.html" target="element"> e-Timestamp Verification and Validation Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/cd890a14-efc9-461d-9c92-5f8737320cbd.html" target="element"> Metadata Management Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/d7639ba3-4179-49c3-a67e-a6a9c3989a58.html" target="element"> e-Archiving Service [ns:eira] </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											<tr><td> <a href="../elements/d91c2c2e-4a37-443f-bd03-ef4ddd57cf46.html" target="element"> Metadata-forvaltning [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/ba7bb761-f7a5-4791-96e0-10ab0b499338.html" target="element"> Langtidslaging [ns:eira] </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/439b664e-ba35-45fa-9d9c-d36abe50b92f.html" target="element"> discovery of essential information about accredited service providers </a> </td><td class="i18n-elementtype-Capability"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0336fda6-8233-4017-baaf-4ae06ef38223.html" target="element">  </a> </td>
																		<td> <a href="../elements/0336fda6-8233-4017-baaf-4ae06ef38223.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2a63b1de-5230-4f54-9357-88d35f53dcd5.html" target="element"> Access Management Service [ns:eira] </a> </td>
																		<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a68c3c26-b5ae-4d09-b734-c1d2c2b92e59.html" target="element">  </a> </td>
																		<td> <a href="../elements/a68c3c26-b5ae-4d09-b734-c1d2c2b92e59.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3207d6b7-860b-4966-8ed9-19d72bd8194f.html" target="element"> Audit Service [ns:eira] </a> </td>
																		<td> <a href="../elements/033efa91-4b46-47e7-a709-04ea75eb2b93.html" target="element"> Audit logging [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10803fda-486a-4e95-a839-ebd1efe16af4.html" target="element">  </a> </td>
																		<td> <a href="../elements/10803fda-486a-4e95-a839-ebd1efe16af4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8837b7a0-d28b-4fbc-84e3-0aac8bedf25e.html" target="element"> Data Transformation Service [ns:eira] </a> </td>
																		<td> <a href="../elements/36ee816e-2d52-4db7-bb76-9a7bc5fa7d15.html" target="element"> Transformere data [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/add024c7-4909-4d56-a9e8-3b50eb601e6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/add024c7-4909-4d56-a9e8-3b50eb601e6b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/22d9336c-e63c-4e9d-a618-faa8bf57a5c2.html" target="element"> Data Validation Service [ns:eira] </a> </td>
																		<td> <a href="../elements/a1f7d085-9bf8-4559-843b-73e0dbbc4e8d.html" target="element"> Datavalidering [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/21a1dd4d-1741-4165-b1cb-bd94d81b0e00.html" target="element">  </a> </td>
																		<td> <a href="../elements/21a1dd4d-1741-4165-b1cb-bd94d81b0e00.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e507d64-e454-4b45-9477-1289841e75af.html" target="element"> Orchestration Service [ns:eira] </a> </td>
																		<td> <a href="../elements/d0bf539e-2c42-4320-9909-4ec9c39d49a0.html" target="element"> Automatisere prosesser [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4c3a6f12-e2e7-4ece-a6b0-5989f7201fd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/4c3a6f12-e2e7-4ece-a6b0-5989f7201fd3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9888aa37-cf93-4137-905f-9d5d52fd5642.html" target="element"> Service Discovery Service [ns:eira] </a> </td>
																		<td> <a href="../elements/b3c04d4c-f5a3-4985-b2dc-946d2b44e398.html" target="element"> Finne tjeneste, runtime:(ns:Erik) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a59c9509-5a9f-4551-94fb-3bc4e14bb0af.html" target="element">  </a> </td>
																		<td> <a href="../elements/a59c9509-5a9f-4551-94fb-3bc4e14bb0af.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7cd27c56-d8e0-4fb5-9cda-ffe1e2655342.html" target="element"> Data Exchange Service [ns:eira] </a> </td>
																		<td> <a href="../elements/eb66f807-01cb-49ac-81dd-54319da4f97d.html" target="element"> Data exchange [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/853ce2f7-f18f-479b-b857-576fea43ede1.html" target="element">  </a> </td>
																		<td> <a href="../elements/853ce2f7-f18f-479b-b857-576fea43ede1.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere </a> </td>
																		<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bbd59751-6f67-4023-b9b0-9cf01ca5ec27.html" target="element">  </a> </td>
																		<td> <a href="../elements/bbd59751-6f67-4023-b9b0-9cf01ca5ec27.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/39c3a339-2275-4a70-8df2-94b3101d981c.html" target="element"> Federal access management platform </a> </td>
																		<td> <a href="../elements/2a63b1de-5230-4f54-9357-88d35f53dcd5.html" target="element"> Access Management Service [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5d21cd75-f55d-4980-bed1-484befa0f293.html" target="element">  </a> </td>
																		<td> <a href="../elements/5d21cd75-f55d-4980-bed1-484befa0f293.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/1cf1c7e4-cbac-4c19-bd24-6d4a707c00e1.html" target="element"> Tilgangsstyring [ns:eira] </a> </td>
																		<td> <a href="../elements/1d685a75-2a6a-4344-b426-9a670cc798bb.html" target="element"> Access management [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/15c48cf7-d25f-4228-bb19-fa077dc282b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/15c48cf7-d25f-4228-bb19-fa077dc282b3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3a8d0cad-5241-4a9a-82d8-2763094f7a0a.html" target="element"> Data Publication Service [ns:eira] </a> </td>
																		<td> <a href="../elements/cf137b28-8e49-465f-b765-da6bf035787a.html" target="element"> Publisere data [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fe88e082-f48c-4c71-b589-b563e53da1f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe88e082-f48c-4c71-b589-b563e53da1f3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/686376c8-035f-4c07-8032-c512b2746afb.html" target="element"> Privacy Service [ns:eira] </a> </td>
																		<td> <a href="../elements/3d3cfc56-6998-447a-b330-5d2c8369959b.html" target="element"> Sikring av informasjon [ns:eira] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/112797b8-e4b6-44e3-a467-c65f42190f25.html" target="element">  </a> </td>
																		<td> <a href="../elements/112797b8-e4b6-44e3-a467-c65f42190f25.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/686376c8-035f-4c07-8032-c512b2746afb.html" target="element"> Privacy Service [ns:eira] </a> </td>
																		<td> <a href="../elements/bb7bebfc-49c4-4d8d-89ee-e0ceb2740817.html" target="element"> Datakvalitet [ns:eira] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a2de4c0-95a6-4e63-8bc8-a4306c1d87f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a2de4c0-95a6-4e63-8bc8-a4306c1d87f6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/686376c8-035f-4c07-8032-c512b2746afb.html" target="element"> Privacy Service [ns:eira] </a> </td>
																		<td> <a href="../elements/079776da-9b59-471e-8a66-f479f3760ac6.html" target="element"> Slette data [ns:eira] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad4f128f-67dd-4684-9268-26e2fd08c5af.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad4f128f-67dd-4684-9268-26e2fd08c5af.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/686376c8-035f-4c07-8032-c512b2746afb.html" target="element"> Privacy Service [ns:eira] </a> </td>
																		<td> <a href="../elements/18f931fb-bb8f-49fd-bcab-c7d0a9b926b9.html" target="element"> Avidentifisering [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6f4295f2-8ba5-4f3b-bce1-1e52ecc6618f.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f4295f2-8ba5-4f3b-bce1-1e52ecc6618f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27ade69e-575a-4079-8550-5feb1ce32204.html" target="element"> Identity Management Service [ns:eira] </a> </td>
																		<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6400dc38-5190-4a7e-bc2e-9d7f6ea920e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6400dc38-5190-4a7e-bc2e-9d7f6ea920e6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2b551b72-cad4-4928-a7bb-f55c94168434.html" target="element"> Trust Registry Service [ns:eira] </a> </td>
																		<td> <a href="../elements/3d33eff8-6d69-471b-bfd8-b8170df47c16.html" target="element"> e-Signature Verification and Validation Service [ns:eira] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c760d3e6-2d63-4b93-9082-b435427017f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/c760d3e6-2d63-4b93-9082-b435427017f0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2b551b72-cad4-4928-a7bb-f55c94168434.html" target="element"> Trust Registry Service [ns:eira] </a> </td>
																		<td> <a href="../elements/91919998-2163-4a97-8fef-e3913219f20d.html" target="element"> e-Seal Verification and Validation Service [ns:eira] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3719edc-c31d-4c07-bb7e-a6efb2d3f1f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3719edc-c31d-4c07-bb7e-a6efb2d3f1f9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2b551b72-cad4-4928-a7bb-f55c94168434.html" target="element"> Trust Registry Service [ns:eira] </a> </td>
																		<td> <a href="../elements/1908eb9f-debb-45ba-aa0a-cb700f358df6.html" target="element"> Registered Electronic Delivery Service [ns:eira] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf50a78a-03d4-44d9-a793-bdfaf1cc9476.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf50a78a-03d4-44d9-a793-bdfaf1cc9476.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2b551b72-cad4-4928-a7bb-f55c94168434.html" target="element"> Trust Registry Service [ns:eira] </a> </td>
																		<td> <a href="../elements/439b664e-ba35-45fa-9d9c-d36abe50b92f.html" target="element"> discovery of essential information about accredited service providers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f851c62f-3503-4c29-a6be-f1f224f0262e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f851c62f-3503-4c29-a6be-f1f224f0262e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7720f128-ae08-44d0-a1d0-b469930fb486.html" target="element"> Identitets-forvaltning [ns:eira] </a> </td>
																		<td> <a href="../elements/4524c801-dee3-4485-9a27-780f0fa18f12.html" target="element"> Autentisere </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6672834a-6899-4810-ba25-1564b0633b8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/6672834a-6899-4810-ba25-1564b0633b8f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/09c08f99-0c2e-4a1b-9c59-6e26217771c6.html" target="element"> e-Timestamp Verification and Validation Service [ns:eira] </a> </td>
																		<td> <a href="../elements/1908eb9f-debb-45ba-aa0a-cb700f358df6.html" target="element"> Registered Electronic Delivery Service [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/42105e52-9de9-4649-8a97-68414dd77e6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/42105e52-9de9-4649-8a97-68414dd77e6e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cd890a14-efc9-461d-9c92-5f8737320cbd.html" target="element"> Metadata Management Service [ns:eira] </a> </td>
																		<td> <a href="../elements/d91c2c2e-4a37-443f-bd03-ef4ddd57cf46.html" target="element"> Metadata-forvaltning [ns:eira] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/024558ec-bc21-418e-b955-d926f77e1511.html" target="element">  </a> </td>
																		<td> <a href="../elements/024558ec-bc21-418e-b955-d926f77e1511.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d7639ba3-4179-49c3-a67e-a6a9c3989a58.html" target="element"> e-Archiving Service [ns:eira] </a> </td>
																		<td> <a href="../elements/ba7bb761-f7a5-4791-96e0-10ab0b499338.html" target="element"> Langtidslaging [ns:eira] </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>